Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

`secbench`: Read stdout before waiting for process.
  test/secbench/secbench.go
Labels: area: tests

Implement initial support for MS_REMOUNT to change mount flags.
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/options.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: kernel, area: tests

Implement initial support for MS_REMOUNT to change mount flags.
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/options.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: kernel, area: tests

buildkite: Run bazel with the remote cache
  .buildkite/hooks/pre-command
  tools/bazel.mk
Labels: area: tooling

`secbench`: Read stdout before waiting for process.
  test/secbench/secbench.go
Labels: area: tests

`secbench`: Read stdout before waiting for process.
  test/secbench/secbench.go
Labels: area: tests

Add logging when downgrading the container status during state file load.
  runsc/container/state_file.go
Labels: none

Add logging when downgrading the container status during state file load.
  runsc/container/state_file.go
Labels: none

Add some units tests around lifecycle annotation.
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Add some units tests around lifecycle annotation.
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

buildkite: Run bazel with the remote cache
  .buildkite/hooks/pre-command
  tools/bazel.mk
Labels: area: tooling

buildkite: Run bazel with the remote cache
  .buildkite/hooks/pre-command
  tools/bazel.mk
Labels: area: tooling

Zero `fd_set` in `select_benchmark`
  test/perf/linux/select_benchmark.cc
Labels: area: tests

Zero `fd_set` in `select_benchmark`
  test/perf/linux/select_benchmark.cc
Labels: area: tests

Update dependencies
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Update dependencies
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Describe how to update golang dependencies
  CONTRIBUTING.md
Labels: none

Describe how to update golang dependencies
  CONTRIBUTING.md
Labels: none

inet: allow to create abstract unix sockets in non-root namespaces
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/proc.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/abstract_socket_namespace.go
  pkg/sentry/inet/namespace.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/unix/unix.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_unbound_abstract.cc
Labels: area: bazel, area: filesystem, area: networking, area: kernel, area: tests

inet: allow to create abstract unix sockets in non-root namespaces
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/proc.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/abstract_socket_namespace.go
  pkg/sentry/inet/namespace.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/unix/unix.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_unbound_abstract.cc
Labels: area: bazel, area: filesystem, area: networking, area: kernel, area: tests

netstack: fall back to slower checksum when buffer isn't aligned
  pkg/tcpip/checksum/BUILD
  pkg/tcpip/checksum/checksum_amd64.s
  pkg/tcpip/checksum/checksum_mips64.go
  pkg/tcpip/checksum/checksum_noasm.go
  pkg/tcpip/checksum/checksum_noasm_unsafe.go
  pkg/tcpip/checksum/checksum_test.go
Labels: arch: x86_64, area: bazel, area: networking, area: tests

Add an function that returns a mount point for the given path.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

Add an function that returns a mount point for the given path.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

netstack: improve checksum looping
  pkg/tcpip/checksum/checksum_amd64.s
  pkg/tcpip/checksum/checksum_test.go
Labels: arch: x86_64, area: networking, area: tests

Handle deletion of self-backed filestores for shared mounts.
  runsc/boot/mount_hints.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
  runsc/container/container.go
Labels: area: tests

Handle deletion of self-backed filestores for shared mounts.
  runsc/boot/mount_hints.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
  runsc/container/container.go
Labels: area: tests

netstack: improve amd64 checksum
  pkg/tcpip/checksum/checksum_amd64.s
  pkg/tcpip/checksum/checksum_test.go
Labels: arch: x86_64, area: networking, area: tests

Expand the concept of OverlayMedium to GoferMountConf.
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/e2e/integration_runtime_test.go
Labels: area: bazel, area: tests

Expand the concept of OverlayMedium to GoferMountConf.
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/e2e/integration_runtime_test.go
Labels: area: bazel, area: tests

Tag images with the "latest" tag in gvisor-presumbits.
  tools/images.mk
Labels: area: tooling

Revamp shared mount container tests.
  runsc/container/multi_container_test.go
Labels: area: tests

Revamp shared mount container tests.
  runsc/container/multi_container_test.go
Labels: area: tests

Prefer routes with local addr on outgoing NIC only for local traffic
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Prefer routes with local addr on outgoing NIC only for local traffic
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Fix sync.SeqCount.ReadOk() on non-x86 architectures.
  pkg/sync/BUILD
  pkg/sync/fence.go
  pkg/sync/fence_amd64.s
  pkg/sync/fence_arm64.s
  pkg/sync/seqcount.go
Labels: arch: arm, arch: x86_64, area: bazel

Fix sync.SeqCount.ReadOk() on non-x86 architectures.
  pkg/sync/BUILD
  pkg/sync/fence.go
  pkg/sync/fence_amd64.s
  pkg/sync/fence_arm64.s
  pkg/sync/seqcount.go
Labels: arch: arm, arch: x86_64, area: bazel

Limit SelectAllEvents benchmark to 512 FDs
  test/perf/linux/select_benchmark.cc
Labels: area: tests

Limit SelectAllEvents benchmark to 512 FDs
  test/perf/linux/select_benchmark.cc
Labels: area: tests

Add command-line tool to quickly dump the Sentry BPF program.
  runsc/boot/filter/dumpfilter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/dumpfilter/dumpfilter_test.go
  runsc/boot/filter/dumpfilter/dumpfilter_unsafe.go
Labels: area: bazel, area: tests

Add command-line tool to quickly dump the Sentry BPF program.
  runsc/boot/filter/dumpfilter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/dumpfilter/dumpfilter_test.go
  runsc/boot/filter/dumpfilter/dumpfilter_unsafe.go
Labels: area: bazel, area: tests
