Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add interface templates for external stack support
  pkg/sentry/socket/externalstack/BUILD
  pkg/sentry/socket/externalstack/cgo/BUILD
  pkg/sentry/socket/externalstack/cgo/socket_unsafe.go
  pkg/sentry/socket/externalstack/cgo/stack_unsafe.go
  pkg/sentry/socket/externalstack/notifier.go
  pkg/sentry/socket/externalstack/provider.go
  pkg/sentry/socket/externalstack/socket.go
  pkg/sentry/socket/externalstack/stack.go
  pkg/sentry/stack/BUILD
  pkg/sentry/stack/externalstack.go
  pkg/sentry/stack/notifier.go
  pkg/sentry/stack/util.go
  runsc/BUILD
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/network.go
  runsc/config/config.go
  runsc/main-external-stack.go
  runsc/sandbox/BUILD
  runsc/sandbox/network.go
Labels: area: bazel, area: networking

`bpf`: Add benchmark for interpreter speed.
  pkg/bpf/interpreter_test.go
Labels: area: tests

`bpf`: Add benchmark for interpreter speed.
  pkg/bpf/interpreter_test.go
Labels: area: tests

Remove duplicate RandomizeBuffer implementation from socket util.
  test/util/socket_util.cc
  test/util/socket_util.h
  test/util/test_util.cc
  test/util/test_util.h
Labels: area: tests

Remove duplicate RandomizeBuffer implementation from socket util.
  test/util/socket_util.cc
  test/util/socket_util.h
  test/util/test_util.cc
  test/util/test_util.h
Labels: area: tests

netstack: further optimize checksumming
  pkg/tcpip/checksum/BUILD
  pkg/tcpip/checksum/checksum.go
  pkg/tcpip/checksum/checksum_amd64.go
  pkg/tcpip/checksum/checksum_amd64.s
  pkg/tcpip/checksum/checksum_mips64.go
  pkg/tcpip/checksum/checksum_noasm.go
  pkg/tcpip/checksum/checksum_noasm_unsafe.go
  pkg/tcpip/checksum/checksum_test.go
  pkg/tcpip/checksum/checksum_unsafe.go
Labels: arch: x86_64, area: bazel, area: networking, area: tests

netstack: further optimize checksumming
  pkg/tcpip/checksum/BUILD
  pkg/tcpip/checksum/checksum.go
  pkg/tcpip/checksum/checksum_amd64.go
  pkg/tcpip/checksum/checksum_amd64.s
  pkg/tcpip/checksum/checksum_mips64.go
  pkg/tcpip/checksum/checksum_noasm.go
  pkg/tcpip/checksum/checksum_noasm_unsafe.go
  pkg/tcpip/checksum/checksum_test.go
  pkg/tcpip/checksum/checksum_unsafe.go
Labels: arch: x86_64, area: bazel, area: networking, area: tests

inet: don't reuse names from the abstract socket namespace map
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/abstract_socket_namespace.go
Labels: area: bazel

inet: don't reuse names from the abstract socket namespace map
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/abstract_socket_namespace.go
Labels: area: bazel

Add intial support for MS_NOSYMFOLLOW.
  pkg/abi/linux/file.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/options.go
  pkg/sentry/vfs/vfs.go
  runsc/boot/mount_hints.go
  runsc/boot/vfs.go
  test/syscalls/linux/statfs.cc
Labels: area: filesystem, area: kernel, area: tests

Fix the sandbox memory usage via GetContainerMemoryUsage API.
  pkg/sentry/control/usage.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  runsc/boot/events.go
Labels: area: filesystem

Fix the sandbox memory usage via GetContainerMemoryUsage API.
  pkg/sentry/control/usage.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  runsc/boot/events.go
Labels: area: filesystem

Add nvidia installer tool for installing NVIDIA drivers in buildkite tests.
  .buildkite/pipeline.yaml
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
  tools/gpu/BUILD
  tools/gpu/drivers/BUILD
  tools/gpu/drivers/install_driver.go
  tools/gpu/drivers/install_driver_test.go
  tools/gpu/main.go
Labels: area: bazel, area: tests, area: tooling

Add nvidia installer tool for installing NVIDIA drivers in buildkite tests.
  .buildkite/pipeline.yaml
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
  tools/gpu/BUILD
  tools/gpu/drivers/BUILD
  tools/gpu/drivers/install_driver.go
  tools/gpu/drivers/install_driver_test.go
  tools/gpu/main.go
Labels: area: bazel, area: tests, area: tooling

Create a TPU hello world image for use in gVisor tests.
  images/tpu/jax/Dockerfile.x86_64
Labels: none

Create a TPU hello world image for use in gVisor tests.
  images/tpu/jax/Dockerfile.x86_64
Labels: none

Create shared mounts on demand.
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
Labels: area: tests

Create shared mounts on demand.
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
Labels: area: tests

Add locking to fuse loopback file system handler to appease race detector.
  test/runner/fuse/fuse.go
Labels: area: tests

Add locking to fuse loopback file system handler to appease race detector.
  test/runner/fuse/fuse.go
Labels: area: tests

Fix concurrent pivot_root bug.
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem, area: kernel

Fix concurrent pivot_root bug.
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem, area: kernel

Use disk-backed tmpfs for disk-backed EmptyDir volumes.
  pkg/shim/utils/BUILD
  pkg/shim/utils/volumes.go
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/specutils/specutils.go
Labels: area: bazel, area: tests

Use disk-backed tmpfs for disk-backed EmptyDir volumes.
  pkg/shim/utils/BUILD
  pkg/shim/utils/volumes.go
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/specutils/specutils.go
Labels: area: bazel, area: tests

Delete lifecycle mount annotation.
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Delete lifecycle mount annotation.
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Create shared master mounts for volumes with share=container.
  runsc/boot/mount_hints.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
Labels: area: tests

Create shared master mounts for volumes with share=container.
  runsc/boot/mount_hints.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
Labels: area: tests

Support NETLINK_SOCK_DIAG protocol.
  pkg/abi/linux/BUILD
  pkg/abi/linux/netlink_sock_diag.go
  pkg/sentry/socket/netlink/sockdiag/BUILD
  pkg/sentry/socket/netlink/sockdiag/protocol.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/noop/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_sockdiag.cc
  test/syscalls/linux/tcp_socket.cc
  test/util/BUILD
  test/util/socket_util.cc
  test/util/socket_util.h
Labels: area: bazel, area: networking, area: tests

Ensure RST TCP flag is set in raw socket tests.
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Ensure RST TCP flag is set in raw socket tests.
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Ensure RST TCP flag is set in raw socket tests.
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Remove unused images.
  images/benchmarks/ab/Dockerfile
  images/benchmarks/mariadb/Dockerfile
  images/benchmarks/wordpress/Dockerfile
  images/gpu/pytorch/Dockerfile.x86_64
Labels: none

Remove unused images.
  images/benchmarks/ab/Dockerfile
  images/benchmarks/mariadb/Dockerfile
  images/benchmarks/wordpress/Dockerfile
  images/gpu/pytorch/Dockerfile.x86_64
Labels: none

Add internal annotation for TPU proxy.
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/chroot.go
  runsc/specutils/nvidia.go
  runsc/specutils/specutils.go
Labels: area: tests

Add internal annotation for TPU proxy.
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/chroot.go
  runsc/specutils/nvidia.go
  runsc/specutils/specutils.go
Labels: area: tests

test: fix SetupTimeWaitClose to create a time wait bucket reliably
  test/util/socket_util.cc
Labels: area: tests

test: fix SetupTimeWaitClose to create a time wait bucket reliably
  test/util/socket_util.cc
Labels: area: tests

Add cos_gpu_test that will run GPU container on COS.
  .buildkite/pipeline.yaml
  Makefile
  images/basic/cuda-vector-add/Dockerfile
  pkg/test/dockerutil/container.go
  test/gpu/BUILD
  test/gpu/gpu_test.go
Labels: area: bazel, area: tests

Add cos_gpu_test that will run GPU container on COS.
  .buildkite/pipeline.yaml
  Makefile
  images/basic/cuda-vector-add/Dockerfile
  pkg/test/dockerutil/container.go
  test/gpu/BUILD
  test/gpu/gpu_test.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
