Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix up container ID after restore
  pkg/sentry/kernel/task.go
  runsc/boot/controller.go
Labels: area: kernel

Fix up container ID after restore
  pkg/sentry/kernel/task.go
  runsc/boot/controller.go
Labels: area: kernel

Plumb seccomp program options through the Sentry filter and Platform.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/filter/config_amd64.go
  runsc/boot/filter/config_arm64.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/boot/filter/filter_bench_test.go
  test/secbench/secbench.go
Labels: arch: arm, arch: x86_64, area: tests, platform: kvm, platform: ptrace

Plumb seccomp program options through the Sentry filter and Platform.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/filter/config_amd64.go
  runsc/boot/filter/config_arm64.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/boot/filter/filter_bench_test.go
  test/secbench/secbench.go
Labels: arch: arm, arch: x86_64, area: tests, platform: kvm, platform: ptrace

runsc: workaround for scraping nftables
  Makefile
  images/iptables/Dockerfile
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
  test/iptables/BUILD
  test/iptables/nftables_test.sh
Labels: area: bazel, area: tests

runsc: workaround for scraping nftables
  Makefile
  images/iptables/Dockerfile
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
  test/iptables/BUILD
  test/iptables/nftables_test.sh
Labels: area: bazel, area: tests

Specify hottest syscalls for KVM and Systrap platforms on x86.
  pkg/sentry/platform/kvm/filters_amd64.go
  pkg/sentry/platform/kvm/filters_arm64.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/systrap/filters_amd64.go
  pkg/sentry/platform/systrap/filters_arm64.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/filter/config_amd64.go
Labels: arch: arm, arch: x86_64, platform: kvm

Specify hottest syscalls for KVM and Systrap platforms on x86.
  pkg/sentry/platform/kvm/filters_amd64.go
  pkg/sentry/platform/kvm/filters_arm64.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/systrap/filters_amd64.go
  pkg/sentry/platform/systrap/filters_arm64.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/filter/config_amd64.go
Labels: arch: arm, arch: x86_64, platform: kvm

Fix how mount options are consumed for bind mounts.
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
Labels: area: filesystem

Fix how mount options are consumed for bind mounts.
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
Labels: area: filesystem

`seccomp`: Add fuzz test for Sentry syscall filters.
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_test.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter_fuzz_test.go
Labels: area: bazel, area: tests

`seccomp`: Add fuzz test for Sentry syscall filters.
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_test.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter_fuzz_test.go
Labels: area: bazel, area: tests

iptables: account for old kernel being old
  test/iptables/nftables_test.sh
Labels: area: tests

iptables: account for old kernel being old
  test/iptables/nftables_test.sh
Labels: area: tests

`seccomp`: Enforce that Sentry filters match against reference program.
  Makefile
  pkg/bpf/BUILD
  pkg/bpf/bpf_unsafe.go
  pkg/seccomp/seccomp.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter_fuzz_golden.bpf
  runsc/boot/filter/filter_fuzz_golden_test.go
Labels: area: bazel, area: tests

`seccomp`: Enforce that Sentry filters match against reference program.
  Makefile
  pkg/bpf/BUILD
  pkg/bpf/bpf_unsafe.go
  pkg/seccomp/seccomp.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter_fuzz_golden.bpf
  runsc/boot/filter/filter_fuzz_golden_test.go
Labels: area: bazel, area: tests

Support nvmlDeviceGetComputeRunningProcesses_ in nvproxy to fix PyTorch OOM handling
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Minor fixes in fd_table.
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: kernel

Minor fixes in fd_table.
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: kernel

Fix glob pattern to search for all TPU devices in /sys/devices.
  runsc/boot/vfs.go
Labels: none

Fix glob pattern to search for all TPU devices in /sys/devices.
  runsc/boot/vfs.go
Labels: none

Set disable_file_handle_sharing for NFS mounts.
  runsc/cmd/gofer.go
Labels: none

Set disable_file_handle_sharing for NFS mounts.
  runsc/cmd/gofer.go
Labels: none

Add tooling to compile `seccomp-bpf` programs at `bazel build` time.
  pkg/bpf/bpf_unsafe.go
  pkg/seccomp/precompiledseccomp/BUILD
  pkg/seccomp/precompiledseccomp/README.md
  pkg/seccomp/precompiledseccomp/defs.bzl
  pkg/seccomp/precompiledseccomp/example/BUILD
  pkg/seccomp/precompiledseccomp/example/example.go
  pkg/seccomp/precompiledseccomp/example/usage/BUILD
  pkg/seccomp/precompiledseccomp/example/usage/usage.go
  pkg/seccomp/precompiledseccomp/example/usage/usage_test.go
  pkg/seccomp/precompiledseccomp/precompile_gen.go
  pkg/seccomp/precompiledseccomp/precompiled_lib.tmpl.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp_test.go
Labels: area: bazel, area: docs, area: tests

Add tooling to compile `seccomp-bpf` programs at `bazel build` time.
  pkg/bpf/bpf_unsafe.go
  pkg/seccomp/precompiledseccomp/BUILD
  pkg/seccomp/precompiledseccomp/README.md
  pkg/seccomp/precompiledseccomp/defs.bzl
  pkg/seccomp/precompiledseccomp/example/BUILD
  pkg/seccomp/precompiledseccomp/example/example.go
  pkg/seccomp/precompiledseccomp/example/usage/BUILD
  pkg/seccomp/precompiledseccomp/example/usage/usage.go
  pkg/seccomp/precompiledseccomp/example/usage/usage_test.go
  pkg/seccomp/precompiledseccomp/precompile_gen.go
  pkg/seccomp/precompiledseccomp/precompiled_lib.tmpl.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp_test.go
Labels: area: bazel, area: docs, area: tests

Fix umount not unmounting all the mounts it is supposed to.
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Fix umount not unmounting all the mounts it is supposed to.
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Call FileDescription.OnClose() for newfd being replaced in dup2 and dup3.
  pkg/sentry/fdimport/fdimport.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/syscalls/linux/sys_file.go
Labels: area: kernel, area: tests

Call FileDescription.OnClose() for newfd being replaced in dup2 and dup3.
  pkg/sentry/fdimport/fdimport.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/syscalls/linux/sys_file.go
Labels: area: kernel, area: tests

Add `-x` option to `$DOCKER_RELOAD_COMMAND`.
  .buildkite/hooks/pre-command
Labels: none

Add `-x` option to `$DOCKER_RELOAD_COMMAND`.
  .buildkite/hooks/pre-command
Labels: none

devpts: IterDirents has to check offset and return if it is out of range
  pkg/sentry/fsimpl/devpts/devpts.go
Labels: area: filesystem

devpts: IterDirents has to check offset and return if it is out of range
  pkg/sentry/fsimpl/devpts/devpts.go
Labels: area: filesystem

`runsc/filter`: Refactor syscall filter config out to sub-package.
  runsc/boot/filter/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_amd64.go
  runsc/boot/filter/config/config_arm64.go
  runsc/boot/filter/config/config_main.go
  runsc/boot/filter/config/config_profile.go
  runsc/boot/filter/config/config_test.go
  runsc/boot/filter/config/extra_filters.go
  runsc/boot/filter/config/extra_filters_asan.go
  runsc/boot/filter/config/extra_filters_hostinet.go
  runsc/boot/filter/config/extra_filters_msan.go
  runsc/boot/filter/config/extra_filters_race.go
  runsc/boot/filter/config/extra_filters_race_amd64.go
  runsc/boot/filter/config/extra_filters_race_arm64.go
  runsc/boot/filter/dumpfilter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/boot/filter/filter_bench_test.go
  runsc/boot/filter/filter_fuzz_golden_test.go
  runsc/boot/filter/filter_fuzz_test.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

`runsc/filter`: Refactor syscall filter config out to sub-package.
  runsc/boot/filter/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_amd64.go
  runsc/boot/filter/config/config_arm64.go
  runsc/boot/filter/config/config_main.go
  runsc/boot/filter/config/config_profile.go
  runsc/boot/filter/config/config_test.go
  runsc/boot/filter/config/extra_filters.go
  runsc/boot/filter/config/extra_filters_asan.go
  runsc/boot/filter/config/extra_filters_hostinet.go
  runsc/boot/filter/config/extra_filters_msan.go
  runsc/boot/filter/config/extra_filters_race.go
  runsc/boot/filter/config/extra_filters_race_amd64.go
  runsc/boot/filter/config/extra_filters_race_arm64.go
  runsc/boot/filter/dumpfilter/BUILD
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/boot/filter/filter_bench_test.go
  runsc/boot/filter/filter_fuzz_golden_test.go
  runsc/boot/filter/filter_fuzz_test.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

`seccomp`: Don't treat variables that are optimized away as unused.
  pkg/seccomp/precompiledseccomp/precompiledseccomp.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp_test.go
Labels: area: tests

`seccomp`: Don't treat variables that are optimized away as unused.
  pkg/seccomp/precompiledseccomp/precompiledseccomp.go
  pkg/seccomp/precompiledseccomp/precompiledseccomp_test.go
Labels: area: tests

`Platform` interface: Group seccomp-related information to a sub-interface.
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/kvm/filters.go
  pkg/sentry/platform/kvm/filters_amd64.go
  pkg/sentry/platform/kvm/filters_arm64.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/filters.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/filters.go
  pkg/sentry/platform/systrap/filters_amd64.go
  pkg/sentry/platform/systrap/filters_arm64.go
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_test.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter_bench_test.go
  runsc/boot/filter/filter_fuzz_golden_test.go
  runsc/boot/filter/filter_fuzz_test.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm, platform: ptrace

`Platform` interface: Group seccomp-related information to a sub-interface.
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/kvm/filters.go
  pkg/sentry/platform/kvm/filters_amd64.go
  pkg/sentry/platform/kvm/filters_arm64.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/filters.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/filters.go
  pkg/sentry/platform/systrap/filters_amd64.go
  pkg/sentry/platform/systrap/filters_arm64.go
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_test.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter_bench_test.go
  runsc/boot/filter/filter_fuzz_golden_test.go
  runsc/boot/filter/filter_fuzz_test.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm, platform: ptrace

Add function to extract TPU v5's minor device number.
  pkg/abi/tpu/tpu.go
  runsc/cmd/util/tpu.go
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
