Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add function to extract TPU v5's minor device number.
  pkg/abi/tpu/tpu.go
  runsc/cmd/util/tpu.go
Labels: none

Test for passing zero-length SCM_RIGHTS fd arrays
  test/syscalls/linux/socket_unix_cmsg.cc
Labels: area: tests

Test for passing zero-length SCM_RIGHTS fd arrays
  test/syscalls/linux/socket_unix_cmsg.cc
Labels: area: tests

Seccomp filters: Add method to uniquely identify the seccomp configuration.
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_test.go
Labels: area: tests

Seccomp filters: Add method to uniquely identify the seccomp configuration.
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_test.go
Labels: area: tests

segment.Set API improvements.
  pkg/segment/set.go
  pkg/segment/set_state.go
  pkg/segment/test/segment_test.go
  pkg/segment/test/set_functions.go
  pkg/sentry/devices/accel/gasket.go
  pkg/sentry/fsutil/dirty_set.go
  pkg/sentry/fsutil/dirty_set_test.go
  pkg/sentry/fsutil/file_range_set.go
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/kernel/auth/id_map.go
  pkg/sentry/kernel/auth/user_namespace.go
  pkg/sentry/memmap/mapping_set.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
Labels: area: kernel, area: mm, area: tests

segment.Set API improvements.
  pkg/segment/set.go
  pkg/segment/set_state.go
  pkg/segment/test/segment_test.go
  pkg/segment/test/set_functions.go
  pkg/sentry/devices/accel/gasket.go
  pkg/sentry/fsutil/dirty_set.go
  pkg/sentry/fsutil/dirty_set_test.go
  pkg/sentry/fsutil/file_range_set.go
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/kernel/auth/id_map.go
  pkg/sentry/kernel/auth/user_namespace.go
  pkg/sentry/memmap/mapping_set.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
Labels: area: kernel, area: mm, area: tests

Ensure empty VFSPipeFD.SpliceToNonPipe(/dev/null) returns ErrWouldBlock.
  g3doc/user_guide/compatibility.md
  pkg/sentry/kernel/pipe/vfs.go
  test/syscalls/linux/splice.cc
Labels: area: docs, area: kernel, area: tests

Ensure empty VFSPipeFD.SpliceToNonPipe(/dev/null) returns ErrWouldBlock.
  g3doc/user_guide/compatibility.md
  pkg/sentry/kernel/pipe/vfs.go
  test/syscalls/linux/splice.cc
Labels: area: docs, area: kernel, area: tests

Systrap: Wrap `initSysmsgThreadPriority` in `sync.Once`.
  pkg/sentry/platform/systrap/subprocess.go
Labels: none

Systrap: Wrap `initSysmsgThreadPriority` in `sync.Once`.
  pkg/sentry/platform/systrap/subprocess.go
Labels: none

`seccomp`: Make `SyscallRules.Copy` do a deep copy.
  pkg/seccomp/seccomp_rules.go
Labels: none

`seccomp`: Make `SyscallRules.Copy` do a deep copy.
  pkg/seccomp/seccomp_rules.go
Labels: none

Use cryptographic hash functions for TCP
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/protocol.go
Labels: area: networking

Use cryptographic hash functions for TCP
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/protocol.go
Labels: area: networking

Move lockMountpoint to the beginning of pivot_root.
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

g3doc: describe how to run docker containers in gVisor
  g3doc/user_guide/docker-in-gvisor.md
Labels: area: docs

g3doc: describe how to run docker containers in gVisor
  g3doc/user_guide/docker-in-gvisor.md
Labels: area: docs

Move lockMountpoint to the beginning of pivot_root.
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Move lockMountpoint to the beginning of pivot_root.
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Introduce the restorer
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: area: bazel

Introduce the restorer
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: area: bazel

`runsc`: Use precompiled seccomp filters in the Sentry.
  runsc/boot/filter/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_main.go
  runsc/boot/filter/config/config_precompiled.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
Labels: area: bazel

`runsc`: Use precompiled seccomp filters in the Sentry.
  runsc/boot/filter/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_main.go
  runsc/boot/filter/config/config_precompiled.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
Labels: area: bazel

BPF optimizer: Coalesce jumps to identical return statements to minimize size.
  pkg/bpf/bpf.go
  pkg/bpf/optimizer.go
  pkg/bpf/optimizer_test.go
Labels: area: tests

BPF optimizer: Coalesce jumps to identical return statements to minimize size.
  pkg/bpf/bpf.go
  pkg/bpf/optimizer.go
  pkg/bpf/optimizer_test.go
Labels: area: tests

Use 16-byte secret for SHA2
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/protocol.go
Labels: area: networking

Use 16-byte secret for SHA2
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/protocol.go
Labels: area: networking

Use "target" build configuration for seccomp rule precompilation.
  pkg/seccomp/precompiledseccomp/defs.bzl
Labels: area: bazel

Mount VFIO based TPU device directories in chroot.
  runsc/cmd/chroot.go
Labels: none

Mount VFIO based TPU device directories in chroot.
  runsc/cmd/chroot.go
Labels: none

Add vfioFD skeleton code for TPU v5e.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: area: bazel

Add vfioFD skeleton code for TPU v5e.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: area: bazel

use new clear builtin to clear buf
  pkg/buffer/chunk.go
Labels: none

use new clear builtin to clear bufs
  pkg/buffer/chunk.go
  pkg/safemem/block_unsafe.go
  pkg/sentry/arch/fpu/fpu_amd64.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/syscalls/linux/sys_getdents.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv6_extension_headers.go
  pkg/usermem/bytes_io.go
  tools/go_marshal/analysis/analysis_unsafe.go
Labels: arch: x86_64, area: networking, area: kernel, area: tooling

use new clear builtin to clear bufs
  pkg/buffer/chunk.go
  pkg/safemem/block_unsafe.go
  pkg/sentry/arch/fpu/fpu_amd64.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/syscalls/linux/sys_getdents.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv6_extension_headers.go
  pkg/usermem/bytes_io.go
  tools/go_marshal/analysis/analysis_unsafe.go
Labels: arch: x86_64, area: networking, area: kernel, area: tooling

vfs: don't allow to change propagation type for detached mounts
  pkg/sentry/vfs/propagation.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

Add equality function for BPF instructions.
  pkg/bpf/BUILD
  pkg/bpf/bpf.go
  pkg/bpf/bpf_test.go
  pkg/bpf/optimizer.go
Labels: area: bazel, area: tests

Add equality function for BPF instructions.
  pkg/bpf/BUILD
  pkg/bpf/bpf.go
  pkg/bpf/bpf_test.go
  pkg/bpf/optimizer.go
Labels: area: bazel, area: tests

erofs: cleanups and hardening
  pkg/erofs/erofs.go
  pkg/erofs/erofs_test.go
  pkg/erofs/erofs_unsafe.go
  pkg/sentry/fsimpl/erofs/erofs.go
  runsc/container/container_test.go
Labels: area: filesystem, area: tests
