Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Don't panic on user-controlled state in semaphore syscalls.
  pkg/sentry/kernel/semaphore/semaphore.go
  test/syscalls/linux/semaphore.cc
Labels: area: kernel, area: tests

Don't panic on user-controlled state in semaphore syscalls.
  pkg/sentry/kernel/semaphore/semaphore.go
  test/syscalls/linux/semaphore.cc
Labels: area: kernel, area: tests

Add verity open benchmark test
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/verity_open_benchmark.cc
  test/runner/defs.bzl
  test/syscalls/linux/verity_getdents.cc
  test/syscalls/linux/verity_ioctl.cc
  test/syscalls/linux/verity_mmap.cc
  test/syscalls/linux/verity_symlink.cc
  test/util/verity_util.cc
  test/util/verity_util.h
Labels: area: bazel, area: tests

Add verity open benchmark test
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/verity_open_benchmark.cc
  test/runner/defs.bzl
  test/syscalls/linux/verity_getdents.cc
  test/syscalls/linux/verity_ioctl.cc
  test/syscalls/linux/verity_mmap.cc
  test/syscalls/linux/verity_symlink.cc
  test/util/verity_util.cc
  test/util/verity_util.h
Labels: area: bazel, area: tests

Add control configs
  pkg/control/BUILD
  pkg/control/control.proto
Labels: area: bazel

Fix conditionl: Flush-on-Close when file is NOT exclusive.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

Clean up logic for when a VFS2 gofer regular file close causes a flushf.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

Clean up logic for when a VFS2 gofer regular file close causes a flushf.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

Test
  pkg/tcpip/transport/network/BUILD
  pkg/tcpip/transport/network/endpoint.go
  pkg/tcpip/transport/network/endpoint_state.go
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  pkg/tcpip/transport/udp/forwarder.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Fix per-analyzer overrides of default-disabled groups
  nogo.yaml
  tools/nogo/BUILD
  tools/nogo/config.go
  tools/nogo/config_test.go
  tools/nogo/findings.go
Labels: area: bazel, area: tests, area: tooling

Fix per-analyzer overrides of default-disabled groups
  nogo.yaml
  tools/nogo/BUILD
  tools/nogo/config.go
  tools/nogo/config_test.go
  tools/nogo/findings.go
Labels: area: bazel, area: tests, area: tooling

Don't create an extra fd bitmap to allocate a new fd.
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/dup_benchmark.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: kernel, area: tests

Don't create an extra fd bitmap to allocate a new fd.
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
  pkg/sentry/kernel/fd_table.go
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/dup_benchmark.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: kernel, area: tests

Don't create an extra fd bitmap to allocate a new fd.
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
  pkg/sentry/kernel/fd_table.go
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/dup_benchmark.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: kernel, area: tests

Add bitmap library and apply bitmap in fd_table
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/dup_benchmark.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: kernel, area: tests

Add control packages
  pkg/sentry/control/BUILD
  pkg/sentry/control/events.go
  pkg/sentry/control/fs.go
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/usage.go
Labels: area: bazel

Use go:build directives in generated files.
  tools/constraintutil/BUILD
  tools/constraintutil/constraintutil.go
  tools/constraintutil/constraintutil_test.go
  tools/go_generics/go_merge/BUILD
  tools/go_generics/go_merge/main.go
  tools/go_marshal/gomarshal/BUILD
  tools/go_marshal/gomarshal/generator.go
  tools/go_stateify/BUILD
  tools/go_stateify/main.go
  tools/tags/BUILD
  tools/tags/tags.go
Labels: area: bazel, area: tests, area: tooling

Use go:build directives in generated files.
  tools/constraintutil/BUILD
  tools/constraintutil/constraintutil.go
  tools/constraintutil/constraintutil_test.go
  tools/go_generics/go_merge/BUILD
  tools/go_generics/go_merge/main.go
  tools/go_marshal/gomarshal/BUILD
  tools/go_marshal/gomarshal/generator.go
  tools/go_stateify/BUILD
  tools/go_stateify/main.go
  tools/tags/BUILD
  tools/tags/tags.go
Labels: area: bazel, area: tests, area: tooling

tunning hasSlot function and fix store wrong value in usedSlots
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/machine.go
Labels: platform: kvm

tunning hasSlot function and fix store wrong value in usedSlots
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/machine.go
Labels: platform: kvm

Lock gofer.dentry.dataMu before SetAttr RPC modifying file size.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Lock gofer.dentry.dataMu before SetAttr RPC modifying file size.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Add verity read benchmark tests
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/verity_read_benchmark.cc
Labels: area: bazel, area: tests

Add verity read benchmark tests
  test/perf/BUILD
  test/perf/linux/BUILD
  test/perf/linux/verity_read_benchmark.cc
Labels: area: bazel, area: tests

Add Uid/Gid/Groups fields to VFS2 /proc/[pid]/status.
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: tests

Add Uid/Gid/Groups fields to VFS2 /proc/[pid]/status.
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: tests

Explicitly encode the pcap packet headers to reduce CPU cost of pcap generation.
  pkg/tcpip/link/sniffer/pcap.go
  pkg/tcpip/link/sniffer/sniffer.go
Labels: area: networking

Explicitly encode the pcap packet headers to reduce CPU cost of pcap generation.
  pkg/tcpip/link/sniffer/pcap.go
  pkg/tcpip/link/sniffer/sniffer.go
Labels: area: networking

Extract common socket facities
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_state.go
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/transport.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  pkg/tcpip/transport/udp/forwarder.go
Labels: area: bazel, area: networking

checklinkname: rudimentary type-checking of linkname directives
  nogo.yaml
  pkg/gohacks/gohacks_unsafe.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sync/goyield_unsafe.go
  pkg/sync/runtime_unsafe.go
  pkg/tcpip/link/rawfile/blockingpoll_yield_unsafe.go
  tools/checklinkname/BUILD
  tools/checklinkname/README.md
  tools/checklinkname/check_linkname.go
  tools/checklinkname/known.go
  tools/checklinkname/test/BUILD
  tools/checklinkname/test/test_unsafe.go
  tools/nogo/BUILD
  tools/nogo/analyzers.go
  tools/nogo/filter/main.go
Labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: networking, area: tests, area: tooling, platform: kvm

checklinkname: rudimentary type-checking of linkname directives
  nogo.yaml
  pkg/gohacks/gohacks_unsafe.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sync/goyield_unsafe.go
  pkg/sync/runtime_unsafe.go
  pkg/tcpip/link/rawfile/blockingpoll_yield_unsafe.go
  tools/checklinkname/BUILD
  tools/checklinkname/README.md
  tools/checklinkname/check_linkname.go
  tools/checklinkname/known.go
  tools/checklinkname/test/BUILD
  tools/checklinkname/test/test_unsafe.go
  tools/nogo/BUILD
  tools/nogo/analyzers.go
  tools/nogo/filter/main.go
Labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: networking, area: tests, area: tooling, platform: kvm

Support RTM_DELLINK
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/mmap.go
  pkg/tcpip/link/fdbased/mmap_unsafe.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  test/e2e/integration_test.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: bazel, area: hostinet, area: networking, area: tests

Support RTM_DELLINK
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/mmap.go
  pkg/tcpip/link/fdbased/mmap_unsafe.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  test/e2e/integration_test.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: bazel, area: hostinet, area: networking, area: tests

change tmpfs /proc to /mnt
  runsc/cmd/gofer.go
Labels: none

Add IoUringSetupEnterExist test
  pkg/sentry/syscalls/linux/vfs2/io_uring.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/io_uring_enter.cc
Labels: area: bazel, area: kernel, area: tests

WIP: Read a SQE
  pkg/sentry/fsimpl/iouringfs/iouringfs.go
  pkg/sentry/syscalls/linux/vfs2/BUILD
  pkg/sentry/syscalls/linux/vfs2/io_uring.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
Labels: area: bazel, area: filesystem, area: kernel

Add -y to install docker-ce when build image
  images/default/Dockerfile
Labels: none

Add -y to install docker-ce when build image
  images/default/Dockerfile
Labels: none

Implement Queue.Receive.
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Implement Queue.Send.
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel
