Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add missing link types to go branch
  BUILD
Labels: area: bazel

Add missing link types to go branch
  BUILD
Labels: area: bazel

Internal change.
  test/syscalls/linux/BUILD
  test/syscalls/linux/getdents.cc
Labels: area: bazel, area: tests

Internal change.
  test/syscalls/linux/BUILD
  test/syscalls/linux/getdents.cc
Labels: area: bazel, area: tests

vfs1: don't allow to open socket files
  pkg/sentry/fs/gofer/inode.go
  pkg/sentry/fs/host/inode.go
  pkg/sentry/fs/ramfs/socket.go
  pkg/sentry/fs/tmpfs/inode_file.go
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_unbound_filesystem.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

vfs1: don't allow to open socket files
  pkg/sentry/fs/gofer/inode.go
  pkg/sentry/fs/host/inode.go
  pkg/sentry/fs/ramfs/socket.go
  pkg/sentry/fs/tmpfs/inode_file.go
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_unbound_filesystem.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Resolve compiler warnings
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/proc_net_unix.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/semaphore.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_ipv4_udp_unbound_netlink.cc
  test/syscalls/linux/tuntap.cc
Labels: area: tests

Resolve compiler warnings
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/proc_net_unix.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/semaphore.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_ipv4_udp_unbound_netlink.cc
  test/syscalls/linux/tuntap.cc
Labels: area: tests

typo: change whicy to which
  tools/checkescape/checkescape.go
Labels: area: tooling

typo: change whicy to which
  tools/checkescape/checkescape.go
Labels: area: tooling

Fix missing - in Go github actions workflow.
  .github/workflows/go.yml
Labels: none

Avoid duplicate `run` key
  .github/workflows/go.yml
Labels: none

Avoid duplicate `run` key
  .github/workflows/go.yml
Labels: none

arm64 kvm: revert some kpti related codes, and configure upper pagetable as global
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, platform: kvm

arm64 kvm: revert some kpti related codes, and configure upper pagetable as global
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, platform: kvm

Export socket_ipv6_udp_unbound_loopback.cc
  test/syscalls/linux/BUILD
Labels: area: bazel, area: tests

Export socket_ipv6_udp_unbound_loopback.cc
  test/syscalls/linux/BUILD
Labels: area: bazel, area: tests

Make profiling commands synchronous.
  pkg/sentry/control/pprof.go
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/cmd/debug.go
  runsc/sandbox/sandbox.go
Labels: none

Make profiling commands synchronous.
  pkg/sentry/control/pprof.go
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/cmd/debug.go
  runsc/sandbox/sandbox.go
Labels: none

Deflake semaphore_test_native
  test/syscalls/linux/semaphore.cc
Labels: area: tests

Deflake semaphore_test_native
  test/syscalls/linux/semaphore.cc
Labels: area: tests

Exclude changing generated file from go_branch.
  tools/go_branch.sh
Labels: area: tooling

Exclude changing generated file from go_branch.
  tools/go_branch.sh
Labels: area: tooling

Simplify profiling and benchmarks.
  pkg/test/dockerutil/container.go
  pkg/test/dockerutil/dockerutil.go
  pkg/test/dockerutil/profile.go
  pkg/test/dockerutil/profile_test.go
  test/benchmarks/README.md
  test/benchmarks/base/size_test.go
  test/benchmarks/base/startup_test.go
  test/benchmarks/base/sysbench_test.go
  test/benchmarks/database/redis_test.go
  test/benchmarks/fs/bazel_test.go
  test/benchmarks/fs/fio_test.go
  test/benchmarks/harness/harness.go
  test/benchmarks/media/ffmpeg_test.go
  test/benchmarks/ml/tensorflow_test.go
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/network/network.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
  test/benchmarks/tools/fio.go
  test/benchmarks/tools/hey.go
  test/benchmarks/tools/iperf.go
  test/benchmarks/tools/redis.go
  test/benchmarks/tools/sysbench.go
Labels: area: docs, area: tests

Simplify profiling and benchmarks.
  pkg/test/dockerutil/container.go
  pkg/test/dockerutil/dockerutil.go
  pkg/test/dockerutil/profile.go
  pkg/test/dockerutil/profile_test.go
  test/benchmarks/README.md
  test/benchmarks/base/size_test.go
  test/benchmarks/base/startup_test.go
  test/benchmarks/base/sysbench_test.go
  test/benchmarks/database/redis_test.go
  test/benchmarks/fs/bazel_test.go
  test/benchmarks/fs/fio_test.go
  test/benchmarks/harness/harness.go
  test/benchmarks/media/ffmpeg_test.go
  test/benchmarks/ml/tensorflow_test.go
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/network/network.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
  test/benchmarks/tools/fio.go
  test/benchmarks/tools/hey.go
  test/benchmarks/tools/iperf.go
  test/benchmarks/tools/redis.go
  test/benchmarks/tools/sysbench.go
Labels: area: docs, area: tests

Deflake TestBindOverlay in //test/e2e:integration_test
  test/e2e/regression_test.go
Labels: area: tests

Deflake TestBindOverlay in //test/e2e:integration_test
  test/e2e/regression_test.go
Labels: area: tests

Add continuous VFS1 tests.
  .buildkite/pipeline.yaml
Labels: none

Add continuous VFS1 tests.
  .buildkite/pipeline.yaml
Labels: none

Fix condition checking in `runsc debug`
  runsc/cmd/debug.go
Labels: none

Fix condition checking in `runsc debug`
  runsc/cmd/debug.go
Labels: none

Use a stable ordering for generated types.
  tools/go_marshal/gomarshal/generator.go
Labels: area: tooling

Use a stable ordering for generated types.
  tools/go_marshal/gomarshal/generator.go
Labels: area: tooling

Add BuildKite annotations for failures and profiles.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  .buildkite/summarize.sh
  Makefile
  tools/bazel.mk
  tools/images.mk
Labels: area: tooling

Add BuildKite annotations for failures and profiles.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  .buildkite/summarize.sh
  Makefile
  tools/bazel.mk
  tools/images.mk
Labels: area: tooling

Add test for open(2) with O_WRONLY|O_RDWR.
  test/syscalls/linux/open.cc
Labels: area: tests

Add test for open(2) with O_WRONLY|O_RDWR.
  test/syscalls/linux/open.cc
Labels: area: tests

Remove remote execution support.
  .bazelrc
  tools/bazel.mk
  tools/bazeldefs/BUILD
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
Labels: area: bazel, area: tooling

Remove remote execution support.
  .bazelrc
  tools/bazel.mk
  tools/bazeldefs/BUILD
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
Labels: area: bazel, area: tooling

Add missing error checks for FileDescription.Init.
  pkg/sentry/fsimpl/ext/inode.go
  pkg/sentry/fsimpl/pipefs/pipefs.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/syscalls/linux/vfs2/pipe.go
Labels: area: filesystem, area: kernel

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
