Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Exclude internet/test-inspector-help-page.js nodejs runtime test.
  test/runtimes/exclude/nodejs16.13.2.csv
Labels: area: tests

Exclude internet/test-inspector-help-page.js nodejs runtime test.
  test/runtimes/exclude/nodejs16.13.2.csv
Labels: area: tests

Lock around endpoint info access in UDP onICMPError.
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Lock around endpoint info access in UDP onICMPError.
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

kernel: check that a task has a network namespace
  pkg/sentry/fsimpl/proc/task_net.go
Labels: area: filesystem

kernel: check that a task has a network namespace
  pkg/sentry/fsimpl/proc/task_net.go
Labels: area: filesystem

Make all custom flag.Value implementations idempotent.
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/cli/BUILD
  runsc/cli/cli_test.go
  runsc/cli/main.go
  runsc/cmd/cmd.go
  runsc/cmd/do.go
  runsc/cmd/exec.go
  runsc/cmd/fd_mapping.go
  runsc/config/config.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

Make all custom flag.Value implementations idempotent.
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/cli/BUILD
  runsc/cli/cli_test.go
  runsc/cli/main.go
  runsc/cmd/cmd.go
  runsc/cmd/do.go
  runsc/cmd/exec.go
  runsc/cmd/fd_mapping.go
  runsc/config/config.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

Allow interface filtering on Postrouting
  pkg/tcpip/stack/iptables_types.go
Labels: area: networking

Implement setns CLONE_NEWIPC namespace type.
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/setns.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Implement setns CLONE_NEWIPC namespace type.
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/setns.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Return correct number of PIDs with multi-container
  pkg/sentry/kernel/threads.go
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
Labels: area: kernel, area: tests

Return correct number of PIDs with multi-container
  pkg/sentry/kernel/threads.go
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
Labels: area: kernel, area: tests

Update Redis version in Redis benchmark and test images.
  images/basic/redis/Dockerfile
  images/benchmarks/redis/Dockerfile
Labels: none

Update Redis version in Redis benchmark and test images.
  images/basic/redis/Dockerfile
  images/benchmarks/redis/Dockerfile
Labels: none

netstack: fix flaky forwarding test
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/forwarder_test.go
Labels: area: bazel, area: networking, area: tests

netstack: fix flaky forwarding test
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/forwarder_test.go
Labels: area: bazel, area: networking, area: tests

Fix args preparation for re-execution in boot and gofer process.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
Labels: none

Fix args preparation for re-execution in boot and gofer process.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
Labels: none

Implement accel fd methods and gasket ioctls.
  WORKSPACE
  go.mod
  go.sum
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/accel_mmap.go
  pkg/sentry/devices/accel/accel_unsafe.go
  pkg/sentry/devices/accel/device.go
  pkg/sentry/devices/accel/gasket.go
Labels: area: bazel, dependencies

Implement accel fd methods and gasket ioctls.
  WORKSPACE
  go.mod
  go.sum
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/accel_mmap.go
  pkg/sentry/devices/accel/accel_unsafe.go
  pkg/sentry/devices/accel/device.go
  pkg/sentry/devices/accel/gasket.go
Labels: area: bazel, dependencies

Issue a panic in the case of a failed mount promise.
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Issue a panic in the case of a failed mount promise.
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Implement mount namespaces
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: kernel, area: tests

Implement mount namespaces
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: kernel, area: tests

removed now-renamed bufferv2 package
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

removed now-renamed bufferv2 package
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

Implement setns for mount namespaces
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/fuse/utils_test.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/sys/sys_test.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/vfs.go
  test/syscalls/linux/mount.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Implement setns for mount namespaces
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/fuse/utils_test.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/sys/sys_test.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/vfs.go
  test/syscalls/linux/mount.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Implement setns for mount namespaces
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/fuse/utils_test.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/sys/sys_test.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/vfs.go
  test/syscalls/linux/mount.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Add test case to TestCheckpointRestore
  runsc/container/container_test.go
Labels: area: tests

Add test case to TestCheckpointRestore
  runsc/container/container_test.go
Labels: area: tests

Internal change.
  pkg/test/dockerutil/container.go
Labels: area: tests

Bind mount PCI paths for TPUs as read only.
  runsc/cmd/chroot.go
Labels: none

Bind mount PCI paths for TPUs as read only.
  runsc/cmd/chroot.go
Labels: none

kernel: don't use atomic pointers for task.netns
  pkg/sentry/inet/BUILD
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_net.go
  pkg/sentry/kernel/task_start.go
Labels: area: bazel, area: kernel

kernel: don't use atomic pointers for task.netns
  pkg/sentry/inet/BUILD
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_net.go
  pkg/sentry/kernel/task_start.go
Labels: area: bazel, area: kernel

Add NV0000_CTRL_CMD_SYSTEM_GET_P2P_CAPS to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none

Add NV0000_CTRL_CMD_SYSTEM_GET_P2P_CAPS to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none

Internal change.
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
