Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

netstack: set loopback as outgoing NIC for local traffic
  pkg/tcpip/stack/stack.go
Labels: area: networking

gpu: Remove `--cuda_verify_compatibility` flag.
  .buildkite/release.yaml
  test/gpu/cuda/cuda.go
  test/gpu/cuda_12_8_test.go
Labels: area: tests

Update contributing guidelines on pull request commits.
  CONTRIBUTING.md
Labels: none

Add IOCTL NV2080_CTRL_CMD_FB_QUERY_DRAM_ENCRYPTION_STATUS
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

pkg/sentry: add cleanup to avoid refcount leak
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/proc.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Fix stringification code for `headerType` (under `pkg/tcpip/stack`).
  pkg/tcpip/stack/headertype_string.go
Labels: area: networking

pkg/sentry: add cleanup to avoid mntns/FSContext refcount leak
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/proc.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Exclude failing Java test.
  test/runtimes/exclude/java21.csv
Labels: area: tests

Warn about unknown fields in OCI config
  runsc/specutils/specutils.go
Labels: none

Add the copyright message back.
  pkg/tcpip/stack/headertype_string.go
Labels: area: networking

Implement DUMP message support for NETFILTER sockets.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: networking, area: tests

Update README with instructions on using Bazel directly.
  README.md
  images/default/Dockerfile
Labels: area: docs

Fix //debian:debian build target.
  tools/show_paths.bzl
Labels: area: bazel, area: tooling

Hookup nftables filtering into IPv4 and IPv6 paths in netstack.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables_types.go
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: networking, area: tests

Made code more clear
  runsc/specutils/specutils.go
Labels: none

Implement `S_ISGID` clearing behavior in `chmod`.
  pkg/sentry/vfs/permissions.go
  test/syscalls/linux/chown.cc
Labels: area: filesystem, area: tests

kvm: pagetables: Refactor amd64 pg walker for 5-level paging
  pkg/ring0/pagetables/walker_amd64.go
Labels: arch: x86_64

PGO: Run benchmarks for a shorter time, but force GC to run more often.
  Makefile
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/profile/profile.go
  runsc/profiles/data/go1.24.1-linux-amd64_kvm/ffmpeg.pgo.pkg_commithash
  runsc/profiles/data/go1.24.1-linux-amd64_kvm/ffmpeg.pgo.pprof.pb.gz
  runsc/profiles/data/go1.24.1-linux-amd64_systrap/ffmpeg.pgo.pkg_commithash
  runsc/profiles/data/go1.24.1-linux-amd64_systrap/ffmpeg.pgo.pprof.pb.gz
Labels: none

Integrate LLVM at llvm/llvm-project@cb2f0d0a5f14
  tools/nvidia_driver_differ/driver_ast_parser.cc
Labels: area: tooling

Exclude adding the self filestore whiteout to rootfs upper layer TAR archive.
  pkg/fsutil/fsutil.go
  pkg/sentry/fsimpl/tmpfs/BUILD
  pkg/sentry/fsimpl/tmpfs/device_file.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  runsc/boot/BUILD
  runsc/boot/vfs.go
  test/e2e/BUILD
  test/e2e/integration_runtime_test.go
Labels: area: bazel, area: filesystem, area: tests

Refactor to use reflect.TypeFor
  pkg/ring0/kernel_amd64.go
  pkg/sentry/kernel/seccomp.go
  pkg/state/types.go
  pkg/sync/locking/generic_mutex.go
  pkg/sync/locking/generic_rwmutex.go
  pkg/urpc/urpc.go
  test/packetimpact/testbench/layers.go
Labels: arch: x86_64, area: kernel, area: tests

Wait for the gofer process in Container.Wait().
  runsc/container/container.go
Labels: none

Implement GETRULE functionality for Nftables NETFILTER sockets.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: networking, area: tests

Refactor to use reflect.TypeFor
  pkg/ring0/kernel_amd64.go
  pkg/sentry/kernel/seccomp.go
  pkg/state/types.go
  pkg/sync/locking/generic_mutex.go
  pkg/sync/locking/generic_rwmutex.go
  pkg/urpc/urpc.go
  test/packetimpact/testbench/layers.go
Labels: arch: x86_64, area: kernel, area: tests

Handle NESTED attributes tagged with NLA_F_NESTED flag.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: networking, area: tests

kvm: pagetables: Enable 5-level paging with P4D folding
  pkg/cpuid/cpuid.go
  pkg/ring0/kernel_amd64.go
  pkg/ring0/lib_amd64.go
  pkg/ring0/pagetables/BUILD
  pkg/ring0/pagetables/pagetables.go
  pkg/ring0/pagetables/pagetables_amd64.go
  pkg/ring0/pagetables/pagetables_amd64_test.go
  pkg/ring0/pagetables/walker_amd64.go
  pkg/ring0/x86.go
  pkg/sentry/platform/kvm/physical_map.go
Labels: arch: x86_64, area: bazel, area: tests, platform: kvm

Update protocol to parse fields from network order to host order.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables_types.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: networking, area: tests

Upgrade default Docker image.
  images/default/Dockerfile
Labels: none

Unbreak Linux tests.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  test/syscalls/linux/socket_netlink_netfilter.cc
Labels: area: networking, area: tests

typo fixed
  runsc/specutils/specutils.go
Labels: none

Implement SO_PEERCRED socket option for UNIX sockets and its tests.
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/plugin/stack/socket.go
  pkg/sentry/socket/socket.go
  pkg/sentry/socket/unix/BUILD
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/sentry/socket/unix/unix.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_pair.cc
  test/syscalls/linux/socket_unix_peercred.cc
  test/syscalls/linux/socket_unix_peercred.h
Labels: area: bazel, area: hostinet, area: networking, area: tests

Implement GETGEN and a skeleton for GETSET.
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/stack.go
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Create Nftables docker tests.
  Makefile
  images/nftables/Dockerfile
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/stack.go
  test/iptables/BUILD
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
  test/nftables/BUILD
  test/nftables/filter_input.go
  test/nftables/filter_input_iptables.go
  test/nftables/iptables_util.go
  test/nftables/nftables.go
  test/nftables/nftables_test.go
  test/nftables/nftables_util.go
  test/nftables/runner/BUILD
  test/nftables/runner/main.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Fix race between unshare(2) and execve(2).
  pkg/sentry/kernel/fs_context.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exec.go
Labels: area: kernel

Integrate LLVM at llvm/llvm-project@a579278312f8
  tools/nvidia_driver_differ/driver_ast_parser.cc
Labels: area: tooling

Move network utility functions to a util package.
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
Labels: area: bazel, area: tests

Runsc shim grouping per pod.
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/service.go
Labels: none

overlay: avoid creating unnecessary whiteouts in UnlinkAt and RmdirAt
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

fdbased: don't call sleeper.Done() in processor.start()
  pkg/tcpip/link/fdbased/processors.go
Labels: area: networking

Move network utility functions to a util package.
  test/iptables/BUILD
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/netutils/BUILD
  test/netutils/utils.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
