Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Internal change.
  pkg/sentry/devices/memdev/zero.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/verity/BUILD
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/memmap/memmap.go
Labels: area: bazel, area: filesystem

Add vfs1 to go/runsc-benchmarks
  Makefile
Labels: none

Add vfs1 to go/runsc-benchmarks
  Makefile
Labels: none

Implement the runsc verity-prepare command.
  runsc/boot/BUILD
  runsc/boot/vfs.go
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/do.go
  runsc/cmd/verity_prepare.go
  runsc/specutils/fs.go
Labels: area: bazel

Implement the runsc verity-prepare command.
  runsc/boot/BUILD
  runsc/boot/vfs.go
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/do.go
  runsc/cmd/verity_prepare.go
  runsc/specutils/fs.go
Labels: area: bazel

Internal change.
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Internal change.
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

platform/kvm/x86: restore mxcsr when switching from guest to sentry
  pkg/ring0/kernel_amd64.go
  pkg/ring0/lib_amd64.go
  pkg/ring0/lib_amd64.s
  pkg/sentry/arch/fpu/fpu_amd64.go
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/kvm_amd64_test.go
  pkg/sentry/platform/kvm/kvm_amd64_test.s
Labels: arch: x86_64, area: bazel, area: kernel, area: tests, platform: kvm

Remove eternal and enormous tests.
  test/benchmarks/base/BUILD
  test/benchmarks/database/BUILD
  test/benchmarks/fs/BUILD
  test/benchmarks/media/BUILD
  test/benchmarks/ml/BUILD
  test/benchmarks/network/BUILD
  test/perf/BUILD
  test/runtimes/defs.bzl
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Remove eternal and enormous tests.
  test/benchmarks/base/BUILD
  test/benchmarks/database/BUILD
  test/benchmarks/fs/BUILD
  test/benchmarks/media/BUILD
  test/benchmarks/ml/BUILD
  test/benchmarks/network/BUILD
  test/perf/BUILD
  test/runtimes/defs.bzl
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Don't run unlink_benchmark with TSAN.
  test/perf/BUILD
Labels: area: bazel, area: tests

Don't run unlink_benchmark with TSAN.
  test/perf/BUILD
Labels: area: bazel, area: tests

Fail tests when container returns non-zero status
  pkg/test/dockerutil/container.go
  test/image/image_test.go
Labels: area: tests

Fail tests when container returns non-zero status
  pkg/test/dockerutil/container.go
  test/image/image_test.go
Labels: area: tests

Set Verity bit in verity_prepare cmd
  runsc/cmd/verity_prepare.go
Labels: none

Set Verity bit in verity_prepare cmd
  runsc/cmd/verity_prepare.go
Labels: none

Allow user mount for verity fs
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/fsimpl/verity/verity_test.go
  runsc/boot/vfs.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_mount.cc
Labels: area: bazel, area: filesystem, area: tests

Allow user mount for verity fs
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/fsimpl/verity/verity_test.go
  runsc/boot/vfs.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_mount.cc
Labels: area: bazel, area: filesystem, area: tests

deflake semaphore test
  test/syscalls/linux/semaphore.cc
Labels: area: tests

deflake semaphore test
  test/syscalls/linux/semaphore.cc
Labels: area: tests

Fix alignment issue with 64-bit atomics on 32 bit machines
  pkg/atomicbitops/BUILD
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
  pkg/tcpip/BUILD
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking

Actually don't run unlink_benchmark with TSAN.
  test/perf/BUILD
Labels: area: bazel, area: tests

Actually don't run unlink_benchmark with TSAN.
  test/perf/BUILD
Labels: area: bazel, area: tests

Allow default control values to be set for cgroupfs.
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpu.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
Labels: area: filesystem

Allow default control values to be set for cgroupfs.
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpu.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
Labels: area: filesystem

Add fsstress on tmpfs to presubmit
  .buildkite/pipeline.yaml
  test/fsstress/BUILD
  test/fsstress/fsstress_test.go
Labels: area: bazel, area: tests

Add fsstress on tmpfs to presubmit
  .buildkite/pipeline.yaml
  test/fsstress/BUILD
  test/fsstress/fsstress_test.go
Labels: area: bazel, area: tests

Enable Checkpoint/Restore test with VFS2
  test/e2e/BUILD
  test/e2e/integration_test.go
  test/e2e/regression_test.go
Labels: area: bazel, area: tests

Enable Checkpoint/Restore test with VFS2
  test/e2e/BUILD
  test/e2e/integration_test.go
  test/e2e/regression_test.go
Labels: area: bazel, area: tests

Add initial verity ioctl syscall tests
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_ioctl.cc
Labels: area: bazel, area: tests

Add initial verity ioctl syscall tests
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_ioctl.cc
Labels: area: bazel, area: tests

Report task CPU usage through the cpuacct cgroup controller.
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Report task CPU usage through the cpuacct cgroup controller.
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Fix listen backlog handling to be in parity with Linux
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/tcp_sack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/tcp_timestamp_test.go
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_listen_backlog_test.go
  test/packetimpact/tests/tcp_syncookie_test.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: bazel, area: networking, area: kernel, area: tests

Fix listen backlog handling to be in parity with Linux
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/tcp_sack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/tcp_timestamp_test.go
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_listen_backlog_test.go
  test/packetimpact/tests/tcp_syncookie_test.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: bazel, area: networking, area: kernel, area: tests

Update gofer dentry permissions only when needed.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Update gofer dentry permissions only when needed.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Do not perform MLD for certain multicast scopes
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/ipv6_test.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
Labels: area: networking, area: tests

Do not perform MLD for certain multicast scopes
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/ipv6_test.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
Labels: area: networking, area: tests

IsValid
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests
