Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Coalesce records for reports on MGP enable
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

Populate IGMPv3 report checksum
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/igmp_test.go
  pkg/tcpip/header/igmpv3.go
Labels: area: networking, area: tests

Populate IGMPv3 report checksum
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/igmp_test.go
  pkg/tcpip/header/igmpv3.go
Labels: area: networking, area: tests

Automated rollback of changelist 501387753
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
Labels: none

Automated rollback of changelist 501387753
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
Labels: none

arm64: validate registers that come from user-space
  pkg/abi/linux/ptrace_arm64.go
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/signal_arm64.go
Labels: arch: arm, area: kernel

arm64: validate registers that come from user-space
  pkg/abi/linux/ptrace_arm64.go
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/signal_arm64.go
Labels: arch: arm, area: kernel

Protect Endpoint.dispatcher with an RWMutex.
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/mmap.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/link/loopback/loopback.go
  pkg/tcpip/link/muxed/injectable.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/link/waitable/waitable.go
  pkg/tcpip/link/xdp/endpoint.go
Labels: area: networking

Protect Endpoint.dispatcher with an RWMutex.
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/mmap.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/link/loopback/loopback.go
  pkg/tcpip/link/muxed/injectable.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/link/waitable/waitable.go
  pkg/tcpip/link/xdp/endpoint.go
Labels: area: networking

arm64: validate registers that come from user-space
  pkg/abi/linux/ptrace_arm64.go
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/signal_arm64.go
Labels: arch: arm, area: kernel

Implement hostinet port forward
  runsc/boot/portforward/BUILD
  runsc/boot/portforward/portforward.go
  runsc/boot/portforward/portforward_fd_rw_test.go
  runsc/boot/portforward/portforward_hostinet.go
  runsc/boot/portforward/portforward_hostinet_test.go
Labels: area: bazel, area: tests

Implement hostinet port forward
  runsc/boot/portforward/BUILD
  runsc/boot/portforward/portforward.go
  runsc/boot/portforward/portforward_fd_rw_test.go
  runsc/boot/portforward/portforward_hostinet.go
  runsc/boot/portforward/portforward_hostinet_test.go
Labels: area: bazel, area: tests

Fix flaky link resolution test.
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Fix flaky link resolution test.
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Defer kernfs openflag handling to inode implementations.
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/pipefs/pipefs.go
  pkg/sentry/fsimpl/sys/sys.go
Labels: area: filesystem

Defer kernfs openflag handling to inode implementations.
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/pipefs/pipefs.go
  pkg/sentry/fsimpl/sys/sys.go
Labels: area: filesystem

test: check that we can change registers via ptrace
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/ptrace_amd64.go
  pkg/sentry/kernel/task_run.go
  test/syscalls/linux/ptrace.cc
Labels: arch: x86_64, area: kernel, area: tests

test: check that we can change registers via ptrace
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/ptrace_amd64.go
  pkg/sentry/kernel/task_run.go
  test/syscalls/linux/ptrace.cc
Labels: arch: x86_64, area: kernel, area: tests

test: check that we can change registers via ptrace
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/ptrace_amd64.go
  pkg/sentry/kernel/task_run.go
  test/syscalls/linux/ptrace.cc
Labels: arch: x86_64, area: kernel, area: tests

Simplify sandbox connection code
  runsc/boot/controller.go
  runsc/cmd/checkpoint.go
  runsc/cmd/debug.go
  runsc/cmd/list.go
  runsc/cmd/ps.go
  runsc/cmd/read_control.go
  runsc/cmd/usage.go
  runsc/cmd/write_control.go
  runsc/container/container_test.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Simplify sandbox connection code
  runsc/boot/controller.go
  runsc/cmd/checkpoint.go
  runsc/cmd/debug.go
  runsc/cmd/list.go
  runsc/cmd/ps.go
  runsc/cmd/read_control.go
  runsc/cmd/usage.go
  runsc/cmd/write_control.go
  runsc/container/container_test.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Make gofer.dentry a generic type.
  pkg/lisafs/client_file.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  pkg/sentry/fsimpl/gofer/handle.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/fsimpl/gofer/save_restore.go
  pkg/sentry/fsimpl/gofer/socket.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/gofer/symlink.go
Labels: area: bazel, area: filesystem, area: tests

Make gofer.dentry a generic type.
  pkg/lisafs/client_file.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  pkg/sentry/fsimpl/gofer/handle.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/fsimpl/gofer/save_restore.go
  pkg/sentry/fsimpl/gofer/socket.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/gofer/symlink.go
Labels: area: bazel, area: filesystem, area: tests

Fix formatting
  test/syscalls/linux/32bit.cc
  test/syscalls/linux/exceptions.cc
  test/syscalls/linux/fpsig_fork.cc
  test/syscalls/linux/fpsig_nested.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/sigreturn_amd64.cc
  test/syscalls/linux/socket_unix_unbound_filesystem.cc
  test/syscalls/linux/tcp_socket.cc
Labels: arch: x86_64, area: tests

Fix formatting
  test/syscalls/linux/32bit.cc
  test/syscalls/linux/exceptions.cc
  test/syscalls/linux/fpsig_fork.cc
  test/syscalls/linux/fpsig_nested.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/sigreturn_amd64.cc
  test/syscalls/linux/socket_unix_unbound_filesystem.cc
  test/syscalls/linux/tcp_socket.cc
Labels: arch: x86_64, area: tests

gVisor: Implement `runsc metric-server` which serves Prometheus metrics.
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/metric_export.go
  runsc/cmd/metric_server.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/state_file.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

gVisor: Implement `runsc metric-server` which serves Prometheus metrics.
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/metric_export.go
  runsc/cmd/metric_server.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/state_file.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

`runsc` metric server: Periodically add sandboxes that failed registration.
  runsc/cmd/metric_server.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: none

Allow construction of mount namespace from existing filesystem.
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Allow construction of mount namespace from existing filesystem.
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

`runsc` metric server: Periodically add sandboxes that failed registration.
  runsc/cmd/metric_server.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: none

`runsc` metric server: Periodically add sandboxes that failed registration.
  runsc/cmd/metric_server.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: none

`runsc/sandbox`: Make `OverlayFileUsage` follow convention for urpc methods.
  runsc/sandbox/sandbox.go
Labels: none

`runsc/sandbox`: Make `OverlayFileUsage` follow convention for urpc methods.
  runsc/sandbox/sandbox.go
Labels: none

Rename pselect to pselect6
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_poll.go
Labels: area: kernel

Rename pselect to pselect6
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_poll.go
Labels: area: kernel

Implement netstack port forward
  runsc/boot/portforward/BUILD
  runsc/boot/portforward/portforward_hostinet_test.go
  runsc/boot/portforward/portforward_netstack.go
  runsc/boot/portforward/portforward_netstack_test.go
  runsc/boot/portforward/portforward_test_util.go
Labels: area: bazel, area: tests

Implement netstack port forward
  runsc/boot/portforward/BUILD
  runsc/boot/portforward/portforward_hostinet_test.go
  runsc/boot/portforward/portforward_netstack.go
  runsc/boot/portforward/portforward_netstack_test.go
  runsc/boot/portforward/portforward_test_util.go
Labels: area: bazel, area: tests

Add usage benchmarks
  .buildkite/pipeline.yaml
  pkg/test/dockerutil/container.go
  test/benchmarks/base/BUILD
  test/benchmarks/base/base.go
  test/benchmarks/base/usage_test.go
Labels: area: bazel, area: tests

Add usage benchmarks
  .buildkite/pipeline.yaml
  pkg/test/dockerutil/container.go
  test/benchmarks/base/BUILD
  test/benchmarks/base/base.go
  test/benchmarks/base/usage_test.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
