Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Update rules_go
  WORKSPACE
Labels: dependencies

Update bazel-gazelle
  WORKSPACE
Labels: dependencies

Update bazel-skylib
  WORKSPACE
Labels: dependencies

Fixing accept/accept4 and pipe syscall values.
  pkg/sentry/syscalls/linux/points.go
Labels: area: kernel

Fixing accept/accept4 and pipe syscall values.
  pkg/sentry/syscalls/linux/points.go
Labels: area: kernel

bazel: Update packages
  WORKSPACE
  tools/go_types_memoize.patch
Labels: area: tooling, dependencies

WIP: support rootless containers
  runsc/cmd/do.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel

cleanup
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

StartInNS blocks a system thread if namespaces can't be restored
  runsc/specutils/namespace.go
Labels: none

Avoid restoring name spaces
  runsc/specutils/namespace.go
Labels: none

Errors of configureStdios should not be fatal
  runsc/sandbox/sandbox.go
Labels: none

Add a test
  .buildkite/pipeline.yaml
  test/podman/run.sh
Labels: area: tests

Add a new control message for destroying sandbox in multi-container mode.
  pkg/sentry/control/lifecycle.go
Labels: none

Add a new control message for destroying sandbox in multi-container mode.
  pkg/sentry/control/lifecycle.go
Labels: none

Makefile: Don't overwrite `RUNTIME`-related variables if they are already set.
  Makefile
Labels: none

Makefile: Don't overwrite `RUNTIME`-related variables if they are already set.
  Makefile
Labels: none

Multi-Container: Add GetExitStatus() control message to get the exit status.
  pkg/sentry/control/lifecycle.go
Labels: none

Multi-Container: Add GetExitStatus() control message to get the exit status.
  pkg/sentry/control/lifecycle.go
Labels: none

cgroupfs: Add debugging output for pids charges.
  pkg/sentry/fsimpl/cgroupfs/pids.go
Labels: area: filesystem

Add Points to some syscalls
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
Labels: arch: arm, arch: x86_64, area: kernel

Add Points to some syscalls
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
Labels: arch: arm, arch: x86_64, area: kernel

Add checklocks to addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state.go
Labels: area: networking

Add checklocks to addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state.go
Labels: area: networking

Introduce and Implement AddressDispatcher
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Introduce and Implement AddressDispatcher
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Run syscall tests against Fast UDP
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Run syscall tests against Fast UDP
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Add shutdown-while-synrcvd test
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Add shutdown-while-synrcvd test
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Automated visibility attribute cleanup.
  tools/bazeldefs/BUILD
Labels: area: bazel, area: tooling

Enforce a minimum Send MSS.
  pkg/tcpip/header/tcp.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

Enforce a minimum Send MSS.
  pkg/tcpip/header/tcp.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

Refine Buffer io methods to utilize pooled views.
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
Labels: area: tests

Refine Buffer io methods to utilize pooled views.
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
Labels: area: tests

Refine Buffer io methods to utilize pooled views.
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
Labels: area: tests

Add vfs.Dentry.Evictable support.
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/vfs/dentry.go
Labels: area: filesystem

Add vfs.Dentry.Evictable support.
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/vfs/dentry.go
Labels: area: filesystem

Remove host fchmod(2) calls from the sentry.
  pkg/sentry/fsimpl/host/host.go
Labels: area: filesystem

Remove host fchmod(2) calls from the sentry.
  pkg/sentry/fsimpl/host/host.go
Labels: area: filesystem

Work around missing signal in Fuchsia
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
