Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

store uid/gid before installing filters for gofer
  runsc/cmd/gofer.go
  runsc/fsgofer/lisafs.go
Labels: none

set gid; remove additional filter change
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  runsc/cmd/gofer.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: none

move hooks to controlFDLisa level; temporarily remove prctl
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: none

use uid/gid from the message def
  pkg/lisafs/client_file.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/unix.go
  runsc/fsgofer/lisafs.go
Labels: area: bazel, area: filesystem, area: networking

restore go.mod
  go.mod
Labels: dependencies

add comments
  pkg/lisafs/fd.go
  runsc/fsgofer/lisafs.go
Labels: none

Deflake process_vm_read_write test.
  test/syscalls/linux/process_vm_read_write.cc
Labels: area: tests

nvproxy: Clean up struct field tags.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/frontend.go
  pkg/abi/nvgpu/frontend_unsafe.go
  pkg/abi/nvgpu/nvgpu.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/handlers.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/version.go
  tools/ioctl_sniffer/sniffer/sniffer.go
Labels: area: tests, area: tooling

netfilter: Support multiport matching (-m multiport)
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_test.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/multiport_matcher.go
  pkg/sentry/socket/netfilter/multiport_matcher_v1.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netstack/netstack.go
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
Labels: area: bazel, area: networking, area: tests

Enable netstack save/restore in cloud/gvisor by default.
  test/syscalls/linux/partial_bad_buffer.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Internal change.
  runsc/cmd/metricserver/BUILD
Labels: area: bazel

nvproxy: Clean up struct field tags.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/frontend.go
  pkg/abi/nvgpu/frontend_unsafe.go
  pkg/abi/nvgpu/nvgpu.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/handlers.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/version.go
  tools/ioctl_sniffer/sniffer/sniffer.go
Labels: area: tests, area: tooling

Add machine-readable list of PyTorch GPU tests.
  test/kubernetes/benchmarks/pytorch.go
Labels: area: tests

Internal change (diffbased).
  test/benchmarks/tools/parser_util.go
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/abslbuild_test.go
  test/kubernetes/benchmarks/ffmpeg_test.go
  test/kubernetes/benchmarks/grpc_test.go
  test/kubernetes/benchmarks/gsutil_test.go
  test/kubernetes/benchmarks/nginx_test.go
  test/kubernetes/benchmarks/ollama_test.go
  test/kubernetes/benchmarks/postgresql_test.go
  test/kubernetes/benchmarks/pytorch_test.go
  test/kubernetes/benchmarks/redis_test.go
  test/kubernetes/benchmarks/rubydev_test.go
  test/kubernetes/benchmarks/stablediffusion_test.go
  test/kubernetes/benchmarks/startup_test.go
  test/kubernetes/benchmarks/tensorflow_test.go
  test/kubernetes/benchmarks/wordpress_test.go
  test/kubernetes/benchmetric/benchmetric.go
  test/kubernetes/k8sctx/BUILD
  test/kubernetes/k8sctx/k8sctx.go
  test/kubernetes/k8sctx/k8sctx_impl.go
  test/kubernetes/k8sctx/kubectlctx/BUILD
  test/kubernetes/k8sctx/kubectlctx/kubectlctx.go
  test/kubernetes/test_range_config.proto
  test/kubernetes/testcluster/objects.go
  test/kubernetes/testcluster/testcluster.go
  test/kubernetes/tests/BUILD
  test/kubernetes/tests/hello_test.go
  tools/bigquery/bigquery.go
  tools/parsers/go_parser.go
  tools/parsers/go_parser_test.go
Labels: area: bazel, area: tests, area: tooling

adding cap
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvconf/caps.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Kubernetes tests & benchmark: Simplify `KubernetesContext` interface.
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/abslbuild_test.go
  test/kubernetes/benchmarks/ffmpeg_test.go
  test/kubernetes/benchmarks/grpc_test.go
  test/kubernetes/benchmarks/gsutil_test.go
  test/kubernetes/benchmarks/nginx_test.go
  test/kubernetes/benchmarks/ollama_test.go
  test/kubernetes/benchmarks/postgresql_test.go
  test/kubernetes/benchmarks/pytorch_test.go
  test/kubernetes/benchmarks/redis_test.go
  test/kubernetes/benchmarks/rubydev_test.go
  test/kubernetes/benchmarks/stablediffusion_test.go
  test/kubernetes/benchmarks/startup_test.go
  test/kubernetes/benchmarks/tensorflow_test.go
  test/kubernetes/benchmarks/wordpress_test.go
  test/kubernetes/k8sctx/autok8sctx/BUILD
  test/kubernetes/k8sctx/autok8sctx/kubectlctx.go
  test/kubernetes/k8sctx/k8sctx.go
  test/kubernetes/k8sctx/k8sctx_impl.go
  test/kubernetes/tests/BUILD
  test/kubernetes/tests/hello_test.go
Labels: area: bazel, area: tests

Go benchstat parser: Support alternate syntax for parameters.
  test/benchmarks/tools/parser_util.go
  test/kubernetes/benchmetric/benchmetric.go
  tools/bigquery/bigquery.go
  tools/parsers/go_parser.go
  tools/parsers/go_parser_test.go
Labels: area: tests, area: tooling

Internal change.
  examples/seccheck/server.cc
Labels: none

Go benchstat parser: Support alternate syntax for parameters.
  test/benchmarks/tools/parser_util.go
  test/kubernetes/benchmetric/benchmetric.go
  tools/bigquery/bigquery.go
  tools/parsers/go_parser.go
  tools/parsers/go_parser_test.go
Labels: area: tests, area: tooling

Add utility functions to validate benchmark runtime.
  test/kubernetes/testcluster/objects.go
Labels: area: tests

Enable netstack save/restore in cloud/gvisor by default.
  test/syscalls/linux/partial_bad_buffer.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Update handler for NV_ESC_RM_UNMAP_MEMORY_DMA for 550.40.07+.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Build `runsc-metric-server` binary using `nocgo` instead of `static`.
  runsc/cmd/metricserver/BUILD
Labels: area: bazel

runsc: Fix newline for cmd usage display
  runsc/cmd/boot.go
  runsc/cmd/checkpoint.go
  runsc/cmd/create.go
  runsc/cmd/debug.go
  runsc/cmd/delete.go
  runsc/cmd/gofer.go
  runsc/cmd/install.go
  runsc/cmd/kill.go
  runsc/cmd/list.go
  runsc/cmd/metric_export.go
  runsc/cmd/metricserver/metricservercmd/metricservercmd.go
  runsc/cmd/nvproxy/list_supported_drivers.go
  runsc/cmd/pause.go
  runsc/cmd/platforms.go
  runsc/cmd/restore.go
  runsc/cmd/resume.go
  runsc/cmd/run.go
  runsc/cmd/start.go
  runsc/cmd/state.go
  runsc/cmd/statefile.go
  runsc/cmd/syscalls.go
  runsc/cmd/trace/create.go
  runsc/cmd/trace/delete.go
  runsc/cmd/trace/list.go
  runsc/cmd/trace/metadata.go
  runsc/cmd/trace/procfs.go
  runsc/cmd/umount_unsafe.go
  runsc/cmd/usage.go
  runsc/cmd/wait.go
Labels: none

nvproxy: Clean up struct field tags.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/frontend.go
  pkg/abi/nvgpu/frontend_unsafe.go
  pkg/abi/nvgpu/nvgpu.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/handlers.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/version.go
  tools/ioctl_sniffer/sniffer/sniffer.go
Labels: area: tests, area: tooling

runsc: Write bytes into sandboxSyncFile
  runsc/sandbox/sandbox.go
Labels: none

Add option to skip restore spec validation
  runsc/boot/restore.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

Add documentation about TPU support to the website
  g3doc/user_guide/BUILD
  website/BUILD
Labels: area: bazel, area: docs

Kubernetes benchmarks: Refactor kubectl context to allow sets of clusters.
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/abslbuild_test.go
  test/kubernetes/benchmarks/ffmpeg_test.go
  test/kubernetes/benchmarks/grpc_test.go
  test/kubernetes/benchmarks/gsutil_test.go
  test/kubernetes/benchmarks/nginx_test.go
  test/kubernetes/benchmarks/ollama_test.go
  test/kubernetes/benchmarks/postgresql_test.go
  test/kubernetes/benchmarks/pytorch_test.go
  test/kubernetes/benchmarks/redis_test.go
  test/kubernetes/benchmarks/rubydev_test.go
  test/kubernetes/benchmarks/stablediffusion_test.go
  test/kubernetes/benchmarks/startup_test.go
  test/kubernetes/benchmarks/tensorflow_test.go
  test/kubernetes/benchmarks/wordpress_test.go
  test/kubernetes/k8sctx/BUILD
  test/kubernetes/k8sctx/autok8sctx/kubectlctx.go
  test/kubernetes/k8sctx/k8sctx.go
  test/kubernetes/k8sctx/kubectlctx/BUILD
  test/kubernetes/k8sctx/kubectlctx/kubectlctx.go
  test/kubernetes/test_range_config.proto
  test/kubernetes/testcluster/objects.go
  test/kubernetes/testcluster/testcluster.go
  test/kubernetes/tests/BUILD
  test/kubernetes/tests/hello_test.go
Labels: area: bazel, area: tests

Update bridge_test.go
  pkg/tcpip/stack/bridge_test.go
Labels: area: networking, area: tests

Add GPU video codecs support to nvproxy (so that tools like `ffmpeg` work)
  images/benchmarks/ffmpeg/Dockerfile
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/nvconf/caps.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/version.go
  test/gpu/ffmpeg_test.go
Labels: area: tests

fix mount setup for initial userns fallback
  runsc/cmd/gofer.go
Labels: none

Add a new RPC ConnectWithCreds to allow gofer to connect to a unix domain socket with application's credentials
  images/basic/integrationtest/Dockerfile
  pkg/lisafs/client_file.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/message.go
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/kernel/auth/context.go
  runsc/cmd/gofer.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
  test/e2e/integration_runtime_test.go
Labels: area: filesystem, area: kernel, area: tests

fix typo in mount setup for initial userns fallback
  runsc/cmd/gofer.go
Labels: none

Update CUDA test compatibility to keep up with added gVisor support.
  Makefile
  images/gpu/cuda-tests/list_features.cu
  images/gpu/cuda-tests/list_features.sh
  images/gpu/cuda-tests/run_sample.go
  pkg/test/dockerutil/container.go
  test/gpu/cuda_test.go
Labels: area: tests

Exclude cmd/crypto/tls from Go 1.22 tests.
  test/runtimes/exclude/go1.22.csv
Labels: area: tests

proc: Allow interrupting generation of /proc/pid/mount{s,info}
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Enable netstack save/restore in cloud/gvisor by default.
  pkg/tcpip/stack/stack.go
  test/syscalls/linux/partial_bad_buffer.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Update CUDA test compatibility to keep up with added gVisor support.
  Makefile
  images/gpu/cuda-tests/list_features.cu
  images/gpu/cuda-tests/list_features.sh
  images/gpu/cuda-tests/run_sample.go
  pkg/test/dockerutil/container.go
  test/gpu/cuda_test.go
  test/gpu/smoke_test.go
Labels: area: tests

tmpfs: limit regularFile.Translate() fill range
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: filesystem
