Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

sandboxexec: document the gvisor Python package on PyPI
  examples/sandboxexec/python/README.md
  sandboxexec/sandbox/python/README.md
Labels: area: docs

Allow declared file copies to execute remotely
  MODULE.bazel
  tools/licensecheck/dependencies.yaml
Labels: area: tooling

Allow declared file copies to execute remotely
  MODULE.bazel
  tools/licensecheck/dependencies.yaml
Labels: area: tooling

runsc/bwrap: Support --dev in bwrap personality
  g3doc/user_guide/personalities/bwrap.md
  pkg/sentry/control/proc.go
  pkg/test/testutil/testutil.go
  runsc/boot/vfs.go
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
  runsc/cmd/exec.go
  sandboxexec/sandbox/sandbox.go
Labels: area: docs, area: tests

kernel: implement SECBIT_NO_SETUID_FIXUP
  pkg/abi/linux/prctl.go
  pkg/sentry/kernel/auth/credentials.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  test/syscalls/linux/capabilities.cc
Labels: area: kernel, area: tests

control: register Events and add AttachRawEmitter
  pkg/eventchannel/event.go
  pkg/eventchannel/event_test.go
  pkg/sentry/control/BUILD
  pkg/sentry/control/events.go
  pkg/sentry/control/events_test.go
  runsc/boot/controller.go
  runsc/container/BUILD
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Use private networks in checkpoint benchmarks
  test/benchmarks/base/startup_test.go
Labels: area: tests

Preserve fio output when a benchmark fails
  test/benchmarks/fs/fio_test.go
Labels: area: tests

Bound checkpoint readiness with its context
  test/benchmarks/base/startup_test.go
Labels: area: tests

Use hackbench's short loop option
  test/benchmarks/tools/hackbench.go
Labels: area: tests

Propagate clang-tidy process failures
  tools/clang_tidy/BUILD
  tools/clang_tidy/clang_tidy.py
  tools/clang_tidy/clang_tidy_test.py
Labels: area: bazel, area: tooling

Keep test discovery out of XML results
  test/runner/gtest/BUILD
  test/runner/gtest/gtest.go
  test/runner/gtest/gtest_test.go
Labels: area: bazel, area: tests

nsfs: implement NS_GET_NSTYPE
  pkg/abi/linux/ioctl.go
  pkg/sentry/fsimpl/nsfs/BUILD
  pkg/sentry/fsimpl/nsfs/nsfs.go
  test/syscalls/linux/setns.cc
Labels: area: bazel, area: filesystem, area: tests

fix: preserve short receives and release SCM_RIGHTS on errors
  pkg/sentry/mm/io.go
  pkg/sentry/syscalls/linux/sys_socket.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_unix_cmsg.cc
Labels: area: bazel, area: kernel, area: mm, area: tests

Pass the selected runtime to Syzkaller
  Makefile
Labels: none

Update sentry CPU count on live cgroup CPU quota changes
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_state.go
  pkg/sentry/kernel/kernel_test.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/kernel/task_sched_test.go
  runsc/boot/controller.go
  runsc/cmd/update.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/cpu_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

Update sentry total memory on live cgroup memory limit changes
  pkg/sentry/usage/BUILD
  pkg/sentry/usage/memory.go
  pkg/sentry/usage/memory_test.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/update_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/memory_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

Add lifecycle benchmarks for containerd shim.
  .buildkite/pipeline.yaml
  Makefile
  pkg/test/testutil/testutil.go
  pkg/test/testutil/testutil_runfiles.go
  runsc/container/BUILD
  runsc/container/lifecycle_bench_test.go
  shim/shimutils/BUILD
  shim/shimutils/shimutils.go
  shim/tests/BUILD
  shim/tests/lifecycle_bench_test.go
  shim/tests/shim_test.go
Labels: area: bazel, area: tests

Make setsockopt return ErrProtocolNotAvailable for SOL_TLS and TCP_ULP option
  pkg/abi/linux/socket.go
  pkg/sentry/socket/hostinet/sockopt.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/strace/socket.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: hostinet, area: networking, area: tests

directfs: Validate host file descriptor identity in openHandle.
  pkg/sentry/fsimpl/gofer/directfs_inode.go
Labels: area: filesystem

Allow runsc to connect to an external proxy via UDS with `--network-proxy-path`.
  Makefile
  g3doc/user_guide/networking.md
  runsc/boot/network.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/sandbox/network.go
  runsc/sandbox/network_test.go
  test/e2e/BUILD
  test/e2e/uds_proxy_test.go
Labels: area: bazel, area: docs, area: tests

Check Linux filesystem reconfiguration effects
  test/syscalls/linux/mount_fd.cc
Labels: area: tests

Parse Docker test flags before checking the client
  pkg/test/dockerutil/profile_test.go
  test/compatibility/gitea/gitea_test.go
  test/compatibility/kafka/kafka_test.go
  test/compatibility/keycloak/keycloak_test.go
  test/compatibility/mariadb/mariadb_test.go
  test/compatibility/mosquitto/mosquitto_test.go
  test/compatibility/nextcloud/nextcloud_test.go
  test/compatibility/postgresql/postgresql_test.go
  test/compatibility/rabbitmq/rabbitmq_test.go
  test/compatibility/redis/redis_test.go
  test/compatibility/valkey/valkey_test.go
  test/compatibility/wordpress/wordpress_test.go
  test/e2e/integration_runtime_test.go
  test/e2e/integration_test.go
  test/fsstress/fsstress_test.go
  test/gpu/cuda_12_8_test.go
  test/gpu/cuda_test.go
  test/image/image_test.go
Labels: area: tests

Remove references to the Gitter chat room.
  GOVERNANCE.md
  README.md
  g3doc/community.md
  website/_includes/footer-links.html
  website/blog/README.md
Labels: area: docs

runsc/bwrap: Support --bind-data and --ro-bind-data
  g3doc/user_guide/personalities/bwrap.md
  pkg/sentry/control/proc.go
  pkg/test/testutil/testutil.go
  runsc/boot/vfs.go
  runsc/cmd/alias/bwrap/BUILD
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
  runsc/cmd/exec.go
  runsc/cmd/sandboxsetup/BUILD
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/cmd/sandboxsetup/gofer_mount_test.go
  sandboxexec/sandbox/sandbox.go
Labels: area: bazel, area: docs, area: tests

Reject exec opens of special files before invoking their open handlers
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/exec.cc
Labels: area: filesystem, area: tests

nogo: preserve configured analysis inputs
  g3doc/style.md
  nogo.yaml
  pkg/sync/locking/generic_mutex.go
  pkg/sync/locking/generic_rwmutex.go
  pkg/sync/locking/locking.go
  tools/bazeldefs/defs.bzl
  tools/bazeldefs/go.bzl
  tools/checkescape/checkescape.go
  tools/checkescape/test3/BUILD
  tools/checkescape/test3/main.go
  tools/checkescape/test3/tagged.go
  tools/checkescape/test3/untagged.go
  tools/defs.bzl
  tools/go_generics/go_merge/main.go
  tools/go_generics/tests/simple/BUILD
  tools/go_generics/tests/simple/input.go
  tools/go_generics/tests/simple/output.go
  tools/go_generics/tests/simple/second.go
  tools/nogo/check/BUILD
  tools/nogo/check/check.go
  tools/nogo/check/check_test.go
  tools/nogo/cli/BUILD
  tools/nogo/cli/cli.go
  tools/nogo/cli/cli_test.go
  tools/nogo/defs.bzl
  tools/nogo/facts/facts.go
  tools/nogo/sanity/sanity_test.sh
Labels: area: bazel, area: docs, area: tests, area: tooling

checklocks: enforce lock and atomic contracts
  nogo.yaml
  tools/checklocks/README.md
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/facts.go
  tools/checklocks/state.go
  tools/checklocks/test/BUILD
  tools/checklocks/test/atomicfields/BUILD
  tools/checklocks/test/atomicfields/atomicfields.go
  tools/checklocks/test/atomics.go
  tools/checklocks/test/closures.go
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/globals.go
  tools/checklocks/test/rwmutex.go
Labels: area: bazel, area: docs, area: tests, area: tooling

Reset Go build modes for the Nogo tool
  tools/bazeldefs/go.bzl
  tools/defs.bzl
  tools/nogo/BUILD
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

fix(shim): support non-CRI callers (BuildKit, ctr) in containerd shim
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/init_test.go
  pkg/shim/v1/runsc/BUILD
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
Labels: area: bazel, area: tests

Use the release tarball during Syzkaller smoke tests.
  Makefile
Labels: none

Syzkaller: Use gVisor release tarball.
  Makefile
  images/syzkaller/README.md
  images/syzkaller/default-gvisor-config.cfg
Labels: area: docs

Internal change.
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
  runsc/cgroup/cgroup_v2.go
Labels: area: bazel, area: tests

syscall: Return E2BIG for oversized exec args and open first
  pkg/sentry/syscalls/linux/sys_thread.go
  test/syscalls/linux/exec.cc
Labels: area: kernel, area: tests

Reset Go build modes for the Nogo tool
  tools/bazeldefs/go.bzl
  tools/defs.bzl
  tools/nogo/BUILD
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Internal change.
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_test.go
Labels: area: bazel, area: tests

Makefile: decouple benchmark upload from test exit status
  Makefile
Labels: none

Disable ARM64 PAC in systrap/ptrace stubs to fix restore SIGILL
  pkg/sentry/platform/pac/BUILD
  pkg/sentry/platform/pac/pac_arm64.go
  pkg/sentry/platform/pac/pac_arm64.s
  pkg/sentry/platform/pac/pac_other.go
  pkg/sentry/platform/ptrace/BUILD
  pkg/sentry/platform/ptrace/subprocess_linux.go
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/subprocess_linux.go
Labels: arch: arm, area: bazel, platform: ptrace

Remove save/restore page-size guards blocking non-4K hosts
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

systrap: keep waiting on a stuck context instead of killing it
  pkg/sentry/platform/systrap/shared_context.go
Labels: none
