Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add Points to some syscalls
  examples/seccheck/pod_init.json
  examples/seccheck/server.cc
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/BUILD
  pkg/sentry/seccheck/config.go
  pkg/sentry/seccheck/metadata.go
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/metadata_test.go
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/seccheck/syscall.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/linux64_amd64_test.go
  pkg/sentry/syscalls/linux/linux64_arm64_test.go
  pkg/sentry/syscalls/linux/linux64_test.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
  pkg/sentry/syscalls/syscalls.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: tests

Add Points to some syscalls
  examples/seccheck/pod_init.json
  examples/seccheck/server.cc
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/BUILD
  pkg/sentry/seccheck/config.go
  pkg/sentry/seccheck/metadata.go
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/metadata_test.go
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/seccheck/syscall.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/linux64_amd64_test.go
  pkg/sentry/syscalls/linux/linux64_arm64_test.go
  pkg/sentry/syscalls/linux/linux64_test.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
  pkg/sentry/syscalls/syscalls.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: tests

Remove unnecessary cleanupLocked
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Remove unnecessary cleanupLocked
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

hostinet: allow getsockopt(SO_RCVTIMEO) and getsockopt(SO_SNDTIMEO)
  pkg/sentry/socket/hostinet/socket.go
  runsc/boot/filter/config.go
Labels: area: hostinet, area: networking

hostinet: allow getsockopt(SO_RCVTIMEO) and getsockopt(SO_SNDTIMEO)
  pkg/sentry/socket/hostinet/socket.go
  runsc/boot/filter/config.go
Labels: area: hostinet, area: networking

Do not enable keepalive timer if it was cleaned up
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: networking, area: tests

Update comments about tmpfs size.
  pkg/sentry/fs/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: filesystem

Update comments about tmpfs size.
  pkg/sentry/fs/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: filesystem

Do not enable keepalive timer if it was cleaned up
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: networking, area: tests

Do not enable keepalive timer if it was cleaned up
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: networking, area: tests

Automated rollback of changelist 444723128
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_state.go
  pkg/tcpip/stack/packet_buffer_test.go
  pkg/tcpip/stack/packet_buffer_unsafe.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/segment_state.go
  pkg/tcpip/transport/tcp/segment_test.go
  pkg/tcpip/transport/tcp/segment_unsafe.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: bazel, area: networking, area: tests

Automated rollback of changelist 444723128
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_state.go
  pkg/tcpip/stack/packet_buffer_test.go
  pkg/tcpip/stack/packet_buffer_unsafe.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/segment_state.go
  pkg/tcpip/transport/tcp/segment_test.go
  pkg/tcpip/transport/tcp/segment_unsafe.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: bazel, area: networking, area: tests

Internal change.
  runsc/container/container.go
Labels: none

Internal change.
  runsc/container/container.go
Labels: none

Implement a simple prefix-Trie structure for storing arbitrary payloads
  pkg/trie/BUILD
  pkg/trie/trie.go
  pkg/trie/trie_test.go
Labels: area: bazel, area: tests

Implement a simple prefix-Trie structure for storing arbitrary payloads
  pkg/trie/BUILD
  pkg/trie/trie.go
  pkg/trie/trie_test.go
Labels: area: bazel, area: tests

Internal change.
  pkg/trie/BUILD
  pkg/trie/trie.go
  pkg/trie/trie_test.go
Labels: area: bazel, area: tests

Update netstack stacks to use new matrix builds.
  .buildkite/pipeline.yaml
Labels: none

Automated visibility attribute cleanup.
  debian/BUILD
Labels: area: bazel

Use different flags for IPV6_RECVERR and IP_RECVERR
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

Use different flags for IPV6_RECVERR and IP_RECVERR
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

gvisor pr changes for device mapping
  pkg/sentry/fsimpl/gofer/handle.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/devices/BUILD
  runsc/devices/device.go
  runsc/devices/device_unix.go
  runsc/devices/device_unix_go116_test.go
  runsc/devices/device_unix_go117_test.go
  runsc/devices/device_unix_test.go
  runsc/fsgofer/fsgofer.go
  runsc/securejoin/.travis.yml
  runsc/securejoin/BUILD
  runsc/securejoin/LICENSE
  runsc/securejoin/README.md
  runsc/securejoin/VERSION
  runsc/securejoin/join.go
  runsc/securejoin/join_test.go
  runsc/securejoin/vfs.go
  runsc/specutils/specutils.go
Labels: area: bazel, area: docs, area: filesystem, area: tests

Deflake TestCloseRead.
  pkg/tcpip/adapters/gonet/gonet_test.go
Labels: area: networking, area: tests

Deflake TestCloseRead.
  pkg/tcpip/adapters/gonet/gonet_test.go
Labels: area: networking, area: tests

Check file permissions before VFS2 overlayfs open.
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

Check file permissions before VFS2 overlayfs open.
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

Cleanup multicast routing table.
  pkg/tcpip/network/internal/multicast/example_test.go
  pkg/tcpip/network/internal/multicast/route_table.go
  pkg/tcpip/network/internal/multicast/route_table_test.go
Labels: area: networking, area: tests

Cleanup multicast routing table.
  pkg/tcpip/network/internal/multicast/example_test.go
  pkg/tcpip/network/internal/multicast/route_table.go
  pkg/tcpip/network/internal/multicast/route_table_test.go
Labels: area: networking, area: tests

Respect SO_SNDBUF for network datagram endpoints
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_test.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Respect SO_SNDBUF for network datagram endpoints
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_test.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Allow sandbox to start without any tasks.
  pkg/sentry/control/lifecycle.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Allow sandbox to start without any tasks.
  pkg/sentry/control/lifecycle.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Use syscall() for XattrWithOPath
  test/syscalls/linux/xattr.cc
Labels: area: tests

Use syscall() for XattrWithOPath
  test/syscalls/linux/xattr.cc
Labels: area: tests

Refactor TCP segments to hold a PacketBuffer as data.
  pkg/buffer/view.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_state.go
  pkg/tcpip/stack/packet_buffer_test.go
  pkg/tcpip/stack/packet_buffer_unsafe.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/segment_state.go
  pkg/tcpip/transport/tcp/segment_test.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_zero_receive_window_test.go
  test/syscalls/linux/xattr.cc
Labels: area: bazel, area: networking, area: tests

Don't clobber existing configuration.
  debian/postinst.sh
  runsc/cmd/install.go
Labels: none

Faster proto serialization
  examples/seccheck/server.cc
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/seccheck/checkers/remote/BUILD
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/seccheck.go
  pkg/sentry/syscalls/linux/points.go
Labels: area: bazel, area: kernel, area: tests

Faster proto serialization
  examples/seccheck/server.cc
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/seccheck/checkers/remote/BUILD
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/seccheck.go
  pkg/sentry/syscalls/linux/points.go
Labels: area: bazel, area: kernel, area: tests

Fire clone point for thread creation
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/seccheck/metadata.go
  pkg/sentry/seccheck/points/sentry.proto
  pkg/sentry/seccheck/seccheck_test.go
Labels: area: kernel, area: tests
