Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

nvproxy: add control commands used by NVIDIA DCGM
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Do not read past the end of a route destination
  pkg/sentry/socket/netlink/route/BUILD
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netlink/route/protocol_test.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: bazel, area: networking, area: tests

systrap: resend a pending interrupt when the context queue is empty
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_test.go
Labels: area: tests

systrap: hand long fast-path waits to the slow path
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_test.go
Labels: area: bazel, area: tests

systrap: log the stub thread's state when a context is stuck
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_test.go
Labels: area: tests

Keep devpts mount options off root and ptmx
  pkg/sentry/fsimpl/devpts/devpts.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

proc: return ESRCH for /proc/<pid>/stat of a reaped task
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Preserve cloned buffers when growing with zeros
  pkg/buffer/buffer.go
  pkg/buffer/buffer_test.go
Labels: area: tests

sentry/arch: align ARM64 PIE load address and mmap randomization with Linux.
  pkg/sentry/arch/arch_arm64.go
Labels: arch: arm, area: kernel

Upgrade rules_go and adapt Go build rules
  .bazelrc
  MODULE.bazel
  tools/bazeldefs/go.bzl
  tools/licensecheck/dependencies.yaml
  tools/nogo/check/build.go
  tools/rules_cgo.patch
  tools/rules_go_export.patch
  tools/rules_go_sdk.patch
Labels: area: bazel, area: tooling

Use distinct benchmark suite names for OCI and shim lifecycle tests.
  .buildkite/pipeline.yaml
Labels: none

Internal change.
  test/syscalls/linux/eventfd.cc
  test/syscalls/linux/exec_binary.cc
  test/syscalls/linux/iptables.cc
  test/syscalls/linux/kill.cc
  test/syscalls/linux/memory_accounting.cc
  test/syscalls/linux/pidfd_test.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/ptrace.cc
  test/syscalls/linux/raw_socket_icmp.cc
  test/syscalls/linux/readahead.cc
  test/syscalls/linux/rlimits.cc
  test/syscalls/linux/sendfile.cc
  test/syscalls/linux/shm.cc
  test/syscalls/linux/socket_generic_test_cases.cc
  test/syscalls/linux/socket_ip_unbound.cc
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_route.cc
  test/syscalls/linux/statfs.cc
  test/syscalls/linux/timerfd.cc
Labels: area: tests

Remove the Podman smoke container before cleanup
  test/podman/run.sh
Labels: area: tests

control: Allow reconfiguring the save/restore exec binary
  runsc/container/container_test.go
Labels: area: tests

Internal change.
  test/syscalls/linux/seccomp.cc
  test/syscalls/linux/socket_netlink_route.cc
  test/util/test_util.cc
Labels: area: tests

Internal change.
  pkg/sentry/kernel/signal.go
Labels: area: kernel

Eagerly copy the usertrap table on fork.
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
Labels: arch: x86_64, area: bazel, area: mm, area: tests

Restore x0 to the first syscall argument on arm64 SECCOMP_RET_TRAP.
  pkg/sentry/kernel/seccomp.go
  test/syscalls/linux/seccomp.cc
Labels: area: kernel, area: tests

Add GitHub Actions workflows to cut, cherry-pick and stage releases.
  .github/workflows/cherry_pick_release.yml
  .github/workflows/cut_release.yml
  .github/workflows/release_mirror.yml
  .github/workflows/stage_release.yml
  g3doc/user_guide/install.md
  tools/make_release.sh
Labels: area: docs, area: tooling

Internal change.
  pkg/tcpip/stack/conntrack_test.go
  pkg/tcpip/transport/tcpconntrack/tcp_conntrack.go
  pkg/tcpip/transport/tcpconntrack/tcp_conntrack_test.go
Labels: area: networking, area: tests

Seal the usertrap table against application modification.
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
Labels: arch: x86_64, area: bazel, area: mm, area: tests

runsc: execute sentry sidecars from inherited FDs
  runsc/cmd/sentry/sentrycmd/boot.go
  runsc/prewarmer/BUILD
  runsc/prewarmer/exec_fd_helper.c
  runsc/prewarmer/prewarmer.c
  runsc/prewarmer/prewarmer_speedup_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

fuse: Fix file size update on `fallocate(2)`
  pkg/sentry/fsimpl/fuse/regular_file.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/fallocate.cc
  test/syscalls/linux/fuse.cc
Labels: area: bazel, area: filesystem, area: tests

Internal change.
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_test.go
Labels: area: bazel, area: tests

lisafs, fsgofer: prevent uint16 length overflow on xattr values at XATTR_SIZE_MAX
  pkg/lisafs/client_file.go
  pkg/lisafs/message.go
  pkg/lisafs/message_test.go
  runsc/fsgofer/lisafs.go
Labels: area: tests

test/syscalls: add XattrLargeValue test and remove message_test.go
  pkg/lisafs/message_test.go
  test/syscalls/linux/xattr.cc
Labels: area: tests

test/syscalls, pkg/lisafs: address review comments on XattrLargeValue and SetXattr
  pkg/lisafs/client_file.go
  test/syscalls/linux/xattr.cc
Labels: area: tests

runsc/fsgofer, pkg/lisafs: simplify GetXattr and revert SizedString truncation
  pkg/lisafs/message.go
  runsc/fsgofer/lisafs.go
Labels: none

Check the family of a route lookup before its header length
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netlink/route/protocol_test.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

Answer a route request with no RTA_DST as one for the zero address
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netlink/route/protocol_test.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

tools/checklocks: make the inferred-annotation threshold configurable
  tools/checklocks/analysis.go
  tools/checklocks/checklocks.go
Labels: area: tooling

Document the page-size assumption in the mmap syscall tests.
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  pkg/abi/linux/mm_arm64.go
  pkg/pagesizecheck/BUILD
  pkg/pagesizecheck/pagesizecheck.go
  runsc/BUILD
  test/syscalls/linux/mmap.cc
Labels: arch: arm, area: bazel, area: tests

vfs, fsimpl, kernel: Enforce Landlock ABI v1 access rights
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/fsconfigfd/fsconfigfd.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/mqfs/registry.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/vfs/landlock.go
  pkg/sentry/vfs/landlock_test.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/resolving_path.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem, area: kernel, area: tests

syscalls: Implement the Landlock ABI v1 syscalls
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/strace/linux64_amd64.go
  pkg/sentry/strace/linux64_arm64.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_landlock.go
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel

fsimpl, vfs: Order errors around the Landlock hooks as Linux does
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/landlock.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/permissions.go
Labels: area: filesystem, area: kernel

benchmarks: assume runc as default runtime in startup benchmarks
  test/benchmarks/base/startup_test.go
Labels: area: tests

benchmarks: assume runc as default runtime in startup benchmarks
  test/benchmarks/base/startup_test.go
Labels: area: tests

Fix two issues in the Buildkite benchmark pipeline:
  .buildkite/pipeline.yaml
Labels: none

Add blog post announcing gVisor's donation to CNCF.
  website/assets/images/2026-10-02-gvisor-cncf/cover.jpeg
  website/blog/2026-10-02-gvisor-cncf.md
  website/blog/BUILD
Labels: area: bazel

test, vfs: Add Landlock ABI v1 syscall tests
  pkg/sentry/vfs/g3doc/landlock-testing.md
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/landlock_util.h
  test/syscalls/linux/landlock_v1.cc
  test/syscalls/linux/landlock_v1_selftests.cc
Labels: area: bazel, area: docs, area: filesystem, area: tests
