Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

systrap: queue_get_context has to detect cases when a ring buffer is recycled
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: none

Make debug tip more clear in the code
  pkg/seccomp/seccomp.go
Labels: none

Make debug tip more clear in the code
  pkg/seccomp/seccomp.go
Labels: none

Add more ioctl macros to abi/linux, and export existing ones.
  pkg/abi/linux/ioctl.go
  pkg/abi/linux/ioctl_tun.go
Labels: none

Add more ioctl macros to abi/linux, and export existing ones.
  pkg/abi/linux/ioctl.go
  pkg/abi/linux/ioctl_tun.go
Labels: none

Clean up context decoupling experiment.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_decoupling_disable.go
  pkg/sentry/platform/systrap/context_decoupling_enable.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/sysmsg_thread_unsafe.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Clean up context decoupling experiment.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_decoupling_disable.go
  pkg/sentry/platform/systrap/context_decoupling_enable.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/sysmsg_thread_unsafe.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Add VFS.GetDynamicCharDevMajor().
  pkg/sentry/vfs/device.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Add VFS.GetDynamicCharDevMajor().
  pkg/sentry/vfs/device.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Cleanup unused systrap code.
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
Labels: arch: arm, arch: x86_64

Cleanup unused systrap code.
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
Labels: arch: arm, arch: x86_64

Enable socket_inet_loopback test on hostinet.
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/socket.go
  pkg/waiter/waiter.go
  test/syscalls/BUILD
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: bazel, area: hostinet, area: networking, area: tests

Enable socket_inet_loopback test on hostinet.
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/socket.go
  pkg/waiter/waiter.go
  test/syscalls/BUILD
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: bazel, area: hostinet, area: networking, area: tests

Remove portforward test from internal pipeline.
  .buildkite/pipeline.yaml
Labels: none

Remove portforward test from internal pipeline.
  .buildkite/pipeline.yaml
Labels: none

Internal change.
  test/syscalls/linux/affinity.cc
Labels: area: tests

Internal change.
  test/syscalls/linux/affinity.cc
Labels: area: tests

Cross post rootfs overlay blog to gvisor.dev.
  website/_config.yml
  website/assets/images/2023-05-08-rootfs-overlay-before.svg
  website/assets/images/2023-05-08-rootfs-overlay-benchmark-result.svg
  website/assets/images/2023-05-08-rootfs-overlay-gofer-diagram.svg
  website/assets/images/2023-05-08-rootfs-overlay-memory.svg
  website/assets/images/2023-05-08-rootfs-overlay-self.svg
  website/blog/2023-05-08-rootfs-overlay.md
  website/blog/BUILD
Labels: area: bazel

Cross post rootfs overlay blog to gvisor.dev.
  website/_config.yml
  website/assets/images/2023-05-08-rootfs-overlay-before.svg
  website/assets/images/2023-05-08-rootfs-overlay-benchmark-result.svg
  website/assets/images/2023-05-08-rootfs-overlay-gofer-diagram.svg
  website/assets/images/2023-05-08-rootfs-overlay-memory.svg
  website/assets/images/2023-05-08-rootfs-overlay-self.svg
  website/blog/2023-05-08-rootfs-overlay.md
  website/blog/BUILD
Labels: area: bazel

Cross post rootfs overlay blog to gvisor.dev.
  website/_config.yml
  website/assets/images/2023-05-08-rootfs-overlay-before.svg
  website/assets/images/2023-05-08-rootfs-overlay-benchmark-result.svg
  website/assets/images/2023-05-08-rootfs-overlay-gofer-diagram.svg
  website/assets/images/2023-05-08-rootfs-overlay-memory.svg
  website/assets/images/2023-05-08-rootfs-overlay-self.svg
  website/blog/2023-05-08-rootfs-overlay.md
  website/blog/BUILD
Labels: area: bazel

systrap: update numActiveThreads from the Sentry
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/atomic.h
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

tcp_benchmark: make compatible with iperf3
  test/benchmarks/tcp/tcp_benchmark.sh
Labels: area: tests

tcp_benchmark: make compatible with iperf3
  test/benchmarks/tcp/tcp_benchmark.sh
Labels: area: tests

netstack: remove redundant check
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

netstack: remove redundant check
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

Don't hold streamQueueReceiver.mu while calling RightsControlMessage.Release().
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Don't hold streamQueueReceiver.mu while calling RightsControlMessage.Release().
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Enable Directfs and Systrap in `experimental-high-performance` config bundle.
  runsc/config/config_bundles.go
Labels: none

Enable Directfs and Systrap in `experimental-high-performance` config bundle.
  runsc/config/config_bundles.go
Labels: none

Add self-backed overlay for disk-backed EmptyDir volumes.
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
  runsc/boot/mount_hints.go
  runsc/boot/vfs.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Add self-backed overlay for disk-backed EmptyDir volumes.
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
  runsc/boot/mount_hints.go
  runsc/boot/vfs.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

save/restore: test epoll bug
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

save/restore: test epoll bug
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Internal change (diffbased).
  images/benchmarks/wrk2/Dockerfile
  images/benchmarks/wrk2/Dockerfile.x86_64
Labels: none

systrap: add wrappers for gcc atomic functions
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/atomic.h
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

systrap: add wrappers for gcc atomic functions
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/atomic.h
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

Unexport fields of config.Overlay2.
  runsc/cli/main.go
  runsc/cmd/do.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/container/shared_volume_test.go
Labels: area: tests

Unexport fields of config.Overlay2.
  runsc/cli/main.go
  runsc/cmd/do.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/container/shared_volume_test.go
Labels: area: tests

Make `wrk2` image ARM-compatible.
  images/benchmarks/wrk2/Dockerfile
  images/benchmarks/wrk2/Dockerfile.x86_64
Labels: none

Make `wrk2` image ARM-compatible.
  images/benchmarks/wrk2/Dockerfile
  images/benchmarks/wrk2/Dockerfile.x86_64
Labels: none
