Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Implement vfs.FilesystemType and kernfs.Filesystem for mqfs.
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/mqfs.go
Labels: area: bazel, area: filesystem

Test creation and deletion of POSIX message queues.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/mq.cc
  test/util/temp_path.cc
  test/util/temp_path.h
Labels: area: bazel, area: tests

Annotate checklocks on mutex protected fields
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
Labels: area: networking

Annotate checklocks on mutex protected fields
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
Labels: area: networking

Include packet socket syscall tests in root_test
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/packet_socket_dgram.cc
  test/syscalls/linux/packet_socket_raw.cc
  test/util/capability_util.h
Labels: area: bazel, area: networking, area: tests

Add access(F_OK) test cases
  test/syscalls/linux/access.cc
Labels: area: tests

Annotate checklocks on mutex protected fields
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_state.go
Labels: area: networking

Annotate checklocks on mutex protected fields
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_state.go
Labels: area: networking

runsc: add global profile collection flags
  pkg/sentry/control/pprof.go
  pkg/sentry/kernel/task_log.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/profile.go
  runsc/cmd/boot.go
  runsc/cmd/debug.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

runsc: add global profile collection flags
  pkg/sentry/control/pprof.go
  pkg/sentry/kernel/task_log.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/profile.go
  runsc/cmd/boot.go
  runsc/cmd/debug.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

Don't allow binding to broadcast on ICMP sockets
  pkg/tcpip/transport/icmp/endpoint.go
  test/syscalls/linux/ping_socket.cc
Labels: area: networking, area: tests

Don't allow binding to broadcast on ICMP sockets
  pkg/tcpip/transport/icmp/endpoint.go
  test/syscalls/linux/ping_socket.cc
Labels: area: networking, area: tests

Limit most file mmaps to the range of an int64.
  pkg/sentry/fs/file_overlay.go
  pkg/sentry/fs/fsutil/file.go
  pkg/sentry/fs/fsutil/host_file_mapper.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/syscalls/linux/mmap.cc
Labels: area: filesystem, area: mm, area: tests

Limit most file mmaps to the range of an int64.
  pkg/sentry/fs/file_overlay.go
  pkg/sentry/fs/fsutil/file.go
  pkg/sentry/fs/fsutil/host_file_mapper.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/syscalls/linux/mmap.cc
Labels: area: filesystem, area: mm, area: tests

Rename packet_socket to packet_socket_dgram
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket_dgram.cc
Labels: area: bazel, area: tests

Rename packet_socket to packet_socket_dgram
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket_dgram.cc
Labels: area: bazel, area: tests

Annotate checklocks on mutex protected fields
  pkg/tcpip/stack/transport_demuxer.go
Labels: area: networking

Annotate checklocks on mutex protected fields
  pkg/tcpip/stack/transport_demuxer.go
Labels: area: networking

Allow creating packet socket bound to any protocol
  pkg/tcpip/stack/nic.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket.cc
  test/util/capability_util.h
Labels: area: bazel, area: networking, area: tests

Allow creating packet socket bound to any protocol
  pkg/tcpip/stack/nic.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket.cc
  test/util/capability_util.h
Labels: area: bazel, area: networking, area: tests

Don't hold locks while delivering packets/errors
  pkg/tcpip/stack/transport_demuxer.go
Labels: area: networking

Create mq.Registry and mqfs.RegistryImpl.
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/mqfs.go
  pkg/sentry/fsimpl/mqfs/registry.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: filesystem, area: kernel

Create mq.Registry and mqfs.RegistryImpl.
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/mqfs.go
  pkg/sentry/fsimpl/mqfs/registry.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: filesystem, area: kernel

Move CtxIPCNamespace to kernel/ipc package.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/ns.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_context.go
Labels: area: bazel, area: kernel

Move CtxIPCNamespace to kernel/ipc package.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/ns.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_context.go
Labels: area: bazel, area: kernel

Fix lock ordering violation
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_state.go
Labels: area: networking

Fix lock ordering violation
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_state.go
Labels: area: networking

Allow rebinding packet socket protocol
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket.cc
Labels: area: bazel, area: networking, area: tests

Allow rebinding packet socket protocol
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket.cc
Labels: area: bazel, area: networking, area: tests

Avoid ambient clock on ICMP Rate Limiter
  pkg/tcpip/stack/icmp_rate_limit.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Avoid ambient clock on ICMP Rate Limiter
  pkg/tcpip/stack/icmp_rate_limit.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Deprecating apt-key
  g3doc/user_guide/install.md
Labels: area: docs

Deprecating apt-key
  g3doc/user_guide/install.md
Labels: area: docs

Support IPV6_RECVPKTINFO on UDP sockets
  pkg/abi/linux/socket.go
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/socket.go
  pkg/tcpip/checker/checker.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
Labels: area: networking, area: tests

Support IPV6_RECVPKTINFO on UDP sockets
  pkg/abi/linux/socket.go
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/socket.go
  pkg/tcpip/checker/checker.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
Labels: area: networking, area: tests

[lisa] lisafs package POC.
  pkg/lisafs/BUILD
  pkg/lisafs/README.md
  pkg/lisafs/channel.go
  pkg/lisafs/client.go
  pkg/lisafs/communicator.go
  pkg/lisafs/connection.go
  pkg/lisafs/connection_test.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/lisafs.go
  pkg/lisafs/message.go
  pkg/lisafs/sample_message.go
  pkg/lisafs/server.go
  pkg/lisafs/sock.go
  pkg/lisafs/sock_test.go
  pkg/p9/client.go
Labels: area: bazel, area: docs, area: tests

[lisa] lisafs package POC.
  pkg/lisafs/BUILD
  pkg/lisafs/README.md
  pkg/lisafs/channel.go
  pkg/lisafs/client.go
  pkg/lisafs/communicator.go
  pkg/lisafs/connection.go
  pkg/lisafs/connection_test.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/lisafs.go
  pkg/lisafs/message.go
  pkg/lisafs/sample_message.go
  pkg/lisafs/server.go
  pkg/lisafs/sock.go
  pkg/lisafs/sock_test.go
  pkg/p9/client.go
Labels: area: bazel, area: docs, area: tests

Do not allow unbinding network protocol
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  test/syscalls/linux/packet_socket.cc
Labels: area: networking, area: tests

Do not allow unbinding network protocol
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  test/syscalls/linux/packet_socket.cc
Labels: area: networking, area: tests

Internal change.
  pkg/sentry/time/sampler_arm64.go
Labels: arch: arm
