Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

test: fix lints after updated linter
  test/syscalls/linux/exec_proc_exe_workload.cc
  test/syscalls/linux/fcntl.cc
  test/syscalls/linux/ptrace.cc
  test/syscalls/linux/socket_bind_to_device_sequence.cc
  test/syscalls/linux/xattr.cc
  test/util/logging.h
Labels: area: tests

cgroup: skip empty Docker BlockIO when blkio controller is missing
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
Labels: area: tests

Add Python SDK documentation and API coverage test
  g3doc/user_guide/sdk/BUILD
  g3doc/user_guide/sdk/python.md
  g3doc/user_guide/sdk/python_docs_api_test.py
  g3doc/user_guide/sdk/python_quickstart.md
  sandboxexec/sandbox/python/BUILD
  website/BUILD
Labels: area: bazel, area: docs

Internal change.
  pkg/sentry/fsimpl/eventfd/eventfd.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/state/decode.go
  pkg/tcpip/nftables/nftinterp.go
  runsc/boot/network.go
Labels: area: filesystem, area: networking, area: kernel

Implement cgroup.freeze for cgroup v2.
  pkg/sentry/fsimpl/cgroup2fs/BUILD
  pkg/sentry/fsimpl/cgroup2fs/base_files.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup_freeze_credit_test.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/cgroup2.go
  pkg/sentry/kernel/pending_signals.go
  pkg/sentry/kernel/pending_signals_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/kernel/task_signals.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup2.cc
  test/syscalls/linux/kill.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Implement cgroup.freeze for cgroup v2.
  pkg/sentry/fsimpl/cgroup2fs/BUILD
  pkg/sentry/fsimpl/cgroup2fs/base_files.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup_freeze_credit_test.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/cgroup2.go
  pkg/sentry/kernel/pending_signals.go
  pkg/sentry/kernel/pending_signals_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/kernel/task_signals.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup2.cc
  test/syscalls/linux/kill.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Report STATX_ATTR_MOUNT_ROOT from statx
  Makefile
  images/arch-systemd/Dockerfile
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/erofs/filesystem.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/filesystem.go
  pkg/sentry/vfs/resolving_path.go
  test/e2e/systemd_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/stat.cc
  website/_data/application-compatibility.yml
Labels: area: bazel, area: filesystem, area: tests

netstack: don't derive connection IDs from truncated IPv4 headers
  pkg/tcpip/link/fdbased/BUILD
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/link/fdbased/processors.go
  pkg/tcpip/link/fdbased/processors_test.go
Labels: area: bazel, area: networking, area: tests

Report STATX_ATTR_MOUNT_ROOT from statx
  Makefile
  images/arch-systemd/Dockerfile
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/erofs/filesystem.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/filesystem.go
  pkg/sentry/vfs/resolving_path.go
  test/e2e/systemd_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/stat.cc
  website/_data/application-compatibility.yml
Labels: area: bazel, area: filesystem, area: tests

Don't save MmapPreciseFile.mappings across checkpoint/restore
  pkg/sentry/fsutil/mmap_precise_file.go
Labels: none

Use thread-safe random source for netstack after restore.
  pkg/tcpip/stack/save_restore.go
Labels: area: networking

Support save and restore after unpatching address spaces.
  pkg/sentry/arch/arch.go
  pkg/sentry/arch/arch_amd64.go
  pkg/sentry/arch/arch_arm64.go
  pkg/sentry/kernel/task_usermem.go
  pkg/sentry/mm/address_space.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/save_restore.go
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/kvm_test.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/slimvm/address_space.go
  pkg/sentry/platform/slimvm/slimvm.go
  pkg/sentry/platform/slimvm/slimvm_test.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg_thread_amd64.go
  pkg/sentry/platform/systrap/systrap.go
  pkg/sentry/platform/systrap/systrap_test.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
  pkg/sentry/platform/systrap/usertrap/usertrap_arm64.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_tls_amd64.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/arch_prctl.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: mm, area: tests, platform: kvm, platform: ptrace

Don't pin hard-link aliases of watched files out of the dentry cache.
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/g3doc/inotify.md
  pkg/sentry/vfs/inotify.go
  pkg/sentry/vfs/inotify_test.go
Labels: area: bazel, area: docs, area: filesystem, area: tests

Add Go example for gVisor SandboxExec demonstrating safe document processing.
  Makefile
  examples/sandboxexec/README.md
  examples/sandboxexec/go/BUILD
  examples/sandboxexec/go/README.md
  examples/sandboxexec/go/doc_processor.go
  examples/sandboxexec/go/doc_processor_test.go
Labels: area: bazel, area: docs, area: tests

seccheck: Document Open syscall trace point message and fields
  pkg/sentry/seccheck/points/syscall.proto
Labels: none

Deflake `TestSignalUnkillablePolicy*` tests in `container_test`.
  runsc/container/container_test.go
Labels: area: tests

nvproxy: Add support for NVIDIA driver version 615.71.09
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Cap host CPU deep idle states for GPU sandboxes on impacted CPUs.
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/cmd/sandboxsetup/BUILD
  runsc/cmd/sandboxsetup/cpu_dma_latency.go
  runsc/cmd/sandboxsetup/cpu_dma_latency_amd64.go
  runsc/cmd/sandboxsetup/cpu_dma_latency_arm64.go
  runsc/cmd/sentry/sentrycmd/boot.go
  tools/cstate_wake_probe/BUILD
  tools/cstate_wake_probe/cstate_wake_probe.c
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, area: tooling

boot: don't dereference a nil ThreadGroup when joining a PID namespace
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
Labels: area: tests

mm: keep ranges unmapped during cuda-checkpoint reserved until restore
  pkg/sentry/control/BUILD
  pkg/sentry/control/state_cuda.go
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/reserved.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
Labels: area: bazel, area: mm, area: tests

Cap host CPU deep idle states for GPU sandboxes on impacted CPUs.
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/cmd/sandboxsetup/BUILD
  runsc/cmd/sandboxsetup/cpu_dma_latency.go
  runsc/cmd/sandboxsetup/cpu_dma_latency_amd64.go
  runsc/cmd/sandboxsetup/cpu_dma_latency_arm64.go
  runsc/cmd/sentry/sentrycmd/boot.go
  tools/cstate_wake_probe/BUILD
  tools/cstate_wake_probe/cstate_wake_probe.c
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, area: tooling

Internal Change
  test/syscalls/linux/fork.cc
Labels: area: tests

website: add blog post announcing systemd support in gVisor
  images/systemd-user/gnome-mcp/AGENTS.md
  images/systemd-user/gnome-mcp/Dockerfile
  images/systemd-user/gnome-mcp/desktop_mcp.py
  images/systemd-user/gnome-mcp/entrypoint.sh
  images/systemd-user/gnome-mcp/openclaw.json
  images/systemd-user/systemd-debian-gnome/Dockerfile
  images/systemd-user/systemd-ubuntu/Dockerfile
  website/_config.yml
  website/_data/application-compatibility.yml
  website/assets/images/2026-09-15-systemd-in-gvisor/chrome-in-gvisor.png
  website/assets/images/2026-09-15-systemd-in-gvisor/gnome-in-gvisor.png
  website/assets/images/2026-09-15-systemd-in-gvisor/gnome-version-openclaw.png
  website/assets/images/2026-09-15-systemd-in-gvisor/libreoffice-calc-openclaw.png
  website/assets/images/2026-09-15-systemd-in-gvisor/vscode-in-gvisor.png
  website/blog/2026-04-15-magi-multi-agent-gvisor-isolation.md
  website/blog/2026-09-15-systemd-in-gvisor.md
  website/blog/BUILD
Labels: area: bazel

overlayfs: use caller credentials for upper xattr ops rather than filesystem's
  pkg/sentry/fsimpl/overlay/filesystem.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

mm: trim reservation tests and comments
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/reserved.go
Labels: area: mm, area: tests

lisafs, fsgofer: prevent uint16 length overflow on xattr values at XATTR_SIZE_MAX (fixes #14696)
  pkg/lisafs/client_file.go
  runsc/fsgofer/lisafs.go
  test/syscalls/linux/xattr.cc
Labels: area: tests

syscalls/linux: raise setsockopt maxOptLen to 1MB
  pkg/sentry/syscalls/linux/sys_socket.go
  test/syscalls/linux/socket_ip_unbound.cc
Labels: area: kernel, area: tests

proc, tcpip: add writable net.ipv4.conf.all.route_localnet
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/proc/tasks_sys_test.go
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: filesystem, area: hostinet, area: networking, area: tests

Fix asymmetric openWriteFDs refcounting in the accel TPU device.
  pkg/sentry/devices/tpuproxy/accel/accel.go
  pkg/sentry/devices/tpuproxy/accel/accel_fd.go
Labels: none

Stop copying versioned Python wheels into the "latest" release directories.
  tools/make_release.sh
Labels: area: tooling

test: strengthen noexec exec exit-status check
  test/root/runsc_test.go
Labels: area: tests

syscalls/linux: raise setsockopt maxOptLen to 1MB
  pkg/sentry/syscalls/linux/sys_socket.go
  test/syscalls/linux/socket_ip_unbound.cc
Labels: area: kernel, area: tests

seccheck: Move the control socket wire types out of the sentry.
  pkg/control/api/BUILD
  pkg/control/api/fs.go
  pkg/seccheck/scsdk/BUILD
  pkg/seccheck/scsdk/fs.go
  pkg/seccheck/scsdk/fs_test.go
  pkg/sentry/control/BUILD
  pkg/sentry/control/fs.go
Labels: area: bazel, area: tests

Report STATX_ATTR_MOUNT_ROOT from statx
  Makefile
  images/arch-systemd/Dockerfile
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/erofs/filesystem.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/filesystem.go
  pkg/sentry/vfs/resolving_path.go
  test/e2e/systemd_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/stat.cc
  website/_data/application-compatibility.yml
Labels: area: bazel, area: filesystem, area: tests

Internal change.
  pkg/sentry/fsimpl/eventfd/eventfd.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/state/decode.go
  pkg/tcpip/nftables/nftinterp.go
Labels: area: filesystem, area: networking, area: kernel

devpts: apply mode and gid to replicas, not the root directory
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/devpts/devpts_test.go
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: filesystem, area: tests

Ignore host SCM_CREDENTIALS when extracting SCM_RIGHTS FDs.
  pkg/sentry/socket/unix/transport/host.go
  pkg/unet/unet.go
  pkg/unet/unet_test.go
Labels: area: networking, area: tests

Synchronize shared key permissions
  pkg/sentry/kernel/auth/BUILD
  pkg/sentry/kernel/auth/key.go
  pkg/sentry/kernel/task_key.go
Labels: area: bazel, area: kernel

checklocks: annotate service and metric locking
  pkg/eventchannel/event.go
  pkg/linewriter/linewriter.go
  pkg/log/bug.go
  pkg/log/log.go
  pkg/metric/metric.go
  pkg/pool/pool.go
  pkg/prometheus/prometheus_verify.go
  pkg/rand/rand_linux.go
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/metrics.go
  pkg/sentry/kernel/syslog.go
  pkg/shim/v1/runsc/epoll.go
  pkg/shim/v1/runsc/oom_v2.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/service.go
  pkg/syncevent/broadcaster.go
  pkg/urpc/urpc.go
  runsc/boot/compat.go
Labels: area: kernel

Prevent lost updates in the plugin readiness cache
  pkg/sentry/socket/plugin/BUILD
  pkg/sentry/socket/plugin/plugin.go
  pkg/sentry/socket/plugin/stack/BUILD
  pkg/sentry/socket/plugin/stack/notifier.go
  pkg/sentry/socket/plugin/stack/socket.go
  pkg/sentry/socket/plugin/stack/socket_test.go
  pkg/sentry/socket/plugin/stack/stack.go
Labels: area: bazel, area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
