Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Don't require gcc-multilib to be installed to build BPF
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

benchmarks: add syscallbench benchmark for syscall performance
  images/benchmarks/syscallbench/Dockerfile
  images/benchmarks/syscallbench/syscallbench.c
  test/benchmarks/base/BUILD
  test/benchmarks/base/syscallbench_test.go
  test/benchmarks/tools/BUILD
  test/benchmarks/tools/syscallbench.go
Labels: area: bazel, area: tests

benchmarks: add hackbench benchmark for scheduler performance
  images/benchmarks/hackbench/Dockerfile
  test/benchmarks/base/BUILD
  test/benchmarks/base/hackbench_test.go
  test/benchmarks/tools/BUILD
  test/benchmarks/tools/hackbench.go
Labels: area: bazel, area: tests

benchmarks: add more blocksize arguments for fio benchmark
  test/benchmarks/fs/fio_test.go
Labels: area: tests

benchmarks: fix wrong file size for fio read
  test/benchmarks/fs/fio_test.go
Labels: area: tests

benchmarks: add more threads arguments for sysbench benchmark
  test/benchmarks/base/sysbench_test.go
Labels: area: tests

benchmarks: add length and parallel options for iperf benchmark
  test/benchmarks/network/iperf_test.go
  test/benchmarks/tools/iperf.go
Labels: area: tests

vdso: support more flags for clock_gettime() vdso interface
  vdso/vdso.cc
Labels: none

vdso: support more flags for clock_gettime() vdso interface
  vdso/vdso.cc
Labels: none

Replace bitset with stdlib math/big
  WORKSPACE
  go.mod
  go.sum
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup_v2.go
Labels: area: bazel, dependencies

Replace bitset with stdlib math/big
  WORKSPACE
  go.mod
  go.sum
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup_v2.go
Labels: area: bazel, dependencies

remove unnecessary dockerfile step
  images/default/Dockerfile
Labels: none

remove unnecessary dockerfile step
  images/default/Dockerfile
Labels: none

remove unnecessary dockerfile step
  images/default/Dockerfile
Labels: none

Truncate the output buffer to outLen size when getsockopt with TCP_INFO.
  pkg/sentry/socket/hostinet/socket.go
Labels: area: hostinet, area: networking

Adjust typos, grammar, and minor formatting
  pkg/sentry/seccheck/README.md
Labels: area: docs

Adjust typos, grammar, and minor formatting
  pkg/sentry/seccheck/README.md
Labels: area: docs

Replace bitset with stdlib math/big
  WORKSPACE
  go.mod
  go.sum
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup_v2.go
Labels: area: bazel, dependencies

Add Threat Detection blog
  website/blog/2022-08-31-threat-detection.md
  website/blog/BUILD
Labels: area: bazel

Add Threat Detection blog
  website/blog/2022-08-31-threat-detection.md
  website/blog/BUILD
Labels: area: bazel

Remove the old version of buffer.
  pkg/buffer/BUILD
  pkg/buffer/buffer.go
  pkg/buffer/buffer_test.go
  pkg/buffer/pool.go
  pkg/buffer/pool_test.go
  pkg/buffer/view.go
  pkg/buffer/view_test.go
  pkg/buffer/view_unsafe.go
Labels: area: bazel, area: tests

Remove the old version of buffer.
  pkg/buffer/BUILD
  pkg/buffer/buffer.go
  pkg/buffer/buffer_test.go
  pkg/buffer/pool.go
  pkg/buffer/pool_test.go
  pkg/buffer/view.go
  pkg/buffer/view_test.go
  pkg/buffer/view_unsafe.go
Labels: area: bazel, area: tests

Implement sentry control commands for cgroupfs.
  pkg/sentry/control/BUILD
  pkg/sentry/control/cgroups.go
  pkg/sentry/control/control.proto
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpu.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  pkg/sentry/fsimpl/cgroupfs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/job.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/cgroupfs/pids.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/kernel/cgroup.go
  runsc/boot/controller.go
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/read_control.go
  runsc/cmd/write_control.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: kernel

Implement sentry control commands for cgroupfs.
  pkg/sentry/control/BUILD
  pkg/sentry/control/cgroups.go
  pkg/sentry/control/control.proto
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/cpu.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  pkg/sentry/fsimpl/cgroupfs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/job.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/cgroupfs/pids.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/kernel/cgroup.go
  runsc/boot/controller.go
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/read_control.go
  runsc/cmd/write_control.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: kernel

Avoid busy work in TCP processor.
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Avoid busy work in TCP processor.
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Reduce spinning in LockUser
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Reduce spinning in LockUser
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

procfs: support /proc/[pid]/root file
  pkg/sentry/fs/proc/task.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

procfs: support /proc/[pid]/root file
  pkg/sentry/fs/proc/task.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

procfs: support /proc/[pid]/root file
  pkg/sentry/fs/proc/task.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Replace ESRCH error with panic in procfs Readlink methods.
  pkg/sentry/fsimpl/proc/task_files.go
Labels: area: filesystem

Replace ESRCH error with panic in procfs Readlink methods.
  pkg/sentry/fsimpl/proc/task_files.go
Labels: area: filesystem

Add support for block/mutex/trace profiles.
  test/benchmarks/tcp/tcp_benchmark.sh
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: tests

Add support for block/mutex/trace profiles.
  test/benchmarks/tcp/tcp_benchmark.sh
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: tests

Add transport.BoundSocketFD interface.
  pkg/lisafs/client_file.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: bazel, area: networking

Add transport.BoundSocketFD interface.
  pkg/lisafs/client_file.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: bazel, area: networking

fix panic caused by too-large buffer allocations
  pkg/tcpip/header/BUILD
  pkg/tcpip/header/datagram.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/ping_socket.cc
Labels: area: bazel, area: networking, area: tests

fix panic caused by too-large buffer allocations
  pkg/tcpip/header/BUILD
  pkg/tcpip/header/datagram.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/ping_socket.cc
Labels: area: bazel, area: networking, area: tests

fix panic caused by too-large buffer allocations
  pkg/tcpip/header/BUILD
  pkg/tcpip/header/datagram.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/ping_socket.cc
Labels: area: bazel, area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
