Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

systrap: handle syscall errors
  pkg/sentry/platform/systrap/syscall_thread.go
Labels: none

Implement pass through ioctl command VFIO_DEVICE_GET_IRQ_INFO.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

Implement pass through ioctl command VFIO_DEVICE_GET_IRQ_INFO.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

Implement the ioctl command VFIO_DEVICE_SET_IRQS.
  pkg/abi/linux/BUILD
  pkg/abi/linux/vfio.go
  pkg/abi/linux/vfio_unsafe.go
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: area: bazel

Implement the ioctl command VFIO_DEVICE_SET_IRQS.
  pkg/abi/linux/BUILD
  pkg/abi/linux/vfio.go
  pkg/abi/linux/vfio_unsafe.go
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: area: bazel

Fix and re-enable `imagegen_test.go` (1/2: Fix.)
  images/gpu/stable-diffusion-xl/generate_image.py
Labels: none

Fix and re-enable `imagegen_test.go` (1/2: Fix.)
  images/gpu/stable-diffusion-xl/generate_image.py
Labels: none

Implmenet ioctl command VFIO_DEVICE_RESET.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

Implmenet ioctl command VFIO_DEVICE_RESET.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

netstack: don't allocate interfaces when copying data in and out
  pkg/buffer/buffer.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/usermem/usermem.go
Labels: area: networking

netstack: don't allocate interfaces when copying data in and out
  pkg/buffer/buffer.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/usermem/usermem.go
Labels: area: networking

Pass NEWLINK netlink commands to network stacks
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/nlmsg/BUILD
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/sentry/socket/netlink/nlmsg/message_test.go
  pkg/sentry/socket/netlink/provider.go
  pkg/sentry/socket/netlink/route/BUILD
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netlink/uevent/BUILD
  pkg/sentry/socket/netlink/uevent/protocol.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/stack.go
Labels: area: bazel, area: hostinet, area: networking, area: tests

Add Modal logo to gvisor.dev users page.
  website/assets/logos/logo_modal.png
  website/users/index.html
Labels: none

Add Modal logo to gvisor.dev users page.
  website/assets/logos/logo_modal.png
  website/users/index.html
Labels: none

Move helpers to parse netlink message to the separate module
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/nlmsg/BUILD
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/sentry/socket/netlink/nlmsg/message_test.go
  pkg/sentry/socket/netlink/provider.go
  pkg/sentry/socket/netlink/route/BUILD
  pkg/sentry/socket/netlink/route/protocol.go
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netlink/uevent/BUILD
  pkg/sentry/socket/netlink/uevent/protocol.go
Labels: area: bazel, area: networking, area: tests

`Makefile`: `load-%`: Ignore images that do not exist on the current arch.
  tools/images.mk
Labels: area: tooling

`Makefile`: `load-%`: Ignore images that do not exist on the current arch.
  tools/images.mk
Labels: area: tooling

Restore errno around allocation in test matchers
  test/util/test_util.h
Labels: area: tests

Restore errno around allocation in test matchers
  test/util/test_util.h
Labels: area: tests

Fix and re-enable `imagegen_test.go`. (2/2: Re-enable.)
  test/gpu/imagegen_test.go
Labels: area: tests

Fix and re-enable `imagegen_test.go`. (2/2: Re-enable.)
  test/gpu/imagegen_test.go
Labels: area: tests

Option to set bazel's `--test_output` flag to another value than `errors`.
  tools/bazel.mk
Labels: area: tooling

Option to set bazel's `--test_output` flag to another value than `errors`.
  tools/bazel.mk
Labels: area: tooling

Implement VFIO-PCI TPU device's Pread and Pwrite to enable bus master at host.
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

Implement VFIO-PCI TPU device's Pread and Pwrite to enable bus master at host.
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
Labels: none

Increase the RLIMIT_MEMLOCK when TPUProxy is enabled.
  runsc/boot/limits.go
  runsc/boot/loader.go
Labels: none

Increase the RLIMIT_MEMLOCK when TPUProxy is enabled.
  runsc/boot/limits.go
  runsc/boot/loader.go
Labels: none

chore: remove repetitive words in comments
  g3doc/proposals/gsoc-2021-ideas.md
  pkg/bitmap/bitmap.go
  pkg/rand/rng.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/vfs/mount.go
  pkg/tcpip/header/ndp_neighbor_advert.go
  pkg/tcpip/header/ndp_neighbor_solicit.go
  pkg/tcpip/header/ndp_router_advert.go
  pkg/tcpip/header/ndp_router_solicit.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/test/testutil/testutil.go
  runsc/cmd/gofer.go
  runsc/specutils/specutils.go
  runsc/version_test.sh
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
  test/runner/fuse/fuse.go
Labels: area: docs, area: filesystem, area: networking, area: kernel, area: tests

chore: remove repetitive words in comments
  g3doc/proposals/gsoc-2021-ideas.md
  pkg/bitmap/bitmap.go
  pkg/rand/rng.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/vfs/mount.go
  pkg/tcpip/header/ndp_neighbor_advert.go
  pkg/tcpip/header/ndp_neighbor_solicit.go
  pkg/tcpip/header/ndp_router_advert.go
  pkg/tcpip/header/ndp_router_solicit.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/test/testutil/testutil.go
  runsc/cmd/gofer.go
  runsc/specutils/specutils.go
  runsc/version_test.sh
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
  test/runner/fuse/fuse.go
Labels: area: docs, area: filesystem, area: networking, area: kernel, area: tests

Override operator new and delete in tests
  BUILD
  test/syscalls/linux/BUILD
  test/util/BUILD
  test/util/errno_safe_allocator.cc
  test/util/test_util.h
Labels: area: bazel, area: tests

Override operator new and delete in tests
  BUILD
  test/syscalls/linux/BUILD
  test/util/BUILD
  test/util/errno_safe_allocator.cc
  test/util/test_util.h
Labels: area: bazel, area: tests

Implement pass through ioctl VFIO_IOMMU_UNMAP_DMA.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/device.go
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
  pkg/sentry/devices/tpuproxy/tpu_mmap.go
  pkg/sentry/devices/tpuproxy/vfio.go
Labels: area: bazel

Make vfio-pci devices mmappable backed by a host FD.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/tpu.go
  pkg/sentry/devices/tpuproxy/tpu_mmap.go
Labels: area: bazel

Make vfio-pci devices mmappable backed by a host FD.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/tpu.go
  pkg/sentry/devices/tpuproxy/tpu_mmap.go
Labels: area: bazel

Avoid panic opportunity for TCP keep-alive timers
  pkg/tcpip/transport/tcp/connect.go
Labels: area: networking

Avoid panic opportunity for TCP keep-alive timers
  pkg/tcpip/transport/tcp/connect.go
Labels: area: networking

Modify FUSE inodes so they're not always assumed to be valid.
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/inode.go
  test/syscalls/BUILD
  test/syscalls/linux/fuse.cc
Labels: area: bazel, area: filesystem, area: tests

Update tpuproxy package for a more consistent gVisor naming convention.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/device.go
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/tpu.go
  pkg/sentry/devices/tpuproxy/vfio.go
  pkg/sentry/devices/tpuproxy/vfio_mmap.go
Labels: area: bazel

chore: remove repetitive words in comments
  g3doc/proposals/gsoc-2021-ideas.md
  pkg/bitmap/bitmap.go
  pkg/rand/rng.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/vfs/mount.go
  pkg/tcpip/header/ndp_neighbor_advert.go
  pkg/tcpip/header/ndp_neighbor_solicit.go
  pkg/tcpip/header/ndp_router_advert.go
  pkg/tcpip/header/ndp_router_solicit.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/test/testutil/testutil.go
  runsc/cmd/gofer.go
  runsc/specutils/specutils.go
  runsc/version_test.sh
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
  test/runner/fuse/fuse.go
Labels: area: docs, area: filesystem, area: networking, area: kernel, area: tests

Add duration metrics to Stable Diffusion XL library.
  test/gpu/stablediffusion/stablediffusion.go
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
