Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add "Containing a Real Vulnerability" blog post
  images/jekyll/build.sh
  website/_config.yml
  website/assets/images/2020-09-18-containing-a-real-vulnerability-figure1.png
  website/blog/2019-11-18-security-basics.md
  website/blog/2020-09-18-containing-a-real-vulnerability.md
  website/blog/BUILD
Labels: area: bazel

Add "Containing a Real Vulnerability" blog post
  images/jekyll/build.sh
  website/_config.yml
  website/assets/images/2020-09-18-containing-a-real-vulnerability-figure1.png
  website/blog/2019-11-18-security-basics.md
  website/blog/2020-09-18-containing-a-real-vulnerability.md
  website/blog/BUILD
Labels: area: bazel

Enqueue TCP sends arriving in SYN_SENT state.
  pkg/tcpip/transport/tcp/endpoint.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_queue_send_in_syn_sent_test.go
Labels: area: bazel, area: networking, area: tests

Enqueue TCP sends arriving in SYN_SENT state.
  pkg/tcpip/transport/tcp/endpoint.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_queue_send_in_syn_sent_test.go
Labels: area: bazel, area: networking, area: tests

Count packets dropped by iptables in IPStats
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/tcpip.go
Labels: area: networking, area: tests

Count packets dropped by iptables in IPStats
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/tcpip.go
Labels: area: networking, area: tests

Reduce the number of steps to get started with gVisor
  g3doc/user_guide/FAQ.md
  g3doc/user_guide/install.md
  g3doc/user_guide/quick_start/docker.md
  website/index.md
Labels: area: docs

Reduce the number of steps to get started with gVisor
  g3doc/user_guide/FAQ.md
  g3doc/user_guide/install.md
  g3doc/user_guide/quick_start/docker.md
  website/index.md
Labels: area: docs

Remove SKIP_IF for now-supported features.
  test/syscalls/linux/ip6tables.cc
Labels: area: tests

Remove SKIP_IF for now-supported features.
  test/syscalls/linux/ip6tables.cc
Labels: area: tests

fuse: update design doc with I/O implementation
  pkg/sentry/fs/g3doc/fuse.md
Labels: area: docs, area: filesystem

fuse: update design doc with I/O implementation
  pkg/sentry/fs/g3doc/fuse.md
Labels: area: docs, area: filesystem

Use a tmpfs file for shared anonymous and /dev/zero mmap on VFS2.
  pkg/sentry/devices/memdev/BUILD
  pkg/sentry/devices/memdev/zero.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/special_mappable.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/syscalls/linux/sys_mmap.go
  pkg/sentry/syscalls/linux/vfs2/mmap.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: kernel, area: mm, area: tests

Use a tmpfs file for shared anonymous and /dev/zero mmap on VFS2.
  pkg/sentry/devices/memdev/BUILD
  pkg/sentry/devices/memdev/zero.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/special_mappable.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/syscalls/linux/sys_mmap.go
  pkg/sentry/syscalls/linux/vfs2/mmap.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: kernel, area: mm, area: tests

Add basic .devcontainer.json
  .devcontainer.json
Labels: none

Disable PHP test ext/standard/tests/streams/proc_open_bug60120.phpt.
  test/runtimes/exclude/php7.3.6.csv
Labels: area: tests

Disable PHP test ext/standard/tests/streams/proc_open_bug60120.phpt.
  test/runtimes/exclude/php7.3.6.csv
Labels: area: tests

Implement fsimpl/overlay.filesystem.RenameAt.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/directory.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  test/syscalls/linux/rename.cc
  test/syscalls/linux/stat.cc
Labels: area: filesystem, area: tests

Implement fsimpl/overlay.filesystem.RenameAt.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/directory.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  test/syscalls/linux/rename.cc
  test/syscalls/linux/stat.cc
Labels: area: filesystem, area: tests

Deflake stat_test with save/restore enabled.
  test/syscalls/linux/stat.cc
Labels: area: tests

Deflake stat_test with save/restore enabled.
  test/syscalls/linux/stat.cc
Labels: area: tests

implement KPTI for gvisor
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/ring0/defs_amd64.go
  pkg/sentry/platform/ring0/entry_amd64.go
  pkg/sentry/platform/ring0/entry_amd64.s
  pkg/sentry/platform/ring0/kernel.go
  pkg/sentry/platform/ring0/kernel_amd64.go
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_amd64.go
  pkg/sentry/platform/ring0/lib_amd64.s
  pkg/sentry/platform/ring0/offsets_amd64.go
  pkg/sentry/platform/ring0/x86.go
Labels: arch: arm, arch: x86_64, platform: kvm

Disable vdso_clock_gettime on KVM.
  test/syscalls/linux/vdso_clock_gettime.cc
Labels: area: tests

Disable vdso_clock_gettime on KVM.
  test/syscalls/linux/vdso_clock_gettime.cc
Labels: area: tests

Fix a couple of typos on performance.md
  g3doc/architecture_guide/performance.md
Labels: area: docs

Fix a couple of typos on performance.md
  g3doc/architecture_guide/performance.md
Labels: area: docs

Fix 2 typos in resources.md
  g3doc/architecture_guide/resources.md
Labels: area: docs

Fix 2 typos in resources.md
  g3doc/architecture_guide/resources.md
Labels: area: docs

Update performance.md
  g3doc/architecture_guide/performance.md
Labels: area: docs

Update performance.md
  g3doc/architecture_guide/performance.md
Labels: area: docs

Introduce ForwardingNetworkProtocol interface
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/dhcpv6configurationfromndpra_string.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/addressable_endpoint.go
  pkg/tcpip/stack/forwarder_test.go
  pkg/tcpip/stack/group_addressable_endpoint.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Fix flakes in UdpSocketTest
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/socket_test_util.h
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Fix flakes in UdpSocketTest
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/socket_test_util.h
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Port fuse tests to Makefile.
  Makefile
  scripts/fuse_tests.sh
Labels: none

Port fuse tests to Makefile.
  Makefile
  scripts/fuse_tests.sh
Labels: none

Add ftruncate test for writeable fd but no write permissions.
  test/syscalls/linux/truncate.cc
Labels: area: tests

Add ftruncate test for writeable fd but no write permissions.
  test/syscalls/linux/truncate.cc
Labels: area: tests

Fix proc_net_test_native for native tests.
  test/syscalls/linux/proc_net.cc
Labels: area: tests

Fix proc_net_test_native for native tests.
  test/syscalls/linux/proc_net.cc
Labels: area: tests

Measure IPv6 fragment offset in bytes but record them in 8-octet units
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv6_extension_headers.go
  pkg/tcpip/header/ipv6_extension_headers_test.go
  pkg/tcpip/header/ipv6_fragment.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: networking, area: tests
