Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

shrink DataTransferStressTest
  test/syscalls/linux/socket_generic_stress.cc
Labels: area: tests

Allow IPv6 only stack to use UDP endpoints
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Allow IPv6 only stack to use UDP endpoints
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

buildkite: move "Build everything" upper in the list
  .buildkite/pipeline.yaml
Labels: none

buildkite: move "Build everything" upper in the list
  .buildkite/pipeline.yaml
Labels: none

Add new buffer implementation.
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_state.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
Labels: area: bazel, area: tests

Add new buffer implementation.
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_state.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
Labels: area: bazel, area: tests

notify users of common reasons for failing to create a raw socket
  pkg/log/BUILD
  pkg/log/rate_limited.go
  pkg/sentry/socket/netstack/provider.go
  pkg/sentry/socket/netstack/provider_vfs2.go
  pkg/tcpip/stack/stack.go
Labels: area: bazel, area: networking

notify users of common reasons for failing to create a raw socket
  pkg/log/BUILD
  pkg/log/rate_limited.go
  pkg/sentry/socket/netstack/provider.go
  pkg/sentry/socket/netstack/provider_vfs2.go
  pkg/tcpip/stack/stack.go
Labels: area: bazel, area: networking

Handle cross-package global guards.
  tools/checklocks/analysis.go
  tools/checklocks/facts.go
  tools/checklocks/test/BUILD
  tools/checklocks/test/crosspkg/BUILD
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/globals.go
Labels: area: bazel, area: tests, area: tooling

Handle cross-package global guards.
  tools/checklocks/analysis.go
  tools/checklocks/facts.go
  tools/checklocks/test/BUILD
  tools/checklocks/test/crosspkg/BUILD
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/globals.go
Labels: area: bazel, area: tests, area: tooling

Enable multicast forwarding per protocol.
  pkg/tcpip/network/internal/multicast/route_table.go
  pkg/tcpip/network/internal/multicast/route_table_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/multicast_forward_test.go
Labels: area: networking, area: tests

Enable multicast forwarding per protocol.
  pkg/tcpip/network/internal/multicast/route_table.go
  pkg/tcpip/network/internal/multicast/route_table_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/multicast_forward_test.go
Labels: area: networking, area: tests

Deflake MsgqueueTest.MsgCtlIpcStat test.
  test/syscalls/linux/msgqueue.cc
Labels: area: tests

Deflake MsgqueueTest.MsgCtlIpcStat test.
  test/syscalls/linux/msgqueue.cc
Labels: area: tests

Small fixes to trace points
  pkg/sentry/kernel/seccheck.go
  pkg/sentry/syscalls/linux/points.go
Labels: area: kernel

Small fixes to trace points
  pkg/sentry/kernel/seccheck.go
  pkg/sentry/syscalls/linux/points.go
Labels: area: kernel

Suppress the known lock issue
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/procfs.go
Labels: area: mm

Suppress the known lock issue
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/procfs.go
Labels: area: mm

Enable all trace points for syscall tests
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/seccheck/checkers/null/BUILD
  pkg/sentry/seccheck/checkers/null/null.go
  pkg/sentry/seccheck/syscall.go
  runsc/boot/BUILD
  runsc/boot/seccheck.go
  test/runner/BUILD
  test/runner/defs.bzl
  test/runner/main.go
  test/trace/BUILD
  test/trace/config/BUILD
  test/trace/config/config.go
  test/trace/trace_test.go
Labels: area: bazel, area: kernel, area: tests

Enable all trace points for syscall tests
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/seccheck/checkers/null/BUILD
  pkg/sentry/seccheck/checkers/null/null.go
  pkg/sentry/seccheck/syscall.go
  runsc/boot/BUILD
  runsc/boot/seccheck.go
  test/runner/BUILD
  test/runner/defs.bzl
  test/runner/main.go
  test/trace/BUILD
  test/trace/config/BUILD
  test/trace/config/config.go
  test/trace/trace_test.go
Labels: area: bazel, area: kernel, area: tests

Restrict checkers.remote visibility
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
Labels: area: tests

Restrict checkers.remote visibility
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
Labels: area: tests

Cache children names in directory dentry on getdents64(2).
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/revalidate.go
Labels: area: filesystem

Cache children names in directory dentry on getdents64(2).
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/revalidate.go
Labels: area: filesystem

Make anonfs return ENOTDIR for open(O_DIRECTORY) calls.
  pkg/sentry/vfs/anonfs.go
  pkg/sentry/vfs/resolving_path.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: tests

Make anonfs return ENOTDIR for open(O_DIRECTORY) calls.
  pkg/sentry/vfs/anonfs.go
  pkg/sentry/vfs/resolving_path.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: tests

checklocks: make behavior configurable.
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/checklocks.go
Labels: area: tooling

checklocks: make behavior configurable.
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/checklocks.go
Labels: area: tooling

checklocks: make behavior configurable.
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/checklocks.go
Labels: area: tooling

Add more trace point integration tests
  test/trace/BUILD
  test/trace/trace_test.go
  test/trace/workload/BUILD
  test/trace/workload/workload.cc
Labels: area: bazel, area: tests

Add more trace point integration tests
  test/trace/BUILD
  test/trace/trace_test.go
  test/trace/workload/BUILD
  test/trace/workload/workload.cc
Labels: area: bazel, area: tests

`bazel.mk`: Set Docker hostnames for all containers.
  tools/bazel.mk
Labels: area: tooling

`bazel.mk`: Set Docker hostnames for all containers.
  tools/bazel.mk
Labels: area: tooling

Pass on systemd-related files to Docker containers if present.
  .buildkite/hooks/pre-command
  tools/bazel.mk
Labels: area: tooling

Pass on systemd-related files to Docker containers if present.
  .buildkite/hooks/pre-command
  tools/bazel.mk
Labels: area: tooling

Suppress the known lock issue
  pkg/sentry/mm/procfs.go
Labels: area: mm

Suppress the known lock issue
  pkg/sentry/mm/procfs.go
Labels: area: mm

Add a panic that prints information about the sender before calling splitSeg.
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

Add a panic that prints information about the sender before calling splitSeg.
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking
