Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add VFS2 overlay support in runsc
  runsc/boot/BUILD
  runsc/boot/vfs.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Disable nodejs12.4 test async-hooks/test-statwatcher.
  test/runtimes/exclude/nodejs12.4.0.csv
Labels: area: tests

Disable nodejs12.4 test async-hooks/test-statwatcher.
  test/runtimes/exclude/nodejs12.4.0.csv
Labels: area: tests

Deflake vdso_clock_gettime test.
  test/syscalls/linux/vdso_clock_gettime.cc
Labels: area: tests

Deflake vdso_clock_gettime test.
  test/syscalls/linux/vdso_clock_gettime.cc
Labels: area: tests

Remove option to panic gofer
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Remove option to panic gofer
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Merge release-20200907.0-123-gf0b1bd434 (automated)
  pkg/abi/linux/linux_abi_autogen_unsafe.go
  pkg/abi/linux/linux_amd64_abi_autogen_unsafe.go
  pkg/abi/linux/linux_arm64_abi_autogen_unsafe.go
  pkg/sentry/fsimpl/devpts/root_inode_refs.go
  pkg/sentry/fsimpl/fuse/inode_refs.go
  pkg/sentry/fsimpl/host/connected_endpoint_refs.go
  pkg/sentry/fsimpl/host/inode_refs.go
  pkg/sentry/fsimpl/kernfs/dentry_refs.go
  pkg/sentry/fsimpl/kernfs/static_directory_refs.go
  pkg/sentry/fsimpl/proc/fd_dir_inode_refs.go
  pkg/sentry/fsimpl/proc/fd_info_dir_inode_refs.go
  pkg/sentry/fsimpl/proc/subtasks_inode_refs.go
  pkg/sentry/fsimpl/proc/task_inode_refs.go
  pkg/sentry/fsimpl/proc/tasks_inode_refs.go
  pkg/sentry/fsimpl/sys/dir_refs.go
  pkg/sentry/fsimpl/tmpfs/inode_refs.go
  pkg/sentry/kernel/fd_table_refs.go
  pkg/sentry/kernel/fs_context_refs.go
  pkg/sentry/kernel/process_group_refs.go
  pkg/sentry/kernel/seqatomic_taskgoroutineschedinfo_unsafe.go
  pkg/sentry/kernel/session_refs.go
  pkg/sentry/kernel/shm/shm_refs.go
  pkg/sentry/mm/aio_mappable_refs.go
  pkg/sentry/mm/special_mappable_refs.go
  pkg/sentry/platform/ring0/defs_impl_amd64.go
  pkg/sentry/platform/ring0/defs_impl_arm64.go
  pkg/sentry/socket/unix/socket_refs.go
  pkg/sentry/socket/unix/transport/queue_refs.go
  pkg/sentry/time/seqatomic_parameters_unsafe.go
  pkg/sentry/vfs/file_description_refs.go
  pkg/sentry/vfs/filesystem_refs.go
  pkg/sentry/vfs/mount_namespace_refs.go
  pkg/tcpip/link/tun/tun_endpoint_refs.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/fsgofer/fsgofer.go
Labels: arch: arm, arch: x86_64, area: filesystem, area: networking, area: kernel, area: mm, platform: kvm

Merge release-20200907.0-123-gf0b1bd434 (automated)
  pkg/abi/linux/linux_abi_autogen_unsafe.go
  pkg/abi/linux/linux_amd64_abi_autogen_unsafe.go
  pkg/abi/linux/linux_arm64_abi_autogen_unsafe.go
  pkg/sentry/fsimpl/devpts/root_inode_refs.go
  pkg/sentry/fsimpl/fuse/inode_refs.go
  pkg/sentry/fsimpl/host/connected_endpoint_refs.go
  pkg/sentry/fsimpl/host/inode_refs.go
  pkg/sentry/fsimpl/kernfs/dentry_refs.go
  pkg/sentry/fsimpl/kernfs/static_directory_refs.go
  pkg/sentry/fsimpl/proc/fd_dir_inode_refs.go
  pkg/sentry/fsimpl/proc/fd_info_dir_inode_refs.go
  pkg/sentry/fsimpl/proc/subtasks_inode_refs.go
  pkg/sentry/fsimpl/proc/task_inode_refs.go
  pkg/sentry/fsimpl/proc/tasks_inode_refs.go
  pkg/sentry/fsimpl/sys/dir_refs.go
  pkg/sentry/fsimpl/tmpfs/inode_refs.go
  pkg/sentry/kernel/fd_table_refs.go
  pkg/sentry/kernel/fs_context_refs.go
  pkg/sentry/kernel/process_group_refs.go
  pkg/sentry/kernel/seqatomic_taskgoroutineschedinfo_unsafe.go
  pkg/sentry/kernel/session_refs.go
  pkg/sentry/kernel/shm/shm_refs.go
  pkg/sentry/mm/aio_mappable_refs.go
  pkg/sentry/mm/special_mappable_refs.go
  pkg/sentry/platform/ring0/defs_impl_amd64.go
  pkg/sentry/platform/ring0/defs_impl_arm64.go
  pkg/sentry/socket/unix/socket_refs.go
  pkg/sentry/socket/unix/transport/queue_refs.go
  pkg/sentry/time/seqatomic_parameters_unsafe.go
  pkg/sentry/vfs/file_description_refs.go
  pkg/sentry/vfs/filesystem_refs.go
  pkg/sentry/vfs/mount_namespace_refs.go
  pkg/tcpip/link/tun/tun_endpoint_refs.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/fsgofer/fsgofer.go
Labels: arch: arm, arch: x86_64, area: filesystem, area: networking, area: kernel, area: mm, platform: kvm

Provide testing container with docker config file.
  tools/bazel.mk
Labels: area: tooling

Provide testing container with docker config file.
  tools/bazel.mk
Labels: area: tooling

Fix kernfs unlinkat and rmdirat incorrect resolved path name
  pkg/sentry/fsimpl/kernfs/filesystem.go
  test/fuse/linux/rmdir_test.cc
  test/fuse/linux/unlink_test.cc
Labels: area: filesystem, area: tests

Fix kernfs unlinkat and rmdirat incorrect resolved path name
  pkg/sentry/fsimpl/kernfs/filesystem.go
  test/fuse/linux/rmdir_test.cc
  test/fuse/linux/unlink_test.cc
Labels: area: filesystem, area: tests

Return ENOPROTOOPT for all SOL_PACKET options.
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Return ENOPROTOOPT for all SOL_PACKET options.
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Complete vfs2 implementation of fallocate.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/overlay/non_directory.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/socket/hostinet/socket_vfs2.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/syscalls/linux/fallocate.cc
Labels: area: filesystem, area: hostinet, area: networking, area: kernel, area: tests

Complete vfs2 implementation of fallocate.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/overlay/non_directory.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/socket/hostinet/socket_vfs2.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/syscalls/linux/fallocate.cc
Labels: area: filesystem, area: hostinet, area: networking, area: kernel, area: tests

Set mode when creating Merkle tree file
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Set mode when creating Merkle tree file
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Change sizeofInt32 to string size
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Change sizeofInt32 to string size
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

[testing] Use container address to talk to server running inside container.
  pkg/test/testutil/testutil.go
  test/e2e/integration_test.go
  test/image/image_test.go
Labels: area: tests

[testing] Use container address to talk to server running inside container.
  pkg/test/testutil/testutil.go
  test/e2e/integration_test.go
  test/image/image_test.go
Labels: area: tests

Fix root tests target in Makefile.
  Makefile
Labels: none

Fix root tests target in Makefile.
  Makefile
Labels: none

{Set,Get} SO_LINGER on all endpoints.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/raw_socket_icmp.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_unix_stream.cc
Labels: area: networking, area: tests

{Set,Get} SO_LINGER on all endpoints.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/raw_socket_icmp.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_unix_stream.cc
Labels: area: networking, area: tests

ip6tables: filter table support
  Makefile
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/packet_buffer.go
  test/iptables/iptables_test.go
Labels: area: networking, area: tests

ip6tables: filter table support
  Makefile
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/packet_buffer.go
  test/iptables/iptables_test.go
Labels: area: networking, area: tests

Test IPv4 WritePackets stats
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Test IPv4 WritePackets stats
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

fuse.DeviceFD needs to hold a reference on the associated filesystem.
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem

fuse.DeviceFD needs to hold a reference on the associated filesystem.
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem

Use common parsing utilities when sniffing
  pkg/tcpip/header/parse/BUILD
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/link/sniffer/sniffer.go
  pkg/tcpip/network/arp/BUILD
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/protocol.go
Labels: area: bazel, area: networking

Use common parsing utilities when sniffing
  pkg/tcpip/header/parse/BUILD
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/link/sniffer/sniffer.go
  pkg/tcpip/network/arp/BUILD
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/protocol.go
Labels: area: bazel, area: networking

Do not run native syscall tests on Kokoro.
  Makefile
Labels: none

Drop ARCH_GET_FS
  runsc/boot/filter/config_amd64.go
  runsc/fsgofer/filter/config_amd64.go
Labels: arch: x86_64

Drop ARCH_GET_FS
  runsc/boot/filter/config_amd64.go
  runsc/fsgofer/filter/config_amd64.go
Labels: arch: x86_64

Fix definition of SchedParam.
  pkg/sentry/syscalls/linux/sys_sched.go
Labels: area: kernel

Fix definition of SchedParam.
  pkg/sentry/syscalls/linux/sys_sched.go
Labels: area: kernel
