Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

nvproxy: Add support for NV2080_CTRL_CMD_NVLINK_GET_UPDATE_NVLE_LIDS_V3
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Internal change.
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: tests

tcpip: update Endpoint.Write documentation
  pkg/tcpip/tcpip.go
Labels: area: networking

erofs: make dentry cache configurable via -dcache
  pkg/sentry/fsimpl/erofs/erofs.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: filesystem

Suspend GC during Sentry startup.
  pkg/garbage/BUILD
  pkg/garbage/garbage.go
  pkg/garbage/garbage_test.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/cmd/sentry/sentrycmd/BUILD
  runsc/cmd/sentry/sentrycmd/boot.go
Labels: area: bazel, area: tests

`runsc gofer`: Precompile seccomp filters.
  runsc/fsgofer/filter/BUILD
  runsc/fsgofer/filter/config/BUILD
  runsc/fsgofer/filter/config/config.go
  runsc/fsgofer/filter/config/config_amd64.go
  runsc/fsgofer/filter/config/config_arm64.go
  runsc/fsgofer/filter/config/config_cgo.go
  runsc/fsgofer/filter/config/config_main.go
  runsc/fsgofer/filter/config/config_precompiled.go
  runsc/fsgofer/filter/config/config_profile.go
  runsc/fsgofer/filter/config/config_test.go
  runsc/fsgofer/filter/config/extra_filters.go
  runsc/fsgofer/filter/config/extra_filters_msan.go
  runsc/fsgofer/filter/config/extra_filters_race.go
  runsc/fsgofer/filter/config/extra_filters_race_amd64.go
  runsc/fsgofer/filter/config/extra_filters_race_arm64.go
  runsc/fsgofer/filter/filter.go
  runsc/fsgofer/filter/filter_test.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

nvproxy: support NV_EVENT_BUFFER
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

nvproxy: support MAXWELL_PROFILER_CONTEXT allocation class
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Support selective path filesystem checkpointing and mixed restore in tmpfs.
  pkg/sentry/control/BUILD
  pkg/sentry/control/state.go
  pkg/sentry/fsimpl/tmpfs/fscheckpoint.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/save_restore.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/fsimpl/tmpfs/tar_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/pgalloc/context.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/state/state.go
  runsc/boot/BUILD
  runsc/boot/fscheckpoint.go
  runsc/boot/fscheckpoint_test.go
  runsc/boot/restore.go
  runsc/boot/vfs.go
  runsc/cmd/checkpoint.go
  runsc/cmd/restore.go
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

sentry/time: implement seqlock pattern for lock-free reads in CalibratedClock
  pkg/sentry/time/calibrated_clock.go
Labels: none

syscalls: fix ETXTBSY check in renameat to use OpenAt instead of FindFileDescription
  pkg/sentry/syscalls/linux/sys_file.go
Labels: area: kernel

checklocks: fix return position for func literals to prevent - in error messages
  tools/checklocks/analysis.go
  tools/checklocks/test/defer.go
Labels: area: tests, area: tooling

systrap: fail-stop sentry on stuck context
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_test.go
Labels: area: bazel, area: tests

Internal Change.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/kvm_test.go
Labels: area: tests, platform: kvm

Forbid the addition of new boolean flags.
  runsc/config/BUILD
  runsc/config/flags_test.go
Labels: area: bazel, area: tests

Add integration tests for combined checkpoint and restore.
  pkg/sentry/control/BUILD
  pkg/sentry/control/state.go
  pkg/sentry/fsimpl/tmpfs/fscheckpoint.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/save_restore.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/fsimpl/tmpfs/tar_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/pgalloc/context.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/state/state.go
  runsc/boot/BUILD
  runsc/boot/fscheckpoint.go
  runsc/boot/fscheckpoint_test.go
  runsc/boot/restore.go
  runsc/boot/vfs.go
  runsc/cmd/checkpoint.go
  runsc/cmd/restore.go
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/container/BUILD
  runsc/container/combined_restore_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/fds.go
  test/cmd/test_app/main.go
  test/cmd/test_app/mmap_helper.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Fix split filesystem checkpoint edge cases.
  pkg/sentry/fsimpl/tmpfs/fscheckpoint.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/state/state.go
  runsc/boot/fscheckpoint.go
  runsc/boot/restore.go
Labels: area: filesystem, area: kernel

Fix unit test failures reported in #10045
  Makefile
  pkg/coretag/coretag_test.go
  pkg/metric/metric.go
  pkg/metric/metric_test.go
Labels: area: tests

Add building the Python SandboxExec wheel to our build pipeline
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  Makefile
  images/default/Dockerfile
  tools/make_python_release.sh
  tools/make_release.sh
Labels: area: tooling

Add GKE Sandbox MicroVM runtime support to gke_tester and testcluster.
  test/kubernetes/test_range_config.proto
  test/kubernetes/testcluster/BUILD
  test/kubernetes/testcluster/objects.go
  test/kubernetes/testcluster/objects_test.go
  test/kubernetes/testcluster/testcluster.go
Labels: area: bazel, area: tests

Automated rollback of changelist 964380388
  pkg/sentry/control/state.go
  pkg/sentry/fsimpl/tmpfs/fscheckpoint.go
  pkg/sentry/fsimpl/tmpfs/save_restore.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/state/state.go
  pkg/sentry/vfs/save_restore.go
  runsc/boot/controller.go
  runsc/boot/fscheckpoint.go
  runsc/boot/restore.go
  runsc/cmd/checkpoint.go
  runsc/cmd/restore.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/metric_server_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Add `MAINTAINERS.md` file and auto-generation machinery.
  .agents/skills/update-gvisor-maintainers/SKILL.md
  .github/BUILD
  .github/reviewer.json
  BUILD
  MAINTAINERS.md
  governance/BUILD
  governance/maintainers.yaml
  governance/tools/maintainers/BUILD
  governance/tools/maintainers/maintainers_gen.go
  governance/tools/maintainers/maintainers_test.go
Labels: area: bazel, area: tests

Test-pipeline-only sidecar binary policy default behavior flip.
  pkg/test/testutil/testutil.go
  runsc/cli/cli.go
  runsc/cmd/alias/bwrap/BUILD
  runsc/cmd/install.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/prewarmer/prewarmer_speedup_test.go
  runsc/sandbox/sandbox.go
  sandboxexec/sandbox/BUILD
  sandboxexec/sandbox/python/BUILD
  sandboxexec/sandbox/python/tests/sandbox_test.py
  sandboxexec/sandbox/sandbox_test.go
  shim/shimutils/BUILD
  shim/shimutils/shimutils.go
  test/e2e/BUILD
  test/e2e/runtime_in_docker_test.go
  test/fuse_host/BUILD
  test/fuse_host/fuse_host_test.go
  test/gpu/BUILD
  test/packetimpact/dut/runsc/BUILD
  test/packetimpact/dut/runsc/main.go
  test/tpu/BUILD
  test/trace/BUILD
  test/trace/trace_test.go
Labels: area: bazel, area: tests

Automatically close and lock PRs from specific GitHub authors.
  .github/workflows/close_banned_prs.yml
Labels: none

`runsc`: Add flag to control policy of sidecar binaries.
  runsc/cli/cli.go
  runsc/cmd/install.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/sandbox/sandbox.go
Labels: area: tests

buildkite: specify a queue explicitly for every pipeline stage (part 1)
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
Labels: none

Replace boolean networking flag with NetworkMode enum in SandboxExec bindings.
  sandboxexec/sandbox/oci.go
  sandboxexec/sandbox/oci_test.go
  sandboxexec/sandbox/python/gvisor/__init__.py
  sandboxexec/sandbox/python/gvisor/sandbox.py
  sandboxexec/sandbox/python/tests/sandbox_test.py
  sandboxexec/sandbox/sandbox.go
  sandboxexec/sandbox/sandbox_test.go
Labels: area: tests

Add Python SandboxExec example.
  examples/sandboxexec/README.md
  examples/sandboxexec/python/README.md
  examples/sandboxexec/python/safe_runner.py
Labels: area: docs

nvproxy: support NV01_MEMORY_DEVICELESS and GR SM_ISSUE_RATE_MODIFIER_V2
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

nvproxy: complete Blackwell allocation class coverage
  g3doc/user_guide/gpu.md
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/README.md
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvconf/hostsettings.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_blackwell_test.go
  pkg/sentry/devices/nvproxy/procfs.go
  pkg/sentry/devices/nvproxy/version.go
  runsc/boot/vfs.go
  runsc/cmd/sentry/sentrycmd/boot.go
Labels: area: bazel, area: docs, area: tests

runsc: don't fail mount setup on socket mount points
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: tests

images/gpu: update test images for Blackwell (sm_100/sm_120)
  images/gpu/nccl-tests/Dockerfile
  images/gpu/pytorch/Dockerfile.x86_64
  images/gpu/vllm/Dockerfile.x86_64
Labels: none

Share dynamic char dev major for /proc/gvisor/{checkpoint,fscheckpoint}
  pkg/sentry/fsimpl/proc/checkpoint.go
  pkg/sentry/fsimpl/proc/filesystem.go
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/device.go
  pkg/sentry/vfs/device_test.go
  pkg/sentry/vfs/save_restore.go
  pkg/sentry/vfs/vfs.go
Labels: area: bazel, area: filesystem, area: tests

tmpfs: stream file contents when writing a tar archive
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/fsimpl/tmpfs/tar_test.go
Labels: area: filesystem, area: tests

Fix use-after-free in socket pluginStackRW single-block CGO calls
  pkg/sentry/socket/plugin/stack/readwriter.go
Labels: area: networking

Add alexcueva/kerumeto as a gVisor reviewer.
  .github/reviewer.json
Labels: none

Internal change
  .buildkite/hooks/pre-command
  images/agent/Dockerfile
  images/agent/README.md
Labels: area: docs

Fix socket_generic_test for ipv6.
  test/syscalls/linux/socket_generic_test_cases.cc
Labels: area: tests

Replace the experimental --mount-cgroup-v2 flag with in-sandbox-cgroup
  Makefile
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/config/flags_graveyard.go
  runsc/container/multi_container_test.go
  test/e2e/integration_runtime_test.go
  test/runner/defs.bzl
  test/runner/main.go
  test/syscalls/BUILD
  website/_data/application-compatibility.yml
Labels: area: bazel, area: tests

nvproxy: expose CLOCK_MONOTONIC_RAW as a distinct clock for capProfiling
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/timekeeper.go
  pkg/sentry/kernel/timekeeper_test.go
  pkg/sentry/kernel/vdso.go
  pkg/sentry/syscalls/linux/sys_time.go
  pkg/sentry/syscalls/linux/sys_timer.go
  pkg/sentry/time/calibrated_clock.go
  pkg/sentry/time/clock_id.go
  pkg/sentry/time/clocks.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  vdso/vdso.cc
  vdso/vdso_time.cc
  vdso/vdso_time.h
Labels: area: filesystem, area: kernel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
