Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

arm64: disable PAC on systrap
  pkg/abi/linux/elf.go
  pkg/cpuid/cpuid_arm64.go
  pkg/sentry/platform/systrap/filters_arm64.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/systrap_amd64.go
  pkg/sentry/platform/systrap/systrap_arm64.go
  pkg/sentry/platform/systrap/systrap_arm64_unsafe.go
  test/runner/main.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/pointer_auth.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

updated gvisor binary installation instructions
  examples/sandboxexec/python/README.md
  sandboxexec/sandbox/python/README.md
Labels: area: docs

overlay: support relative pathnames in mount options
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/overlay_test.go
  pkg/sentry/kernel/task_context.go
  pkg/sentry/vfs/context.go
  test/syscalls/linux/mount.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

buildkite coordinator: add github/buildkite agent API clients
  MODULE.bazel
  go.mod
  go.sum
  tools/buildkite_coordinator/BUILD
  tools/buildkite_coordinator/buildkite/BUILD
  tools/buildkite_coordinator/buildkite/client.go
  tools/buildkite_coordinator/buildkite/stacks.go
  tools/buildkite_coordinator/config.go
  tools/buildkite_coordinator/github.go
  tools/buildkite_coordinator/main.go
Labels: area: bazel, area: tooling, dependencies

shim: report OOM-killed containers as 137 under the systemd cgroup driver
  pkg/shim/v1/runsc/epoll.go
  pkg/shim/v1/runsc/oom_v2.go
  pkg/shim/v1/runsc/oom_v2_test.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
Labels: area: tests

checklocks: guard AIO and logger state
  pkg/log/bug_test.go
  pkg/log/log.go
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/aio_context_state.go
Labels: area: mm, area: tests

Avoid pinning copied mount trees during sandbox startup.
  runsc/prewarmer/prewarmer.c
  runsc/prewarmer/prewarmer_speedup_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

netstack: fix bubblewrap: add if up/down, add lo address on if up, remove ipv6 on if down
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  runsc/boot/loader.go
  test/rtnetlink/BUILD
  test/rtnetlink/linux/BUILD
  test/rtnetlink/linux/updown_test.sh
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
  test/syscalls/linux/proc_net.cc
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: tests

Fix privilege checks in cgroup2, proc and setns tests.
  test/syscalls/linux/cgroup2.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/setns.cc
Labels: area: tests

Allocate process_vm test buffers per case
  test/syscalls/linux/process_vm_read_write.cc
Labels: area: tests

Use the configured parent in cgroup v2 tests
  pkg/test/dockerutil/dockerutil.go
  test/root/cgroup_test.go
Labels: area: tests

Honor PACKET_COPY_THRESH for mmap packets
  pkg/abi/linux/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/packetmmap/endpoint.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/packet_mmap.cc
Labels: area: networking, area: tests

Set explicit priorities in ioprio tests
  test/syscalls/linux/priority.cc
Labels: area: tests

Checkpoint openat2 races after workers finish
  test/syscalls/linux/openat2.cc
Labels: area: tests

Keep IPv6 subnet setup valid through its assertion
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ipv6_udp_unbound_netlink.cc
Labels: area: bazel, area: tests

Use native ping bind errors with host networking
  test/syscalls/linux/ping_socket.cc
Labels: area: tests

Declare the ping runner's descriptor budget
  test/runner/main.go
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Enable atime for host-backed timestamp tests
  test/runner/defs.bzl
  test/runner/setup_container/setup_container.cc
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Check ping size before reading hostnet buffers
  pkg/sentry/socket/hostinet/socket.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ping_socket.cc
Labels: area: bazel, area: hostinet, area: networking, area: tests

Support passed descriptors in create and restore
  runsc/cmd/BUILD
  runsc/cmd/create.go
  runsc/cmd/passfd_test.go
  runsc/cmd/restore.go
  runsc/cmd/run.go
  runsc/container/container.go
Labels: area: bazel, area: tests

Clean up cgroups after failed container creation
  runsc/container/container.go
  test/root/runsc_test.go
Labels: area: tests

Wait for checkpointed containers to resume logging
  test/e2e/integration_test.go
Labels: area: tests

Fix iptables replacement counter counts
  test/syscalls/linux/iptables.cc
Labels: area: tests

Lower loopback before testing rename events
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: tests

Match Linux message-queue unlink permissions
  pkg/sentry/fsimpl/mqfs/registry.go
  pkg/sentry/fsimpl/mqfs/root.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/mq.cc
Labels: area: bazel, area: filesystem, area: tests

Allow netfilter options on non-raw sockets
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/ip6tables.cc
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

Copy netlink memberships in complete words
  pkg/sentry/socket/netlink/socket.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

Keep cgroup unit tests independent of the host
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup_test.go
  runsc/cgroup/systemd_test.go
Labels: area: bazel, area: tests

Retry each exhausted stress-test connection
  test/syscalls/linux/socket_generic_stress.cc
Labels: area: tests

Keep metric field lookup nosplit
  pkg/metric/metric.go
  pkg/metric/metric_test.go
  pkg/metric/metric_unsafe.go
Labels: area: tests

Fail network tests at namespace setup errors
  runsc/sandbox/network_test.go
Labels: area: tests

Return ENOENT for missing original destinations
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

Bound TUN and TAP interface MTUs
  pkg/tcpip/link/tun/device.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  test/syscalls/linux/tuntap.cc
Labels: area: networking, area: tests

Honor committed memory allocation requests
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
Labels: area: bazel, area: tests

Bound IPv6 parsing by the declared payload
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Exercise payloads in buffer benchmarks
  pkg/buffer/buffer_test.go
Labels: area: tests

Report valid FUSE attributes
  pkg/sentry/fsimpl/fuse/inode.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/fuse.cc
Labels: area: bazel, area: filesystem, area: tests

Finish queued packet cleanup before stack teardown
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/stack.go
  pkg/sentry/socket/netstack/stack_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/stack_test.go
Labels: area: bazel, area: networking, area: tests

Expect short IPV6_CHECKSUM options to fail
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Honor the boolean save-mode environment flag
  test/util/save_util.cc
  test/util/save_util.h
Labels: area: tests
