Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Use UMASK syscall instead of AFS_SYSCALL in seccomp test.
  pkg/seccomp/seccomp_test_victim.go
Labels: none

Use UMASK syscall instead of AFS_SYSCALL in seccomp test.
  pkg/seccomp/seccomp_test_victim.go
Labels: none

Add BuildKite pipeline filegroup. Make platforms_bzl more widely visible.
  BUILD
  tools/bazeldefs/BUILD
Labels: area: bazel, area: tooling

Add BuildKite pipeline filegroup. Make platforms_bzl more widely visible.
  BUILD
  tools/bazeldefs/BUILD
Labels: area: bazel, area: tooling

Allow pod init config to be used with `runsc trace create`
  runsc/boot/seccheck.go
  runsc/cmd/trace/BUILD
  runsc/cmd/trace/create.go
  runsc/cmd/trace/create_test.go
Labels: area: bazel, area: tests

Allow pod init config to be used with `runsc trace create`
  runsc/boot/seccheck.go
  runsc/cmd/trace/BUILD
  runsc/cmd/trace/create.go
  runsc/cmd/trace/create_test.go
Labels: area: bazel, area: tests

Typo fix: unknow -> unknown
  pkg/sync/locking/lockdep.go
Labels: none

Typo fix: unknow -> unknown
  pkg/sync/locking/lockdep.go
Labels: none

Automated rollback of changelist 445452190
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

Automated rollback of changelist 445452190
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

Preserve nestedness of unlocks in connectioned endpoint.
  pkg/sentry/socket/unix/transport/connectioned.go
Labels: area: networking

`integration_test`: Ensure Docker has experimental features enabled.
  pkg/test/dockerutil/dockerutil.go
  test/e2e/integration_test.go
Labels: area: tests

`integration_test`: Ensure Docker has experimental features enabled.
  pkg/test/dockerutil/dockerutil.go
  test/e2e/integration_test.go
Labels: area: tests

Test runner: Containerize host-networking syscall tests by default.
  test/runner/defs.bzl
  test/runner/main.go
  test/runner/setup_container/setup_container.cc
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Test runner: Containerize host-networking syscall tests by default.
  test/runner/defs.bzl
  test/runner/main.go
  test/runner/setup_container/setup_container.cc
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Add `VSYSCALL` capability to platforms definitions.
  test/util/platform_util.cc
  test/util/platform_util.h
  tools/bazeldefs/platforms.bzl
Labels: area: bazel, area: tests, area: tooling

Add `VSYSCALL` capability to platforms definitions.
  test/util/platform_util.cc
  test/util/platform_util.h
  tools/bazeldefs/platforms.bzl
Labels: area: bazel, area: tests, area: tooling

Disable `RetKillVsyscallCausesDeathBySIGSYS` if `VSYSCALL` isn't supported.
  test/syscalls/linux/BUILD
  test/syscalls/linux/seccomp.cc
Labels: area: bazel, area: tests

Disable `RetKillVsyscallCausesDeathBySIGSYS` if `VSYSCALL` isn't supported.
  test/syscalls/linux/BUILD
  test/syscalls/linux/seccomp.cc
Labels: area: bazel, area: tests

Add `PRE_BAZEL_INIT` variable to run a command before Bazel server starts.
  tools/bazel.mk
Labels: area: tooling

Add `PRE_BAZEL_INIT` variable to run a command before Bazel server starts.
  tools/bazel.mk
Labels: area: tooling

BuildKite `pre-command`: Improve log signal-to-noise ratio.
  .buildkite/hooks/pre-command
Labels: none

BuildKite `pre-command`: Improve log signal-to-noise ratio.
  .buildkite/hooks/pre-command
Labels: none

lockdep: print more info for the unbalance unlock case
  pkg/sync/locking/lockdep.go
  pkg/sync/locking/lockdep_test.go
Labels: area: tests

lockdep: print more info for the unbalance unlock case
  pkg/sync/locking/lockdep.go
  pkg/sync/locking/lockdep_test.go
Labels: area: tests

fdbased: WritePackets only returns 0 for tun/tap devices
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

fdbased: WritePackets only returns 0 for tun/tap devices
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

Add tool to save remote trace sessions
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/checkers/remote/server/BUILD
  pkg/sentry/seccheck/checkers/remote/server/server.go
  pkg/sentry/seccheck/checkers/remote/test/server.go
  runsc/container/trace_test.go
  test/trace/trace_test.go
  tools/tracereplay/BUILD
  tools/tracereplay/README.md
  tools/tracereplay/main/BUILD
  tools/tracereplay/main/main.go
  tools/tracereplay/replay.go
  tools/tracereplay/save.go
  tools/tracereplay/testdata/client-0001
  tools/tracereplay/tracereplay.go
  tools/tracereplay/tracereplay_test.go
Labels: area: bazel, area: docs, area: tests, area: tooling

Add tool to save remote trace sessions
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/checkers/remote/server/BUILD
  pkg/sentry/seccheck/checkers/remote/server/server.go
  pkg/sentry/seccheck/checkers/remote/test/server.go
  runsc/container/trace_test.go
  test/trace/trace_test.go
  tools/tracereplay/BUILD
  tools/tracereplay/README.md
  tools/tracereplay/main/BUILD
  tools/tracereplay/main/main.go
  tools/tracereplay/replay.go
  tools/tracereplay/save.go
  tools/tracereplay/testdata/client-0001
  tools/tracereplay/tracereplay.go
  tools/tracereplay/tracereplay_test.go
Labels: area: bazel, area: docs, area: tests, area: tooling

[bugs] Don't hold root taskset mutex when starting kernel tasks.
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

[bugs] Don't hold root taskset mutex when starting kernel tasks.
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Run two containers
  pkg/sentry/control/lifecycle.go
Labels: none

Run two containers
  pkg/sentry/control/lifecycle.go
Labels: none

Don't leak network namespaces
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/namespace.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/stack.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: kernel

Don't leak network namespaces
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/namespace.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/stack.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: kernel

Don't hold MM.activeMu when calling MM.vmaMapsEntryLocked().
  pkg/sentry/mm/debug.go
Labels: area: mm

Don't hold MM.activeMu when calling MM.vmaMapsEntryLocked().
  pkg/sentry/mm/debug.go
Labels: area: mm

Support specifying local IPv6 adddress/interface
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/internal/network/endpoint.go
Labels: area: bazel, area: networking, area: tests

Support specifying local IPv6 adddress/interface
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/internal/network/endpoint.go
Labels: area: bazel, area: networking, area: tests

shrink DataTransferStressTest
  test/syscalls/linux/socket_generic_stress.cc
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
