Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

nvproxy: support DMA-BUF export for GPU memory
  pkg/abi/nvgpu/frontend.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
  pkg/sentry/vfs/file_description.go
Labels: area: filesystem

Fix random order of flag override leads to sporadic failures when applying dependant flags (e.g. qdisc=tbf related configuration)
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/specutils/specutils.go
Labels: area: tests

Add /add-syscall skill for automating syscall implementation
  .claude/skills/add-syscall/SKILL.md
Labels: none

gofer: restore deleted files before reopening handles for specialFileFDs.
  pkg/sentry/fsimpl/gofer/save_restore.go
Labels: area: filesystem

Fix setdomainname(2)
  pkg/sentry/syscalls/linux/sys_utsname.go
  test/syscalls/linux/uname.cc
Labels: area: kernel, area: tests

netstack: return EADDRNOTAVAIL for SIOCGIFADDR/SIOCGIFNETMASK without IPv4
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netdevice.cc
Labels: area: bazel, area: networking, area: tests

Implement /proc/sys/kernel/domainname
  pkg/sentry/fsimpl/proc/tasks_sys.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Nftables: Moved expr parsing from protocol.go.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/nftables.go
Labels: area: networking

New mount API: implement fsopen(2), fsconfig(2), fsmount(2), move_mount(2).
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/fsconfigfd/BUILD
  pkg/sentry/fsimpl/fsconfigfd/fsconfigfd.go
  pkg/sentry/fsimpl/mountfd/BUILD
  pkg/sentry/fsimpl/mountfd/mountfd.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/mount_fd.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Register a uverbs device with the deserialized ABI version.
  pkg/sentry/devices/rdmaproxy/rdmaproxy.go
  runsc/boot/vfs.go
Labels: none

Skip sentry-only driver capabilities when building nvidia-container-cli flags
  pkg/sentry/devices/nvproxy/nvconf/caps.go
Labels: none

Add UVERBS_METHOD_REG_DMABUF_MR support for dma-buf registration. Translate sandbox dma-buf FDs to host FDs. Track DMABUF MRs.
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
Labels: none

Add attribute IDs for pointers in REG_DMABUF_MR syscall to swap application address with sentry address for lkey and rkey out pointers.
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
Labels: none

Add ConnectX proxy. Interface with RDMAProxy
  pkg/sentry/devices/rdmaproxy/cxproxy/BUILD
  pkg/sentry/devices/rdmaproxy/cxproxy/cxproxy.go
  pkg/sentry/mm/syscalls.go
  runsc/boot/BUILD
  runsc/boot/vfs.go
Labels: area: bazel, area: mm

Add support for RDMA netdevs. Create --rdmaproxy-move-netdevs runtime flag to enable moving RDMA netdevs into sandbox netns with snapshotting of interface information.
  pkg/abi/linux/netlink_route.go
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/header/arp.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/rdma_netdev.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: networking

nvproxy: support DMA-BUF export for GPU memory
  pkg/abi/nvgpu/frontend.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
  pkg/sentry/vfs/file_description.go
Labels: area: filesystem

nvproxy: Add support for registering and allowing unsupported drivers
  g3doc/user_guide/gpu.md
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/save_restore.go
  pkg/sentry/devices/nvproxy/version.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  tools/gpu/drivers/install_driver.go
Labels: area: bazel, area: docs, area: tests, area: tooling

lisafs: add readonly check to BindAtHandler for consistency
  pkg/lisafs/handlers.go
Labels: none

runsc/bwrap: Add proc flag in bwrap alias
  .buildkite/pipeline.yaml
  Makefile
  runsc/cmd/alias/bwrap/BUILD
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: bazel, area: tests

lisafs: avoid reading FDIDs from shared memory in WalkHandler cleanup
  pkg/lisafs/handlers.go
Labels: none

nvproxy: Add support for NVIDIA driver version 610.43.02.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/version.go
  tools/nvidia_driver_differ/parser/sources.go
Labels: area: tooling

stack: remove unused ReceiveBufferSizeOption type
  pkg/tcpip/stack/stack_options.go
Labels: area: networking

Implement MS_MOVE for mount(2)
  pkg/sentry/syscalls/linux/sys_mount.go
  test/syscalls/linux/mount.cc
Labels: area: kernel, area: tests

Add sticky bit check on replaced dentry during rename.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/sticky.cc
Labels: area: filesystem, area: tests

runsc/bwrap: Add env and namespace flags
  .buildkite/pipeline.yaml
  Makefile
  runsc/cmd/alias/bwrap/BUILD
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: bazel, area: tests

fsconfig: don't require source= to be set
  pkg/sentry/fsimpl/fsconfigfd/fsconfigfd.go
  test/syscalls/linux/mount_fd.cc
Labels: area: filesystem, area: tests

SO_PEERCRED: snapshot peer pid instead of looking up upon getsockopt()
  pkg/sentry/kernel/threads.go
  pkg/sentry/socket/control/control.go
  test/syscalls/linux/socket_unix_peercred.cc
Labels: area: networking, area: kernel, area: tests

runsc/bwrap: Add hostname flag in bwrap alias
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: tests

Internal change.
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/openclaw.go
  test/kubernetes/benchmarks/openclaw_test.go
  test/kubernetes/testcluster/testcluster.go
Labels: area: bazel, area: tests

Relocate go_binding_test to sandbox_test.
  .buildkite/pipeline.yaml
  Makefile
  sandboxexec/sandbox/BUILD
  sandboxexec/sandbox/oci_test.go
  sandboxexec/sandbox/sandbox_test.go
  test/root/BUILD
Labels: area: bazel, area: tests

Add Beam to the gVisor users page.
  website/assets/logos/logo_beam.png
  website/users/index.html
Labels: none

Skip CapabilitiesTest if temp dir is nosuid.
  test/syscalls/linux/capabilities.cc
  test/util/fs_util.cc
  test/util/fs_util.h
Labels: area: tests

systrap: express spin/deep-sleep timeouts as durations, fix arm64 idle CPU
  pkg/sentry/platform/systrap/lib_arm64.s
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/systrap.go
  pkg/sentry/platform/systrap/systrap_amd64.go
  pkg/sentry/platform/systrap/systrap_arm64.go
Labels: arch: arm, arch: x86_64

systrap: express spin/deep-sleep timeouts as durations, fix arm64 idle CPU
  pkg/sentry/platform/systrap/lib_arm64.s
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/systrap.go
  pkg/sentry/platform/systrap/systrap_amd64.go
  pkg/sentry/platform/systrap/systrap_arm64.go
Labels: arch: arm, arch: x86_64

systrap: don't run controlFastPath when neverEnableFastPath is set
  pkg/sentry/platform/systrap/systrap.go
Labels: none

systrap: Add --systrap-disable-fast-path option
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

runsc/boot: don't pre-assign loopback addresses in application netns
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
Labels: area: bazel, area: tests

systrap: Add --systrap-disable-fast-path option to disable the fast path
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

Implement PR_SET_SECUREBITS(SECBIT_KEEP_CAPS).
  pkg/abi/linux/prctl.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  test/syscalls/linux/capabilities.cc
Labels: area: kernel, area: tests

devpts: implement TIOCGPTPEER ioctl
  pkg/abi/linux/ioctl.go
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/master.go
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: filesystem, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
