Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Process nogo targets across all architectures.
  debian/BUILD
  pkg/abi/linux/BUILD
  pkg/cpuid/BUILD
  pkg/goid/BUILD
  pkg/hosttid/BUILD
  pkg/ring0/BUILD
  pkg/sentry/loader/vdsodata/BUILD
  pkg/sentry/platform/kvm/BUILD
  pkg/sync/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/rseq/BUILD
  tools/BUILD
  tools/arch.bzl
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
  tools/nogo/defs.bzl
  vdso/BUILD
Labels: area: bazel, area: tests, area: tooling, platform: kvm

Process nogo targets across all architectures.
  debian/BUILD
  pkg/abi/linux/BUILD
  pkg/cpuid/BUILD
  pkg/goid/BUILD
  pkg/hosttid/BUILD
  pkg/ring0/BUILD
  pkg/sentry/loader/vdsodata/BUILD
  pkg/sentry/platform/kvm/BUILD
  pkg/sync/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/rseq/BUILD
  tools/BUILD
  tools/arch.bzl
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
  tools/nogo/defs.bzl
  vdso/BUILD
Labels: area: bazel, area: tests, area: tooling, platform: kvm

POLLRDHUP delivery fix
  pkg/sentry/syscalls/linux/sys_read_write.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/waiter/waiter.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: kernel, area: tests

Ignore AT_NO_AUTOMOUNT flag in statx() calls.
  pkg/abi/linux/file.go
  pkg/sentry/syscalls/linux/sys_stat.go
  test/syscalls/linux/stat.cc
Labels: area: kernel, area: tests

Ignore AT_NO_AUTOMOUNT flag in statx() calls.
  pkg/abi/linux/file.go
  pkg/sentry/syscalls/linux/sys_stat.go
  test/syscalls/linux/stat.cc
Labels: area: kernel, area: tests

Internal change.
  test/runtimes/runner/lib/go_test_dependency_go118.go
  test/runtimes/runner/lib/go_test_dependency_not_go118.go
Labels: area: tests

Internal change.
  test/runtimes/runner/lib/go_test_dependency_go118.go
  test/runtimes/runner/lib/go_test_dependency_not_go118.go
Labels: area: tests

Stop running the size benchmark in buildkite.
  .buildkite/pipeline.yaml
Labels: none

Stop running the size benchmark in buildkite.
  .buildkite/pipeline.yaml
Labels: none

Internal change.
  runsc/cmd/BUILD
Labels: area: bazel

Internal change.
  runsc/cmd/BUILD
Labels: area: bazel

Debug buildkite
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
Labels: none

Fix type assertion failures with latest tools packages.
  tools/checkinfo/checkinfo.go
  tools/checklocks/analysis.go
Labels: area: tooling

Fix type assertion failures with latest tools packages.
  tools/checkinfo/checkinfo.go
  tools/checklocks/analysis.go
Labels: area: tooling

Add reference to terminal in lineDiscipline
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/terminal.go
Labels: area: filesystem

Add reference to terminal in lineDiscipline
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/terminal.go
Labels: area: filesystem

Fix /proc/*/stat parsing in GVisor
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: tests

Fix /proc/*/stat parsing in GVisor
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: tests

Add assembly analysis to nogo.
  nogo.yaml
  tools/nogo/check/check.go
Labels: area: tooling

Add assembly analysis to nogo.
  nogo.yaml
  tools/nogo/check/check.go
Labels: area: tooling

Fix assembly declarations.
  nogo.yaml
  pkg/atomicbitops/atomicbitops_arm64.s
  pkg/cpuid/native_amd64.s
  pkg/ring0/entry_amd64.s
  pkg/ring0/entry_arm64.s
  pkg/ring0/lib_amd64.go
  pkg/ring0/lib_amd64.s
  pkg/ring0/lib_arm64.s
  pkg/sentry/arch/fpu/fpu_amd64.s
  pkg/sentry/hostcpu/getcpu_amd64.s
  pkg/sentry/hostcpu/getcpu_arm64.s
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/testutil/testutil_amd64.s
  pkg/sentry/platform/kvm/testutil/testutil_arm64.s
  pkg/sentry/time/muldiv_amd64.s
  pkg/sentry/time/muldiv_arm64.s
  pkg/tcpip/link/rawfile/blockingpoll_amd64.s
  pkg/tcpip/link/rawfile/blockingpoll_arm64.s
Labels: arch: arm, arch: x86_64, area: networking, area: kernel, platform: kvm

Fix assembly declarations.
  nogo.yaml
  pkg/atomicbitops/atomicbitops_arm64.s
  pkg/cpuid/native_amd64.s
  pkg/ring0/entry_amd64.s
  pkg/ring0/entry_arm64.s
  pkg/ring0/lib_amd64.go
  pkg/ring0/lib_amd64.s
  pkg/ring0/lib_arm64.s
  pkg/sentry/arch/fpu/fpu_amd64.s
  pkg/sentry/hostcpu/getcpu_amd64.s
  pkg/sentry/hostcpu/getcpu_arm64.s
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/testutil/testutil_amd64.s
  pkg/sentry/platform/kvm/testutil/testutil_arm64.s
  pkg/sentry/time/muldiv_amd64.s
  pkg/sentry/time/muldiv_arm64.s
  pkg/tcpip/link/rawfile/blockingpoll_amd64.s
  pkg/tcpip/link/rawfile/blockingpoll_arm64.s
Labels: arch: arm, arch: x86_64, area: networking, area: kernel, platform: kvm

Run tools/install_containerd.sh without sudo -H.
  Makefile
  tools/install_containerd.sh
Labels: area: tooling

Run tools/install_containerd.sh without sudo -H.
  Makefile
  tools/install_containerd.sh
Labels: area: tooling

Silence excessive nogo noise.
  tools/nogo/check/check.go
Labels: area: tooling

Silence excessive nogo noise.
  tools/nogo/check/check.go
Labels: area: tooling

Add GOOS and GOARCH to nogo findings.
  tools/nogo/check/check.go
  tools/nogo/check/findings.go
Labels: area: tooling

Add GOOS and GOARCH to nogo findings.
  tools/nogo/check/check.go
  tools/nogo/check/findings.go
Labels: area: tooling

Implement code review remarks
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/terminal.go
Labels: area: filesystem

Implement code review remarks
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/terminal.go
Labels: area: filesystem

docs: add gvisor sysctl requirements
  g3doc/user_guide/install.md
Labels: area: docs

more informative error message for user namespace exhaustion
  runsc/specutils/namespace.go
Labels: none

more informative error message for user namespace exhaustion
  runsc/specutils/namespace.go
Labels: none

Fix apt-get exit code checking bug in tools/install_containerd.sh.
  tools/install_containerd.sh
Labels: area: tooling

Fix apt-get exit code checking bug in tools/install_containerd.sh.
  tools/install_containerd.sh
Labels: area: tooling

All behavior test for gohacks.Noescape.
  pkg/gohacks/gohacks_test.go
Labels: area: tests

All behavior test for gohacks.Noescape.
  pkg/gohacks/gohacks_test.go
Labels: area: tests

hostinet: Generate socket validation and filters from list of supported sockets
  pkg/sentry/socket/hostinet/socket.go
  runsc/boot/filter/extra_filters_hostinet.go
Labels: area: hostinet, area: networking

hostinet: Generate socket validation and filters from list of supported sockets
  pkg/sentry/socket/hostinet/socket.go
  runsc/boot/filter/extra_filters_hostinet.go
Labels: area: hostinet, area: networking

Fix FUSE how handles malformed INIT requests.
  pkg/sentry/fsimpl/fuse/connection_control.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/fuse.cc
Labels: area: bazel, area: filesystem, area: tests
