Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

`seccomp`: Check that programs that are too large are rejected.
  pkg/sentry/syscalls/linux/sys_seccomp.go
  test/syscalls/linux/seccomp.cc
Labels: area: kernel, area: tests

Enumerate known systrap stub failures to exit process cleanly.
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel

Enumerate known systrap stub failures to exit process cleanly.
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel

Enable S/R for runsc syscall tests.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/cmd/boot.go
  runsc/config/config.go
  runsc/config/flags.go
  test/runner/BUILD
  test/runner/defs.bzl
  test/runner/main.go
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Enable S/R for runsc syscall tests.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/cmd/boot.go
  runsc/config/config.go
  runsc/config/flags.go
  test/runner/BUILD
  test/runner/defs.bzl
  test/runner/main.go
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Update Fuchsia bug TODOS
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Update Fuchsia bug TODOS
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Fix typos in license headers.
  test/benchmarks/database/redis_test.go
Labels: area: tests

Fix typos in license headers.
  test/benchmarks/database/redis_test.go
Labels: area: tests

Fix S/R support for fuse structs.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/inode.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  pkg/sentry/fsimpl/fuse/request_response.go
  pkg/sentry/fsimpl/fuse/save_restore.go
  pkg/sentry/kernel/mq/mq.go
  pkg/tcpip/link/tun/device.go
  runsc/boot/restore.go
Labels: area: bazel, area: filesystem, area: networking, area: kernel

Fix S/R support for fuse structs.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/inode.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  pkg/sentry/fsimpl/fuse/request_response.go
  pkg/sentry/fsimpl/fuse/save_restore.go
  pkg/sentry/kernel/mq/mq.go
  pkg/tcpip/link/tun/device.go
  runsc/boot/restore.go
Labels: area: bazel, area: filesystem, area: networking, area: kernel

Add partial support for VERASE and VWERASE in canonical mode in PTYs
  pkg/sentry/fsimpl/devpts/line_discipline.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

Add partial support for VERASE and VWERASE in canonical mode in PTYs
  pkg/sentry/fsimpl/devpts/line_discipline.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

Send error to subprocess in case of invalid shared memory.
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/systrap.go
Labels: none

Send error to subprocess in case of invalid shared memory.
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/systrap.go
Labels: none

Increase timeout for TCPLinger2TimeoutAfterClose
  test/syscalls/linux/socket_inet_loopback_isolated.cc
Labels: area: tests

Increase timeout for TCPLinger2TimeoutAfterClose
  test/syscalls/linux/socket_inet_loopback_isolated.cc
Labels: area: tests

Notify master waiter when all replicas are closed.
  pkg/sentry/fsimpl/devpts/line_discipline.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

Notify master waiter when all replicas are closed.
  pkg/sentry/fsimpl/devpts/line_discipline.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

Add a function to decode file capabilities extended attributes.
  pkg/abi/linux/capability.go
  pkg/sentry/kernel/auth/BUILD
  pkg/sentry/kernel/auth/capability_set.go
  pkg/sentry/kernel/auth/capability_set_test.go
Labels: area: bazel, area: kernel, area: tests

Add a function to decode file capabilities extended attributes.
  pkg/abi/linux/capability.go
  pkg/sentry/kernel/auth/BUILD
  pkg/sentry/kernel/auth/capability_set.go
  pkg/sentry/kernel/auth/capability_set_test.go
Labels: area: bazel, area: kernel, area: tests

Fix inotify_test_native on Buildkite.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Fix inotify_test_native on Buildkite.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Add NV2080_CTRL_CMD_GR_GET_SM_ISSUE_RATE_MODIFIER to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Add NV2080_CTRL_CMD_GR_GET_SM_ISSUE_RATE_MODIFIER to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Minor FPU save/restore fixes.
  pkg/safecopy/xrstor_amd64.s
  pkg/sentry/arch/fpu/fpu_amd64.go
  pkg/state/decode.go
Labels: arch: x86_64, area: kernel

Minor FPU save/restore fixes.
  pkg/safecopy/xrstor_amd64.s
  pkg/sentry/arch/fpu/fpu_amd64.go
  pkg/state/decode.go
Labels: arch: x86_64, area: kernel

Add a few small cleanups to tcp timers.
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/timer.go
  pkg/tcpip/transport/tcp/timer_test.go
Labels: area: networking, area: tests

Add a few small cleanups to tcp timers.
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/timer.go
  pkg/tcpip/transport/tcp/timer_test.go
Labels: area: networking, area: tests

Remove panics from handlePtraceSyscallRequest and attach.
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/syscall_thread.go
Labels: none

Remove panics from handlePtraceSyscallRequest and attach.
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/syscall_thread.go
Labels: none

Fix flaky inotify exec test.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Fix flaky inotify exec test.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Add support for saving PMAs referencing tmpfs filestore files.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/mm/save_restore.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
Labels: area: kernel, area: mm

Add support for saving PMAs referencing tmpfs filestore files.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/mm/save_restore.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
Labels: area: kernel, area: mm

Run docker-tests with default flags.
  Makefile
Labels: none

Run docker-tests with default flags.
  Makefile
Labels: none

Fix bug that prevents collecting traces without also collecting a profile.
  pkg/test/dockerutil/profile.go
Labels: area: tests

Fix bug that prevents collecting traces without also collecting a profile.
  pkg/test/dockerutil/profile.go
Labels: area: tests

Don't use xgetbv on CPUs that don't support it.
  pkg/cpuid/cpuid_amd64.go
Labels: arch: x86_64
