Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix return value for MMap Tests in OpenSource
  test/syscalls/linux/mmap.cc
Labels: area: tests

Fix return value for MMap Tests in OpenSource
  test/syscalls/linux/mmap.cc
Labels: area: tests

Fix readahead test for opensource.
  test/syscalls/linux/BUILD
  test/syscalls/linux/readahead.cc
Labels: area: bazel, area: tests

Fix readahead test for opensource.
  test/syscalls/linux/BUILD
  test/syscalls/linux/readahead.cc
Labels: area: bazel, area: tests

[vfs2] Implement /proc/sys/net/ipv4/tcp_rmem and /proc/sys/net/ipv4/tcp_wmem.
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/tasks_sys.go
Labels: area: bazel, area: filesystem

[vfs2] Implement /proc/sys/net/ipv4/tcp_rmem and /proc/sys/net/ipv4/tcp_wmem.
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/tasks_sys.go
Labels: area: bazel, area: filesystem

Internal change.
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Add fuse read
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/read_write.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/read_test.cc
Labels: area: bazel, area: filesystem, area: tests

Wait for all p9 handlers to complete before server shutdown.
  pkg/p9/server.go
Labels: none

Wait for all p9 handlers to complete before server shutdown.
  pkg/p9/server.go
Labels: none

Fix timeval for Socket test
  test/syscalls/linux/socket_generic.cc
Labels: area: tests

Fix timeval for Socket test
  test/syscalls/linux/socket_generic.cc
Labels: area: tests

Extend integration test to test sequence of FUSE operation
  pkg/sentry/fsimpl/fuse/dev.go
  test/fuse/BUILD
  test/fuse/README.md
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/stat_test.cc
Labels: area: bazel, area: docs, area: filesystem, area: tests

Add functions in FUSE integration test to get metrics from FUSE server
  test/fuse/README.md
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
Labels: area: docs, area: tests

Add function generating array of iovec with different FUSE structs
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/stat_test.cc
  test/util/BUILD
  test/util/fuse_util.h
Labels: area: bazel, area: tests

Add function to create a fake inode in FUSE integration test
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
Labels: area: tests

Implement FUSE_LOOKUP
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
Labels: area: filesystem

Return EROFS if mount is read-only
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Return EROFS if mount is read-only
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Implement FUSE_OPEN/OPENDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/util/BUILD
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_OPEN/OPENDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/util/BUILD
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Avoid holding locks when opening files in VFS2.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
Labels: area: filesystem

Avoid holding locks when opening files in VFS2.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
Labels: area: filesystem

Implement FUSE_RELEASE
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/fuse/linux/release_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_MKNOD
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/mknod_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_MKDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/mkdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_RELEASE
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/fuse/linux/release_test.cc
Labels: area: bazel, area: filesystem, area: tests

RACK: Create a new list for segments.
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: bazel, area: networking

RACK: Create a new list for segments.
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: bazel, area: networking

Implement FUSE_MKNOD
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/mknod_test.cc
Labels: area: bazel, area: filesystem, area: tests

Fix return value in shm_test for opensource
  test/syscalls/linux/shm.cc
Labels: area: tests

Fix return value in shm_test for opensource
  test/syscalls/linux/shm.cc
Labels: area: tests

Implement FUSE_SYMLINK
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/symlink_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_READLINK
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/kernfs/symlink.go
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/readlink_test.cc
Labels: area: bazel, area: filesystem, area: tests

Make merkletree.Generate maintain data cursor
  pkg/merkletree/merkletree.go
  pkg/merkletree/merkletree_test.go
Labels: area: tests

Add more information to panic when device ID don't match
  pkg/sentry/device/device.go
Labels: none

Add more information to panic when device ID don't match
  pkg/sentry/device/device.go
Labels: none

Don't set atime if mount is readonly
  pkg/sentry/fsimpl/gofer/time.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

Don't set atime if mount is readonly
  pkg/sentry/fsimpl/gofer/time.go
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

fuse: Implement IterDirents for directory file description
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/readdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
