Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

proc: limit a comm len to TASK_COMM_LEN
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Fix linter warning in kernel.go.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

Fix linter warning in kernel.go.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

vfs: try again to allocate a new mount group after resizing vfs.groupIDBitmap
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

vfs: try again to allocate a new mount group after resizing vfs.groupIDBitmap
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

netstack: add IP source selection test that was rolled back
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: networking, area: tests

netstack: add IP source selection test that was rolled back
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: networking, area: tests

Add COS GPU Pipeline.
  .buildkite/pipeline.yaml
  Makefile
  pkg/test/dockerutil/container.go
  test/gpu/BUILD
  test/gpu/gpu_test.go
Labels: area: bazel, area: tests

Add COS GPU Pipeline.
  .buildkite/pipeline.yaml
  Makefile
  pkg/test/dockerutil/container.go
  test/gpu/BUILD
  test/gpu/gpu_test.go
Labels: area: bazel, area: tests

Automated rollback of changelist 580051079
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/accept_blob
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
Labels: area: bazel, area: networking, area: tests

Automated rollback of changelist 580051079
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/accept_blob
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
Labels: area: bazel, area: networking, area: tests

runsc: reproduce NAT table inside gVisor only when non-default
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/accept_blob
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
Labels: area: bazel, area: networking, area: tests

Refactor dirent parsing utilies.
  pkg/fsutil/fsutil.go
  pkg/fsutil/fsutil_unsafe.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/sys/pci.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

Refactor dirent parsing utilies.
  pkg/fsutil/fsutil.go
  pkg/fsutil/fsutil_unsafe.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/sys/pci.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

Change COS GPU Smoke test to a continuous test.
  .buildkite/pipeline.yaml
Labels: none

Change COS GPU Smoke test to a continuous test.
  .buildkite/pipeline.yaml
Labels: none

syscall: process_vm_* copies data by chunks
  pkg/sentry/syscalls/linux/sys_process_vm.go
  test/syscalls/linux/process_vm_read_write.cc
Labels: area: kernel, area: tests

syscall: process_vm_* copies data by chunks
  pkg/sentry/syscalls/linux/sys_process_vm.go
  test/syscalls/linux/process_vm_read_write.cc
Labels: area: kernel, area: tests

Implement the fs.nr_open sysctl
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_rlimit.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Implement the fs.nr_open sysctl
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_rlimit.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/dup.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

provide (read only) /proc/sys/kernel/overflowuid and overflowgid
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/kernel/auth/id.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: kernel, area: tests

provide (read only) /proc/sys/kernel/overflowuid and overflowgid
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/kernel/auth/id.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: kernel, area: tests

systrap: don't use cputick from the runtime module
  pkg/sentry/platform/systrap/lib_amd64.s
  pkg/sentry/platform/systrap/lib_arm64.s
  pkg/sentry/platform/systrap/subprocess_unsafe.go
Labels: arch: arm, arch: x86_64

systrap: don't use cputick from the runtime module
  pkg/sentry/platform/systrap/lib_amd64.s
  pkg/sentry/platform/systrap/lib_arm64.s
  pkg/sentry/platform/systrap/subprocess_unsafe.go
Labels: arch: arm, arch: x86_64

Add a size limit to `outputQueueTransformer.transform`.
  pkg/sentry/fsimpl/devpts/line_discipline.go
Labels: area: filesystem

Add a size limit to `outputQueueTransformer.transform`.
  pkg/sentry/fsimpl/devpts/line_discipline.go
Labels: area: filesystem

netstack: move Linux ABI struct into abi/linux
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

netstack: move Linux ABI struct into abi/linux
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

Email gVisor team if release pipeline fails.
  .buildkite/gpu.yaml
  .buildkite/release.yaml
Labels: none

Email gVisor team if release pipeline fails.
  .buildkite/gpu.yaml
  .buildkite/release.yaml
Labels: none

netstack: put snat targets in their own file
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: bazel, area: networking

netstack: put snat targets in their own file
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: bazel, area: networking

Move mm.vma save/restore to save_restore.go.
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/save_restore.go
Labels: area: mm

Move mm.vma save/restore to save_restore.go.
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/save_restore.go
Labels: area: mm

`seccomp`: Introduce `HalfValueMatcher` type that matches a 32-bit value.
  pkg/seccomp/seccomp_rules.go
Labels: none

`seccomp`: Introduce `HalfValueMatcher` type that matches a 32-bit value.
  pkg/seccomp/seccomp_rules.go
Labels: none

Add a panic for no sufficient virtual memory space.
  pkg/sentry/platform/kvm/kvm_arm64.go
Labels: arch: arm, platform: kvm

Add a panic for no sufficient virtual memory space.
  pkg/sentry/platform/kvm/kvm_arm64.go
Labels: arch: arm, platform: kvm

`seccomp`: Add method to `ValueMatcher` to generate fuzz test cases.
  pkg/seccomp/BUILD
  pkg/seccomp/seccomp_fuzz_helpers.go
  pkg/seccomp/seccomp_rules.go
  test/secfuzz/secfuzz.go
Labels: area: bazel, area: tests

`seccomp`: Add method to `ValueMatcher` to generate fuzz test cases.
  pkg/seccomp/BUILD
  pkg/seccomp/seccomp_fuzz_helpers.go
  pkg/seccomp/seccomp_rules.go
  test/secfuzz/secfuzz.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
