Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

xdp: install libbpf-dev and work around arch build issue
  images/default/Dockerfile
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

xdp: install libbpf-dev and work around arch build issue
  images/default/Dockerfile
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

Run gpu-all-tests continuously and in release pipeline.
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
Labels: none

Run gpu-all-tests continuously and in release pipeline.
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
Labels: none

xdp: add a program that redirects packets from a NIC to an AF_XDP socket
  tools/xdp/BUILD
  tools/xdp/bpf/BUILD
  tools/xdp/bpf/redirect_host.ebpf.c
  tools/xdp/main.go
  tools/xdp/redirect_host.go
  tools/xdp/tcpdump.go
Labels: area: bazel, area: tooling

xdp: add a program that redirects packets from a NIC to an AF_XDP socket
  tools/xdp/BUILD
  tools/xdp/bpf/BUILD
  tools/xdp/bpf/redirect_host.ebpf.c
  tools/xdp/main.go
  tools/xdp/redirect_host.go
  tools/xdp/tcpdump.go
Labels: area: bazel, area: tooling

xdp: put runsc XDP code into its own file
  runsc/sandbox/BUILD
  runsc/sandbox/network.go
  runsc/sandbox/xdp.go
Labels: area: bazel

xdp: put runsc XDP code into its own file
  runsc/sandbox/BUILD
  runsc/sandbox/network.go
  runsc/sandbox/xdp.go
Labels: area: bazel

Initialize x86 arch.Context with correct segment registers.
  pkg/sentry/arch/arch_x86.go
Labels: arch: x86_64, area: kernel

Initialize x86 arch.Context with correct segment registers.
  pkg/sentry/arch/arch_x86.go
Labels: arch: x86_64, area: kernel

xdp: split xdp_loader subcommands into cmd directory
  tools/xdp/BUILD
  tools/xdp/cmd/BUILD
  tools/xdp/cmd/bpf/BUILD
  tools/xdp/cmd/bpf/drop.ebpf.c
  tools/xdp/cmd/bpf/pass.ebpf.c
  tools/xdp/cmd/bpf/redirect_host.ebpf.c
  tools/xdp/cmd/bpf/tcpdump.ebpf.c
  tools/xdp/cmd/cmd.go
  tools/xdp/cmd/drop.go
  tools/xdp/cmd/pass.go
  tools/xdp/cmd/redirect_host.go
  tools/xdp/cmd/tcpdump.go
  tools/xdp/main.go
Labels: area: bazel, area: tooling

xdp: split xdp_loader subcommands into cmd directory
  tools/xdp/BUILD
  tools/xdp/cmd/BUILD
  tools/xdp/cmd/bpf/BUILD
  tools/xdp/cmd/bpf/drop.ebpf.c
  tools/xdp/cmd/bpf/pass.ebpf.c
  tools/xdp/cmd/bpf/redirect_host.ebpf.c
  tools/xdp/cmd/bpf/tcpdump.ebpf.c
  tools/xdp/cmd/cmd.go
  tools/xdp/cmd/drop.go
  tools/xdp/cmd/pass.go
  tools/xdp/cmd/redirect_host.go
  tools/xdp/cmd/tcpdump.go
  tools/xdp/main.go
Labels: area: bazel, area: tooling

xdp: add flag for runsc to use an XDP socket on a host device
  pkg/tcpip/link/xdp/endpoint.go
  pkg/xdp/xdp.go
  runsc/boot/network.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/network.go
  runsc/sandbox/xdp.go
  tools/xdp/cmd/redirect_host.go
Labels: area: bazel, area: networking, area: tooling

xdp: add flag for runsc to use an XDP socket on a host device
  pkg/tcpip/link/xdp/endpoint.go
  pkg/xdp/xdp.go
  runsc/boot/network.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/network.go
  runsc/sandbox/xdp.go
  tools/xdp/cmd/redirect_host.go
Labels: area: bazel, area: networking, area: tooling

Internal change.
  images/benchmarks/profile-helper/Dockerfile
  images/benchmarks/profile-helper/main.go
Labels: none

xdp: use builtin constants and functions in xdp_loader eBPF
  tools/xdp/cmd/bpf/redirect_host.ebpf.c
Labels: area: tooling

xdp: use builtin constants and functions in xdp_loader eBPF
  tools/xdp/cmd/bpf/redirect_host.ebpf.c
Labels: area: tooling

Update container memory usage stats in runsc.
  runsc/boot/events.go
Labels: none

Update container memory usage stats in runsc.
  runsc/boot/events.go
Labels: none

xdp: control USE_NEED_WAKEUP via flag for benchmarking
  pkg/xdp/xdp.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/xdp.go
Labels: area: bazel

xdp: control USE_NEED_WAKEUP via flag for benchmarking
  pkg/xdp/xdp.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/xdp.go
Labels: area: bazel

images: use mulitarch default image instead of hacky workaround
  images/default/Dockerfile
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

images: use mulitarch default image instead of hacky workaround
  images/default/Dockerfile
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

Remove unused gonet.UDPConn.stack field.
  pkg/tcpip/adapters/gonet/gonet.go
  pkg/tcpip/adapters/gonet/gonet_test.go
Labels: area: networking, area: tests

Remove unused gonet.UDPConn.stack field.
  pkg/tcpip/adapters/gonet/gonet.go
  pkg/tcpip/adapters/gonet/gonet_test.go
Labels: area: networking, area: tests

Get cpu usage from cgroups in runsc.
  runsc/boot/events.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
Labels: area: tests

Get cpu usage from cgroups in runsc.
  runsc/boot/events.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
Labels: area: tests

Use infinite timeouts for Fuchsia in syscall test
  test/syscalls/linux/packet_socket.cc
Labels: area: tests

Use infinite timeouts for Fuchsia in syscall test
  test/syscalls/linux/packet_socket.cc
Labels: area: tests

Add image to assist in profiling benchmarks.
  images/benchmarks/profile-helper/Dockerfile
  images/benchmarks/profile-helper/main.go
Labels: none

Add image to assist in profiling benchmarks.
  images/benchmarks/profile-helper/Dockerfile
  images/benchmarks/profile-helper/main.go
Labels: none

xdp: update the incorrectly named "Readonly*" names
  pkg/tcpip/link/xdp/endpoint.go
  pkg/xdp/xdp.go
  pkg/xdp/xdp_unsafe.go
  tools/xdp/cmd/tcpdump.go
Labels: area: networking, area: tooling

xdp: update the incorrectly named "Readonly*" names
  pkg/tcpip/link/xdp/endpoint.go
  pkg/xdp/xdp.go
  pkg/xdp/xdp_unsafe.go
  tools/xdp/cmd/tcpdump.go
Labels: area: networking, area: tooling

Add NV2080_CTRL_CMD_NVLINK_GET_NVLINK_CAPS to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Add NV2080_CTRL_CMD_NVLINK_GET_NVLINK_CAPS to nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Implement /proc/sys/kernel/random/boot_id.
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/tasks_sys.go
Labels: area: bazel, area: filesystem

Implement /proc/sys/kernel/random/boot_id.
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/tasks_sys.go
Labels: area: bazel, area: filesystem

xdp: fix race found by gotsan
  pkg/tcpip/link/xdp/endpoint.go
Labels: area: networking

xdp: fix race found by gotsan
  pkg/tcpip/link/xdp/endpoint.go
Labels: area: networking

Allocate only required range in tmpfs regular file's Mappable.Translate().
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: filesystem
