Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Don't run benchmarks on ptrace on buildkite.
  .buildkite/pipeline.yaml
Labels: none

Don't run benchmarks on ptrace on buildkite.
  .buildkite/pipeline.yaml
Labels: none

Run `nvidia-container-cli configure` in the Gofer mount namespace.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Run `nvidia-container-cli configure` in the Gofer mount namespace.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Add `O_DIRECT` version of `fio` benchmarks to track direct I/O performance.
  .buildkite/pipeline.yaml
  test/benchmarks/fs/fio_test.go
  test/benchmarks/tools/fio.go
Labels: area: tests

Add `O_DIRECT` version of `fio` benchmarks to track direct I/O performance.
  .buildkite/pipeline.yaml
  test/benchmarks/fs/fio_test.go
  test/benchmarks/tools/fio.go
Labels: area: tests

Plumb memory cgroup id in memmap.IncRef.
  pkg/sentry/devices/nvproxy/frontend_mmap.go
  pkg/sentry/devices/nvproxy/uvm_mmap.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/kernfs/mmap_util.go
  pkg/sentry/fsutil/BUILD
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/pma.go
  pkg/sentry/pgalloc/pgalloc.go
Labels: area: bazel, area: filesystem, area: mm

Plumb memory cgroup id in memmap.IncRef.
  pkg/sentry/devices/nvproxy/frontend_mmap.go
  pkg/sentry/devices/nvproxy/uvm_mmap.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsimpl/kernfs/mmap_util.go
  pkg/sentry/fsutil/BUILD
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/pma.go
  pkg/sentry/pgalloc/pgalloc.go
Labels: area: bazel, area: filesystem, area: mm

Add config flags and sandbox chroot configuration for TPU proxying.
  runsc/cmd/chroot.go
  runsc/cmd/util/BUILD
  runsc/cmd/util/tpu.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: bazel

Add config flags and sandbox chroot configuration for TPU proxying.
  runsc/cmd/chroot.go
  runsc/cmd/util/BUILD
  runsc/cmd/util/tpu.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: bazel

Add seccomp filters for TPU proxying and stub out accel fd methods.
  pkg/seccomp/seccomp.go
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/seccomp_filters.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/config.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
Labels: area: bazel

Add seccomp filters for TPU proxying and stub out accel fd methods.
  pkg/seccomp/seccomp.go
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/seccomp_filters.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  runsc/boot/filter/BUILD
  runsc/boot/filter/config.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
Labels: area: bazel

Remove unused parameters
  runsc/cmd/checkpoint.go
  runsc/cmd/restore.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Remove unused parameters
  runsc/cmd/checkpoint.go
  runsc/cmd/restore.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Add nvproxy support for V100 Nvidia GPUs.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
Labels: none

Add nvproxy support for V100 Nvidia GPUs.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
Labels: none

Add nvproxy support for V100 Nvidia GPUs.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
Labels: none

Clear IPV6_V6ONLY when creating dual-stack IPv6 sockets
  test/util/socket_util.cc
Labels: area: tests

Remove last remaining !go1.22 build tag
  pkg/sync/BUILD
  pkg/sync/runtime_go121_unsafe.go
  pkg/sync/runtime_not_go121_unsafe.go
  pkg/sync/runtime_unsafe.go
  tools/checkconst/checkconst.go
  tools/nogo/check/check.go
Labels: area: bazel, area: tooling

Remove last remaining !go1.22 build tag
  pkg/sync/BUILD
  pkg/sync/runtime_go121_unsafe.go
  pkg/sync/runtime_not_go121_unsafe.go
  pkg/sync/runtime_unsafe.go
  tools/checkconst/checkconst.go
  tools/nogo/check/check.go
Labels: area: bazel, area: tooling

Add methods for generating PCI sysfs paths and registering accel devices.
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/device.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/pci.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/BUILD
  runsc/boot/vfs.go
Labels: area: bazel, area: filesystem

Add methods for generating PCI sysfs paths and registering accel devices.
  pkg/sentry/devices/accel/BUILD
  pkg/sentry/devices/accel/accel.go
  pkg/sentry/devices/accel/device.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/pci.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/BUILD
  runsc/boot/vfs.go
Labels: area: bazel, area: filesystem

doc/faq/ptrace/attach: yama lsm supported mode
  g3doc/user_guide/FAQ.md
Labels: area: docs

doc/faq/ptrace/attach: yama lsm supported mode
  g3doc/user_guide/FAQ.md
Labels: area: docs

Fix fio "regex"s in buildkite file.
  .buildkite/pipeline.yaml
Labels: none

Fix fio "regex"s in buildkite file.
  .buildkite/pipeline.yaml
Labels: none

Better memory reporting for multi-container
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Better memory reporting for multi-container
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Implement the setns syscall
  pkg/abi/linux/fs.go
  pkg/sentry/fsimpl/nsfs/BUILD
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsutil/BUILD
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/namespace.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_net.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/syscalls/linux/sys_thread.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
Labels: area: bazel, area: filesystem, area: networking, area: kernel, area: tests

Implement the setns syscall
  pkg/abi/linux/fs.go
  pkg/sentry/fsimpl/nsfs/BUILD
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsutil/BUILD
  pkg/sentry/inet/BUILD
  pkg/sentry/inet/namespace.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_net.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/syscalls/linux/sys_thread.go
  runsc/boot/loader.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
Labels: area: bazel, area: filesystem, area: networking, area: kernel, area: tests

gVisor `fio` benchmarks: Use `libaio` where it makes sense.
  test/benchmarks/fs/fio_test.go
  test/benchmarks/tools/fio.go
Labels: area: tests

gVisor `fio` benchmarks: Use `libaio` where it makes sense.
  test/benchmarks/fs/fio_test.go
  test/benchmarks/tools/fio.go
Labels: area: tests

site: note that flags passed to run should be replicated for restore
  g3doc/user_guide/checkpoint_restore.md
Labels: area: docs

site: note that flags passed to run should be replicated for restore
  g3doc/user_guide/checkpoint_restore.md
Labels: area: docs

Internal change.
  pkg/test/dockerutil/container.go
Labels: area: tests

`nginx` config: Remove `worker_processes` and `events.worker_connections`.
  images/benchmarks/nginx/Dockerfile
  images/benchmarks/nginx/nginx.conf
  images/benchmarks/nginx/nginx_gofer.conf
Labels: none

`nginx` config: Remove `worker_processes` and `events.worker_connections`.
  images/benchmarks/nginx/Dockerfile
  images/benchmarks/nginx/nginx.conf
  images/benchmarks/nginx/nginx_gofer.conf
Labels: none

Internal change (diffbased).
  images/basic/redis/Dockerfile
  images/benchmarks/redis/Dockerfile
Labels: none

Allow interface filding on Postrouting
  pkg/tcpip/stack/iptables_types.go
Labels: area: networking

protect concurrent access to UDP localPort and remotePort
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
