Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Return ETXTBSY when writing to a binary that is being executed.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/metadata.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/write_count.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/exec.cc
  test/syscalls/linux/exec_etxtbsy_workload.cc
Labels: area: bazel, area: filesystem, area: mm, area: tests

`runsc`: Add flag to control policy of sidecar binaries.
  runsc/cli/cli.go
  runsc/cmd/install.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/sandbox/sandbox.go
Labels: area: tests

[mremap] Validate mapping offsets during in-place growth.
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/syscalls.go
Labels: area: mm, area: tests

Buildkite: Fix command.
  .buildkite/hooks/command
  Makefile
Labels: none

fix SIGPIPE in the release mirror's latest-tag lookup
  .github/workflows/release_mirror.yml
Labels: none

Replace the experimental --mount-cgroup-v2 flag with in-sandbox-cgroup
  Makefile
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/config/flags_graveyard.go
  runsc/container/multi_container_test.go
  test/e2e/integration_runtime_test.go
  test/runner/defs.bzl
  test/runner/main.go
  test/syscalls/BUILD
  website/_data/application-compatibility.yml
Labels: area: bazel, area: tests

Implement ptrace access mode checking.
  pkg/abi/linux/ptrace.go
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/pidfd.go
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/ptrace_mode_test.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_context.go
  pkg/sentry/syscalls/linux/sys_process_vm.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

sentry: Use raw exit fields for raw syscall exit events.
  pkg/sentry/kernel/task_syscall.go
Labels: area: kernel

boot: track PID namespaces on execProcess instead of ThreadGroup
  runsc/boot/loader.go
Labels: none

Update sentry total memory on live cgroup memory limit changes
  pkg/sentry/usage/BUILD
  pkg/sentry/usage/memory.go
  pkg/sentry/usage/memory_test.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/update_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/memory_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

Apply CRI sandbox pod resources in runsc shim
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
  pkg/shim/v1/utils/annotations.go
Labels: area: tests

runsc/cgroup: discover and populate spec files for subcontainer compat dirs on systemd v2
  runsc/cgroup/cgroup.go
  runsc/cgroup/systemd.go
  runsc/cgroup/systemd_test.go
  runsc/container/container.go
Labels: area: tests

sentry: Use raw exit fields for raw syscall exit events.
  pkg/sentry/kernel/task_syscall.go
Labels: area: kernel

Change fsgofer to use openat2
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: none

Update Buildkite tests
  .buildkite/pipeline.yaml
Labels: none

Update gVisor release documentation for GitHub Release workflow.
  g3doc/user_guide/install.md
Labels: area: docs

Add openFdFlags const and use when opening from /proc/self/fd
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: none

Fix CI test flakes in trace_test's Execve trace validation
  test/trace/trace_test.go
Labels: area: tests

systrap: preserve latency medians across histogram reset
  pkg/sentry/platform/systrap/metrics.go
Labels: none

shim: bound the io drain in delete and release stdio when a created container stops
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/delete_test.go
  pkg/shim/v1/proc/exec.go
  pkg/shim/v1/proc/exec_state.go
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/init_state.go
  pkg/shim/v1/proc/utils.go
Labels: area: bazel, area: tests

kernel: avoid self-deadlock in setsid() with shared signal handlers
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/sessions.go
  pkg/sentry/kernel/sessions_test.go
  pkg/sentry/kernel/task_exit.go
  test/syscalls/linux/processes.cc
Labels: area: bazel, area: kernel, area: tests

pgalloc: skip host holes during checkpoint
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/pgalloc/save_restore_test.go
Labels: area: bazel, area: tests

checklocks: annotate network lock ownership
  pkg/sentry/socket/hostinet/save_restore.go
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netlink/port/port.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_state.go
  pkg/tcpip/link/nested/nested.go
  pkg/tcpip/link/qdisc/tbf/tbf_test.go
  pkg/tcpip/link/veth/veth.go
  pkg/tcpip/ports/ports.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/rand.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/sack_recovery.go
  pkg/tcpip/transport/tcp/segment_queue.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: hostinet, area: networking, area: tests

checklocks: guard UDP binding and error state
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
Labels: area: networking

checklocks: guard TCP send-queue snapshots
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

checklocks: annotate filesystem lock contracts
  pkg/fdnotifier/fdnotifier.go
  pkg/lisafs/channel.go
  pkg/lisafs/client.go
  pkg/lisafs/connection.go
  pkg/lisafs/connection_test.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/server.go
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/devpts/devpts_test.go
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/eventfd/eventfd.go
  pkg/sentry/fsimpl/eventfd/save_restore.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/save_restore.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/fsimpl/kernfs/fd_impl_util.go
  pkg/sentry/fsimpl/proc/subtasks.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/vfs/memxattr/xattr.go
  pkg/waiter/waiter.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem, area: tests

images/gpu: update test images for Blackwell (sm_100/sm_120)
  images/gpu/nccl-tests/Dockerfile
  images/gpu/pytorch/Dockerfile.x86_64
  images/gpu/vllm/Dockerfile.x86_64
Labels: none

Fix deadlock when restoring terminated TCP endpoints.
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_migration_test.go
Labels: area: networking, area: tests

state: reduce statistics clock overhead
  pkg/state/BUILD
  pkg/state/stats.go
Labels: area: bazel

runsc: Use openat2 when creating self filestores
  runsc/boot/vfs.go
  runsc/container/container.go
Labels: none

Enforce ownership check on shmctl(IPC_RMID)
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/sys_shm.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/shm.cc
Labels: area: bazel, area: kernel, area: tests

Forbid the addition of new boolean flags.
  runsc/config/BUILD
  runsc/config/flags_test.go
Labels: area: bazel, area: tests

Fix crash and resource-leak bugs in the containerd shim
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init_state.go
  pkg/shim/v1/proc/init_state_test.go
  pkg/shim/v1/proc/utils.go
  pkg/shim/v1/proc/utils_test.go
  pkg/shim/v1/runsc/BUILD
  pkg/shim/v1/runsc/debug.go
  pkg/shim/v1/runsc/debug_test.go
  pkg/shim/v1/runsc/epoll.go
  pkg/shim/v1/runsc/epoll_test.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsccmd/runsc.go
  pkg/shim/v1/runsccmd/runsc_test.go
  pkg/shim/v1/utils/volumes.go
  pkg/shim/v1/utils/volumes_test.go
Labels: area: bazel, area: tests

Enable ARM64 syscall tests in Buildkite pipeline.
  .buildkite/pipeline.yaml
Labels: none

Remove individual binaries from gVisor release artifacts.
  Makefile
Labels: none

timekeeper: Make the timer pausable.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/timekeeper.go
  pkg/sentry/kernel/timekeeper_state.go
  pkg/sentry/kernel/timekeeper_test.go
  pkg/sentry/ktime/synthetic_timer.go
  pkg/sentry/ktime/synthetic_timer_test.go
Labels: area: bazel, area: kernel, area: tests

Enforce sidecar version matching.
  runsc/cmd/install.go
  runsc/config/flags.go
Labels: none

Add ADOPTERS.md as single source of truth for gvisor users
  ADOPTERS.md
  BUILD
  README.md
  website/BUILD
  website/users/BUILD
  website/users/index.html
Labels: area: bazel, area: docs

tcpip/ipv6: add support for NAT re-routing in IPv6.
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_unit_test.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: bazel, area: networking, area: tests

fix(tcpip): keep readv dispatcher alive after filtered frame
  pkg/tcpip/link/fdbased/packet_dispatchers.go
Labels: area: networking
