Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

BuildKite: Make `post-command` more robust against stuck containers.
  .buildkite/hooks/post-command
Labels: none

BuildKite: Make `post-command` more robust against stuck containers.
  .buildkite/hooks/post-command
Labels: none

Unmount procfs from sandbox process, irrespective of apply-caps flag.
  runsc/cmd/boot.go
Labels: none

Unmount procfs from sandbox process, irrespective of apply-caps flag.
  runsc/cmd/boot.go
Labels: none

Perform MLDv2/IGMPv3 without SSM
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/icmpv6.go
  pkg/tcpip/header/igmp.go
  pkg/tcpip/header/igmp_test.go
  pkg/tcpip/header/igmpv3.go
  pkg/tcpip/header/mldv2.go
  pkg/tcpip/header/mldv2_igmpv3_common.go
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/internal/ip/BUILD
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/stats.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

Perform MLDv2/IGMPv3 without SSM
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/icmpv6.go
  pkg/tcpip/header/igmp.go
  pkg/tcpip/header/igmp_test.go
  pkg/tcpip/header/igmpv3.go
  pkg/tcpip/header/mldv2.go
  pkg/tcpip/header/mldv2_igmpv3_common.go
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/internal/ip/BUILD
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/stats.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

Dynamically determine the address space size
  pkg/abi/linux/BUILD
  pkg/abi/linux/mm.go
  pkg/abi/linux/mm_amd64.go
  pkg/abi/linux/mm_arm64.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_amd64.go
  pkg/sentry/platform/ptrace/subprocess_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: ptrace

Dynamically determine the address space size
  pkg/abi/linux/BUILD
  pkg/abi/linux/mm.go
  pkg/abi/linux/mm_amd64.go
  pkg/abi/linux/mm_arm64.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_amd64.go
  pkg/sentry/platform/ptrace/subprocess_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: ptrace

Add a stress test for multicontainers to check for memory leak.
  runsc/container/multi_container_test.go
Labels: area: tests

Add a stress test for multicontainers to check for memory leak.
  runsc/container/multi_container_test.go
Labels: area: tests

Send SETATTR request after open when atomic_o_trunc is not set.
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/linux/fuse_base.h
  test/syscalls/BUILD
Labels: area: bazel, area: filesystem, area: tests

Send SETATTR request after open when atomic_o_trunc is not set.
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/linux/fuse_base.h
  test/syscalls/BUILD
Labels: area: bazel, area: filesystem, area: tests

Use gofer filesystem's aname option in runsc.
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
Labels: none

Use gofer filesystem's aname option in runsc.
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
Labels: none

Coalesce records for reports on MGP disable
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

Coalesce records for reports on MGP disable
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

Extract IGMPv3/MLDv2 report validation helpers
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: bazel, area: networking, area: tests

Extract IGMPv3/MLDv2 report validation helpers
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: bazel, area: networking, area: tests

Set PktType for all Ethernet Packets
  pkg/tcpip/link/ethernet/BUILD
  pkg/tcpip/link/ethernet/ethernet.go
  pkg/tcpip/link/ethernet/ethernet_test.go
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/link/nested/nested.go
  pkg/tcpip/link/nested/nested_test.go
  pkg/tcpip/link/packetsocket/packetsocket.go
  pkg/tcpip/link/packetsocket/packetsocket_test.go
  pkg/tcpip/link/sharedmem/sharedmem_test.go
  pkg/tcpip/link/waitable/waitable.go
  pkg/tcpip/link/waitable/waitable_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
Labels: area: bazel, area: networking, area: tests

Set PktType for all Ethernet Packets
  pkg/tcpip/link/ethernet/BUILD
  pkg/tcpip/link/ethernet/ethernet.go
  pkg/tcpip/link/ethernet/ethernet_test.go
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/link/nested/nested.go
  pkg/tcpip/link/nested/nested_test.go
  pkg/tcpip/link/packetsocket/packetsocket.go
  pkg/tcpip/link/packetsocket/packetsocket_test.go
  pkg/tcpip/link/sharedmem/sharedmem_test.go
  pkg/tcpip/link/waitable/waitable.go
  pkg/tcpip/link/waitable/waitable_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
Labels: area: bazel, area: networking, area: tests

Set PktType for all Ethernet Packets
  pkg/tcpip/link/ethernet/BUILD
  pkg/tcpip/link/ethernet/ethernet.go
  pkg/tcpip/link/ethernet/ethernet_test.go
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/link/nested/nested.go
  pkg/tcpip/link/nested/nested_test.go
  pkg/tcpip/link/packetsocket/packetsocket.go
  pkg/tcpip/link/packetsocket/packetsocket_test.go
  pkg/tcpip/link/sharedmem/sharedmem_test.go
  pkg/tcpip/link/waitable/waitable.go
  pkg/tcpip/link/waitable/waitable_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
Labels: area: bazel, area: networking, area: tests

Don't register async handlers for signalfd descriptors
  pkg/sentry/vfs/file_description.go
  test/syscalls/linux/fcntl.cc
Labels: area: filesystem, area: tests

Don't register async handlers for signalfd descriptors
  pkg/sentry/vfs/file_description.go
  test/syscalls/linux/fcntl.cc
Labels: area: filesystem, area: tests

Handle gratuitous ARP as unsolicited reply
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
Labels: area: networking, area: tests

Handle gratuitous ARP as unsolicited reply
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
Labels: area: networking, area: tests

Use named UDS to connect to the sandbox
  runsc/boot/controller.go
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Enable fuse in open test.
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fuse_unsafe.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  test/fuse/linux/open_test.cc
  test/runner/fuse/fuse.go
  test/syscalls/BUILD
Labels: area: bazel, area: filesystem, area: tests

Use named UDS to connect to the sandbox
  runsc/boot/controller.go
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Use named UDS to connect to the sandbox
  runsc/boot/controller.go
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Automated rollback of changelist 501671432
  runsc/boot/controller.go
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Automated rollback of changelist 501671432
  runsc/boot/controller.go
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Support unordered MGP record validation
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: bazel, area: networking, area: tests

Support unordered MGP record validation
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: bazel, area: networking, area: tests

Test sending multiple queued IGMP reports
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: bazel, area: networking, area: tests

Test sending multiple queued IGMP reports
  pkg/tcpip/network/ipv4/igmp_test.go
Labels: area: networking, area: tests

Test sending multiple queued IGMP reports
  pkg/tcpip/network/ipv4/igmp_test.go
Labels: area: networking, area: tests

Coalesce records sent by the state changed timer
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv6/mld_test.go
Labels: area: networking, area: tests

Coalesce records sent by the state changed timer
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv6/mld_test.go
Labels: area: networking, area: tests

Coalesce records for reports on MGP enable
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

Coalesce records for reports on MGP enable
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
