Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Set NICID before delivering packet to raw endpoint
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: bazel, area: networking, area: tests

tools/show_paths.bzl: check that provider_map isn't None
  .buildkite/pipeline.yaml
  test/util/BUILD
  test/util/benchmark_main.cc
  tools/bazel.mk
  tools/show_paths.bzl
Labels: area: bazel, area: tests, area: tooling

tools/show_paths.bzl: check that provider_map isn't None
  .buildkite/pipeline.yaml
  test/util/BUILD
  test/util/benchmark_main.cc
  tools/bazel.mk
  tools/show_paths.bzl
Labels: area: bazel, area: tests, area: tooling

Typo fix.
  pkg/safecopy/safecopy.go
Labels: none

Typo fix.
  pkg/safecopy/safecopy.go
Labels: none

Accept packets destined to bound address
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/raw_socket.cc
Labels: area: networking, area: tests

Accept packets destined to bound address
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/raw_socket.cc
Labels: area: networking, area: tests

runsc: allow rootless mode for runsc run
  runsc/cmd/run.go
Labels: none

runsc: allow rootless mode for runsc run
  runsc/cmd/run.go
Labels: none

Defer mutex unlocking
  pkg/tcpip/transport/raw/endpoint.go
Labels: area: networking

Defer mutex unlocking
  pkg/tcpip/transport/raw/endpoint.go
Labels: area: networking

Don't use SOL_UDP when creating sockets
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Don't use SOL_UDP when creating sockets
  test/syscalls/linux/raw_socket.cc
Labels: area: tests

Fix bug in RecvMMsgDispatcher.
  pkg/tcpip/link/rawfile/blockingpoll_amd64.s
  pkg/tcpip/link/rawfile/blockingpoll_arm64.s
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
Labels: arch: arm, arch: x86_64, area: networking

Fix bug in RecvMMsgDispatcher.
  pkg/tcpip/link/rawfile/blockingpoll_amd64.s
  pkg/tcpip/link/rawfile/blockingpoll_arm64.s
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
Labels: arch: arm, arch: x86_64, area: networking

Merge release-20210906.0-17-g2b46e2d19 (automated)
  pkg/tcpip/link/rawfile/blockingpoll_amd64.s
  pkg/tcpip/link/rawfile/blockingpoll_arm64.s
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
Labels: arch: arm, arch: x86_64, area: networking

Explicitly bind endpoint to a NIC
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_test.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Explicitly bind endpoint to a NIC
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/internal/network/endpoint_test.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Fix race on msgrcv(MSG_COPY).
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Fix race on msgrcv(MSG_COPY).
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Use a shared method to get loopback index
  test/syscalls/linux/BUILD
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/network_namespace.cc
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
Labels: area: bazel, area: tests

Use a shared method to get loopback index
  test/syscalls/linux/BUILD
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/network_namespace.cc
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
Labels: area: bazel, area: tests

Compose raw IP with datagram-based endpoint
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound.cc
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound.h
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound_loopback.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
Labels: area: bazel, area: networking, area: tests

Compose raw IP with datagram-based endpoint
  pkg/tcpip/transport/internal/network/BUILD
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound.cc
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound.h
  test/syscalls/linux/socket_ipv4_datagram_based_socket_unbound_loopback.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
Labels: area: bazel, area: networking, area: tests

Remove extra newline
  runsc/cmd/do.go
Labels: none

Remove extra newline
  runsc/cmd/do.go
Labels: none

[bind] Return EINVAL for under sized address
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/ping_socket.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

[bind] Return EINVAL for under sized address
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/ping_socket.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

Implement queueInode and queueFD in mqfs.
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/queue.go
  pkg/sentry/fsimpl/mqfs/root.go
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: filesystem, area: kernel

Create mq package.
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: kernel

Test read(2), poll(2), mount(2), and unshare(2) for message queues.
  test/syscalls/linux/BUILD
  test/syscalls/linux/mq.cc
Labels: area: bazel, area: tests

Test read(2), poll(2), mount(2), and unshare(2) for message queues.
  test/syscalls/linux/BUILD
  test/syscalls/linux/mq.cc
Labels: area: bazel, area: tests

Add abi definitions for POSIX message queues.
  pkg/abi/linux/BUILD
  pkg/abi/linux/mqueue.go
Labels: area: bazel

Implement mqfs.rootInode.
  pkg/abi/linux/fs.go
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/inodes.go
Labels: area: bazel, area: filesystem

Implement mqfs.rootInode.
  pkg/abi/linux/fs.go
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/inodes.go
Labels: area: bazel, area: filesystem

Implement queueInode and queueFD in mqfs.
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/queue.go
  pkg/sentry/fsimpl/mqfs/root.go
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: filesystem, area: kernel

Create mq package.
  pkg/sentry/kernel/mq/BUILD
  pkg/sentry/kernel/mq/mq.go
Labels: area: bazel, area: kernel

Add abi definitions for POSIX message queues.
  pkg/abi/linux/BUILD
  pkg/abi/linux/mqueue.go
Labels: area: bazel

Test creation and deletion of POSIX message queues.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/mq.cc
  test/util/temp_path.cc
  test/util/temp_path.h
Labels: area: bazel, area: tests

Implement vfs.FilesystemType and kernfs.Filesystem for mqfs.
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/mqfs.go
Labels: area: bazel, area: filesystem

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
