Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

[go-marshal] Enable auto-marshalling for fs/tty.
  pkg/abi/linux/tty.go
  pkg/sentry/fs/tty/BUILD
  pkg/sentry/fs/tty/line_discipline.go
  pkg/sentry/fs/tty/master.go
  pkg/sentry/fs/tty/queue.go
  pkg/sentry/fs/tty/slave.go
  pkg/sentry/fs/tty/terminal.go
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/devpts/slave.go
  pkg/sentry/fsimpl/devpts/terminal.go
Labels: area: bazel, area: filesystem

Bump build constraints to 1.17
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/platform/ptrace/subprocess_unsafe.go
  pkg/sentry/vfs/mount_unsafe.go
  pkg/sleep/sleep_unsafe.go
  pkg/sync/memmove_unsafe.go
  pkg/sync/mutex_unsafe.go
  pkg/sync/rwmutex_unsafe.go
  pkg/syncevent/waiter_unsafe.go
  pkg/tcpip/link/rawfile/blockingpoll_yield_unsafe.go
  pkg/tcpip/time_unsafe.go
Labels: arch: arm, arch: x86_64, area: filesystem, area: networking, platform: kvm, platform: ptrace

fix panic when calling SO_ORIGINAL_DST without initializing iptables
  pkg/tcpip/stack/iptables.go
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

[go-marshal] Enable auto-marshalling for tundev.
  pkg/sentry/devices/tundev/tundev.go
  pkg/sentry/fs/dev/net_tun.go
Labels: area: filesystem

Add nogo support to go_binary and go_test targets.
  pkg/cpuid/cpuid_parse_x86_test.go
  pkg/seccomp/BUILD
  test/benchmarks/database/redis_test.go
  test/benchmarks/fs/bazel_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
  test/packetimpact/runner/defs.bzl
  test/root/crictl_test.go
  test/runtimes/proctor/BUILD
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
  tools/issue_reviver/BUILD
  tools/issue_reviver/github/BUILD
  tools/nogo/check/BUILD
  tools/nogo/defs.bzl
Labels: area: bazel, area: tests, area: tooling

Run syscall tests in uts namespaces.
  test/runner/runner.go
Labels: area: tests

Expose basic coverage information to userspace through kcov interface.
  pkg/abi/linux/ioctl.go
  pkg/coverage/BUILD
  pkg/coverage/coverage.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/kcov.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kcov.go
  pkg/sentry/kernel/kcov_unsafe.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exit.go
  runsc/config/config.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/kcov.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Add function to get error from a tcpip.Endpoint
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/adapters/gonet/gonet.go
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/sample/tun_tcp_connect/main.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Fix handling of unacceptable ACKs during close.
  pkg/tcpip/transport/tcp/rcv.go
  test/packetimpact/dut/posix_server.cc
  test/packetimpact/proto/posix_server.proto
  test/packetimpact/testbench/connections.go
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_close_wait_ack_test.go
  test/packetimpact/tests/tcp_unacc_seq_ack_test.go
Labels: area: bazel, area: networking, area: tests

Implement StatFS for various VFS2 filesystems.
  pkg/abi/linux/fs.go
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/slave.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/kernfs/symlink.go
  pkg/sentry/fsimpl/pipefs/pipefs.go
  pkg/sentry/fsimpl/proc/filesystem.go
  pkg/sentry/fsimpl/proc/subtasks.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/fsimpl/sockfs/sockfs.go
  pkg/sentry/fsimpl/sys/kcov.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/vfs/filesystem_impl_util.go
  test/syscalls/BUILD
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/statfs.cc
Labels: area: bazel, area: filesystem, area: tests

beef up write syscall tests
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/write.cc
Labels: area: tests

Fix kernfs.Dentry reference leak.
  pkg/sentry/socket/netstack/netstack_vfs2.go
Labels: area: networking

Change "Fd" member to "FD" according to convension
  pkg/sentry/vfs/file_description.go
Labels: area: filesystem

Fix TCP_LINGER2 behavior to match linux.
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: networking, area: tests

Remove __fuchsia__ defines
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/raw_socket.cc
  test/syscalls/linux/tcp_socket.cc
  test/syscalls/linux/udp_socket.cc
  test/syscalls/linux/udp_socket_errqueue_test_case.cc
  test/syscalls/linux/udp_socket_test_cases.cc
  test/syscalls/linux/udp_socket_test_cases.h
  test/util/fs_util.cc
  test/util/fs_util.h
  test/util/test_util_runfiles.cc
Labels: area: bazel, area: tests

remove iptables sockopt special cases
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/unix.go
  pkg/sentry/socket/unix/unix_vfs2.go
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

Disable PHP disk space tests.
  test/runtimes/exclude_php7.3.6.csv
Labels: area: tests

Include shim in individual released binaries.
  Makefile
  debian/BUILD
  debian/description
  debian/postinst.sh
  runsc/BUILD
  shim/BUILD
Labels: area: bazel

stateify: Bring back struct field and type names in pretty print
  pkg/state/pretty/pretty.go
Labels: none

Link to PHP bug for disabled disk space tests.
  test/runtimes/exclude_php7.3.6.csv
Labels: area: tests

[vfs] Allow mountpoint to be an existing non-directory.
  pkg/sentry/vfs/mount.go
  runsc/boot/vfs.go
Labels: area: filesystem

Use 1080p background image.
  website/_sass/front.scss
  website/assets/images/background_1080p.jpg
Labels: none

Don't use read-only host FD for writable gofer dentries in VFS2.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Set errno on response when syscall actually fails
  test/packetimpact/dut/posix_server.cc
  test/packetimpact/tests/udp_discard_mcast_source_addr_test.go
Labels: area: tests

Fix JobControl tests for open source.
  test/syscalls/linux/pty.cc
  test/syscalls/linux/pty_root.cc
  test/util/pty_util.cc
  test/util/pty_util.h
Labels: area: tests

Use new reference count utility throughout gvisor.
  pkg/refs_vfs2/BUILD
  pkg/refs_vfs2/refs_template.go
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/subtasks.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/task_net.go
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
  pkg/sentry/kernel/fs_context.go
  pkg/sentry/kernel/sessions.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/special_mappable.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/queue.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/README.md
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/filesystem.go
  pkg/sentry/vfs/mount.go
  pkg/tcpip/link/tun/BUILD
  pkg/tcpip/link/tun/device.go
Labels: area: bazel, area: docs, area: filesystem, area: networking, area: kernel, area: mm, area: tests

Fix SocketPairTest and BadSocketPairTest in opensource.
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
Labels: area: tests

[runtime-tests] Exclude flaky nodejs test.
  test/runtimes/exclude_nodejs12.4.0.csv
Labels: area: tests

Device major number greater than 2 digits in /proc/self/maps on arm64 N1 machine
  pkg/sentry/platform/kvm/virtual_map.go
Labels: platform: kvm

overlay: clonePrivateMount must pass a Dentry reference to MakeVirtualDentry.
  pkg/sentry/fsimpl/overlay/overlay.go
Labels: area: filesystem

use is-active instead of status
  debian/postinst.sh
Labels: none

ip6tables: (de)serialize ip6tables structs
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/ipv6.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  test/syscalls/linux/ip6tables.cc
Labels: area: bazel, area: networking, area: tests

Improve type safety for network protocol options
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/forwarder_test.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
  runsc/boot/loader.go
Labels: area: networking, area: tests

Support SO_LINGER socket option.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/endpoint.go
  test/packetimpact/dut/posix_server.cc
  test/packetimpact/proto/posix_server.proto
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_linger_test.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
Labels: area: bazel, area: networking, area: tests

Remove go profiling flag from dockerutil.
  pkg/test/dockerutil/dockerutil.go
  pkg/test/dockerutil/profile.go
Labels: area: tests

Include command output on error
  test/packetimpact/runner/packetimpact_test.go
Labels: area: tests

Fix EOF handling for splice.
  pkg/sentry/syscalls/linux/vfs2/splice.go
  test/syscalls/linux/sendfile.cc
  test/syscalls/linux/splice.cc
Labels: area: kernel, area: tests

Fix deadlock in gofer direct IO.
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/time.go
Labels: area: filesystem

Flush in fsimpl/gofer.regularFileFD.OnClose() if there are no dirty pages.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

Make flag propagation automatic
  pkg/refs/refcounter.go
  pkg/sentry/watchdog/watchdog.go
  pkg/test/testutil/testutil.go
  runsc/boot/loader_test.go
  runsc/boot/strace.go
  runsc/config/BUILD
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/flag/flag.go
  runsc/main.go
  runsc/sandbox/network.go
Labels: area: bazel, area: tests
