Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Github assigner: replacing reviewer list with governance YAMLs
  .github/reviewer.json
  .github/workflows/auto_assign.js
  .github/workflows/auto_assign.yml
  Makefile
  governance/tools/maintainers/maintainers_gen.go
Labels: none

WIP: buildkite: add continuous syscall tests against Linux release candidates
  .buildkite/pipeline.yaml
Labels: none

Reject unsupported veth peer attributes
  pkg/sentry/socket/netstack/stack.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

Add `zstd` variant of gVisor release tarball.
  .github/workflows/release_mirror_lib.sh
  Makefile
  README.md
  debian/BUILD
  g3doc/user_guide/install.md
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/state_file.go
  tools/make_release.sh
  tools/zstd/BUILD
  tools/zstd/compressor.c
Labels: area: bazel, area: docs, area: tests, area: tooling

Fix ring0 compatibility with Go toolchain ABI wrappers.
  nogo.yaml
  pkg/ring0/defs_amd64.go
  pkg/ring0/entry_amd64.s
  pkg/ring0/kernel_amd64.go
  pkg/ring0/lib_amd64.go
  pkg/ring0/lib_amd64.s
Labels: arch: x86_64

control: Allow reconfiguring the save/restore exec binary
  pkg/sentry/control/state.go
  runsc/container/container_test.go
Labels: area: tests

Move `pinring` to its own sidecar binary rather than the gofer.
  pkg/pinring/pinring.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/donation/donation.go
  runsc/fdparking/BUILD
  runsc/fdparking/fdparking.c
  runsc/fdparking/fdparking_test.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  tools/release.bzl
Labels: area: bazel, area: tests, area: tooling

control: Allow reconfiguring the save/restore exec binary
  pkg/sentry/control/state.go
  runsc/container/container_test.go
Labels: area: tests

Deflake epoll_test
  test/syscalls/linux/epoll.cc
Labels: area: tests

fuse: advertise FUSE_BIG_WRITES in INIT
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/host_connection.go
  pkg/sentry/fsimpl/fuse/host_connection_integration_test.go
  pkg/sentry/fsimpl/fuse/read_write.go
Labels: area: filesystem, area: tests

shim: bound runsc kill, escalate to killing the sandbox process
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/init_kill_test.go
  pkg/shim/v1/runsccmd/runsc.go
Labels: area: bazel, area: tests

Add building the Python SandboxExec wheel to our build pipeline
  .buildkite/release.yaml
  Makefile
  images/default/Dockerfile
  tools/make_python_release.sh
  tools/make_release.sh
Labels: area: tooling

add initial support for --tmp-mount flag
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: tests

cgroup2fs: fix populated accounting when a mid-level cgroup drains
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  test/syscalls/linux/cgroup2.cc
Labels: area: filesystem, area: tests

internal change.
  pkg/seccomp/precompiledseccomp/defs.bzl
  test/kubernetes/testcluster/objects.go
  test/kubernetes/testcluster/objects_test.go
Labels: area: bazel, area: tests

improve readability of tmp mount option
  runsc/boot/vfs.go
Labels: none

Add the `profile` command to `runsc`, with subcommands `cpu` and `heap`.
  runsc/cli/maincli/BUILD
  runsc/cli/maincli/maincli.go
  runsc/cmd/profile/BUILD
  runsc/cmd/profile/cpu.go
  runsc/cmd/profile/heap.go
  runsc/cmd/profile/profile.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

cgroup2fs: charge existing tasks on pids controller enablement
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/pids.go
  test/syscalls/linux/cgroup2.cc
Labels: area: filesystem, area: tests

Move `pinring` to its own sidecar binary rather than the gofer.
  pkg/pinring/pinring.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/donation/donation.go
  runsc/fdparking/BUILD
  runsc/fdparking/fdparking.c
  runsc/fdparking/fdparking_test.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  tools/release.bzl
Labels: area: bazel, area: tests, area: tooling

control: Allow reconfiguring the save/restore exec binary
  pkg/sentry/control/state.go
  runsc/container/container_test.go
Labels: area: tests

cgroup2fs: fix cpu controller accounting
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/cpu.go
  test/syscalls/linux/cgroup2.cc
Labels: area: filesystem, area: tests

Close exposed race window in stub ThreadID setting.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap_test.go
  pkg/sentry/platform/systrap/testutil/BUILD
  pkg/sentry/platform/systrap/testutil/testutil_amd64.go
  pkg/sentry/platform/systrap/testutil/testutil_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

Reproduce host errno for unreadable RDMA netdev sysfs attributes.
  pkg/rdma/BUILD
  pkg/rdma/collect.go
  pkg/rdma/snapshot.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/rdma.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/fsimpl/sys/sys_integration_test.go
Labels: area: bazel, area: filesystem, area: tests

Apply TCP keepalive sysctl options from OCI config
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/protocol_test.go
  runsc/boot/loader.go
Labels: area: filesystem, area: networking, area: tests

images/gpu: modernize pytorch image for Blackwell and remove legacy benchmarks
  images/gpu/pytorch/Dockerfile.x86_64
  images/gpu/pytorch/download_pytorch_datasets.py
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/pytorch.go
  test/kubernetes/benchmarks/pytorch_test.go
Labels: area: bazel, area: tests

Support RENAME_EXCHANGE in tmpfs and overlayfs
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/rename.cc
Labels: area: filesystem, area: tests

stateio: stop inflating GOMAXPROCS for page reads
  pkg/aio/BUILD
  pkg/aio/aio.go
  pkg/sentry/state/stateio/pagesfile.go
Labels: area: bazel

publish a release tag after the artifacts are uploaded.
  .buildkite/release.yaml
  .buildkite/scripts/release/tag.sh
  Makefile
  tools/make_release.sh
  tools/tag_release.sh
Labels: area: tooling

lisafs: fix uint32 truncation in PReadResp.CheckedUnmarshal bounds check
  pkg/lisafs/message.go
Labels: none

runsc/bwrap: Expand namespace flags in bwrap personality
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: tests

lisafs: fix uint32 truncation in PReadResp.CheckedUnmarshal bounds check (+ regression test)
  pkg/lisafs/message.go
Labels: none

Internal Change
  pkg/abi/linux/BUILD
  pkg/abi/linux/landlock.go
Labels: area: bazel

Probe the minimum mappable address when vm.mmap_min_addr is unreadable
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/mmap_min_addr.go
  pkg/sentry/platform/mmap_min_addr_test.go
  runsc/cmd/sentry/sentrycmd/chroot.go
Labels: area: bazel, area: tests

Resolve runsc binary path early to fix rootless Docker
  runsc/specutils/specutils.go
Labels: none

Allow GSO packet forwarding when per-segment size fits MTU
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: networking

Internal Change
  test/syscalls/linux/getcpu.cc
Labels: area: tests

sentry: Support `ARCH_GET_GS` and `ARCH_SET_GS` arch_prctl options on AMD64
  pkg/sentry/arch/arch.go
  pkg/sentry/arch/arch_amd64.go
  pkg/sentry/arch/arch_arm64.go
  pkg/sentry/kernel/task_usermem.go
  pkg/sentry/mm/address_space.go
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/slimvm/address_space.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg_thread_amd64.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
  pkg/sentry/platform/systrap/usertrap/usertrap_arm64.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_tls_amd64.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/arch_prctl.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: mm, area: tests, platform: kvm, platform: ptrace

address review feedback: move ExePath init out of init()
  runsc/cli/maincli/maincli.go
  runsc/specutils/specutils.go
Labels: none

fuse: add no_create fallback and offer ATOMIC_O_TRUNC/BIG_WRITES in INIT
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/host_connection.go
  pkg/sentry/fsimpl/fuse/host_connection_integration_test.go
  pkg/sentry/fsimpl/fuse/inode.go
  pkg/sentry/fsimpl/fuse/read_write.go
Labels: area: filesystem, area: tests

nvproxy: support AMPERE_B and GET_HS_CREDITS_MAPPING
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
