Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add syscall docs back to menu
  website/cmd/syscalldocs/main.go
Labels: none

Update splice syscall documentation.
  pkg/sentry/syscalls/linux/linux64.go
Labels: area: kernel

Update splice syscall documentation.
  pkg/sentry/syscalls/linux/linux64.go
Labels: area: kernel

Syscall test for connecting to unspecified address
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Syscall test for connecting to unspecified address
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Fix fsstress argument name
  test/fsstress/fsstress_test.go
Labels: area: tests

Fix fsstress argument name
  test/fsstress/fsstress_test.go
Labels: area: tests

Populate EgressRoute, GSO, Netproto in NIC
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/stack/nic.go
Labels: area: networking

Populate EgressRoute, GSO, Netproto in NIC
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/stack/nic.go
Labels: area: networking

Queue packets in WritePackets when resolving link address
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Queue packets in WritePackets when resolving link address
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Fix ownership change logic
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Fix ownership change logic
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: tests

Add image presubmit tests and mark fsstress x86_64 only.
  .buildkite/pipeline.yaml
  images/basic/fsstress/Dockerfile.x86_64
Labels: none

Add image presubmit tests and mark fsstress x86_64 only.
  .buildkite/pipeline.yaml
  images/basic/fsstress/Dockerfile.x86_64
Labels: none

Do not cache remote link address in Route
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/route.go
Labels: area: networking, area: tests

Do not cache remote link address in Route
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/route.go
Labels: area: networking, area: tests

Only use callback for GetLinkAddress
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Only use callback for GetLinkAddress
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Syscall docs update
  website/cmd/syscalldocs/main.go
Labels: none

Syscall docs update
  website/cmd/syscalldocs/main.go
Labels: none

iptables: support matching the input interface name
  pkg/sentry/socket/netfilter/ipv4.go
  pkg/sentry/socket/netfilter/ipv6.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/owner_matcher.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/iptables_test.go
  test/iptables/filter_input.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
Labels: area: bazel, area: networking, area: tests

iptables: support matching the input interface name
  pkg/sentry/socket/netfilter/ipv4.go
  pkg/sentry/socket/netfilter/ipv6.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/owner_matcher.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/iptables_test.go
  test/iptables/filter_input.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
Labels: area: bazel, area: networking, area: tests

Resolve static link addresses in GetLinkAddress
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Resolve static link addresses in GetLinkAddress
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Internal change.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/symlink.go
  test/syscalls/linux/exec.cc
  test/syscalls/linux/open.cc
  test/syscalls/linux/symlink.cc
Labels: area: filesystem, area: tests

[infra] Fix Build Github action failure.
  tools/bazel.mk
Labels: area: tooling

[infra] Fix Build Github action failure.
  tools/bazel.mk
Labels: area: tooling

Fix TestDuplicateEnvVariable flakyness
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Fix TestDuplicateEnvVariable flakyness
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Remove dependency to abi/linux
  runsc/fsgofer/BUILD
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_amd64_unsafe.go
  runsc/fsgofer/fsgofer_arm64_unsafe.go
Labels: area: bazel

Remove dependency to abi/linux
  runsc/fsgofer/BUILD
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_amd64_unsafe.go
  runsc/fsgofer/fsgofer_arm64_unsafe.go
Labels: area: bazel

Avoid atomic operations in kcov processing.
  pkg/coverage/coverage.go
Labels: none

Add initial mitigate code and cpu parsing.
  runsc/mitigate/BUILD
  runsc/mitigate/cpu.go
  runsc/mitigate/cpu_test.go
  runsc/mitigate/mitigate.go
Labels: area: bazel, area: tests

Add initial mitigate code and cpu parsing.
  runsc/mitigate/BUILD
  runsc/mitigate/cpu.go
  runsc/mitigate/cpu_test.go
  runsc/mitigate/mitigate.go
Labels: area: bazel, area: tests

Avoid atomic operations in kcov processing.
  pkg/coverage/coverage.go
Labels: none

Avoid atomic operations in kcov processing.
  pkg/coverage/coverage.go
Labels: none

Add tests for RACK
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: bazel, area: tests

Add tests for RACK
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: bazel, area: tests

Define tcpip.Payloader in terms of io.Reader
  pkg/sentry/kernel/task_block.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/tcpip/adapters/gonet/gonet.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/sample/tun_tcp_connect/BUILD
  pkg/tcpip/sample/tun_tcp_connect/main.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/tests/integration/loopback_test.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
  pkg/tcpip/tests/integration/route_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_noracedetector_test.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
  pkg/tcpip/transport/tcp/tcp_sack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/tcp_timestamp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  pkg/usermem/usermem.go
Labels: area: bazel, area: networking, area: kernel, area: tests
