Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Run more benchmarks for PGO profiling.
  test/benchmarks/base/BUILD
  test/benchmarks/database/BUILD
  test/benchmarks/fs/BUILD
  test/benchmarks/network/BUILD
Labels: area: bazel, area: tests

Check MS_RDONLY for O_TRUNC before doing file truncation.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/open.cc
Labels: area: filesystem, area: tests

Automated rollback of changelist 776326812
  test/image/image_test.go
Labels: area: tests

Use gVisor test alpine image for docker tests.
  test/image/image_test.go
Labels: area: tests

Wait for main MF loading to start before writing to it during restore.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  runsc/boot/restore.go
Labels: area: kernel

Update driver installer for ARM64 compatibility
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
  tools/gpu/BUILD
  tools/gpu/drivers/BUILD
  tools/gpu/drivers/install_driver.go
  tools/gpu/drivers/install_driver_test.go
  tools/gpu/main.go
Labels: area: bazel, area: tests, area: tooling

Fix lock order inversion between taskMutex and kernfs.ancestryRWMutex.
  pkg/sentry/kernel/task_cgroup.go
Labels: area: kernel

sentry/kernel: don't use Task.mu to protect Task.creds
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/loader/loader.go
  pkg/sentry/syscalls/linux/sys_prctl.go
Labels: area: kernel

sentry/kernel: allow pending signal sets to be read without locking
  pkg/sentry/kernel/pending_signals.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_signals.go
Labels: area: kernel

gofer: apply mount flags
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
  runsc/specutils/fs.go
Labels: none

runsc: Make identity user mapping work for filesystem
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Check MS_RDONLY for O_TRUNC before doing file truncation.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/mount.cc
  test/syscalls/linux/open.cc
Labels: area: filesystem, area: tests

sentry/kernel: don't use Task.mu to protect Task.creds
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/loader/loader.go
  pkg/sentry/syscalls/linux/sys_prctl.go
Labels: area: kernel

Check MS_RDONLY for O_TRUNC before doing file truncation.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/mount.cc
  test/syscalls/linux/open.cc
Labels: area: filesystem, area: tests

Check for fatal signals and reset watchdog during MM.mapASLocked().
  pkg/context/context.go
  pkg/sentry/kernel/task_block.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/mm/address_space.go
  pkg/sentry/mm/io.go
  pkg/sentry/mm/syscalls.go
Labels: area: kernel, area: mm

Make GPU smoke tests work on ARM
  images/gpu/cuda-tests-12-8/Dockerfile
  images/gpu/cuda-tests-12-8/install_go.sh
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
  test/gpu/smoke_test.go
  tools/gpu/BUILD
  tools/gpu/drivers/BUILD
  tools/gpu/drivers/install_driver.go
  tools/gpu/drivers/install_driver_test.go
  tools/gpu/main.go
Labels: area: bazel, area: tests, area: tooling

gofer: Ensure mount flags are applied for bind mounts
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
  runsc/specutils/fs.go
Labels: none

chore: fix some minor issues in the comments
  images/gpu/cuda-tests-12-8/run_sample.go
  images/gpu/cuda-tests/run_sample.go
Labels: none

Allow not handled packets for UDP Forwarder
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/transport/udp/forwarder.go
Labels: area: networking, area: tests

Docker tests and benchmarks: Remove use of exposed ports.
  pkg/test/dockerutil/container.go
  test/benchmarks/database/redis_test.go
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
Labels: area: tests

Modify string method to trim all null terminating bytes.
  pkg/abi/linux/netlink.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/BUILD
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/BUILD
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nftables_types.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
Labels: area: bazel, area: networking, area: tests

runsc: add support to control CPU features exposed to user apps
  pkg/cpuid/native_amd64.go
  pkg/cpuid/native_arm64.go
  runsc/boot/loader.go
  runsc/cmd/boot.go
  runsc/specutils/specutils.go
Labels: arch: arm, arch: x86_64

cmd: add subcommand cpu-feature to dump supported CPU features
  runsc/cli/main.go
  runsc/cmd/BUILD
  runsc/cmd/cpu_feature.go
Labels: area: bazel

Wait for main MF loading to start before writing to it during restore.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  runsc/boot/restore.go
Labels: area: kernel

checklocks: correctly document field-level `checklocksignore`
  tools/checklocks/README.md
Labels: area: docs, area: tooling

Modify string method to trim all null terminating bytes.
  pkg/abi/linux/netlink.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/BUILD
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/BUILD
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nftables_types.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
Labels: area: bazel, area: networking, area: tests

Drop unnecessary size checks and corrections for Netlink attributes.
  pkg/abi/linux/netlink.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/BUILD
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/BUILD
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nftables_types.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
Labels: area: bazel, area: networking, area: tests

Fix duplicate "dev.gvisor" in AnnotationsContainerNameRemapIgnored test.
  runsc/container/container_test.go
Labels: area: tests

Update how `runsc exec` sets env variables.
  runsc/cmd/exec.go
  runsc/cmd/exec_test.go
Labels: area: tests

`profiletool merge`: Skip empty profile files.
  tools/profiletool/profiletool.go
Labels: area: tooling

Use only .tar.gz Go SDK archives
  WORKSPACE
Labels: dependencies

Support and document testing on macOS with CLT
  README.md
  WORKSPACE
  tools/nogo/cli/BUILD
  tools/nogo/cli/cli.go
Labels: area: bazel, area: docs, area: tooling, dependencies

Remove bazel benchmark from benchmarks for which profiles are collected.
  test/benchmarks/fs/BUILD
Labels: area: bazel, area: tests

Update driver installer for ARM64 compatibility
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
  tools/gpu/BUILD
  tools/gpu/drivers/BUILD
  tools/gpu/drivers/install_driver.go
  tools/gpu/drivers/install_driver_test.go
  tools/gpu/main.go
Labels: area: bazel, area: tests, area: tooling

Make env flag for runsc exec non idempotent.
  runsc/cli/BUILD
  runsc/cli/cli_test.go
  runsc/cmd/exec.go
Labels: area: bazel, area: tests

Allow not handled packets for UDP Forwarder
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/transport/udp/forwarder.go
Labels: area: networking, area: tests

Make GPU smoke tests work on ARM
  images/gpu/cuda-tests-12-8/Dockerfile
  images/gpu/cuda-tests-12-8/install_go.sh
  test/gpu/smoke_test.go
Labels: area: tests

Update gvisor's docker in gvisor image.
  images/basic/docker/Dockerfile
Labels: none

Allow not handled packets for UDP Forwarder
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/transport/udp/forwarder.go
Labels: area: networking, area: tests

Make nccl and sr tests work on ARM
  images/gpu/nccl-tests/Dockerfile
  test/gpu/sr_test.go
Labels: area: tests
