Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Fix BadSocketPair for open source.
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Refactor tty codebase to use master-replica terminology.
  pkg/abi/linux/dev.go
  pkg/abi/linux/tty.go
  pkg/sentry/fs/host/tty.go
  pkg/sentry/fs/tty/BUILD
  pkg/sentry/fs/tty/dir.go
  pkg/sentry/fs/tty/fs.go
  pkg/sentry/fs/tty/line_discipline.go
  pkg/sentry/fs/tty/master.go
  pkg/sentry/fs/tty/queue.go
  pkg/sentry/fs/tty/replica.go
  pkg/sentry/fs/tty/terminal.go
  pkg/sentry/fs/tty/tty_test.go
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/devpts/devpts_test.go
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/devpts/terminal.go
  pkg/sentry/fsimpl/host/host.go
  runsc/boot/fs.go
  runsc/cmd/exec.go
  runsc/console/console.go
  runsc/container/console_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/syscalls/linux/pty.cc
  test/syscalls/linux/pty_root.cc
  test/util/pty_util.cc
  test/util/pty_util.h
Labels: area: bazel, area: filesystem, area: tests

Update inotify documentation for gofer filesystem.
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/vfs/g3doc/inotify.md
Labels: area: docs, area: filesystem, area: kernel

Skip IPv6UDPUnboundSocketNetlinkTest on native linux
  test/syscalls/linux/socket_ipv6_udp_unbound_netlink.cc
Labels: area: tests

Automated rollback of changelist 327325153
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: bazel, area: networking

Implement setattr+clunk in 9P
  pkg/p9/client_file.go
  pkg/p9/file.go
  pkg/p9/handlers.go
  pkg/p9/messages.go
  pkg/p9/messages_test.go
  pkg/p9/p9.go
  pkg/p9/p9test/client_test.go
  pkg/p9/version.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/p9file.go
  runsc/fsgofer/fsgofer.go
  test/perf/linux/BUILD
  test/perf/linux/open_read_close_benchmark.cc
Labels: area: bazel, area: filesystem, area: tests

[go-marshal] Support for usermem.IOOpts.
  pkg/sentry/kernel/task_usermem.go
Labels: area: kernel

Improve type safety for socket options
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/stack/transport_demuxer_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

Return non-zero size for tmpfs statfs(2).
  pkg/abi/linux/fs.go
  pkg/sentry/fs/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
Labels: area: filesystem

Use atomic.Value for Stack.tcpProbeFunc.
  pkg/tcpip/stack/stack.go
Labels: area: networking

Honor readonly flag for root mount
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/ext/benchmark/benchmark_test.go
  pkg/sentry/fsimpl/ext/ext_test.go
  pkg/sentry/fsimpl/fuse/dev_test.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/sys/sys_test.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/vfs/mount.go
  runsc/boot/fs.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/container/shared_volume_test.go
Labels: area: filesystem, area: tests

[vfs] Fix error handling in overlayfs OpenAt.
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

Add support to run packetimpact tests against Fuchsia
  images/Makefile
  images/packetimpact/Dockerfile
  pkg/test/dockerutil/container.go
  test/packetimpact/dut/BUILD
  test/packetimpact/dut/posix_server.cc
  test/packetimpact/runner/BUILD
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/dut.go
  test/packetimpact/runner/packetimpact_test.go
Labels: area: bazel, area: tests

Fix make_apt script.
  Makefile
  tools/make_apt.sh
Labels: area: tooling

Add a Docker Compose tutorial
  g3doc/user_guide/tutorials/BUILD
  g3doc/user_guide/tutorials/docker-compose.md
  g3doc/user_guide/tutorials/docker.md
  website/BUILD
Labels: area: bazel, area: docs

Add check for both child and childMerkle ENOENT
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

[vfs] Capitalize x in the {Get/Set/Remove/List}xattr functions.
  pkg/sentry/fs/inode.go
  pkg/sentry/fs/inode_overlay.go
  pkg/sentry/fsimpl/ext/filesystem.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
  pkg/sentry/syscalls/linux/vfs2/xattr.go
  pkg/sentry/vfs/anonfs.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/filesystem.go
  pkg/sentry/vfs/memxattr/xattr.go
  pkg/sentry/vfs/options.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/xattr.cc
Labels: area: filesystem, area: kernel, area: tests

Run gentdents_benchmark with fewer files.
  test/perf/linux/getdents_benchmark.cc
Labels: area: tests

Update Go version constraint on sync/spin_unsafe.go.
  pkg/sync/spin_unsafe.go
Labels: none

Fix Accept to not return error for sockets in accept queue.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/sentry/socket/unix/unix.go
  pkg/sentry/socket/unix/unix_vfs2.go
  pkg/tcpip/adapters/gonet/gonet.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: tests

Add syntax highlighting to website
  images/jekyll/Dockerfile
  images/jekyll/build.sh
  website/css/main.scss
Labels: none

[vfs] overlayfs: Fix socket tests.
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/mkdir.cc
  test/syscalls/linux/mknod.cc
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/unlink.cc
Labels: area: filesystem, area: tests

Fix data race in tcp.GetSockOpt.
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

[runtime tests] Exclude flaky nodejs test
  test/runtimes/exclude_nodejs12.4.0.csv
Labels: area: tests

Simplify FD handling for container start/exec
  pkg/fd/fd.go
  pkg/sentry/control/BUILD
  pkg/sentry/control/proc.go
  pkg/sentry/fdimport/BUILD
  pkg/sentry/fdimport/fdimport.go
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/fs.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/container/multi_container_test.go
Labels: area: bazel, area: tests

[vfs] overlayfs: decref VD when not using it.
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

Avoid grpc_impl
  test/packetimpact/dut/posix_server.cc
Labels: area: tests

github: run actions for feature branches
  .github/workflows/build.yml
  .github/workflows/go.yml
Labels: none

Increase resolution timeout for TestCacheResolution
  pkg/tcpip/stack/linkaddrcache_test.go
Labels: area: networking, area: tests

Add Docs to nginx benchmark.
  images/benchmarks/httpd/Dockerfile
  images/benchmarks/nginx/Dockerfile
  images/benchmarks/nginx/nginx.conf
  test/benchmarks/network/BUILD
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/static_server.go
Labels: area: bazel, area: tests

Improve sync.SeqCount performance.
  pkg/sync/BUILD
  pkg/sync/seqatomic_unsafe.go
  pkg/sync/seqcount.go
  pkg/sync/spin_unsafe.go
Labels: area: bazel

Don't sched_setaffinity in ptrace platform.
  pkg/sentry/platform/ptrace/BUILD
  pkg/sentry/platform/ptrace/filters.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_linux_unsafe.go
Labels: area: bazel, platform: ptrace

[vfs] Implement xattr for overlayfs.
  pkg/sentry/fs/inode_overlay.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/permissions.go
Labels: area: filesystem

Adjust input file offset when sendfile only completes a partial write.
  pkg/sentry/syscalls/linux/vfs2/BUILD
  pkg/sentry/syscalls/linux/vfs2/splice.go
Labels: area: bazel, area: kernel

Dup stdio FDs for VFS2 when starting a child container
  runsc/boot/loader.go
Labels: none

Implement synthetic mountpoints for kernfs.
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/synthetic_directory.go
Labels: area: bazel, area: filesystem

Fix the use after nil check on args.MountNamespaceVFS2
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Fix the release workflow.
  tools/make_apt.sh
Labels: area: tooling

Update version in cni tutorial
  g3doc/user_guide/tutorials/cni.md
Labels: area: docs

Use fine-grained mutex for stack.cleanupEndpoints.
  pkg/tcpip/stack/stack.go
Labels: area: networking
