Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Remove side effect from open tests
  test/syscalls/linux/BUILD
  test/syscalls/linux/open.cc
  test/syscalls/linux/open_create.cc
Labels: area: bazel, area: tests

Remove side effect from open tests
  test/syscalls/linux/BUILD
  test/syscalls/linux/open.cc
  test/syscalls/linux/open_create.cc
Labels: area: bazel, area: tests

Extract route table from Stack lock
  pkg/tcpip/stack/stack.go
Labels: area: networking

Extract route table from Stack lock
  pkg/tcpip/stack/stack.go
Labels: area: networking

Hide neighbor table kind from NetworkEndpoint
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/stats_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/stats_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

Hide neighbor table kind from NetworkEndpoint
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/stats_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/stats_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

Use different neighbor tables per network endpoint
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Use different neighbor tables per network endpoint
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: networking, area: tests

Remove NICs before closing their link endpoints
  pkg/tcpip/network/ipv6/icmp_test.go
Labels: area: networking, area: tests

Remove NICs before closing their link endpoints
  pkg/tcpip/network/ipv6/icmp_test.go
Labels: area: networking, area: tests

Use closure for IPv6 testContext cleanup
  pkg/tcpip/network/ipv6/icmp_test.go
Labels: area: networking, area: tests

Use closure for IPv6 testContext cleanup
  pkg/tcpip/network/ipv6/icmp_test.go
Labels: area: networking, area: tests

Default to NUD/neighborCache instead of linkAddrCache
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Default to NUD/neighborCache instead of linkAddrCache
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Prevent full world switch for FUTEX_WAKE.
  pkg/sentry/platform/kvm/bluepill_amd64.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/kvm_const.go
  pkg/sentry/platform/ring0/entry_amd64.s
  pkg/sentry/platform/ring0/entry_arm64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel.go
Labels: arch: arm, arch: x86_64, platform: kvm

Assert expected size before unmarshalling
  test/packetimpact/tests/tcp_info_test.go
Labels: area: tests

Assert expected size before unmarshalling
  test/packetimpact/tests/tcp_info_test.go
Labels: area: tests

[infra] Fix gazelle target.
  Makefile
Labels: none

[infra] Fix gazelle target.
  Makefile
Labels: none

Refactor HandleControlPacket/SockError
  nogo.yaml
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/socket.go
  pkg/tcpip/header/icmpv4.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Refactor HandleControlPacket/SockError
  nogo.yaml
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/socket.go
  pkg/tcpip/header/icmpv4.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Add basic VSCode plumbing.
  .devcontainer.json
  .vscode/tasks.json
Labels: none

Add basic VSCode plumbing.
  .devcontainer.json
  .vscode/tasks.json
Labels: none

Update .devcontainer.json
  .devcontainer.json
Labels: none

Update .devcontainer.json
  .devcontainer.json
Labels: none

Ignore convenience symlink.
  .bazelignore
Labels: none

Ignore convenience symlink.
  .bazelignore
Labels: none

[infra] Consolidate all ubuntu tests into one image.
  images/basic/hostoverlaytest/Dockerfile
  images/basic/integrationtest/Dockerfile
  images/basic/integrationtest/copy_up_testfile.txt
  images/basic/integrationtest/link_test.c
  images/basic/integrationtest/ping4.sh
  images/basic/integrationtest/ping6.sh
  images/basic/integrationtest/test_copy_up.c
  images/basic/integrationtest/test_rewinddir.c
  images/basic/linktest/Dockerfile
  images/basic/ping4test/Dockerfile
  images/basic/ping6test/Dockerfile
  test/e2e/integration_test.go
Labels: area: tests

[infra] Consolidate all ubuntu tests into one image.
  images/basic/hostoverlaytest/Dockerfile
  images/basic/integrationtest/Dockerfile
  images/basic/integrationtest/copy_up_testfile.txt
  images/basic/integrationtest/link_test.c
  images/basic/integrationtest/ping4.sh
  images/basic/integrationtest/ping6.sh
  images/basic/integrationtest/test_copy_up.c
  images/basic/integrationtest/test_rewinddir.c
  images/basic/linktest/Dockerfile
  images/basic/ping4test/Dockerfile
  images/basic/ping6test/Dockerfile
  test/e2e/integration_test.go
Labels: area: tests

Remove Go cache on failure.
  .buildkite/hooks/post-command
  tools/go_branch.sh
Labels: area: tooling

Remove Go cache on failure.
  .buildkite/hooks/post-command
  tools/go_branch.sh
Labels: area: tooling

Add RACK reorder tests.
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: tests

Add RACK reorder tests.
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: tests

Enable container checkpoint/restore tests with VFS2
  runsc/container/console_test.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Enable container checkpoint/restore tests with VFS2
  runsc/container/console_test.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Fix empty Packages file for APT repository.
  tools/make_apt.sh
Labels: area: tooling

Fix empty Packages file for APT repository.
  tools/make_apt.sh
Labels: area: tooling

Minor page tables improvements.
  pkg/sentry/platform/ring0/pagetables/BUILD
  pkg/sentry/platform/ring0/pagetables/pagetables.go
  pkg/sentry/platform/ring0/pagetables/pagetables_aarch64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_amd64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_test.go
  pkg/sentry/platform/ring0/pagetables/pagetables_x86.go
  pkg/sentry/platform/ring0/pagetables/walker_amd64.go
  pkg/sentry/platform/ring0/pagetables/walker_arm64.go
  pkg/sentry/platform/ring0/pagetables/walker_generic.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm

Minor page tables improvements.
  pkg/sentry/platform/ring0/pagetables/BUILD
  pkg/sentry/platform/ring0/pagetables/pagetables.go
  pkg/sentry/platform/ring0/pagetables/pagetables_aarch64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_amd64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_test.go
  pkg/sentry/platform/ring0/pagetables/pagetables_x86.go
  pkg/sentry/platform/ring0/pagetables/walker_amd64.go
  pkg/sentry/platform/ring0/pagetables/walker_arm64.go
  pkg/sentry/platform/ring0/pagetables/walker_generic.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm

Assert TCP_INFO size before checking content
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
