Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix races in shim version queries and RPC shutdown
  pkg/shim/v1/runsc/service.go
  pkg/urpc/urpc.go
  runsc/boot/portforward/BUILD
  runsc/boot/portforward/portforward_fd_rw_test.go
  runsc/boot/portforward/portforward_hostinet_test.go
  runsc/boot/portforward/portforward_netstack_test.go
  runsc/boot/portforward/portforward_test_util.go
Labels: area: bazel, area: tests

overlayFS: Fix lock ordering/race in SetStat.
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/regular_file.go
Labels: area: filesystem

Make unexpected subprocess kills thread-safe.
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_test.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/systrap.go
Labels: area: tests

Fix IPC removal error handling
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/kernel/semaphore/semaphore.go
  test/syscalls/linux/msgqueue.cc
  test/syscalls/linux/semaphore.cc
Labels: area: kernel, area: tests

Fix arm64 syscall re-execution when first argument is a kernel restart code.
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/kill.cc
Labels: arch: arm, area: bazel, area: tests, platform: ptrace

checklocks: fix arm64 race compare-and-swap
  pkg/sync/gate_test.go
  pkg/sync/race_arm64.s
Labels: arch: arm, area: tests

seccheck: Add context support to scsdk file reading APIs.
  pkg/seccheck/scsdk/fs.go
  pkg/seccheck/scsdk/fs_test.go
Labels: area: tests

Update gVisor SDK quickstart documentation for API changes.
  g3doc/user_guide/sdk/quickstart.md
Labels: area: docs

images/gpu: fix non-building images for nccl-tests and vllm
  images/gpu/nccl-tests/Dockerfile.aarch64
  images/gpu/nccl-tests/Dockerfile.x86_64
  images/gpu/vllm/Dockerfile.x86_64
Labels: none

check the license header on newly added files.
  .github/workflows/fileheader.yml
  tools/check_license_headers.sh
Labels: area: tooling

runsc: add a no-root-container boot mode
  pkg/sentry/control/fs.go
  pkg/sentry/control/proc.go
  pkg/sentry/control/state.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/signal.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/syscalls/linux/sys_sem.go
  runsc/boot/limits.go
  runsc/boot/loader.go
  runsc/boot/no_root_container.md
  runsc/cmd/BUILD
  runsc/cmd/create.go
  runsc/cmd/delete.go
  runsc/cmd/delete_test.go
  runsc/cmd/exec.go
  runsc/cmd/gofer.go
  runsc/cmd/restore.go
  runsc/cmd/run.go
  runsc/cmd/sentry/sentrycmd/boot.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: bazel, area: kernel, area: tests

Internal change.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_signals_test.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container_test.go
Labels: area: bazel, area: kernel, area: tests

Update gVisor GOVERNANCE.md
  GOVERNANCE.md
Labels: none

Internal change.
  CODEOWNERS
  governance/areas.yaml
Labels: none

overlayfs: use caller credentials for upper xattr ops rather than filesystem's
  pkg/sentry/fsimpl/overlay/filesystem.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

tmpfs: stream file contents when writing a tar archive
  pkg/safemem/io.go
  pkg/safemem/io_test.go
  pkg/sentry/fsimpl/tmpfs/fscheckpoint.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/fsimpl/tmpfs/tar_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
Labels: area: filesystem, area: tests

cgroup2fs: Turn the cpuset mu into a lockdep mutex
  pkg/sentry/fsimpl/cgroup2fs/BUILD
  pkg/sentry/fsimpl/cgroup2fs/cpuset.go
Labels: area: bazel, area: filesystem

seccheck: Add redis benchmarking docs and configs
  test/benchmarks/seccheck/README.md
  test/benchmarks/seccheck/dummy_uds_server.py
  test/benchmarks/seccheck/empty_bench_config.json
  test/benchmarks/seccheck/redis_null_bench_config.json
  test/benchmarks/seccheck/redis_remote_bench_config.json
Labels: area: docs, area: tests

Add license auditing tooling to the repository.
  .buildkite/pipeline.yaml
  Makefile
  governance/BUILD
  governance/licensing.yaml
  tools/bazel.mk
  tools/licensecheck/BUILD
  tools/licensecheck/dependencies.yaml
  tools/licensecheck/licensecheck.go
  tools/licensecheck/licensecheck_test.go
  tools/licensecheck/main/BUILD
  tools/licensecheck/main/main.go
Labels: area: bazel, area: tests, area: tooling

Add Go example for gVisor SandboxExec demonstrating safe document processing.
  examples/sandboxexec/README.md
  examples/sandboxexec/go/BUILD
  examples/sandboxexec/go/README.md
  examples/sandboxexec/go/doc_processor.go
Labels: area: bazel, area: docs

Add block, goroutine, mutex, and trace subcommands to runsc profile
  runsc/boot/controller.go
  runsc/cmd/profile/BUILD
  runsc/cmd/profile/block.go
  runsc/cmd/profile/goroutine.go
  runsc/cmd/profile/mutex.go
  runsc/cmd/profile/profile.go
  runsc/cmd/profile/trace.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

cgroup2fs: DecRef inodes returned by Lookup for consistency
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
Labels: area: filesystem

tcp: implement the RFC 4015 response to spurious loss recovery
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_sack_test.go
Labels: area: networking, area: tests

fuse: Fix file size update on `fallocate(2)`
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/syscalls/linux/fallocate.cc
  test/syscalls/linux/fuse.cc
Labels: area: filesystem, area: tests

Update sentry CPU count on live cgroup CPU quota changes
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_test.go
  pkg/sentry/kernel/task_sched.go
  runsc/boot/controller.go
  runsc/cmd/update.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/cpu_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

Take the update's quota, not the sandbox cgroup's, for the CPU count
  runsc/container/container.go
  runsc/sandbox/cpu_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Fix sched_setaffinity race exposed by live ApplicationCores growth
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_sched_test.go
Labels: area: bazel, area: kernel, area: tests

Keep the checkpoint encoding of applicationCores unchanged
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_state.go
Labels: area: kernel

Internal change.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_signals_test.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container_test.go
Labels: area: bazel, area: kernel, area: tests

Implement cgroup.freeze for cgroup v2.
  pkg/sentry/fsimpl/cgroup2fs/base_files.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/cgroup2.go
  pkg/sentry/kernel/pending_signals.go
  pkg/sentry/kernel/pending_signals_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_start.go
  test/syscalls/linux/cgroup2.cc
  test/syscalls/linux/kill.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Update gVisor GOVERNANCE.md
  GOVERNANCE.md
Labels: none

Update gVisor GOVERNANCE.md
  GOVERNANCE.md
Labels: none

nvproxy: assert dispatch precedence instead of flagging predicate overlap
  pkg/sentry/devices/nvproxy/nvproxy_test.go
Labels: area: tests

tcpip/ipv4: route post-DNAT OUTPUT packets by destination, not pre-DNAT source
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/natfwd_test.go
Labels: area: bazel, area: networking, area: tests

proc: make /proc/sys/net/ipv4/ip_forward writable
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/proc/tasks_test.go
Labels: area: filesystem, area: tests

syscalls/linux: raise setsockopt maxOptLen to 1MB
  pkg/sentry/syscalls/linux/sys_socket.go
  test/syscalls/linux/socket_ip_unbound.cc
Labels: area: kernel, area: tests

netlink/route: report IFLA_OPERSTATE in RTM_GETLINK
  pkg/abi/linux/netlink_route.go
  pkg/sentry/socket/netlink/route/protocol.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

netfilter: add iptables addrtype match extension with strict validation
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/addrtype_matcher.go
  test/iptables/addrtype.go
  test/iptables/iptables_test.go
Labels: area: bazel, area: networking, area: tests

netfilter: add MARK target, RuleContinue verdict, and full mangle table hook support
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/mark_target.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  test/iptables/iptables_test.go
  test/iptables/mangle.go
Labels: area: bazel, area: networking, area: tests

netfilter: add iptables conntrack match extension with strict validation
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/conntrack_matcher.go
  pkg/tcpip/stack/conntrack.go
  test/iptables/conntrack.go
  test/iptables/iptables_test.go
Labels: area: bazel, area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
