Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add IPv4 reassembly packetimpact test
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv4_fragment_reassembly_test.go
Labels: area: bazel, area: tests

Avoid creating users if user is root already.
  tools/bazel.mk
Labels: area: tooling

Avoid creating users if user is root already.
  tools/bazel.mk
Labels: area: tooling

Add the gVisor admission webhook
  BUILD
  WORKSPACE
  go.mod
  go.sum
  images/README.md
  nogo.yaml
  tools/go_branch.sh
  webhook/BUILD
  webhook/main.go
  webhook/pkg/cli/BUILD
  webhook/pkg/cli/cli.go
  webhook/pkg/injector/BUILD
  webhook/pkg/injector/gencerts.sh
  webhook/pkg/injector/webhook.go
Labels: area: bazel, area: docs, area: tooling, dependencies

Add the gVisor admission webhook
  BUILD
  WORKSPACE
  go.mod
  go.sum
  images/README.md
  nogo.yaml
  tools/go_branch.sh
  webhook/BUILD
  webhook/main.go
  webhook/pkg/cli/BUILD
  webhook/pkg/cli/cli.go
  webhook/pkg/injector/BUILD
  webhook/pkg/injector/gencerts.sh
  webhook/pkg/injector/webhook.go
Labels: area: bazel, area: docs, area: tooling, dependencies

Separate kernel.Task.AsCopyContext() into CopyContext() and OwnCopyContext().
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_usermem.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ptrace.cc
Labels: area: bazel, area: kernel, area: tests

Separate kernel.Task.AsCopyContext() into CopyContext() and OwnCopyContext().
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_usermem.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ptrace.cc
Labels: area: bazel, area: kernel, area: tests

Automated rollback of changelist 339750876
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

Automated rollback of changelist 339750876
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

Fix rename error handling for VFS2 kernfs.
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
Labels: area: filesystem

Fix rename error handling for VFS2 kernfs.
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
Labels: area: filesystem

Adjust error handling in kernfs rename.
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
Labels: area: filesystem

Adjust error handling in kernfs rename.
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
Labels: area: filesystem

net/tcpip: connect to unset loopback address has to return EADDRNOTAVAIL
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/stack/stack.go
  test/runtimes/exclude/python3.7.3.csv
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ip_unbound.cc
  test/syscalls/linux/socket_ip_unbound_netlink.cc
Labels: area: bazel, area: networking, area: tests

net/tcpip: connect to unset loopback address has to return EADDRNOTAVAIL
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/stack/stack.go
  test/runtimes/exclude/python3.7.3.csv
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ip_unbound.cc
  test/syscalls/linux/socket_ip_unbound_netlink.cc
Labels: area: bazel, area: networking, area: tests

[FAKE] fake
  pkg/sentry/kernel/semaphore/semaphore.go
Labels: area: kernel

Fix returned error when deleting non-existant address
  pkg/sentry/socket/netlink/route/protocol.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

Fix returned error when deleting non-existant address
  pkg/sentry/socket/netlink/route/protocol.go
  test/syscalls/linux/socket_netlink_route.cc
Labels: area: networking, area: tests

arm64 kvm: inject sError to trigger sigbus
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/kvm_const_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, platform: kvm

kvm: share upper halves among all pagtables
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/ring0/defs.go
  pkg/sentry/platform/ring0/defs_amd64.go
  pkg/sentry/platform/ring0/defs_arm64.go
  pkg/sentry/platform/ring0/kernel.go
  pkg/sentry/platform/ring0/kernel_amd64.go
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/pagetables/pagetables.go
  pkg/sentry/platform/ring0/pagetables/pagetables_aarch64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_amd64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
  pkg/sentry/platform/ring0/pagetables/walker_arm64.go
Labels: arch: arm, arch: x86_64, platform: kvm

kvm: share upper halves among all pagtables
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/ring0/defs.go
  pkg/sentry/platform/ring0/defs_amd64.go
  pkg/sentry/platform/ring0/defs_arm64.go
  pkg/sentry/platform/ring0/kernel.go
  pkg/sentry/platform/ring0/kernel_amd64.go
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/pagetables/pagetables.go
  pkg/sentry/platform/ring0/pagetables/pagetables_aarch64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_amd64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
  pkg/sentry/platform/ring0/pagetables/walker_arm64.go
Labels: arch: arm, arch: x86_64, platform: kvm

Block external network for tests
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Block external network for tests
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Automated rollback of changelist 339945377
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

Automated rollback of changelist 339945377
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

Pass hashing algorithms in verity fs opts
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/fsimpl/verity/verity_test.go
Labels: area: filesystem, area: tests

Pass hashing algorithms in verity fs opts
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/fsimpl/verity/verity_test.go
Labels: area: filesystem, area: tests

Clean up the code of setupTimeWaitClose
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Clean up the code of setupTimeWaitClose
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Use simple if statement for test checks without function calls
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tests/integration/forward_test.go
Labels: area: networking, area: tests

ARM64:fuse:alian stat struct order on multiarch
  test/fuse/linux/stat_test.cc
Labels: area: tests

ARM64:fuse:alian stat struct order on multiarch
  test/fuse/linux/stat_test.cc
Labels: area: tests

Skip log.Sprintfs when leak check logging is not enabled.
  pkg/refsvfs2/refs_map.go
Labels: none

Skip log.Sprintfs when leak check logging is not enabled.
  pkg/refsvfs2/refs_map.go
Labels: none

Send NUD probes in a separate gorountine
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

Send NUD probes in a separate gorountine
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

ARM64: follow nogo rules add function description
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
Labels: arch: arm, platform: kvm

ARM64: follow nogo rules add function description
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
Labels: arch: arm, platform: kvm

[vfs2] Refactor kernfs checkCreateLocked.
  pkg/sentry/fsimpl/kernfs/filesystem.go
Labels: area: filesystem

[vfs2] Refactor kernfs checkCreateLocked.
  pkg/sentry/fsimpl/kernfs/filesystem.go
Labels: area: filesystem

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
