Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add verity ioctl test for mount with root hash
  test/syscalls/linux/verity_ioctl.cc
Labels: area: tests

[op] Split nogo target out of unit tests.
  .buildkite/pipeline.yaml
  Makefile
Labels: none

[op] Split nogo target out of unit tests.
  .buildkite/pipeline.yaml
  Makefile
Labels: none

Internal change
  runsc/cmd/BUILD
  runsc/cmd/mitigate.go
  runsc/cmd/mitigate_extras.go
  runsc/cmd/mitigate_test.go
  runsc/mitigate/mitigate.go
  runsc/mitigate/mitigate_test.go
  runsc/mitigate/mock/mock.go
Labels: area: bazel, area: tests

Internal change
  runsc/cmd/BUILD
  runsc/cmd/mitigate.go
  runsc/cmd/mitigate_extras.go
  runsc/cmd/mitigate_test.go
  runsc/mitigate/mitigate.go
  runsc/mitigate/mitigate_test.go
  runsc/mitigate/mock/mock.go
Labels: area: bazel, area: tests

Use size_t instead of C integer types.
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/proc_net_unix.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_ipv4_udp_unbound_netlink.cc
  test/syscalls/linux/tuntap.cc
Labels: area: tests

Use size_t instead of C integer types.
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/proc_net_unix.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_ipv4_udp_unbound_netlink.cc
  test/syscalls/linux/tuntap.cc
Labels: area: tests

Include logs for packetimpact tests that are expected to fail
  test/packetimpact/runner/dut.go
Labels: area: tests

Include logs for packetimpact tests that are expected to fail
  test/packetimpact/runner/dut.go
Labels: area: tests

Enlarge port range and fix integer overflow
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/ports/ports.go
  pkg/tcpip/ports/ports_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking, area: tests

Enlarge port range and fix integer overflow
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/ports/ports.go
  pkg/tcpip/ports/ports_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking, area: tests

[lisa] Make go_marshal pass correctly sized buffers to safecopy.
  tools/go_marshal/gomarshal/generator_interfaces_array_newtype.go
  tools/go_marshal/gomarshal/generator_interfaces_primitive_newtype.go
  tools/go_marshal/gomarshal/generator_interfaces_struct.go
Labels: area: tooling

[lisa] Make go_marshal pass correctly sized buffers to safecopy.
  tools/go_marshal/gomarshal/generator_interfaces_array_newtype.go
  tools/go_marshal/gomarshal/generator_interfaces_primitive_newtype.go
  tools/go_marshal/gomarshal/generator_interfaces_struct.go
Labels: area: tooling

Allow runsc to generate coverage reports.
  pkg/coverage/coverage.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/cli/BUILD
  runsc/cli/main.go
  runsc/cmd/symbolize.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  test/runner/runner.go
Labels: area: bazel, area: filesystem, area: tests

Allow runsc to generate coverage reports.
  pkg/coverage/coverage.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/cli/BUILD
  runsc/cli/main.go
  runsc/cmd/symbolize.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  test/runner/runner.go
Labels: area: bazel, area: filesystem, area: tests

[perf] Reduce contention due to renameMu in gofer client.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
Labels: area: filesystem, area: tests

[perf] Reduce contention due to renameMu in gofer client.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
Labels: area: filesystem, area: tests

Avoid ignoring incoming packet by demuxer on endpoint lookup failure
  pkg/tcpip/stack/transport_demuxer.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: tests

Avoid ignoring incoming packet by demuxer on endpoint lookup failure
  pkg/tcpip/stack/transport_demuxer.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: tests

[op] Try disabling checkescape because it takes too long.
  .buildkite/pipeline.yaml
  tools/nogo/check/main.go
  tools/nogo/defs.bzl
  tools/nogo/filter/main.go
  tools/nogo/nogo.go
Labels: area: bazel, area: tooling

Optimize safemem.Zero
  pkg/safemem/BUILD
  pkg/safemem/block_unsafe.go
Labels: area: bazel

Optimize safemem.Zero
  pkg/safemem/BUILD
  pkg/safemem/block_unsafe.go
Labels: area: bazel

Fix TCP RACK flaky unit tests.
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: networking, area: tests

Fix TCP RACK flaky unit tests.
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: networking, area: tests

Include name for failed sockopt in error msg for SetAndGetBooleanSocketOptions
  test/syscalls/linux/socket_generic_test_cases.cc
Labels: area: tests

Add MultiGetAttr message to 9P
  nogo.yaml
  pkg/p9/client_file.go
  pkg/p9/file.go
  pkg/p9/handlers.go
  pkg/p9/messages.go
  pkg/p9/p9.go
  pkg/p9/version.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/p9file.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/opath.go
  pkg/sentry/vfs/resolving_path.go
  pkg/sentry/vfs/vfs.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: bazel, area: filesystem, area: tests

Add MultiGetAttr message to 9P
  nogo.yaml
  pkg/p9/client_file.go
  pkg/p9/file.go
  pkg/p9/handlers.go
  pkg/p9/messages.go
  pkg/p9/p9.go
  pkg/p9/version.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/p9file.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/opath.go
  pkg/sentry/vfs/resolving_path.go
  pkg/sentry/vfs/vfs.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/fsgofer_test.go
Labels: area: bazel, area: filesystem, area: tests

De-duplicate TCP state in TCPEndpointState vs tcp.endpoint
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_global_state.go
  pkg/tcpip/stack/tcp.go
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/cubic_state.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rack_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/reno_recovery.go
  pkg/tcpip/transport/tcp/sack_recovery.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/snd_state.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: bazel, area: networking, area: tests

De-duplicate TCP state in TCPEndpointState vs tcp.endpoint
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_global_state.go
  pkg/tcpip/stack/tcp.go
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/cubic_state.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rack_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/reno_recovery.go
  pkg/tcpip/transport/tcp/sack_recovery.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/snd_state.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: bazel, area: networking, area: tests

Move runsc reference leak checking to better locations.
  pkg/refsvfs2/refs_map.go
  runsc/boot/loader.go
  runsc/cli/BUILD
  runsc/cli/main.go
Labels: area: bazel

Move runsc reference leak checking to better locations.
  pkg/refsvfs2/refs_map.go
  runsc/boot/loader.go
  runsc/cli/BUILD
  runsc/cli/main.go
Labels: area: bazel

Change verity action to be a fs member
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Change verity action to be a fs member
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Expose header methods that validate checksums
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/tcp.go
  pkg/tcpip/header/udp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Expose header methods that validate checksums
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/tcp.go
  pkg/tcpip/header/udp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Move SO_RCVBUF to socketops.
  pkg/sentry/fs/host/socket.go
  pkg/sentry/fsimpl/host/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectioned_state.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/connectionless_state.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_options.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/tcp.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/endpoint_state.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment_queue.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/raw_socket.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: filesystem, area: networking, area: tests

Move SO_RCVBUF to socketops.
  pkg/sentry/fs/host/socket.go
  pkg/sentry/fsimpl/host/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectioned_state.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/connectionless_state.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_options.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/tcp.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/endpoint_state.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment_queue.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  test/syscalls/linux/packet_socket_raw.cc
  test/syscalls/linux/raw_socket.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/udp_socket.cc
Labels: area: filesystem, area: networking, area: tests

Speed up O_APPEND with remote revalidating
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  test/perf/linux/write_benchmark.cc
Labels: area: filesystem, area: tests

Speed up O_APPEND with remote revalidating
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  test/perf/linux/write_benchmark.cc
Labels: area: filesystem, area: tests

Clean test tags.
  .buildkite/pipeline.yaml
  Makefile
  pkg/test/dockerutil/BUILD
  runsc/BUILD
  runsc/container/BUILD
  test/e2e/BUILD
  test/packetdrill/BUILD
  test/packetimpact/tests/BUILD
  test/runner/defs.bzl
  test/syscalls/linux/32bit.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc_net_unix.cc
  tools/bazeldefs/go.bzl
  tools/bigquery/BUILD
  tools/bigquery/bigquery.go
  tools/nogo/defs.bzl
  website/BUILD
Labels: area: bazel, area: tests, area: tooling
