Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

netstack: move SO_SNDBUF/RCVBUF clamping logic out of //pkg/tcpip
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/socketops.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
Labels: area: networking, area: tests

add bitmap
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
Labels: area: bazel, area: tests

apply bitmap for fd_table
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: bazel, area: kernel

add bitmap
  pkg/bitmap/BUILD
  pkg/bitmap/bitmap.go
  pkg/bitmap/bitmap_test.go
Labels: area: bazel, area: tests

apply bitmap for fd_table
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: bazel, area: kernel

Deflake TestRouterSolicitation
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Deflake TestRouterSolicitation
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

netstack: atomically update buffer sizes
  pkg/tcpip/socketops.go
Labels: area: networking

netstack: atomically update buffer sizes
  pkg/tcpip/socketops.go
Labels: area: networking

Use consistent naming for subcontainers
  pkg/shim/proc/exec.go
  pkg/shim/proc/exec_state.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Use consistent naming for subcontainers
  pkg/shim/proc/exec.go
  pkg/shim/proc/exec_state.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Create ipc package and ipc.Object.
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/sys_sem.go
  pkg/sentry/syscalls/linux/sys_shm.go
Labels: area: bazel, area: kernel, area: tests

Create ipc package and ipc.Object.
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/sys_sem.go
  pkg/sentry/syscalls/linux/sys_shm.go
Labels: area: bazel, area: kernel, area: tests

Implement stubs for msgget(2) and msgctl(IPC_RMID).
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: kernel, area: tests

Implement Registry.Remove.
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Implement MSG_COPY option for msgrcv(2).
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: kernel, area: tests

Create ipc.Registry.
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/ipc/registry.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/sys_sem.go
Labels: area: bazel, area: kernel, area: tests

Add non-blocking tests for msgsnd(2) and msgrcv(2).
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: tests

Add abi definitions for sysv message queues.
  pkg/abi/linux/BUILD
  pkg/abi/linux/msgqueue.go
Labels: area: bazel

Implement stubs for msgget(2) and msgctl(IPC_RMID).
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: kernel, area: tests

Add tests for msgctl(2).
  test/syscalls/linux/msgqueue.cc
Labels: area: tests

Implement stubs for msgsnd(2) and msgrcv(2).
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: kernel, area: tests

Implement stub for msgctl(2).
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: kernel, area: tests

Add blocking and general tests for msgsnd(2) and msgrcv(2).
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: tests

Create package msgqueue.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Implement Registry.FindOrCreate.
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Implement Registry.FindOrCreate.
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Add abi definitions for sysv message queues.
  pkg/abi/linux/BUILD
  pkg/abi/linux/msgqueue.go
Labels: area: bazel

Implement ipc.Object.Set and use it in ipc mechanisms.
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/sys_sem.go
Labels: area: kernel

Implement Registry.Remove.
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Implement Queue.Send.
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Create ipc.Registry.
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/ipc/registry.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/sys_sem.go
Labels: area: bazel, area: kernel, area: tests

Add initial test cases for msgget(2).
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: tests

Implement Queue.Receive.
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Create package msgqueue.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: bazel, area: kernel

Implement control operations on msgqueue.
  pkg/abi/linux/msgqueue.go
  pkg/sentry/kernel/msgqueue/msgqueue.go
Labels: area: kernel

Add initial test cases for msgget(2).
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: tests

Implement msgget(2) and msgctl(IPC_RMID)
  pkg/abi/linux/BUILD
  pkg/abi/linux/msgqueue.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/ipc/BUILD
  pkg/sentry/kernel/ipc/object.go
  pkg/sentry/kernel/ipc/registry.go
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/msgqueue/BUILD
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  pkg/sentry/syscalls/linux/sys_sem.go
  pkg/sentry/syscalls/linux/sys_shm.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: kernel, area: tests

Do not require O_PATH flag to enable verity
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity_test.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem, area: tests

Do not require O_PATH flag to enable verity
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity_test.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
