Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

gofer: don't create bind-mounts in /proc/self
  runsc/boot/loader_test.go
  runsc/cmd/gofer.go
  runsc/fsgofer/lisafs.go
  runsc/fsgofer/lisafs_test.go
Labels: area: tests

runsc:gofer: don't mount a new proc instance
  runsc/cmd/gofer.go
Labels: none

runsc:gofer: don't mount a new proc instance
  runsc/boot/loader_test.go
  runsc/cmd/gofer.go
  runsc/fsgofer/lisafs.go
  runsc/fsgofer/lisafs_test.go
Labels: area: tests

Refactor `gpu/ollama` library to make it not Docker-specific.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/Dockerfile.bench
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

Refactor `gpu/ollama` library to make it not Docker-specific.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/Dockerfile.bench
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

Deprecate --nvproxy-docker flag.
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/specutils/nvidia.go
Labels: none

Deprecate --nvproxy-docker flag.
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/specutils/nvidia.go
Labels: none

Replace "if" statement in pipeline file with source_test_continuous invocation
  .buildkite/pipeline.yaml
Labels: none

Replace "if" statement in pipeline file with source_test_continuous invocation
  .buildkite/pipeline.yaml
Labels: none

Define SYS_statx for RISC-V
  test/syscalls/linux/stat.cc
Labels: area: tests

Define SYS_statx for RISC-V
  test/syscalls/linux/stat.cc
Labels: area: tests

Delete test against golden `seccomp-bpf` program.
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter_fuzz_golden.bpf
  runsc/boot/filter/filter_fuzz_golden_test.go
Labels: area: bazel, area: tests

Delete test against golden `seccomp-bpf` program.
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter_fuzz_golden.bpf
  runsc/boot/filter/filter_fuzz_golden_test.go
Labels: area: bazel, area: tests

Skip running the UDS lisafs test for runsc/fsgofer.
  pkg/lisafs/testsuite/testsuite.go
  runsc/fsgofer/BUILD
  runsc/fsgofer/lisafs_test.go
Labels: area: bazel, area: tests

Skip running the UDS lisafs test for runsc/fsgofer.
  pkg/lisafs/testsuite/testsuite.go
  runsc/fsgofer/BUILD
  runsc/fsgofer/lisafs_test.go
Labels: area: bazel, area: tests

Set -g0 to make cc_pie_obj produce deterministic output to help Bazel caching.
  pkg/sentry/platform/systrap/sysmsg/build.bzl
Labels: area: bazel

rules_go: Revert "Emit nogo facts into a separate archive (#3789)"
  WORKSPACE
  tools/rules_go_facts.patch
Labels: area: tooling, dependencies

Update golang.org/x/sys
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Update rules_go to 0.46.0
  WORKSPACE
Labels: dependencies

Set -g0 to make cc_pie_obj produce deterministic output to help Bazel caching.
  pkg/sentry/platform/systrap/sysmsg/build.bzl
Labels: area: bazel

Update golang to 1.22
  WORKSPACE
Labels: dependencies

Update rules_go to 0.46.0
  WORKSPACE
Labels: dependencies

Update golang.org/x/sys
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Cache results of runtime tests
  Makefile
  test/runtimes/defs.bzl
Labels: area: bazel, area: tests

Update golang to 1.22
  WORKSPACE
Labels: dependencies

make: pass an image tag to the test to invalidate the bazel cache
  Makefile
Labels: none

Don't set the local tag for runtime tests
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/runtimes/defs.bzl
Labels: area: bazel, area: tests

Add a page about nvproxy on the website.
  g3doc/user_guide/BUILD
  g3doc/user_guide/gpu.md
  website/BUILD
Labels: area: bazel, area: docs

Add a page about nvproxy on the website.
  g3doc/user_guide/BUILD
  g3doc/user_guide/gpu.md
  website/BUILD
Labels: area: bazel, area: docs

Disable flaky test with S/R.
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Disable flaky test with S/R.
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Allow bazel to cache runtime test results
  Makefile
  WORKSPACE
  go.mod
  go.sum
  pkg/sentry/platform/systrap/sysmsg/build.bzl
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/runtimes/defs.bzl
  tools/rules_go_facts.patch
Labels: area: bazel, area: tests, area: tooling, dependencies

Fix nil pointer dereference in nvproxy specutils
  runsc/specutils/nvidia.go
Labels: none

Fix nil pointer dereference in nvproxy specutils
  runsc/specutils/nvidia.go
Labels: none

Set -g0 to make cc_pie_obj produce deterministic output to help Bazel caching.
  pkg/sentry/platform/systrap/sysmsg/build.bzl
Labels: area: bazel

Set -g0 to make cc_pie_obj produce deterministic output to help Bazel caching.
  pkg/sentry/platform/systrap/sysmsg/build.bzl
Labels: area: bazel

runsc:gofer: don't mount a new proc instance
  runsc/boot/loader_test.go
  runsc/cmd/gofer.go
  runsc/fsgofer/lisafs.go
  runsc/fsgofer/lisafs_test.go
Labels: area: tests

runsc:gofer: don't mount a new proc instance
  runsc/boot/loader_test.go
  runsc/cmd/gofer.go
  runsc/fsgofer/lisafs.go
  runsc/fsgofer/lisafs_test.go
Labels: area: tests

Make a copy of handle in handleReadWriter.
  pkg/sentry/fsimpl/gofer/handle.go
Labels: area: filesystem

Make a copy of handle in handleReadWriter.
  pkg/sentry/fsimpl/gofer/handle.go
Labels: area: filesystem

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
