Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix incorrect cap check in truncate()
  pkg/sentry/vfs/permissions.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/truncate.cc
Labels: area: bazel, area: filesystem, area: tests

debug
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tooling

xxx
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tooling

watchdog: Add a "stuck goroutines" suffix to the full stack dump at panic
  pkg/sentry/watchdog/BUILD
  pkg/sentry/watchdog/watchdog.go
  pkg/sentry/watchdog/watchdog_test.go
Labels: area: bazel, area: tests

nvproxy: Add support for UVM_ENABLE_READ_DUPLICATION and UVM_SET_ACCESSED_BY.
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Update supervisor XSAVE features in fpsig_mut_amd64.cc
  test/syscalls/linux/fpsig_mut_amd64.cc
Labels: arch: x86_64, area: tests

nftables: Added a generic method to extract attribute.
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nftables_attrs.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: networking, area: tests

Fix CAP_SYS_ADMIN check for /proc/sys/kernel/keys/maxkey
  pkg/sentry/fsimpl/proc/keys.go
Labels: area: filesystem

checklocks: fix generics Origin fact lookup
  tools/checklocks/BUILD
  tools/checklocks/analysis.go
  tools/checklocks/checklocks.go
  tools/checklocks/importfacts.go
  tools/checklocks/test/BUILD
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/generics.go
Labels: area: bazel, area: tests, area: tooling

Fix trusted xattr cap check
  pkg/sentry/vfs/memxattr/xattr.go
  pkg/sentry/vfs/permissions.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/xattr.cc
Labels: area: bazel, area: filesystem, area: tests

msgqueue: check permissions in Queue.Copy()
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/msgqueue.cc
Labels: area: kernel, area: tests

vfs: validate source/target type match in BindAt
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/anonfs.go
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

checkescape: improve error output
  tools/checkescape/checkescape.go
Labels: area: tooling

packetdrill: check that docker is usable
  test/packetdrill/packetdrill_test.sh
Labels: area: tests

dockerutil: improve error messages
  pkg/test/dockerutil/dockerutil.go
Labels: area: tests

bazel: update dependencies
  MODULE.bazel
Labels: none

go_stateify: plumb go binary to goimports
  images/default/Dockerfile
  pkg/state/state.go
  tools/bazeldefs/go.bzl
  tools/defs.bzl
  tools/go_stateify/main.go
Labels: area: bazel, area: tooling

Reduce Go version duplication
  MODULE.bazel
  images/gpu/cuda-tests-12-8/Dockerfile
  images/gpu/cuda-tests-12-8/install_go.sh
Labels: none

Update Go to 1.25.5
  go.mod
  tools/build_cover.sh
  tools/checkescape/checkescape.go
Labels: area: tooling, dependencies

checklocks: enforce mixed atomic rules for wrappers
  tools/checklocks/README.md
  tools/checklocks/analysis.go
  tools/checklocks/test/atomics.go
Labels: area: docs, area: tests, area: tooling

msgqueue: various fixes
  pkg/sentry/kernel/msgqueue/msgqueue.go
  pkg/sentry/syscalls/linux/sys_msgqueue.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/msgqueue.cc
Labels: area: bazel, area: kernel, area: tests

Propagate errors from CopyIn and fuse.Write in FUSE.
  pkg/sentry/fsimpl/fuse/read_write.go
  pkg/sentry/fsimpl/fuse/regular_file.go
Labels: area: filesystem

Enable conjugateGradientMultiDeviceCG test in gVisor.
  test/gpu/cuda_test.go
Labels: area: tests

Remove incorrect uses of NAME_MAX.
  pkg/fsutil/fsutil_unsafe.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

test: fix rseq test bugs
  test/syscalls/linux/rseq/BUILD
  test/syscalls/linux/rseq/rseq.cc
Labels: area: bazel, area: tests

Fix creds checks for SO_RCVBUFFORCE and UCOUNT_RLIMIT_NPROC
  pkg/sentry/kernel/kernel.go
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_generic_test_cases.cc
Labels: area: bazel, area: networking, area: kernel, area: tests

syscalls: Beef up write(2) and pwrite(2) tests
  test/syscalls/linux/BUILD
  test/syscalls/linux/pwrite64.cc
  test/syscalls/linux/write.cc
Labels: area: bazel, area: tests

netstack: Use ctx.BlockWithTimeout() directly while releasing socket.
  pkg/context/context.go
  pkg/sentry/kernel/task_block.go
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking, area: kernel

Update Go to 1.25.5
  .buildkite/pipeline.yaml
  MODULE.bazel
  go.mod
  images/default/Dockerfile
  images/gpu/cuda-tests-12-8/install_go.sh
  pkg/state/state.go
  pkg/test/dockerutil/dockerutil.go
  test/packetdrill/packetdrill_test.sh
  tools/bazeldefs/go.bzl
  tools/build_cover.sh
  tools/checkescape/checkescape.go
  tools/defs.bzl
  tools/go_stateify/main.go
Labels: area: bazel, area: tests, area: tooling, dependencies

kvm: limit virtual address space to 47-bit on amd64
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/physical_map.go
  pkg/sentry/platform/kvm/physical_map_amd64.go
  pkg/sentry/platform/kvm/physical_map_arm64.go
Labels: arch: arm, arch: x86_64, platform: kvm

packetdrill: use `docker version`
  test/packetdrill/packetdrill_test.sh
Labels: area: tests

tools/build_cover.sh: rearrange
  tools/build_cover.sh
Labels: area: tooling

Reduce Go version duplication
  images/gpu/cuda-tests-12-8/Dockerfile
  images/gpu/cuda-tests-12-8/install_go.sh
Labels: none

nftables: Added support for counter op init.
  pkg/abi/linux/nf_tables.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftinterp.go
  test/syscalls/linux/socket_netlink_netfilter.cc
Labels: area: networking, area: tests

gvisor: use HEAD~1 instead of master~ in buildkite-check-paths.sh
  tools/builkite-check-paths.sh
Labels: area: tooling

Document limitations of docker-in-gvisor
  g3doc/user_guide/tutorials/docker-in-gvisor.md
Labels: area: docs

Remove cgroupv1 containerd test.
  .buildkite/pipeline.yaml
Labels: none

nftables: Support expression dump.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/sentry/socket/netlink/nlmsg/message.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_last.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: networking, area: tests

[checklocks] Use function line info for error messages when return instruction has no line numbers attached
  tools/checklocks/analysis.go
Labels: area: tooling

cuda-tests: make Dockerfiles more similar
  images/gpu/cuda-tests-12-8/Dockerfile
  images/gpu/cuda-tests/Dockerfile
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
