Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Fix memmap.Translation.Perms returns.
  pkg/sentry/devices/nvproxy/frontend_mmap.go
  pkg/sentry/devices/nvproxy/uvm_mmap.go
  pkg/sentry/devices/tpuproxy/accel/accel_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/pci_device_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/tpu_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/vfio_fd_mmap.go
  pkg/sentry/fsimpl/erofs/BUILD
  pkg/sentry/fsimpl/erofs/regular_file.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/iouringfs/iouringfs.go
Labels: area: bazel, area: filesystem

nvproxy: Add GF100_PROFILER allocation class and NV2080_CTRL_CMD_TIMER_SET_GR_TICK_FREQ control command
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Disallow setting a coordinator for a coordinator device.
  pkg/tcpip/stack/bridge_test.go
  pkg/tcpip/stack/stack.go
  test/rtnetlink/linux/bridge_test.sh
Labels: area: networking, area: tests

kvm: reduce stack usage
  pkg/ring0/pagetables/pagetables.go
  pkg/ring0/pagetables/pagetables_aarch64.go
  pkg/seccomp/seccomp_unsafe.go
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/platform/kvm/seccomp_mmap_dbg.go
  pkg/sentry/platform/kvm/seccomp_mmap_real.go
  pkg/sigframe/sigframe_amd64.s
  pkg/sigframe/sigframe_amd64_unsafe.go
  runsc/boot/platforms/BUILD
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

Remove linuxerr.IsValid and use syserr.IsValid instead.
  pkg/errors/linuxerr/internal.go
  pkg/errors/linuxerr/linuxerr.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/request_response.go
  pkg/syserr/host_darwin.go
  pkg/syserr/host_linux.go
  pkg/syserr/syserr.go
Labels: area: bazel, area: filesystem

kvm: Inline mapPhysical to use seccompMmapHandler in dbg builds.
  pkg/rawsyscall/BUILD
  pkg/rawsyscall/rawsyscall.go
  pkg/rawsyscall/rawsyscall_amd64.s
  pkg/rawsyscall/rawsyscall_arm64.s
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/platform/kvm/seccomp_mmap_dbg.go
  pkg/sentry/platform/kvm/seccomp_mmap_real.go
  pkg/sigframe/BUILD
  pkg/sigframe/sigframe_amd64.s
  pkg/sigframe/sigframe_amd64_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

Create runsc chroot directory in a sub-directory of /tmp.
  runsc/cmd/chroot.go
Labels: none

Fix unsigned to signed integer conversion in syserr.getHostTranslation().
  pkg/syserr/host_darwin.go
  pkg/syserr/host_linux.go
Labels: none

mm: limit AddressSpace overmapping during async page loading
  pkg/sentry/mm/address_space.go
  pkg/sentry/pgalloc/save_restore.go
Labels: area: mm

Add memmap.MMapOpts.RequirePlatformEffect and use where appropriate.
  pkg/sentry/devices/nvproxy/frontend_mmap.go
  pkg/sentry/devices/nvproxy/uvm_mmap.go
  pkg/sentry/devices/tpuproxy/accel/accel_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/pci_device_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/tpu_fd_mmap.go
  pkg/sentry/devices/tpuproxy/vfio/vfio_fd_mmap.go
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/vfs/file_description_impl_util.go
Labels: area: filesystem, area: mm

Extract kvm variants of Syscall helpers to their own pkg.
  pkg/hostsyscall/BUILD
  pkg/hostsyscall/hostsyscall.go
  pkg/hostsyscall/hostsyscall_amd64.s
  pkg/hostsyscall/hostsyscall_arm64.s
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sigframe/BUILD
  pkg/sigframe/sigframe_amd64.s
  pkg/sigframe/sigframe_amd64_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

Map host FDs into AddressSpaces eagerly.
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/host/BUILD
  pkg/sentry/fsimpl/host/host.go
Labels: area: bazel, area: filesystem

Don't return r2 from RawSyscalls.
  pkg/hostsyscall/hostsyscall.go
  pkg/hostsyscall/hostsyscall_amd64.s
  pkg/hostsyscall/hostsyscall_arm64.s
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, arch: x86_64, platform: kvm

kernel: add ThreadGroup.signalLock()
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/posixtimer.go
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/signal_handlers.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_stop.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/thread_group_unsafe.go
  pkg/sentry/kernel/tty.go
Labels: area: bazel, area: kernel

kvm: Replace all instances of unix.RawSyscall with pkg/hostsyscall variants.
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/kvm_amd64_unsafe.go
  pkg/sentry/platform/kvm/kvm_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/platform/kvm/physical_map.go
Labels: arch: arm, arch: x86_64, platform: kvm

kernel: don't hold TaskSet.mu during most of Kernel.runCPUClockTicker()
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/kernel/thread_group.go
Labels: area: kernel

kernel: hold TaskSet mutex across exitPtrace() and exitChildren()
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task_exit.go
Labels: area: kernel

kernel: fix lock order inversion in ThreadGroup.Release()
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/thread_group.go
Labels: area: kernel

platform/kvm: refactor handleBluepillFault to reduce stack usage
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/kvm/bluepill_allocator.go
  pkg/sentry/platform/kvm/bluepill_fault.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/seccomp_mmap_dbg.go
  pkg/sentry/platform/kvm/seccomp_mmap_unsafe.go
Labels: area: bazel, platform: kvm

Fix improper use of RawSyscall in KVM
  pkg/sentry/platform/kvm/machine_unsafe.go
Labels: platform: kvm

Implement /dev/tty for sentry-internal ttys.
  pkg/sentry/control/proc.go
  pkg/sentry/devices/ttydev/BUILD
  pkg/sentry/devices/ttydev/ttydev.go
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/devpts/terminal.go
  pkg/sentry/kernel/tty.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

runsc: use the existing /proc if a new instance can't be created
  runsc/cmd/chroot.go
  runsc/specutils/namespace.go
Labels: none

Implement /dev/tty for donated host TTYs
  pkg/sentry/control/proc.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
  runsc/container/console_test.go
Labels: area: filesystem, area: kernel, area: tests

systrap: save/restore all extensions
  pkg/cpuid/cpuid_arm64.go
  pkg/sentry/arch/fpu/fpu_arm64.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
Labels: arch: arm, area: kernel

systrap: Replace all instances of unix.RawSyscall with pkg/hostsyscall variants.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue_unsafe.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/subprocess_linux_unsafe.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/syscall_thread.go
  pkg/sentry/platform/systrap/syscall_thread_amd64.go
  pkg/sentry/platform/systrap/syscall_thread_arm64.go
  pkg/sentry/platform/systrap/syscall_thread_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sysmsg_unsafe.go
  pkg/sentry/platform/systrap/sysmsg_thread_unsafe.go
  pkg/sentry/platform/systrap/systrap_arm64_unsafe.go
  pkg/sentry/platform/systrap/systrap_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel

Add ffmpeg nvdec test
  test/gpu/ffmpeg_test.go
Labels: area: tests

Clean up host.TTYFileOperations.
  pkg/sentry/control/proc.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/devpts/terminal.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/tty.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Ensure views returned by PullUp are owned exclusively by their packet.
  pkg/buffer/buffer.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Add kernel.Saver.OCIEnviron().
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

tcpip/udp: avoid deadlock in forwader.CreateEndpoint
  pkg/tcpip/transport/udp/forwarder.go
Labels: area: networking

tcpip/udp: document preconditions for endpoint.closeLocked()
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Add `ffmpeg` GPU test with `h264_nvenc` video codec (which uses NVENC).
  Makefile
  test/gpu/BUILD
  test/gpu/ffmpeg_test.go
Labels: area: bazel, area: tests

tcpip/udp: defer mutex unlock
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking

Retry remounting the sandbox chroot as read-only if the mount is busy.
  runsc/cmd/chroot.go
Labels: none

Add and implement option to close unsaveable gofer-backed unix sockets on save
  pkg/sentry/fsimpl/gofer/socket.go
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/host.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/sentry/socket/unix/unix.go
  runsc/boot/BUILD
  runsc/boot/loader.go
Labels: area: bazel, area: filesystem, area: networking, area: kernel

Add test that runs `runsc do` inside a non-gVisor container.
  Makefile
  images/basic/integrationtest/Dockerfile
  pkg/test/dockerutil/container.go
  test/e2e/BUILD
  test/e2e/integration_runtime_test.go
  test/e2e/runtime_in_docker_test.go
Labels: area: bazel, area: tests

Add ffmpeg nvdec test
  test/gpu/ffmpeg_test.go
Labels: area: tests

Register container name with kernel before Loader.createContainerProcess().
  runsc/boot/loader.go
Labels: none

Cleanup dev gofer connection if gofer exits but container is still running.
  runsc/boot/loader.go
Labels: none

style feedback: remove newlines, fix import, remove stray comment
  pkg/sentry/kernel/kernel.go
  pkg/sentry/socket/unix/transport/host.go
Labels: area: networking, area: kernel
