Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Make ARM64 page size a Bazel build setting
  .bazelrc
  .buildkite/pipeline.yaml
  tools/bazeldefs/BUILD
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
Labels: area: bazel, area: tooling

Internal change.
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_test.go
  pkg/sentry/fsimpl/fuse/host_connection.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem, area: tests

hostmm: move IMAWorkAroundForMemFile out of pgalloc
  pkg/sentry/hostmm/BUILD
  pkg/sentry/hostmm/hostmm.go
  pkg/sentry/pgalloc/pgalloc.go
  runsc/boot/vfs.go
  runsc/container/BUILD
  runsc/container/container.go
Labels: area: bazel

Don't count RACK-lost TCP segments as in flight.
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/tcp_rack_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
Labels: area: bazel, area: networking, area: tests

container_test: fix data race with ForEach read.
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

Update runsc profiles for PGO (profile-guided optimizations), 2026-10-08.
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/ffmpeg.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/ffmpeg.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/iperf.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/iperf.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/nginx.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/nginx.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/redis.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/redis.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/rubydev.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/rubydev.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/sysbench.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_kvm/sysbench.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/ffmpeg.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/ffmpeg.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/iperf.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/iperf.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/nginx.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/nginx.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/redis.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/redis.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/rubydev.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/rubydev.pgo.pprof.pb.gz
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/sysbench.pgo.pkg_commithash
  runsc/profiles/data/go1.27.1-linux-amd64_systrap/sysbench.pgo.pprof.pb.gz
Labels: none

Automated rollback of changelist 994876694
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
Labels: area: bazel, area: tests

Fix signal protection for a PID namespace's init
  pkg/sentry/control/state.go
  pkg/sentry/fsimpl/cgroup2fs/base_files.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/pidfd.go
  pkg/sentry/kernel/posixtimer.go
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/seccomp.go
  pkg/sentry/kernel/sessions.go
  pkg/sentry/kernel/signal.go
  pkg/sentry/kernel/task_acct.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_signals_test.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/syscalls/linux/sys_signal.go
  runsc/container/container_test.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/cmd/test_app/segfault_unsafe.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Honor committed memory allocation requests
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_test.go
Labels: area: bazel, area: tests

shim: enforce size limits on memory-backed EmptyDir volumes
  pkg/shim/v1/utils/BUILD
  pkg/shim/v1/utils/volumes.go
  pkg/shim/v1/utils/volumes_test.go
Labels: area: bazel, area: tests

Implement /proc/[pid]/schedstat and /proc/[pid]/task/[tid]/schedstat.
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_sched.go
  test/syscalls/linux/proc.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Connect to host unix sockets with the application's supplementary groups
  pkg/lisafs/README.md
  pkg/lisafs/client_file.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/message.go
  pkg/sentry/fsimpl/gofer/directfs_inode.go
  pkg/sentry/fsimpl/gofer/inode_impl.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/fsgofer/BUILD
  runsc/fsgofer/filter/config/config_main.go
  runsc/fsgofer/groups_test.go
  runsc/fsgofer/lisafs.go
  runsc/specutils/namespace.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/connect_external.cc
  test/uds/uds.go
Labels: area: bazel, area: docs, area: filesystem, area: tests

systrap: retry seccomp notify RECV on ENOENT
  pkg/sentry/platform/systrap/syscall_thread_unsafe.go
Labels: none

Return ENOENT for missing original destinations
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

Ignore OOM score permission errors after exit
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_test.go
  runsc/specutils/BUILD
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: bazel, area: tests

Restore original cgroup membership in tests
  test/syscalls/linux/cgroup2.cc
Labels: area: tests

Enable IPv6 on the nftables masquerade test veth
  test/nftables/nftables_validation.go
Labels: area: tests

Validate netfilter query sizes and permissions
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/ip6tables.cc
  test/syscalls/linux/iptables.cc
Labels: area: networking, area: tests

Isolate proc dumpability changes
  test/syscalls/linux/proc.cc
Labels: area: tests

Respect send limits in oversized receive tests
  test/syscalls/linux/socket_unix_non_stream.cc
Labels: area: tests

Align ptrace test capability sets
  test/syscalls/linux/ptrace.cc
Labels: area: tests

Build the Go branch source archive with Bazel
  BUILD
  runsc/BUILD
  shim/BUILD
  tools/checklocks/cmd/checklocks/BUILD
  tools/go_branch.sh
  tools/go_export/BUILD
  tools/go_export/main.go
  tools/go_export/main_test.go
  webhook/BUILD
Labels: area: bazel, area: tests, area: tooling

Find license notices in Go module archives
  tools/licensecheck/BUILD
  tools/licensecheck/licensecheck.go
  tools/licensecheck/licensecheck_test.go
  tools/licensecheck/testdata/overflow-readme.txt
  tools/licensecheck/testdata/udiff-bsd.txt
  tools/licensecheck/testdata/udiff-mit.txt
Labels: area: bazel, area: tests, area: tooling

Wait for Yama tracer cleanup
  test/syscalls/linux/BUILD
  test/syscalls/linux/ptrace.cc
Labels: area: bazel, area: tests

Save foreign structs through binary codecs
  pkg/sentry/socket/BUILD
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_state.go
  pkg/sentry/socket/socket.go
  pkg/sentry/socket/socket_state.go
  pkg/state/BUILD
  pkg/state/decode.go
  pkg/state/encode.go
  pkg/state/state.go
  pkg/state/tests/BUILD
  pkg/state/tests/binary_test.go
  pkg/state/tests/struct.go
  pkg/state/types.go
  pkg/state/types_test.go
  pkg/tcpip/BUILD
  pkg/tcpip/tcpip.go
  pkg/tcpip/tcpip_state.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/endpoint_state.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
Labels: area: bazel, area: networking, area: tests

Check mount_too_revealing for new proc and sysfs mounts
  pkg/sentry/fsimpl/fsconfigfd/fsconfigfd.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: kernel, area: tests

Keep a first syscall argument of -512, -514 or -516 on arm64 systrap
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/sysmsg_thread_amd64.go
  pkg/sentry/platform/systrap/sysmsg_thread_arm64.go
  pkg/sentry/platform/systrap/sysmsg_thread_arm64_test.go
  test/syscalls/linux/eventfd.cc
  test/syscalls/linux/pipe.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: tests

proc: report PF_EXITING in /proc/[pid]/stat flags
  pkg/abi/linux/sched.go
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Inherit TCP_NODELAY on accepted TCP sockets
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/provider.go
  pkg/tcpip/socketops.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: tests

Automated rollback of changelist 993881815
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/tun/device.go
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/stats_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/save_restore.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/tcp_migration_test.go
  runsc/container/container_save_restore_test.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/tuntap.cc
Labels: area: bazel, area: networking, area: tests

examples/sandboxexec: add Go document processor example
  Makefile
  examples/sandboxexec/README.md
  examples/sandboxexec/go/BUILD
  examples/sandboxexec/go/README.md
  examples/sandboxexec/go/docprocessor/BUILD
  examples/sandboxexec/go/docprocessor/docprocessor.go
  examples/sandboxexec/go/docprocessor/docprocessor_test.go
  examples/sandboxexec/go/main.go
Labels: area: bazel, area: docs, area: tests

fuse: abort host FD passthrough connections on save
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/host_connection_test.go
  pkg/sentry/fsimpl/fuse/save_restore.go
Labels: area: bazel, area: filesystem, area: tests

Don't cut EROFS reads short at the inline tail
  pkg/sentry/fsimpl/erofs/BUILD
  pkg/sentry/fsimpl/erofs/regular_file.go
  pkg/sentry/fsimpl/erofs/regular_file_test.go
Labels: area: bazel, area: filesystem, area: tests

Apply three clone_private_mount checks to overlay layers
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
  test/syscalls/linux/mount_fd.cc
Labels: area: filesystem, area: tests

Document internal socket-option test inputs
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socketopt_test.cc
Labels: area: bazel, area: tests

Preserve known Go module commit metadata
  tools/licensecheck/licensecheck.go
Labels: area: tooling

proc: keep /proc continuation on the PID, not the entry count
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Update Abseil and its C++ dependencies
  MODULE.bazel
  test/syscalls/linux/base_poll_test.h
  tools/grpc_extra_deps.patch
  tools/licensecheck/dependencies.yaml
Labels: area: tests, area: tooling

test, vfs: Add Landlock ABI v1 syscall tests
  pkg/sentry/vfs/g3doc/landlock-testing.md
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/landlock_util.h
  test/syscalls/linux/landlock_v1.cc
  test/syscalls/linux/landlock_v1_selftests.cc
  test/syscalls/linux/mount.cc
Labels: area: bazel, area: docs, area: filesystem, area: tests

fsimpl, vfs: Order errors around the Landlock hooks as Linux does
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/landlock.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/permissions.go
Labels: area: filesystem, area: kernel
