Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

setsid() should return the session id.
  pkg/sentry/kernel/sessions.go
  pkg/sentry/syscalls/linux/sys_thread.go
  test/syscalls/linux/pty.cc
Labels: area: kernel, area: tests

systemd/cgroupsv2: limits from cgroupv2 parent
  runsc/cgroup/cgroup_v2.go
Labels: none

address PR comments
  runsc/cgroup/cgroup_v2.go
Labels: none

runsc/container_test: fix executeCombinedOutput's output
  runsc/container/container_test.go
Labels: area: tests

runsc/container_test: fix executeCombinedOutput's output
  runsc/container/container_test.go
Labels: area: tests

embeddedbinary: access proc files of the current process via /proc/self/
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: tooling

embeddedbinary: access proc files of the current process via /proc/self/
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: tooling

Only tmpfs is allowed on an upper level of overlayfs
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/vfs/filesystem_type.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/options.go
  runsc/boot/controller.go
  runsc/boot/vfs.go
  test/image/image_test.go
Labels: area: filesystem, area: kernel, area: tests

Only tmpfs is allowed on an upper level of overlayfs
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/vfs/filesystem_type.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/options.go
  runsc/boot/controller.go
  runsc/boot/vfs.go
  test/image/image_test.go
Labels: area: filesystem, area: kernel, area: tests

Get limits from parent in cgroupv2 when max is specified in leaf cgroup node.
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

Get limits from parent in cgroupv2 when max is specified in leaf cgroup node.
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

Get limits from parent in cgroupv2 when max is specified in leaf cgroup node.
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

runsc: decouple GoferMountConf to two layers
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cli/cli_test.go
  runsc/container/container.go
Labels: area: tests

runsc: decouple GoferMountConf to two layers
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cli/cli_test.go
  runsc/container/container.go
Labels: area: tests

runsc: add the new OverlayMedium type for overlay config
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/container/BUILD
  runsc/container/container.go
Labels: area: bazel, area: tests

runsc: add the new OverlayMedium type for overlay config
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/container/BUILD
  runsc/container/container.go
Labels: area: bazel, area: tests

`embeddedbinary`: Skip compression unless using `--compilation_mode=opt`.
  tools/embeddedbinary/BUILD
  tools/embeddedbinary/defs.bzl
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: bazel, area: tooling

`embeddedbinary`: Skip compression unless using `--compilation_mode=opt`.
  tools/embeddedbinary/BUILD
  tools/embeddedbinary/defs.bzl
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: bazel, area: tooling

`runsc metric-server`: Refactor command-line interface.
  runsc/cmd/BUILD
  runsc/cmd/metric_server.go
  runsc/cmd/metricserver/BUILD
  runsc/cmd/metricserver/metricserver_main.go
  runsc/cmd/metricserver/metricservercmd/BUILD
  runsc/cmd/metricserver/metricservercmd/metricservercmd.go
Labels: area: bazel

`runsc metric-server`: Refactor command-line interface.
  runsc/cmd/BUILD
  runsc/cmd/metric_server.go
  runsc/cmd/metricserver/BUILD
  runsc/cmd/metricserver/metricserver_main.go
  runsc/cmd/metricserver/metricservercmd/BUILD
  runsc/cmd/metricserver/metricservercmd/metricservercmd.go
Labels: area: bazel

runsc: add the EROFS rootfs support
  images/default/Dockerfile
  pkg/sentry/fsimpl/erofs/save_restore.go
  runsc/boot/BUILD
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: tests

runsc: add the EROFS rootfs support
  images/default/Dockerfile
  pkg/sentry/fsimpl/erofs/save_restore.go
  runsc/boot/BUILD
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/loader.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: filesystem, area: tests

`runsc`: Do not embed `metric-server` subcommand in `fastbuild` mode.
  runsc/cmd/BUILD
  runsc/cmd/metric_server_elided.go
  runsc/cmd/metric_server_embedded.go
  test/metricclient/BUILD
  test/metricclient/metricclient.go
  tools/defs.bzl
Labels: area: bazel, area: tests, area: tooling

`runsc`: Do not embed `metric-server` subcommand in `fastbuild` mode.
  runsc/cmd/BUILD
  runsc/cmd/metric_server_elided.go
  runsc/cmd/metric_server_embedded.go
  test/metricclient/BUILD
  test/metricclient/metricclient.go
  tools/defs.bzl
Labels: area: bazel, area: tests, area: tooling

Allows `driverABI` to be saveable
  pkg/sentry/devices/nvproxy/version.go
Labels: none

sentry: use a stronger RNG for address space randomization
  pkg/rand/BUILD
  pkg/rand/rng.go
  pkg/rand/rng_test.go
  pkg/sentry/arch/BUILD
  pkg/sentry/arch/arch_amd64.go
  pkg/sentry/arch/arch_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: tests

sentry: use a stronger RNG for address space randomization
  pkg/rand/BUILD
  pkg/rand/rng.go
  pkg/rand/rng_test.go
  pkg/sentry/arch/BUILD
  pkg/sentry/arch/arch_amd64.go
  pkg/sentry/arch/arch_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, area: kernel, area: tests

runsc: reproduce NAT table inside gVisor only when non-default
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/accept_blob
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
Labels: area: bazel, area: networking, area: tests

runsc: reproduce NAT table inside gVisor only when non-default
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/accept_blob
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
Labels: area: bazel, area: networking, area: tests

ThreadGroup should disassociate from tty on exit.
  pkg/sentry/kernel/thread_group.go
  test/syscalls/linux/pty.cc
Labels: area: kernel, area: tests

ThreadGroup should disassociate from tty on exit.
  pkg/sentry/kernel/thread_group.go
  test/syscalls/linux/pty.cc
Labels: area: kernel, area: tests

Call platform.PrepareSleep on task.UninterruptibleSleepStart.
  pkg/sentry/kernel/task_block.go
Labels: area: kernel

Add support for restoring nvproxy.driverABI.
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/save_restore.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: bazel

Add support for restoring nvproxy.driverABI.
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/save_restore.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: bazel

Fix debug message.
  pkg/sentry/kernel/task_signals.go
Labels: area: kernel

Fix debug message.
  pkg/sentry/kernel/task_signals.go
Labels: area: kernel

Fix debug message.
  pkg/sentry/kernel/task_signals.go
Labels: area: kernel

Fix a lock problem in pkg/tcpip/sample/tun_tcp_echo
  pkg/tcpip/sample/tun_tcp_echo/main.go
Labels: area: networking

Fix a lock problem in pkg/tcpip/sample/tun_tcp_echo
  pkg/tcpip/sample/tun_tcp_echo/main.go
Labels: area: networking

proc: limit a comm len to TASK_COMM_LEN
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests
