Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

mm: get huge pages for unaligned allocations spanning at least one huge page
  pkg/sentry/mm/pma.go
Labels: area: mm

mm: don't call platform.AddressSpace.MapFile(precommit=true) over 1 GiB
  pkg/sentry/mm/address_space.go
Labels: area: mm

Prevent inode sharing for directory dentries by by-passing cache.
  pkg/sentry/fsimpl/gofer/directfs_inode.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/lisafs_inode.go
Labels: area: filesystem

test/e2e: Add more debug message in TestJobControl
  test/e2e/integration_test.go
Labels: area: tests

Consolidate metadata configuration during S/R
  pkg/sentry/control/state.go
  pkg/sentry/control/state_impl.go
  runsc/boot/autosave.go
  runsc/boot/controller.go
  runsc/boot/restore.go
  runsc/sandbox/sandbox.go
Labels: none

test: allow to cache results of image and integration tests
  Makefile
  test/e2e/BUILD
  test/image/BUILD
Labels: area: bazel, area: tests

Add SGLang Docker tests/benchmark
  Makefile
  images/gpu/sglang/Dockerfile.x86_64
  images/gpu/sglang/client/BUILD
  images/gpu/sglang/client/Dockerfile
  images/gpu/sglang/client/client.go
  test/gpu/BUILD
  test/gpu/sglang/BUILD
  test/gpu/sglang/sglang.go
  test/gpu/sglang_test.go
Labels: area: bazel, area: tests

Add platform to statefile metadata and check it on restore.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  pkg/sentry/state/state.go
  pkg/sentry/state/state_metadata.go
  runsc/boot/controller.go
Labels: platform: kvm, platform: ptrace

Deflake the TestTcpdump image_test
  test/image/image_test.go
Labels: area: tests

Add netstack s/r test for loopback connection.
  images/basic/integrationtest/Dockerfile
  images/basic/integrationtest/tcp_loopback.c
  test/e2e/integration_test.go
Labels: area: tests

Support IPv6_MULTICAST_IF
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/internal/network/endpoint.go
  test/runtimes/exclude/java21.csv
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
Labels: area: networking, area: tests

Deny SOL_IP socket options for raw AF_INET6 sockets
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/raw_socket.cc
Labels: area: bazel, area: networking, area: tests

Restore WORKSPACE file.
  WORKSPACE
Labels: dependencies

pgalloc,stateio: implement async page saving
  pkg/aio/aio.go
  pkg/aio/aio_linux_unsafe.go
  pkg/sentry/control/BUILD
  pkg/sentry/control/state.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/state/BUILD
  pkg/sentry/state/state.go
  pkg/sentry/state/stateio/BUILD
  pkg/sentry/state/stateio/bufio.go
  pkg/sentry/state/stateio/fdwriter.go
  pkg/sentry/state/stateio/pagesfile.go
  pkg/sentry/state/stateio/stateio.go
  pkg/sentry/state/stateio/stateio_impl_util.go
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/boot/controller.go
  runsc/boot/restore.go
  runsc/cmd/BUILD
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel

Internal change.
  BUILD
  pkg/flipcall/flipcall.go
  pkg/hostarch/sizes_util.go
  pkg/sentry/state/stateio/BUILD
  pkg/sentry/state/stateio/bufreader.go
  pkg/sentry/state/stateio/bufreader_test.go
  pkg/sentry/state/stateio/bufwriter.go
  pkg/sentry/state/stateio/bufwriter_test.go
  pkg/sentry/state/stateio/ioreader.go
  pkg/sentry/state/stateio/ioreader_test.go
  pkg/sentry/state/stateio/iowriter.go
  pkg/sentry/state/stateio/iowriter_test.go
  pkg/sentry/state/stateio/stateio_util.go
  runsc/BUILD
  runsc/cli/BUILD
  runsc/cli/cli.go
  runsc/cli/maincli/BUILD
  runsc/cli/maincli/maincli.go
  runsc/cli/maincli/maincli_test.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/main.go
  runsc/main_plugin_stack.go
Labels: area: bazel, area: tests

Split off runsc/cli/maincli from runsc/cli.
  BUILD
  runsc/BUILD
  runsc/cli/BUILD
  runsc/cli/cli.go
  runsc/cli/maincli/BUILD
  runsc/cli/maincli/maincli.go
  runsc/cli/maincli/maincli_test.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/main.go
  runsc/main_plugin_stack.go
Labels: area: bazel, area: tests

buildkite: Annotate with failing individual tests
  .buildkite/hooks/post-command
Labels: none

Check for EventRegister success before setting FileAsync.registered.
  pkg/sentry/kernel/fasync/fasync.go
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/ioctl.cc
Labels: area: kernel, area: tests

[DO NOT SUBMIT] Repro TestJobControl flake and upload docker logs
  .buildkite/hooks/post-command
  Makefile
  test/e2e/integration_test.go
Labels: area: tests

Add async handler methods to FUSE DeviceFD.
  pkg/sentry/fsimpl/fuse/dev.go
Labels: area: filesystem

stateio: add BufReader, BufWriter, IOReader, IOWriter
  pkg/sentry/state/stateio/BUILD
  pkg/sentry/state/stateio/bufreader.go
  pkg/sentry/state/stateio/bufreader_test.go
  pkg/sentry/state/stateio/bufwriter.go
  pkg/sentry/state/stateio/bufwriter_test.go
  pkg/sentry/state/stateio/ioreader.go
  pkg/sentry/state/stateio/ioreader_test.go
  pkg/sentry/state/stateio/iowriter.go
  pkg/sentry/state/stateio/iowriter_test.go
  pkg/sentry/state/stateio/stateio_util.go
Labels: area: bazel, area: tests

Modify when FUSE_FLUSH is sent in FUSE implementation.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
Labels: area: filesystem

Take ApplicationCores into account when determining maxVCPUs.
  pkg/sentry/platform/kvm/config.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/platform.go
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: arch: x86_64, platform: kvm

platform/kvm: panic if ip, sp or bp point to kernel addresses upon exits
  pkg/sentry/platform/kvm/bluepill_amd64.go
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
Labels: arch: arm, arch: x86_64, platform: kvm

Modify when FUSE_FLUSH is sent in FUSE implementation.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
Labels: area: filesystem

Internal change.
  pkg/flipcall/flipcall.go
  pkg/hostarch/sizes_util.go
Labels: none

Deflake IntervalTimerTest tests that relied on old kernel behavior.
  test/syscalls/linux/BUILD
  test/syscalls/linux/timers.cc
Labels: area: bazel, area: tests

Add SLSA Go releaser workflow
  .github/workflows/go-ossf-slsa3-publish.yml
Labels: none

Adjust WaitReasonSemacquire et al. for go1.26
  pkg/sync/BUILD
  pkg/sync/runtime_constants_go126.go
Labels: area: bazel

Take ApplicationCores into account when determining maxVCPUs.
  pkg/sentry/platform/kvm/config.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/platform.go
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: arch: x86_64, platform: kvm

kernel: lock Task.mu in Task.MaxRSS
  pkg/sentry/kernel/task_acct.go
Labels: area: kernel

Move checkpoint filenames to a new package.
  pkg/sentry/state/checkpointfiles/BUILD
  pkg/sentry/state/checkpointfiles/checkpointfiles.go
  runsc/boot/restore.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel

Break runsc/config dependency on pkg/sentry/watchdog.
  pkg/sentry/watchdog/watchdog.go
  pkg/test/testutil/BUILD
  pkg/test/testutil/testutil.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/config/BUILD
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
Labels: area: bazel, area: tests

Internal change.
  runsc/boot/controller.go
  runsc/boot/restore_impl.go
  runsc/cmd/util/BUILD
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_impl.go
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: bazel, area: tooling

Adding debug logs for overlay fs being disabled becuase of the read only root.
  runsc/container/container.go
Labels: none

Pass tmpfs's source_tar_fd via tmpfs.FilesystemOpts internal data.
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
Labels: area: filesystem

Internal change.
  pkg/sentry/control/state.go
  pkg/sentry/control/state_impl.go
  runsc/boot/filter/config/config_main.go
  runsc/cmd/checkpoint.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_impl.go
Labels: area: tests

Internal change.
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_impl.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/boot_impl.go
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_impl.go
Labels: area: bazel

Skip Docker restore tests on Docker v28+.
  pkg/test/dockerutil/dockerutil.go
  test/e2e/integration_runtime_test.go
  test/e2e/integration_test.go
  test/gpu/sr_test.go
Labels: area: tests

loader: Remove spammy log message
  pkg/sentry/loader/loader.go
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
