Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

gVisor metrics: Optimize snapshot-taking for metrics with large cardinality.
  pkg/metric/metric.go
Labels: none

gVisor metrics: Re-introduce unimplemented syscall counter metric.
  pkg/sentry/kernel/syscalls.go
  runsc/container/metric_server_test.go
Labels: area: kernel, area: tests

gVisor metrics: Re-introduce unimplemented syscall counter metric.
  pkg/sentry/kernel/syscalls.go
  runsc/container/metric_server_test.go
Labels: area: kernel, area: tests

Please ignore this. This is a bug bounty test.... (azivno)
  Makefile
Labels: none

Add continuous directfs runtime tests.
  .buildkite/pipeline.yaml
Labels: none

Add continuous directfs runtime tests.
  .buildkite/pipeline.yaml
Labels: none

Enable portforward test after fix.
  test/root/portforward_test.go
Labels: area: tests

Enable portforward test after fix.
  test/root/portforward_test.go
Labels: area: tests

Partial rollback of cl/522685544.
  pkg/test/testutil/testutil.go
  test/runner/main.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
Labels: area: bazel, area: tests

Partial rollback of cl/522685544.
  pkg/test/testutil/testutil.go
  test/runner/main.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/network_namespace.cc
Labels: area: bazel, area: tests

`runsc metric-server`: Fix printing labels with only external labels specified
  pkg/prometheus/prometheus.go
Labels: none

`runsc metric-server`: Fix printing labels with only external labels specified
  pkg/prometheus/prometheus.go
Labels: none

Print $RUNTIME_ARGS when configuring runsc runtime.
  Makefile
Labels: none

Print $RUNTIME_ARGS when configuring runsc runtime.
  Makefile
Labels: none

Enable hostinet for socket_ipv4_udp_unbound_loopback_test.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
Labels: area: bazel, area: tests

Enable hostinet for socket_ipv4_udp_unbound_loopback_test.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
Labels: area: bazel, area: tests

netstack: properly handle martian ipv4 mapped ipv6 addresses
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

netstack: properly handle martian ipv4 mapped ipv6 addresses
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

gVisor metric library: Change interface for passing in field values.
  pkg/metric/fake_metric.go
  pkg/metric/metric.go
  pkg/metric/metric_test.go
  pkg/metric/metric_unsafe.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/syscalls/linux/error.go
  pkg/sentry/time/calibrated_clock.go
  pkg/sentry/watchdog/watchdog.go
  pkg/tcpip/tcpip.go
Labels: area: filesystem, area: networking, area: kernel, area: tests, platform: kvm

gVisor metric library: Change interface for passing in field values.
  pkg/metric/fake_metric.go
  pkg/metric/metric.go
  pkg/metric/metric_test.go
  pkg/metric/metric_unsafe.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/syscalls/linux/error.go
  pkg/sentry/time/calibrated_clock.go
  pkg/sentry/watchdog/watchdog.go
  pkg/tcpip/tcpip.go
Labels: area: filesystem, area: networking, area: kernel, area: tests, platform: kvm

Internal change.
  tools/yamltest/defs.bzl
Labels: area: bazel, area: tooling

Internal change.
  tools/yamltest/defs.bzl
Labels: area: bazel, area: tooling

netstack: fix double-couting received IPv6 packets
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

netstack: fix double-couting received IPv6 packets
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Fix IPv6 loopback checking bug.
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/ipv6_test.go
Labels: area: networking, area: tests

remove commented code left in by accident
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

remove commented code left in by accident
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

systrap: don't copy an FPU state in sighandler
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
Labels: arch: x86_64

systrap: don't copy an FPU state in sighandler
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
Labels: arch: x86_64

systrap: don't copy an FPU state in sighandler
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
Labels: arch: x86_64

Don't return EINVAL if buf_index is set for IORING_OP_READV.
  pkg/sentry/fsimpl/iouringfs/iouringfs.go
  test/syscalls/linux/io_uring.cc
Labels: area: filesystem, area: tests

Don't return EINVAL if buf_index is set for IORING_OP_READV.
  pkg/sentry/fsimpl/iouringfs/iouringfs.go
  test/syscalls/linux/io_uring.cc
Labels: area: filesystem, area: tests

Enable proc_net tests with hostinet.
  test/syscalls/BUILD
  test/syscalls/linux/proc_net.cc
Labels: area: bazel, area: tests

Enable proc_net tests with hostinet.
  test/syscalls/BUILD
  test/syscalls/linux/proc_net.cc
Labels: area: bazel, area: tests

DO NOT SUBMIT: testing something
  pkg/sentry/syscalls/linux/sys_read_write.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/waiter/waiter.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: networking, area: kernel, area: tests

Add Systrap release blog post.
  website/_config.yml
  website/assets/images/2023-04-28-getpid-ptrace-vs-native.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-opt.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unopt.svg
  website/assets/images/2023-04-28-systrap-sample-workloads.svg
  website/blog/2023-04-28-systrap-release.md
  website/blog/BUILD
Labels: area: bazel

Add Systrap release blog post.
  website/_config.yml
  website/assets/images/2023-04-28-getpid-ptrace-vs-native.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-opt.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unopt.svg
  website/assets/images/2023-04-28-systrap-sample-workloads.svg
  website/blog/2023-04-28-systrap-release.md
  website/blog/BUILD
Labels: area: bazel

Fix second systrap blogpost image.
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unopt.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unoptimized.svg
  website/blog/2023-04-28-systrap-release.md
Labels: none

Fix second systrap blogpost image.
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unopt.svg
  website/assets/images/2023-04-28-getpid-ptrace-vs-systrap-unoptimized.svg
  website/blog/2023-04-28-systrap-release.md
Labels: none

Tune TCP syscall test
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests
