Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Remove debug lines from exec.cc
  test/syscalls/linux/exec.cc
Labels: area: tests

Remove debug lines from exec.cc
  test/syscalls/linux/exec.cc
Labels: area: tests

Always accept discovered configurations from NDP
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Always accept discovered configurations from NDP
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Cleanup iptables bug TODOs
  pkg/sentry/kernel/task.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/ipv4.go
  pkg/sentry/socket/netfilter/ipv6.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/owner_matcher.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/protocol.go
Labels: area: bazel, area: networking, area: kernel

Cleanup iptables bug TODOs
  pkg/sentry/kernel/task.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/ipv4.go
  pkg/sentry/socket/netfilter/ipv6.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/owner_matcher.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/protocol.go
Labels: area: bazel, area: networking, area: kernel

Fix typo
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

Fix typo
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

Rename DefaultRouter event to OffLinkRoute event
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Rename DefaultRouter event to OffLinkRoute event
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Cleanup lint messages
  test/syscalls/linux/accept_bind.cc
  test/syscalls/linux/poll.cc
  test/syscalls/linux/prctl.cc
  test/syscalls/linux/priority.cc
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/uidgid.cc
  test/syscalls/linux/uname.cc
Labels: area: tests

Cleanup lint messages
  test/syscalls/linux/accept_bind.cc
  test/syscalls/linux/poll.cc
  test/syscalls/linux/prctl.cc
  test/syscalls/linux/priority.cc
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/uidgid.cc
  test/syscalls/linux/uname.cc
Labels: area: tests

Update debugging example
  g3doc/user_guide/debugging.md
Labels: area: docs

Update debugging example
  g3doc/user_guide/debugging.md
Labels: area: docs

Support parsing Prf field in RAs
  pkg/tcpip/header/ndp_router_advert.go
  pkg/tcpip/header/ndp_test.go
Labels: area: networking, area: tests

Support parsing Prf field in RAs
  pkg/tcpip/header/ndp_router_advert.go
  pkg/tcpip/header/ndp_test.go
Labels: area: networking, area: tests

Deflake SocketInetLoopbackTest.TCPBacklog
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Deflake SocketInetLoopbackTest.TCPBacklog
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Move tcpip.Clock impl to Timekeeper
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/timekeeper.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Use fake clocks in NDP tests
  pkg/tcpip/header/ndp_options.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

kvm: mark UpperHalf PTE-s as global
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

kvm: mark UpperHalf PTE-s as global
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

[syserror] Refactor linuxerr and error package.
  pkg/abi/linux/BUILD
  pkg/abi/linux/errno/BUILD
  pkg/abi/linux/errno/errno.go
  pkg/errors/BUILD
  pkg/errors/errors.go
  pkg/errors/linuxerr/BUILD
  pkg/errors/linuxerr/linuxerr.go
  pkg/errors/linuxerr/linuxerr_test.go
  pkg/linuxerr/linuxerr.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/task_image.go
  pkg/sentry/loader/BUILD
  pkg/sentry/loader/loader.go
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack.go
  pkg/syserr/BUILD
  pkg/syserr/netstack.go
  pkg/syserr/syserr.go
Labels: area: bazel, area: networking, area: kernel, area: tests

[syserror] Refactor linuxerr and error package.
  pkg/abi/linux/BUILD
  pkg/abi/linux/errno/BUILD
  pkg/abi/linux/errno/errno.go
  pkg/errors/BUILD
  pkg/errors/errors.go
  pkg/errors/linuxerr/BUILD
  pkg/errors/linuxerr/linuxerr.go
  pkg/errors/linuxerr/linuxerr_test.go
  pkg/linuxerr/linuxerr.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/task_image.go
  pkg/sentry/loader/BUILD
  pkg/sentry/loader/loader.go
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack.go
  pkg/syserr/BUILD
  pkg/syserr/netstack.go
  pkg/syserr/syserr.go
Labels: area: bazel, area: networking, area: kernel, area: tests

Fix broken hdrincl test
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/raw_socket_hdrincl.cc
Labels: area: networking, area: tests

Fix broken hdrincl test
  pkg/tcpip/transport/raw/endpoint.go
  test/syscalls/linux/raw_socket_hdrincl.cc
Labels: area: networking, area: tests

raw sockets: don't overwrite destination address
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/raw_socket_hdrincl.cc
  test/syscalls/linux/raw_socket_icmp.cc
Labels: area: networking, area: tests

raw sockets: don't overwrite destination address
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/raw_socket_hdrincl.cc
  test/syscalls/linux/raw_socket_icmp.cc
Labels: area: networking, area: tests

Move tcpip.Clock impl to Timekeeper
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/timekeeper.go
  pkg/sentry/state/state.go
  runsc/boot/controller.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Move tcpip.Clock impl to Timekeeper
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/timekeeper.go
  pkg/sentry/state/state.go
  runsc/boot/controller.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

remove outdated ip6tables TODOs
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

remove outdated ip6tables TODOs
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

[syserror] Change p9 server to use linuxerr.
  pkg/errors/linuxerr/linuxerr.go
  pkg/p9/BUILD
  pkg/p9/handlers.go
  pkg/p9/server.go
Labels: area: bazel

[syserror] Change p9 server to use linuxerr.
  pkg/errors/linuxerr/linuxerr.go
  pkg/p9/BUILD
  pkg/p9/handlers.go
  pkg/p9/server.go
Labels: area: bazel

Include off-link route's preference in update events
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Include off-link route's preference in update events
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tests/integration/loopback_test.go
Labels: area: networking, area: tests

Add endpoints to map only if registerEndpoint succeeds.
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/stack/transport_demuxer_test.go
Labels: area: networking, area: tests

Add endpoints to map only if registerEndpoint succeeds.
  pkg/tcpip/stack/transport_demuxer.go
  pkg/tcpip/stack/transport_demuxer_test.go
Labels: area: networking, area: tests

(docs) use node.k8s.io/v1/RuntimeClass for Kubernetes set up
  g3doc/user_guide/containerd/quick_start.md
Labels: area: docs

Add gcore to list of supported tools
  g3doc/user_guide/compatibility.md
Labels: area: docs

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
