Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Implement SO_SNDTIMEO and SO_RCVTIMEO for netlink's setsockopt and getsockopt.
  pkg/sentry/socket/netlink/socket.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink.cc
Labels: area: bazel, area: networking, area: tests

Implement SO_SNDTIMEO and SO_RCVTIMEO for netlink's setsockopt and getsockopt.
  pkg/sentry/socket/netlink/socket.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink.cc
Labels: area: bazel, area: networking, area: tests

netstack: use longest prefix match to choose IPs on a NIC
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: networking, area: tests

netstack: use longest prefix match to choose IPs on a NIC
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: networking, area: tests

Implement CLI tool to deploy the `runsc` installer in any Kubernetes cluster.
  nogo.yaml
  runsc/cmd/util/BUILD
  tools/gvisor_k8s_tool/BUILD
  tools/gvisor_k8s_tool/README.md
  tools/gvisor_k8s_tool/cluster/BUILD
  tools/gvisor_k8s_tool/cluster/cluster.go
  tools/gvisor_k8s_tool/cmd/install/BUILD
  tools/gvisor_k8s_tool/cmd/install/install.go
  tools/gvisor_k8s_tool/main.go
  tools/gvisor_k8s_tool/provider/clusterflag/BUILD
  tools/gvisor_k8s_tool/provider/clusterflag/clusterflag.go
  tools/gvisor_k8s_tool/provider/gke/BUILD
  tools/gvisor_k8s_tool/provider/gke/gke.go
  tools/gvisor_k8s_tool/provider/kubectl/BUILD
  tools/gvisor_k8s_tool/provider/kubectl/kubectl.go
  tools/gvisor_k8s_tool/spec/BUILD
  tools/gvisor_k8s_tool/spec/spec.go
  tools/gvisor_k8s_tool/util/BUILD
  tools/gvisor_k8s_tool/util/util.go
Labels: area: bazel, area: docs, area: tooling

Implement CLI tool to deploy the `runsc` installer in any Kubernetes cluster.
  nogo.yaml
  runsc/cmd/util/BUILD
  tools/gvisor_k8s_tool/BUILD
  tools/gvisor_k8s_tool/README.md
  tools/gvisor_k8s_tool/cluster/BUILD
  tools/gvisor_k8s_tool/cluster/cluster.go
  tools/gvisor_k8s_tool/cmd/install/BUILD
  tools/gvisor_k8s_tool/cmd/install/install.go
  tools/gvisor_k8s_tool/main.go
  tools/gvisor_k8s_tool/provider/clusterflag/BUILD
  tools/gvisor_k8s_tool/provider/clusterflag/clusterflag.go
  tools/gvisor_k8s_tool/provider/gke/BUILD
  tools/gvisor_k8s_tool/provider/gke/gke.go
  tools/gvisor_k8s_tool/provider/kubectl/BUILD
  tools/gvisor_k8s_tool/provider/kubectl/kubectl.go
  tools/gvisor_k8s_tool/spec/BUILD
  tools/gvisor_k8s_tool/spec/spec.go
  tools/gvisor_k8s_tool/util/BUILD
  tools/gvisor_k8s_tool/util/util.go
Labels: area: bazel, area: docs, area: tooling

Fix small mount propagation bug.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

Fix small mount propagation bug.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

fix: rename dumpErrorMesage and dumpAckMessage functions
  pkg/sentry/socket/netlink/socket.go
Labels: area: networking

fix: rename dumpErrorMesage and dumpAckMessage functions
  pkg/sentry/socket/netlink/socket.go
Labels: area: networking

Fix redis test after new image is used.
  test/benchmarks/database/redis_test.go
  test/benchmarks/tools/BUILD
  test/benchmarks/tools/redis.go
  test/benchmarks/tools/redis_test.go
Labels: area: bazel, area: tests

Fix redis test after new image is used.
  test/benchmarks/database/redis_test.go
  test/benchmarks/tools/BUILD
  test/benchmarks/tools/redis.go
  test/benchmarks/tools/redis_test.go
Labels: area: bazel, area: tests

Rearrange fio tests cases so regexs aren't ridiculous.
  .buildkite/pipeline.yaml
  test/benchmarks/fs/fio_test.go
Labels: area: tests

Rearrange fio tests cases so regexs aren't ridiculous.
  .buildkite/pipeline.yaml
  test/benchmarks/fs/fio_test.go
Labels: area: tests

vfs: MountNamespace.Root() has to return a top mount of /
  pkg/sentry/control/fs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/testutil/testutil.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/path.go
  pkg/sentry/fsimpl/user/user.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/procfs/dump.go
  runsc/boot/vfs.go
Labels: area: filesystem, area: kernel, area: tests

locking: Allow to assigned classes to mutexes
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/host/BUILD
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/kernfs/fd_impl_util.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/kernfs/mmap_util.go
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/mqfs/registry.go
  pkg/sentry/fsimpl/nsfs/BUILD
  pkg/sentry/fsimpl/nsfs/nsfs.go
  pkg/sentry/fsimpl/pipefs/BUILD
  pkg/sentry/fsimpl/pipefs/pipefs.go
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/filesystem.go
  pkg/sentry/fsimpl/proc/subtasks.go
  pkg/sentry/fsimpl/sockfs/BUILD
  pkg/sentry/fsimpl/sockfs/sockfs.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sync/locking/BUILD
  pkg/sync/locking/generic_mutex.go
  pkg/sync/locking/generic_rwmutex.go
  pkg/sync/locking/lockdep.go
  pkg/sync/locking/lockdep_norace.go
Labels: area: bazel, area: filesystem, area: tests

vfs: MountNamespace.Root() has to return a top mount of /
  pkg/sentry/control/fs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/testutil/testutil.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/path.go
  pkg/sentry/fsimpl/user/user.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/procfs/dump.go
  runsc/boot/vfs.go
Labels: area: filesystem, area: kernel, area: tests

vfs: MountNamespace.Root() has to return a top mount of /
  pkg/sentry/control/fs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/testutil/testutil.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/fsimpl/tmpfs/pipe_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs_test.go
  pkg/sentry/fsimpl/user/path.go
  pkg/sentry/fsimpl/user/user.go
  pkg/sentry/fsimpl/user/user_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/vfs/namespace.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/procfs/dump.go
  runsc/boot/vfs.go
Labels: area: filesystem, area: kernel, area: tests

netstack: fix test bug using wrong address family
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

netstack: fix test bug using wrong address family
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

Refactor fdimport.Import and read host fd flags before importing.
  pkg/sentry/fdimport/BUILD
  pkg/sentry/fdimport/fdimport.go
Labels: area: bazel

Refactor fdimport.Import and read host fd flags before importing.
  pkg/sentry/fdimport/BUILD
  pkg/sentry/fdimport/fdimport.go
Labels: area: bazel

vfs: Introduce the rootfs mount
  runsc/boot/vfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pivot_root.cc
Labels: area: bazel, area: tests

vfs: Introduce the rootfs mount
  runsc/boot/vfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pivot_root.cc
Labels: area: bazel, area: tests

vfs: Introduce the rootfs mount
  runsc/boot/vfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pivot_root.cc
Labels: area: bazel, area: tests

Add device cgroup's devices.list, which defaults to allow all.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Add device cgroup's devices.list, which defaults to allow all.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

nsfs: mark inodes as anonymous
  pkg/sentry/fsimpl/nsfs/nsfs.go
Labels: area: filesystem

nsfs: mark inodes as anonymous
  pkg/sentry/fsimpl/nsfs/nsfs.go
Labels: area: filesystem

Add a method for automatically DecRef'ing objects outside of mountMu.
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Add a method for automatically DecRef'ing objects outside of mountMu.
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

netstack: refactor IPv4 source address selection
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

netstack: refactor IPv4 source address selection
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

checklocks: always allow calls to methods of atomic wrappers
  tools/checklocks/analysis.go
  tools/checklocks/test/atomics.go
Labels: area: tests, area: tooling

checklocks: always allow calls to methods of atomic wrappers
  tools/checklocks/analysis.go
  tools/checklocks/test/atomics.go
Labels: area: tests, area: tooling

`runsc metric-server`: Move metric server to its own binary.
  runsc/cmd/BUILD
  runsc/cmd/metric_server.go
  runsc/cmd/metricserver/BUILD
  runsc/cmd/metricserver/metricserver_main.go
  test/metricclient/metricclient.go
Labels: area: bazel, area: tests

`runsc metric-server`: Move metric server to its own binary.
  runsc/cmd/BUILD
  runsc/cmd/metric_server.go
  runsc/cmd/metricserver/BUILD
  runsc/cmd/metricserver/metricserver_main.go
  test/metricclient/metricclient.go
Labels: area: bazel, area: tests

runsc: always run sandbox process in a new pid namespace
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/sandbox/sandbox.go
Labels: platform: ptrace

Internal change.
  vdso/BUILD
Labels: area: bazel

Internal change.
  vdso/BUILD
Labels: area: bazel

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
