Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Implement FUSE_UNLINK
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/unlink_test.cc
Labels: area: bazel, area: filesystem, area: tests

fuse: Implement IterDirents for directory file description
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/readdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_RMDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/rmdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

Improve FUSE async/noreply call logic
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem

Implement FUSE_MKDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/mkdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implementing inode.Getlink
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem

Extend integration test to test sequence of FUSE operation
  pkg/sentry/fsimpl/fuse/dev.go
  test/fuse/BUILD
  test/fuse/README.md
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/stat_test.cc
Labels: area: bazel, area: docs, area: filesystem, area: tests

Implement FUSE_RELEASE/RELEASEDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/file.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/fuse/linux/release_test.cc
Labels: area: bazel, area: filesystem, area: tests

Add comments for exported attributes
  pkg/abi/linux/fuse.go
Labels: none

Implement FUSE_SETATTR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/setstat_test.cc
Labels: area: bazel, area: filesystem, area: tests

Unexport fusefs.inode.nodeID
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/read_write.go
Labels: area: filesystem

Fix comments of TODO issues.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem

Add fh support for revise attr and fstat(2) test
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/linux/BUILD
  test/fuse/linux/stat_test.cc
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Add fh support for revise attr and fstat(2) test
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/linux/BUILD
  test/fuse/linux/stat_test.cc
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_RELEASE/RELEASEDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/file.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/fuse/linux/release_test.cc
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_SYMLINK
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/symlink_test.cc
Labels: area: bazel, area: filesystem, area: tests

Fix FUSE_RELEASE protocol reply processing
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/file.go
Labels: area: filesystem

Implement FUSE_CREATE
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/create_test.cc
Labels: area: bazel, area: filesystem, area: tests

Refactor FUSE connection for readability and structure
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/dev_test.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: bazel, area: filesystem, area: tests

Refactor FUSE connection for readability and structure
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/dev_test.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: bazel, area: filesystem, area: tests

Implement FUSE_MKNOD
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/mknod_test.cc
Labels: area: bazel, area: filesystem, area: tests

fuse: Implement IterDirents for directory file description
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/kernfs/kernfs.go
  pkg/sentry/vfs/file_description_impl_util.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/readdir_test.cc
Labels: area: bazel, area: filesystem, area: tests

Add functions in FUSE integration test to get metrics from FUSE server
  test/fuse/README.md
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
Labels: area: docs, area: tests

Implement FUSE_OPEN/OPENDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/util/BUILD
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Unexport fusefs.inode.nodeID
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/directory.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/read_write.go
Labels: area: filesystem

Add default attr in fuse_util
  test/fuse/linux/stat_test.cc
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: tests

Implement FUSE_OPEN/OPENDIR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/open_test.cc
  test/util/BUILD
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Test UDP socket bound to ANY with SO_BINDTODEVICE can receive unicast and bcast
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/udp_any_addr_bindtodevice_recv_unicast_broadcast_test.go
Labels: area: bazel, area: tests

Check that we have access to the trusted.* xattr namespace directly.
  test/syscalls/linux/xattr.cc
Labels: area: tests

Check that we have access to the trusted.* xattr namespace directly.
  test/syscalls/linux/xattr.cc
Labels: area: tests

fuse_open: add padding to open out request
  pkg/abi/linux/fuse.go
Labels: none

fuse_open: add padding to open out request
  pkg/abi/linux/fuse.go
Labels: none

fuse_open: add padding to open out request
  pkg/abi/linux/fuse.go
Labels: none

Packets should be copied for Raw sockets.
  pkg/tcpip/stack/transport_demuxer.go
Labels: area: networking

Missing field in Packet buffer Clone
  pkg/tcpip/stack/packet_buffer.go
Labels: area: networking

Cap reassembled IPv6 packets at 65535 octets
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/udp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Cap reassembled IPv6 packets at 65535 octets
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/udp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Fix modprobe dependency
  Makefile
Labels: none

Fix modprobe dependency
  Makefile
Labels: none

Correct FDSize in /proc/[pid]/status.
  pkg/sentry/fs/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: filesystem, area: kernel
