Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Make changes for CgroupsReadControlFile method to get memory usage per cgroup.
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/usage/memory.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: kernel, area: tests

Make changes for CgroupsReadControlFile method to get memory usage per cgroup.
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/usage/memory.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: kernel, area: tests

Create kernel.SendExternalSignalProcessGroup and use it in boot/loader.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: kernel

Create kernel.SendExternalSignalProcessGroup and use it in boot/loader.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: kernel

Align buffer for cmsg
  test/syscalls/linux/ip_socket_test_util.cc
Labels: area: tests

Align buffer for cmsg
  test/syscalls/linux/ip_socket_test_util.cc
Labels: area: tests

Align buffer for cmsg
  test/syscalls/linux/ip_socket_test_util.cc
Labels: area: tests

Add missing device cgroups.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Add missing device cgroups.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Add missing device cgroups.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Internal change.
  test/syscalls/linux/socket_netlink_route.cc
  test/util/test_util.h
Labels: area: tests

Internal change.
  test/syscalls/linux/socket_netlink_route.cc
  test/util/test_util.h
Labels: area: tests

Refactor and simplify propagation logic.
  pkg/ilist/list.go
  pkg/ilist/list_test.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Refactor and simplify propagation logic.
  pkg/ilist/list.go
  pkg/ilist/list_test.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Refactor and simplify propagation logic.
  pkg/ilist/list.go
  pkg/ilist/list_test.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Internal change.
  test/syscalls/linux/BUILD
Labels: area: bazel, area: tests

Add tool to generate a Go library that executes an embedded compressed binary.
  tools/embeddedbinary/BUILD
  tools/embeddedbinary/README.md
  tools/embeddedbinary/defs.bzl
  tools/embeddedbinary/embeddedbinary_template.go
  tools/embeddedbinary/flatecompress.go
  tools/embeddedbinary/test/BUILD
  tools/embeddedbinary/test/helloworld/BUILD
  tools/embeddedbinary/test/helloworld/helloworld_bundlee.go
  tools/embeddedbinary/test/helloworld_bundler.go
  tools/embeddedbinary/test/helloworld_test.go
Labels: area: bazel, area: docs, area: tests, area: tooling

Add tool to generate a Go library that executes an embedded compressed binary.
  tools/embeddedbinary/BUILD
  tools/embeddedbinary/README.md
  tools/embeddedbinary/defs.bzl
  tools/embeddedbinary/embeddedbinary_template.go
  tools/embeddedbinary/flatecompress.go
  tools/embeddedbinary/test/BUILD
  tools/embeddedbinary/test/helloworld/BUILD
  tools/embeddedbinary/test/helloworld/helloworld_bundlee.go
  tools/embeddedbinary/test/helloworld_bundler.go
  tools/embeddedbinary/test/helloworld_test.go
Labels: area: bazel, area: docs, area: tests, area: tooling

Add tool to generate a Go library that executes an embedded compressed binary.
  tools/embeddedbinary/BUILD
  tools/embeddedbinary/README.md
  tools/embeddedbinary/defs.bzl
  tools/embeddedbinary/embeddedbinary_template.go
  tools/embeddedbinary/flatecompress.go
  tools/embeddedbinary/test/BUILD
  tools/embeddedbinary/test/helloworld/BUILD
  tools/embeddedbinary/test/helloworld/helloworld_bundlee.go
  tools/embeddedbinary/test/helloworld_bundler.go
  tools/embeddedbinary/test/helloworld_test.go
Labels: area: bazel, area: docs, area: tests, area: tooling

Fix expected import path for Go cmd/vendor packages.
  tools/nogo/check/check.go
Labels: area: tooling

Fix expected import path for Go cmd/vendor packages.
  tools/nogo/check/check.go
Labels: area: tooling

Refactor: Move container metric metadata helpers into their own package.
  runsc/cmd/BUILD
  runsc/cmd/metric_export.go
  runsc/metricserver/BUILD
  runsc/metricserver/containermetrics/BUILD
  runsc/metricserver/containermetrics/containermetrics.go
  runsc/metricserver/metricserver.go
  runsc/metricserver/metricserver_metrics.go
Labels: area: bazel

Refactor: Move container metric metadata helpers into their own package.
  runsc/cmd/BUILD
  runsc/cmd/metric_export.go
  runsc/metricserver/BUILD
  runsc/metricserver/containermetrics/BUILD
  runsc/metricserver/containermetrics/containermetrics.go
  runsc/metricserver/metricserver.go
  runsc/metricserver/metricserver_metrics.go
Labels: area: bazel

BuildKite: Make disk usage monitoring message more helpful.
  .buildkite/hooks/pre-command
Labels: none

BuildKite: Make disk usage monitoring message more helpful.
  .buildkite/hooks/pre-command
Labels: none

Mount has to follow symlinks when it resolves `target`
  pkg/sentry/syscalls/linux/sys_mount.go
Labels: area: kernel

Mount has to follow symlinks when it resolves `target`
  pkg/sentry/syscalls/linux/sys_mount.go
Labels: area: kernel

network: speed up createSocket() by giving protocal 0 in socket()
  runsc/sandbox/network.go
Labels: none

network: speed up createSocket() by giving protocal 0 in socket()
  runsc/sandbox/network.go
Labels: none

docs(k8s): updated apiVersion for RuntimeClass
  g3doc/user_guide/containerd/quick_start.md
Labels: area: docs

docs(k8s): updated apiVersion for RuntimeClass
  g3doc/user_guide/containerd/quick_start.md
Labels: area: docs

testing: remove data race in container_test
  runsc/container/container_test.go
Labels: area: tests

Automated rollback of changelist 554554034
  pkg/abi/linux/clone.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_thread.go
  test/syscalls/linux/fork.cc
Labels: area: kernel, area: tests

Automated rollback of changelist 554554034
  pkg/abi/linux/clone.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_thread.go
  test/syscalls/linux/fork.cc
Labels: area: kernel, area: tests

Fix the delay-for-debugger flag so that it reports test failures.
  test/runner/main.go
Labels: area: tests

Fix the delay-for-debugger flag so that it reports test failures.
  test/runner/main.go
Labels: area: tests

Adding /proc/[pid]/task/[tid]/children
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/threads.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: kernel, area: tests

Adding /proc/[pid]/task/[tid]/children
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/threads.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: kernel, area: tests

Add GetMemoryUsage() API to the gVisor sandbox.
  pkg/sentry/control/usage.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  runsc/boot/events.go
Labels: area: filesystem

Add GetMemoryUsage() API to the gVisor sandbox.
  pkg/sentry/control/usage.go
  pkg/sentry/fsimpl/cgroupfs/memory.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  runsc/boot/events.go
Labels: area: filesystem

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
