Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Add --pass-fd flag to runsc run and exec
  pkg/sentry/control/proc.go
  runsc/boot/loader.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/exec.go
  runsc/cmd/exec_test.go
  runsc/cmd/fd_mapping.go
  runsc/cmd/run.go
  runsc/container/console_test.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/donation/donation.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests

Fix all c++ compile time warnings
  Makefile
  WORKSPACE
  examples/seccheck/BUILD
  examples/seccheck/server.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup.cc
  test/syscalls/linux/chroot.cc
  test/syscalls/linux/fork.cc
  test/syscalls/linux/futex.cc
  test/syscalls/linux/mount.cc
  test/syscalls/linux/pipe_external.cc
  test/syscalls/linux/pivot_root.cc
  test/syscalls/linux/poll.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/process_vm_read_write.cc
  test/syscalls/linux/readv.cc
  test/syscalls/linux/readv_socket.cc
  test/syscalls/linux/sigstop.cc
  test/syscalls/linux/socket_generic_stress.cc
  test/syscalls/linux/tcp_socket.cc
  test/syscalls/linux/uidgid.cc
  test/syscalls/linux/xattr.cc
  test/util/platform_util.cc
  test/util/test_util_impl.cc
Labels: area: bazel, area: tests, dependencies

Fix all c++ compile time warnings
  Makefile
  WORKSPACE
  examples/seccheck/BUILD
  examples/seccheck/server.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup.cc
  test/syscalls/linux/chroot.cc
  test/syscalls/linux/fork.cc
  test/syscalls/linux/futex.cc
  test/syscalls/linux/mount.cc
  test/syscalls/linux/pipe_external.cc
  test/syscalls/linux/pivot_root.cc
  test/syscalls/linux/poll.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/process_vm_read_write.cc
  test/syscalls/linux/readv.cc
  test/syscalls/linux/readv_socket.cc
  test/syscalls/linux/sigstop.cc
  test/syscalls/linux/socket_generic_stress.cc
  test/syscalls/linux/tcp_socket.cc
  test/syscalls/linux/uidgid.cc
  test/syscalls/linux/xattr.cc
  test/util/platform_util.cc
  test/util/test_util_impl.cc
Labels: area: bazel, area: tests, dependencies

Fix all c++ compile time warnings
  Makefile
  WORKSPACE
  examples/seccheck/BUILD
  examples/seccheck/server.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup.cc
  test/syscalls/linux/chroot.cc
  test/syscalls/linux/fork.cc
  test/syscalls/linux/futex.cc
  test/syscalls/linux/mount.cc
  test/syscalls/linux/pipe_external.cc
  test/syscalls/linux/pivot_root.cc
  test/syscalls/linux/poll.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/process_vm_read_write.cc
  test/syscalls/linux/readv.cc
  test/syscalls/linux/readv_socket.cc
  test/syscalls/linux/sigstop.cc
  test/syscalls/linux/socket_generic_stress.cc
  test/syscalls/linux/tcp_socket.cc
  test/syscalls/linux/uidgid.cc
  test/syscalls/linux/xattr.cc
  test/util/platform_util.cc
  test/util/test_util_impl.cc
Labels: area: bazel, area: tests, dependencies

Fix data race in subprocess pool.
  pkg/sentry/kernel/task_run.go
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_pool.go
  pkg/sentry/platform/systrap/systrap.go
Labels: area: bazel, area: kernel

Fix data race in subprocess pool.
  pkg/sentry/kernel/task_run.go
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_pool.go
  pkg/sentry/platform/systrap/systrap.go
Labels: area: bazel, area: kernel

chore(ci): Upgrade Github Actions to non-deprecated workflows
  .github/workflows/go.yml
  .github/workflows/issue_reviver.yml
  .github/workflows/labeler.yml
Labels: none

chore(ci): Upgrade Github Actions to non-deprecated workflows
  .github/workflows/go.yml
  .github/workflows/issue_reviver.yml
  .github/workflows/labeler.yml
Labels: none

`runsc metric-server`: Add `name_` suffix to `pod` and `namespace` labels.
  g3doc/user_guide/observability.md
  pkg/prometheus/prometheus.go
  test/metricclient/metricclient.go
Labels: area: docs, area: tests

`runsc metric-server`: Add `name_` suffix to `pod` and `namespace` labels.
  g3doc/user_guide/observability.md
  pkg/prometheus/prometheus.go
  test/metricclient/metricclient.go
Labels: area: docs, area: tests

gopath: switch to the archive mode
  .buildkite/hooks/pre-command
  BUILD
  tools/go_branch.sh
Labels: area: bazel, area: tooling

gopath: switch to the archive mode
  .buildkite/hooks/pre-command
  BUILD
  tools/go_branch.sh
Labels: area: bazel, area: tooling

Enable context decoupling
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_decoupling_disable.go
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/syshandler_amd64.S
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_unsafe.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

chore(ci): Upgrade Github Actions to non-deprecated workflows
  .github/workflows/go.yml
  .github/workflows/issue_reviver.yml
  .github/workflows/labeler.yml
Labels: none

netstack: add context to test description
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

netstack: add context to test description
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Fix compile errors when building with Android aarch64
  test/syscalls/linux/exec_state_workload.cc
  test/syscalls/linux/fpsig_fork.cc
  test/syscalls/linux/fpsig_nested.cc
Labels: area: tests

Fix compile errors when building with Android aarch64
  test/syscalls/linux/exec_state_workload.cc
  test/syscalls/linux/fpsig_fork.cc
  test/syscalls/linux/fpsig_nested.cc
Labels: area: tests

Increase ICMP poll timeout on Fuchsia
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Increase ICMP poll timeout on Fuchsia
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

gofer: prevent access to the whole proc fs via procSelfFD
  runsc/cmd/gofer.go
Labels: none

gofer: prevent access to the whole proc fs via procSelfFD
  runsc/cmd/gofer.go
Labels: none

Implement systrap context queue.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/syshandler_amd64.S
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_unsafe.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Implement systrap context queue.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64.go
  pkg/sentry/platform/systrap/subprocess_arm64.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/syshandler_amd64.S
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_unsafe.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Schedule GRO flush iff packets are queued
  pkg/tcpip/stack/gro.go
Labels: area: networking

Schedule GRO flush iff packets are queued
  pkg/tcpip/stack/gro.go
Labels: area: networking

Internal change.
  test/util/logging.h
Labels: area: tests

Internal change.
  test/util/logging.h
Labels: area: tests

Internal change.
  test/util/logging.h
Labels: area: tests

Defer poll timeout to Fuchsia's CI infra
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Defer poll timeout to Fuchsia's CI infra
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

gro: fix bug where handshake packets would be stuck waiting in GRO
  pkg/tcpip/stack/gro.go
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: networking, area: tests

gro: fix bug where handshake packets would be stuck waiting in GRO
  pkg/tcpip/stack/gro.go
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: networking, area: tests

gro: run all tests with GRO enabled at 200,000ns
  pkg/tcpip/stack/gro.go
Labels: area: networking

Improve lisafs debug log messages.
  pkg/abi/linux/file.go
  pkg/abi/linux/time.go
  pkg/lisafs/message.go
Labels: none

Improve lisafs debug log messages.
  pkg/abi/linux/file.go
  pkg/abi/linux/time.go
  pkg/lisafs/message.go
Labels: none

Make HostBountEndpoint.SetBoundSocketFD take ownership of bound socket FD.
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: filesystem, area: networking

Make HostBountEndpoint.SetBoundSocketFD take ownership of bound socket FD.
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: filesystem, area: networking

Get HardLink test in //runsc/fsgofer:lisafs_test to pass.
  pkg/lisafs/handlers.go
  pkg/lisafs/testsuite/testsuite.go
Labels: none

Get HardLink test in //runsc/fsgofer:lisafs_test to pass.
  pkg/lisafs/handlers.go
  pkg/lisafs/testsuite/testsuite.go
Labels: none
