Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

goferfs: Use lgetxattr(2) to get xattr for sockets and symlinks.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

goferfs: Return EOPNOTSUPP when attempting to change mode for symlinks.
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

kernel: only lock TaskSet.mu in Task.unstopVforkParent() if necessary
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
Labels: area: kernel

kernel: do not protect TaskSet.liveTasks with TaskSet.mu
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_state.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
Labels: area: kernel

Remove references to math/rand package's Read function.
  pkg/aio/BUILD
  pkg/aio/aio_test.go
  pkg/buffer/BUILD
  pkg/buffer/buffer_test.go
  pkg/buffer/view_test.go
  pkg/lisafs/BUILD
  pkg/lisafs/sock_test.go
  pkg/lisafs/testsuite/BUILD
  pkg/lisafs/testsuite/testsuite.go
  pkg/p9/p9test/BUILD
  pkg/p9/p9test/client_test.go
  pkg/tcpip/BUILD
  pkg/tcpip/link/fdbased/BUILD
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/tcpip.go
  pkg/test/testutil/BUILD
  pkg/test/testutil/testutil.go
  test/benchmarks/tcp/BUILD
  test/benchmarks/tcp/tcp_proxy.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv4_fragment_reassembly_test.go
  test/packetimpact/tests/ipv6_fragment_reassembly_test.go
  tools/go_marshal/analysis/BUILD
  tools/go_marshal/analysis/analysis_unsafe.go
Labels: area: bazel, area: networking, area: tests, area: tooling

Deflake TcpSocketTest.ClosedWriteBlockingSocket in hostnet mode.
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Deflake TcpSocketTest.ClosedWriteBlockingSocket in hostnet mode.
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

goferfs: Use lgetxattr(2) to get xattr for sockets and symlinks.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

goferfs: Return EOPNOTSUPP when attempting to change mode for symlinks.
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

nvproxy: remove outdated commentary
  runsc/container/container.go
  runsc/specutils/nvidia.go
Labels: none

Reduce timeout in TcpSocketTest.Closed{Read/Write}BlockingSocket.
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

platform/kvm: don't map the entire sentry address space to VM
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_cgo.go
Labels: area: bazel, platform: kvm

kernel: only lock TaskSet.mu in Task.unstopVforkParent() if necessary
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
Labels: area: kernel

Remove references to math/rand package's Read function.
  pkg/aio/BUILD
  pkg/aio/aio_test.go
  pkg/buffer/BUILD
  pkg/buffer/buffer_test.go
  pkg/buffer/view_test.go
  pkg/lisafs/BUILD
  pkg/lisafs/sock_test.go
  pkg/lisafs/testsuite/BUILD
  pkg/lisafs/testsuite/testsuite.go
  pkg/p9/p9test/BUILD
  pkg/p9/p9test/client_test.go
  pkg/tcpip/BUILD
  pkg/tcpip/link/fdbased/BUILD
  pkg/tcpip/link/fdbased/endpoint_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/tcpip.go
  pkg/test/testutil/BUILD
  pkg/test/testutil/testutil.go
  test/benchmarks/tcp/BUILD
  test/benchmarks/tcp/tcp_proxy.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv4_fragment_reassembly_test.go
  test/packetimpact/tests/ipv6_fragment_reassembly_test.go
  tools/go_marshal/analysis/BUILD
  tools/go_marshal/analysis/analysis_unsafe.go
Labels: area: bazel, area: networking, area: tests, area: tooling

Add instructions for configuring nvidia-container-runtime with containerd.
  g3doc/user_guide/containerd/configuration.md
Labels: area: docs

kernel: do not protect TaskSet.liveTasks with TaskSet.mu
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_state.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
Labels: area: kernel

Support TPU v6e w/ gVisor.
  pkg/abi/tpu/tpu.go
  runsc/cmd/chroot.go
Labels: none

Strip the extra path in go_types_memoize.patch
  WORKSPACE
  tools/go_types_memoize.patch
Labels: area: tooling, dependencies

Deflake `prometheus_test:TestWriteMultipleSnapshots`.
  pkg/prometheus/prometheus_test.go
Labels: area: tests

cpuid: read /proc/cpuinfo incrementally
  pkg/cpuid/native_amd64.go
Labels: arch: x86_64

cpuid: open /proc/cpuinfo concurrently
  pkg/cpuid/cpuid.go
  pkg/cpuid/cpuid_amd64.go
  pkg/cpuid/native_amd64.go
  pkg/cpuid/native_arm64.go
  runsc/boot/loader.go
Labels: arch: arm, arch: x86_64

Deflake `prometheus_test:TestWriteMultipleSnapshots`.
  pkg/prometheus/prometheus_test.go
Labels: area: tests

Add instructions for configuring nvidia-container-runtime with containerd.
  g3doc/user_guide/containerd/configuration.md
Labels: area: docs

Add `--final-metrics-log` flag to export metric data upon sandbox termination.
  pkg/prometheus/prometheus.go
  runsc/cmd/boot.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/sandbox.go
Labels: none

cpuid: read /proc/cpuinfo incrementally
  pkg/cpuid/native_amd64.go
Labels: arch: x86_64

Validate runsc version during restore.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Validate gvisor annotations during restore.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Unbreak build failures in Kubernetes benchmarks.
  WORKSPACE
  test/kubernetes/BUILD
  test/kubernetes/benchmarks/ruby_dev_test.go
  test/kubernetes/benchmarks/startup_test.go
  test/kubernetes/k8sctx/BUILD
  test/kubernetes/k8sctx/k8sctx_impl.go
  test/kubernetes/test_range_config.proto
  test/kubernetes/testcluster/BUILD
  test/kubernetes/testcluster/objects.go
  test/kubernetes/testcluster/testcluster.go
  test/kubernetes/tests/hello_test.go
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tests, area: tooling, dependencies

Update all GPU tests to use the ioctl sniffer.
  Makefile
  images/basic/cuda-vector-add/Dockerfile
  images/gpu/pytorch/Dockerfile.x86_64
  images/gpu/stable-diffusion-xl/Dockerfile.x86_64
  test/gpu/cuda_test.go
  test/gpu/ffmpeg_test.go
  test/gpu/nccl_test.go
  test/gpu/ollama/ollama.go
  test/gpu/pytorch_test.go
  test/gpu/smoke_test.go
  test/gpu/sr_test.go
  test/gpu/stablediffusion/stablediffusion.go
  test/gpu/vllm/vllm_test.go
  test/kubernetes/benchmarks/stablediffusion_test.go
  tools/ioctl_sniffer/run_sniffer.go
  tools/ioctl_sniffer/sniffer/sniffer.go
Labels: area: tests, area: tooling

Run vLLM test as part of GPU test suite.
  Makefile
Labels: none

Run CUDA tests as part of GPU tests.
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  test/gpu/cuda_test.go
Labels: area: tests

Automated rollback of changelist 688755446
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  test/gpu/cuda_test.go
Labels: area: tests

Add validation for spec fields.
  runsc/boot/restore.go
  runsc/container/container_test.go
Labels: area: tests

Validate capabilities and resources during restore.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

vfs: skip unresolved mount promises in procfs
  pkg/sentry/vfs/mount.go
Labels: area: filesystem

kernel: do not protect TaskSet.liveTasks with TaskSet.mu
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_state.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
Labels: area: kernel

feat: update gVisor Knative user guide to use deployment config
  g3doc/user_guide/tutorials/knative.md
Labels: area: docs

Fix bazel.mk for Make v4.4.
  tools/bazel.mk
Labels: area: tooling

Add validation for spec fields.
  runsc/boot/restore.go
  runsc/container/container_test.go
Labels: area: tests

Validate runsc version during restore.
  runsc/boot/BUILD
  runsc/boot/autosave.go
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: area: bazel
