Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Don't panic in overlay.filesystem.UnlinkAt unless necessary.
  pkg/sentry/fsimpl/overlay/filesystem.go
Labels: area: filesystem

Hold baseEndpoint.mu when calling baseEndpoint.Connected()
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Hold baseEndpoint.mu when calling baseEndpoint.Connected()
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Remove unused tags.
  runsc/BUILD
  shim/BUILD
Labels: area: bazel

Set DEBIAN_FRONTEND to be noninteractive for containerd installing.
  .buildkite/hooks/pre-command
  tools/install_containerd.sh
Labels: area: tooling

Set DEBIAN_FRONTEND to be noninteractive for containerd installing.
  .buildkite/hooks/pre-command
  tools/install_containerd.sh
Labels: area: tooling

Fix race between epoll readiness check and re-readying.
  pkg/sentry/kernel/epoll/epoll.go
  pkg/sentry/vfs/epoll.go
Labels: area: filesystem, area: kernel

Fix race between epoll readiness check and re-readying.
  pkg/sentry/kernel/epoll/epoll.go
  pkg/sentry/vfs/epoll.go
Labels: area: filesystem, area: kernel

Expose endpoint's state for raw and icmp sockets
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
Labels: area: bazel, area: networking, area: tests

Expose endpoint's state for raw and icmp sockets
  pkg/tcpip/transport/BUILD
  pkg/tcpip/transport/datagram_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
Labels: area: bazel, area: networking, area: tests

Tolerate channel creation error in lisafs.
  pkg/lisafs/client.go
Labels: none

Tolerate channel creation error in lisafs.
  pkg/lisafs/client.go
Labels: none

Test that all threads in thread group terminate
  test/syscalls/linux/BUILD
  test/syscalls/linux/exit.cc
Labels: area: bazel, area: tests

Test that all threads in thread group terminate
  test/syscalls/linux/BUILD
  test/syscalls/linux/exit.cc
Labels: area: bazel, area: tests

Get rid of FSync RPC batching in gofer client with lisafs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
Labels: area: filesystem

Get rid of FSync RPC batching in gofer client with lisafs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
Labels: area: filesystem

Get rid of FSync RPC batching in gofer client with lisafs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
Labels: area: filesystem

tools/make_release.sh: don't overwrite global variables.
  tools/make_release.sh
Labels: area: tooling

tools/make_release.sh: don't overwrite global variables.
  tools/make_release.sh
Labels: area: tooling

tools/make_release.sh: don't overwrite global variables.
  tools/make_release.sh
Labels: area: tooling

Update lisafs to return ENOMEM on hitting max channel limit.
  pkg/lisafs/channel.go
  pkg/lisafs/client.go
Labels: none

Update lisafs to return ENOMEM on hitting max channel limit.
  pkg/lisafs/channel.go
  pkg/lisafs/client.go
Labels: none

Bump gVisor build tags to go1.20
  pkg/gohacks/gohacks_unsafe.go
  pkg/goid/goid.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  pkg/sync/mutex_unsafe.go
  pkg/sync/runtime_amd64.go
  pkg/sync/runtime_amd64.s
  pkg/sync/runtime_unsafe.go
Labels: arch: arm, arch: x86_64

Bump gVisor build tags to go1.20
  pkg/gohacks/gohacks_unsafe.go
  pkg/goid/goid.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  pkg/sync/mutex_unsafe.go
  pkg/sync/runtime_amd64.go
  pkg/sync/runtime_amd64.s
  pkg/sync/runtime_unsafe.go
Labels: arch: arm, arch: x86_64

Bump Go branch workflow to 1.17
  .github/workflows/go.yml
Labels: none

Bump Go branch workflow to 1.17
  .github/workflows/go.yml
Labels: none

Bump Go branch workflow to 1.17
  .github/workflows/go.yml
Labels: none

Skip dirents that fail stat(2) during Getdents RPC.
  pkg/lisafs/node.go
  runsc/boot/vfs.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/lisafs.go
Labels: none

Skip dirents that fail stat(2) during Getdents RPC.
  pkg/lisafs/node.go
  runsc/boot/vfs.go
  runsc/fsgofer/fsgofer.go
  runsc/fsgofer/lisafs.go
Labels: none

Add a bulk transfer test for sharedmem.
  pkg/tcpip/link/sharedmem/sharedmem_server_test.go
Labels: area: networking, area: tests

Add a bulk transfer test for sharedmem.
  pkg/tcpip/link/sharedmem/sharedmem_server_test.go
Labels: area: networking, area: tests

Minor code cleanups no functionality change.
  pkg/tcpip/link/sharedmem/pipe/rx.go
  pkg/tcpip/link/sharedmem/pipe/tx.go
Labels: area: networking

Minor code cleanups no functionality change.
  pkg/tcpip/link/sharedmem/pipe/rx.go
  pkg/tcpip/link/sharedmem/pipe/tx.go
Labels: area: networking

Make watchdog panic for runtime tests.
  Makefile
Labels: none

Make watchdog panic for runtime tests.
  Makefile
Labels: none

Enable all tests for lisafs.
  .buildkite/pipeline.yaml
  Makefile
  test/runner/defs.bzl
  test/runner/main.go
  test/util/test_util.cc
  test/util/test_util.h
Labels: area: bazel, area: tests

Enable all tests for lisafs.
  .buildkite/pipeline.yaml
  Makefile
  test/runner/defs.bzl
  test/runner/main.go
  test/util/test_util.cc
  test/util/test_util.h
Labels: area: bazel, area: tests

Enable all tests for lisafs.
  .buildkite/pipeline.yaml
  Makefile
  test/runner/defs.bzl
  test/runner/main.go
  test/util/test_util.cc
  test/util/test_util.h
Labels: area: bazel, area: tests

Change server test to be large.
  pkg/tcpip/link/sharedmem/BUILD
Labels: area: bazel, area: networking

Change server test to be large.
  pkg/tcpip/link/sharedmem/BUILD
Labels: area: bazel, area: networking
