Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Get rid of fchdir(2) usage in directfs.
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsutil/chdir/BUILD
  pkg/sentry/fsutil/chdir/chdir.go
  runsc/boot/filter/config.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
Labels: area: bazel, area: filesystem

Get rid of fchdir(2) usage in directfs.
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsutil/chdir/BUILD
  pkg/sentry/fsutil/chdir/chdir.go
  runsc/boot/filter/config.go
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
Labels: area: bazel, area: filesystem

Automated rollback of changelist 516870932
  pkg/tcpip/stack/gro.go
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: networking, area: tests

Automated rollback of changelist 516870932
  pkg/tcpip/stack/gro.go
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: networking, area: tests

Fix syzkaller systrap builds.
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
Labels: arch: x86_64

Fix syzkaller systrap builds.
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
Labels: arch: x86_64

kernel: release kernel.taskSetRWMutex before calling TaskImage.Release
  pkg/sentry/kernel/task_exec.go
Labels: area: kernel

kernel: release kernel.taskSetRWMutex before calling TaskImage.Release
  pkg/sentry/kernel/task_exec.go
Labels: area: kernel

Refactor context-related shared memory usage.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64_unsafe.go
  pkg/sentry/platform/systrap/subprocess_arm64_unsafe.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_amd64.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_arm64.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Refactor context-related shared memory usage.
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_amd64_unsafe.go
  pkg/sentry/platform/systrap/subprocess_arm64_unsafe.go
  pkg/sentry/platform/systrap/subprocess_unsafe.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_amd64.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_arm64.go
  pkg/sentry/platform/systrap/systrap.go
Labels: arch: arm, arch: x86_64, area: bazel

Internal change.
  website/BUILD
Labels: area: bazel

Internal change.
  website/BUILD
Labels: area: bazel

Internal change.
  website/BUILD
Labels: area: bazel

runsc/restore: must be able to restore to prepared container
  runsc/cmd/BUILD
  runsc/cmd/restore.go
Labels: area: bazel

runsc/restore: must be able to restore to prepared container
  runsc/cmd/BUILD
  runsc/cmd/restore.go
Labels: area: bazel

gro: fix bug where handshake packets would be stuck waiting in GRO
  pkg/tcpip/stack/gro.go
Labels: area: networking

gro: fix bug where handshake packets would be stuck waiting in GRO
  pkg/tcpip/stack/gro.go
Labels: area: networking

gro: fix bug where handshake packets would be stuck waiting in GRO
  pkg/tcpip/stack/gro.go
Labels: area: networking

Avoid using AT_EMPTY_PATH while making linkat(2) host syscall.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/boot/filter/config.go
  runsc/fsgofer/lisafs.go
  test/syscalls/BUILD
Labels: area: bazel, area: filesystem, area: tests

Avoid using AT_EMPTY_PATH while making linkat(2) host syscall.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/boot/filter/config.go
  runsc/fsgofer/lisafs.go
  test/syscalls/BUILD
Labels: area: bazel, area: filesystem, area: tests

gro: use tcpip.Clock instead of time.*
  pkg/tcpip/stack/gro.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
Labels: area: networking

python: exclude flaky test_control_and_wait
  test/runtimes/proctor/lib/python.go
Labels: area: tests

python: exclude flaky test_control_and_wait
  test/runtimes/proctor/lib/python.go
Labels: area: tests

Add test for poll(POLLIN) on TCP around accept
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Add test for poll(POLLIN) on TCP around accept
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Fix crash with large FD value
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
  pkg/sentry/kernel/task.go
Labels: area: kernel

Fix crash with large FD value
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
  pkg/sentry/kernel/task.go
Labels: area: kernel

enable GRO in syscall tests
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: tests

enable GRO in syscall tests
  runsc/boot/network.go
  runsc/sandbox/network.go
  test/runner/main.go
Labels: area: tests

systrap: introduce a spinning queue
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: none

systrap: introduce a spinning queue
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: none

Update bazel to 6.1.1
  images/default/Dockerfile
Labels: none

Update bazel to 6.1.1
  images/default/Dockerfile
Labels: none

Remove sysmsg->interrupted_context_id
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
Labels: arch: x86_64

Remove sysmsg->interrupted_context_id
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
Labels: arch: x86_64

Remove sysmsg->interrupted_context_id
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
Labels: arch: x86_64

Connect to bound addr before closing socket
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Connect to bound addr before closing socket
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Connect to bound addr before closing socket
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Internal change.
  test/syscalls/linux/poll.cc
Labels: area: tests
