Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Start TCP dispatchers after endpoints are completely loaded during restore.
  images/basic/integrationtest/Dockerfile
  images/basic/integrationtest/tcp_stress_server.c
  pkg/sentry/kernel/kernel.go
  pkg/tcpip/stack/stack.go
  test/e2e/integration_test.go
Labels: area: networking, area: kernel, area: tests

Add all CUDA tests
  test/gpu/cuda_12_8_test.go
  test/gpu/smoke_test.go
Labels: area: tests

Remove TESTONLY from the save restore netstack flag name.
  Makefile
  pkg/test/testutil/testutil.go
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
  test/e2e/integration_test.go
  test/runner/main.go
Labels: area: tests

Implement driver version test
  test/gpu/BUILD
  test/kubernetes/testcluster/testcluster.go
  test/kubernetes/tests/BUILD
  test/kubernetes/tests/driver_version.go
  test/kubernetes/tests/driver_version_test.go
Labels: area: bazel, area: tests

Accept EMSGSIZE in native run for RawPacketMsgSizeTest.SpliceTooLong.
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: tests

Enable netstack save restore by default.
  runsc/config/flags.go
Labels: none

update falco links
  g3doc/user_guide/tutorials/falco.md
Labels: area: docs

Adjust WaitReasonSemacquire for go1.25
  pkg/sync/BUILD
  pkg/sync/runtime_constants_go125.go
  pkg/sync/runtime_constants_not_go125.go
Labels: area: bazel

Remove environment hook from BuildKite `hooks` directory.
  .buildkite/hooks/environment
Labels: none

Remove environment hook from BuildKite `hooks` directory.
  .buildkite/hooks/environment
Labels: none

refactor(checklocks): enhance diagnostics and deduplication in failure reporting
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/checklocks.go
Labels: area: tooling

fix(checklocks): enhance diagnostics and deduplication in failure reporting
  tools/checklocks/analysis.go
  tools/checklocks/annotations.go
  tools/checklocks/checklocks.go
Labels: area: tooling

Allow sched_getaffinity in syscall filters
  runsc/boot/filter/config/config_main.go
  runsc/fsgofer/filter/config.go
Labels: none

packetimpact: ignore retransmitted SYNACK on Linux
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: tests

hack
  test/packetimpact/tests/ipv6_fragment_reassembly_test.go
Labels: area: tests

packetimpact: ignore retransmitted SYNACK on Linux
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: tests

gvisor/pkg/abi/linux: fix printf mistake
  pkg/abi/linux/seccomp.go
Labels: none

systrap: use syscall user dispatch to trap syscalls
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/subprocess_linux.go
Labels: none

Add some more fun messages to dmesg. :D
  pkg/sentry/kernel/syslog.go
Labels: area: kernel

gofer: Skip making SetStat RPC if UID/GID is not changing.
  pkg/sentry/fsimpl/gofer/gofer.go
Labels: area: filesystem

Enable netstack save restore by default.
  runsc/config/flags.go
Labels: none

systrap: seal stub mappings
  pkg/sentry/platform/systrap/stub_unsafe.go
Labels: none

gofer: Avoid making fchown(2) syscall if UID/GID is not changing.
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem

Option --overlay-size
  g3doc/user_guide/filesystem.md
  runsc/boot/gofer_conf.go
  runsc/boot/gofer_conf_test.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container.go
Labels: area: docs, area: tests

Correct `updated` return value in `UpdateVolumeAnnotations`.
  pkg/shim/v1/utils/BUILD
  pkg/shim/v1/utils/volumes.go
  pkg/shim/v1/utils/volumes_test.go
  runsc/specutils/specutils.go
Labels: area: bazel, area: tests

Add support for executing a binary before saving and after restoring.
  pkg/sentry/control/BUILD
  pkg/sentry/control/lifecycle.go
  pkg/sentry/control/state.go
  pkg/sentry/control/state_impl.go
  pkg/sentry/fdcollector/BUILD
  pkg/sentry/fdcollector/fdcollector.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/state/statefile/statefile.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/boot/vfs.go
  runsc/cmd/checkpoint.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel

nvproxy: Add support for 535.129.03.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

kvm: don't fail if a mapped virtual region is on a few phys regions
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

pkg/tcpip: impl json.Marshaler/Unmarshaler for StatCounter to Marshal/Unmarshal *Stats
  pkg/tcpip/tcpip.go
  pkg/tcpip/tcpip_test.go
Labels: area: networking, area: tests

Added Nftables config option in runsc
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

sentry/control: fix Lifecycle.Shutdown() panics
  pkg/sentry/control/lifecycle.go
Labels: none

Do not support netstack s/r for NetworkPlugin mode.
  pkg/sentry/socket/plugin/stack/stack.go
  runsc/boot/loader.go
Labels: area: networking

runsc: dereference symlinks when checking for existing mount points
  runsc/boot/vfs.go
Labels: none

Do not support netstack s/r for NetworkPlugin mode.
  pkg/sentry/socket/plugin/stack/stack.go
  runsc/boot/loader.go
Labels: area: networking

Kubernetes testcluster: Add "restore" nodepool.
  test/kubernetes/benchmarks/README.md
  test/kubernetes/test_range_config.proto
  test/kubernetes/testcluster/testcluster.go
Labels: area: docs, area: tests

Enable netstack save restore by default.
  runsc/config/flags.go
Labels: none

kvm: don't fail if a mapped virtual region is on a few phys regions
  pkg/sentry/platform/kvm/machine_amd64.go
Labels: arch: x86_64, platform: kvm

runsc: dereference symlinks when checking for existing mount points
  runsc/boot/vfs.go
Labels: none

Added Nftables config option in runsc
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

nvproxy: Add support for 535.129.03.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
