Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Do not fail checkpoint waiters when a checkpoint attempt is in flight
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  runsc/boot/restore.go
Labels: area: kernel

Nftables: Support xt_NAT compatibility targets.
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_ipv6.go
  pkg/abi/linux/netfilter_test.go
  pkg/abi/linux/netlink_netfilter.go
  pkg/abi/linux/netlink_route.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_xt_addrtype.go
  pkg/tcpip/nftables/nft_xt_conntrack.go
  pkg/tcpip/nftables/nft_xt_masq.go
  pkg/tcpip/nftables/nft_xt_match.go
  pkg/tcpip/nftables/nft_xt_nat.go
  pkg/tcpip/nftables/nft_xt_target.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_compat.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nat.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Nftables: Support xt_addrtype match.
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netlink_netfilter.go
  pkg/abi/linux/netlink_route.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_xt_addrtype.go
  pkg/tcpip/nftables/nft_xt_match.go
  pkg/tcpip/nftables/nft_xt_target.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_compat.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Nftables: Support xt_conntrack compatibility match.
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netlink_netfilter.go
  pkg/abi/linux/netlink_route.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_xt_addrtype.go
  pkg/tcpip/nftables/nft_xt_conntrack.go
  pkg/tcpip/nftables/nft_xt_match.go
  pkg/tcpip/nftables/nft_xt_target.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_compat.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Nftables: Support xt_MASQUERADE compatibility target.
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netlink_netfilter.go
  pkg/abi/linux/netlink_route.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_xt_addrtype.go
  pkg/tcpip/nftables/nft_xt_conntrack.go
  pkg/tcpip/nftables/nft_xt_masq.go
  pkg/tcpip/nftables/nft_xt_match.go
  pkg/tcpip/nftables/nft_xt_target.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_compat.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Nftables: Add iptables-nft integration test target and runner.
  Makefile
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_ipv6.go
  pkg/abi/linux/netfilter_test.go
  pkg/abi/linux/netlink_netfilter.go
  pkg/abi/linux/netlink_route.go
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_xt_addrtype.go
  pkg/tcpip/nftables/nft_xt_conntrack.go
  pkg/tcpip/nftables/nft_xt_masq.go
  pkg/tcpip/nftables/nft_xt_match.go
  pkg/tcpip/nftables/nft_xt_nat.go
  pkg/tcpip/nftables/nft_xt_target.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_compat.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nat.go
  test/iptables/BUILD
  test/iptables/README.md
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/runner/main.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: docs, area: networking, area: tests

seccheck: add a README for scsdk
  pkg/sentry/seccheck/scsdk/README.md
Labels: area: docs

Deflake TestMultiContainerEvent/enableCgroupsV2
  runsc/container/multi_container_test.go
Labels: area: tests

nvproxy: support NV_EVENT_BUFFER
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

nvproxy: expose CLOCK_MONOTONIC_RAW as a distinct clock for capProfiling
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/timekeeper.go
  pkg/sentry/kernel/timekeeper_test.go
  pkg/sentry/kernel/vdso.go
  pkg/sentry/syscalls/linux/sys_time.go
  pkg/sentry/time/calibrated_clock.go
  pkg/sentry/time/clock_id.go
  pkg/sentry/time/clocks.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  vdso/vdso.cc
  vdso/vdso_time.cc
  vdso/vdso_time.h
Labels: area: filesystem, area: kernel, area: tests

mm: implement copy-on-fork for pinned pages
  pkg/sentry/mm/io.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/pgalloc/pgalloc.go
Labels: area: mm, area: tests

runsc: add a no-root-container boot mode
  pkg/sentry/control/fs.go
  pkg/sentry/control/proc.go
  pkg/sentry/control/state.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/signal.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/threads.go
  runsc/boot/limits.go
  runsc/boot/loader.go
  runsc/boot/no_root_container.md
  runsc/cmd/BUILD
  runsc/cmd/create.go
  runsc/cmd/delete.go
  runsc/cmd/delete_test.go
  runsc/cmd/exec.go
  runsc/cmd/gofer.go
  runsc/cmd/restore.go
  runsc/cmd/run.go
  runsc/cmd/sentry/sentrycmd/boot.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: bazel, area: kernel, area: tests

Fix nodepool runtime and tolerations for TPU benchmarks
  test/kubernetes/testcluster/objects.go
Labels: area: tests

nvproxy: support NVB0CC_CTRL_CMD_GET_CHIPLET_HS_CREDIT_POOL
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: tests

nvproxy: support NV2080_CTRL_CMD_GR_GET_SM_ISSUE_THROTTLE_CTRL
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: tests

nvproxy: add control commands used by Nsight Compute
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

nvproxy: use SupportedIoctlsNumbers in chiplet credit pool tests
  pkg/sentry/devices/nvproxy/nvproxy_test.go
Labels: area: tests

nvproxy: use SupportedIoctlsNumbers in throttle ctrl tests
  pkg/sentry/devices/nvproxy/nvproxy_test.go
Labels: area: tests

seccheck: Add unit tests for fdReader
  pkg/sentry/control/BUILD
  pkg/sentry/control/fs_test.go
Labels: area: bazel, area: tests

Convert memoryFileSaved to MemoryFileMetadataProto.
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.proto
  pkg/sentry/pgalloc/save_restore.go
Labels: area: bazel

Move fscheckpoint manifest from json to proto.
  pkg/sentry/fscheckpoint/BUILD
  pkg/sentry/fscheckpoint/fscheckpoint.go
  pkg/sentry/fscheckpoint/fscheckpoint.proto
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/state/checkpointfiles/checkpointfiles.go
  runsc/boot/BUILD
  runsc/boot/fscheckpoint.go
  runsc/boot/loader.go
  runsc/container/BUILD
  runsc/container/multi_container_test.go
Labels: area: bazel, area: kernel, area: tests

mm: implement MAP_FIXED_NOREPLACE
  pkg/abi/linux/mm.go
  pkg/sentry/memmap/memmap.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
  pkg/sentry/strace/mmap.go
  pkg/sentry/syscalls/linux/sys_mmap.go
  test/syscalls/linux/mmap.cc
Labels: area: kernel, area: mm, area: tests

Adds support for NVIDIA driver 610.57.04
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Make every user of a tty also refcount
  pkg/sentry/devices/ttydev/ttydev.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/devpts/terminal.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/kernel/sessions.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/tty.go
  pkg/sentry/syscalls/linux/sys_thread.go
Labels: area: filesystem, area: kernel

nvproxy: support PERF_RATED_TDP clock lock controls
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/nvproxy_test.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: tests

boot: don't dereference a nil ThreadGroup when joining a PID namespace
  runsc/boot/loader.go
  runsc/container/multi_container_test.go
Labels: area: tests

Fix gVisor GKE benchmark test failures for abslbuild
  test/kubernetes/benchmarks/abslbuild.go
Labels: area: tests

test: add overlay copy-up tests for special files
  test/runner/main.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/copy_up.cc
Labels: area: bazel, area: tests

Preallocate host kernel FD table before Sentry boot.
  runsc/boot/loader.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/prewarmer/BUILD
  runsc/prewarmer/fdtable_expander.go
  runsc/prewarmer/prewarmer.c
  runsc/prewarmer/prewarmer_single_page_test.go
  runsc/prewarmer/prewarmer_speedup_test.go
  runsc/sandbox/sandbox.go
  tools/release.bzl
Labels: area: bazel, area: tests, area: tooling

checklocks: fix panic on cross-package use of unexported global guards
  tools/checklocks/README.md
  tools/checklocks/analysis.go
  tools/checklocks/facts.go
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/globals.go
Labels: area: docs, area: tests, area: tooling

Internal change.
  pkg/sentry/socket/netlink/route/protocol.go
Labels: area: networking

Internal change.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

nvproxy: support MAXWELL_PROFILER_CONTEXT allocation class
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

netstack: drain all packets from GRO buckets on Flush
  pkg/tcpip/stack/gro/gro.go
  pkg/tcpip/stack/gro/gro_test.go
Labels: area: networking, area: tests

debian: include runsc package changelog
  debian/BUILD
Labels: area: bazel

mm: enforce RLIMIT_DATA considering total data segment size (heap + data + bss)
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/syscalls.go
Labels: area: mm, area: tests

nvproxy: support MAXWELL_PROFILER_CONTEXT allocation class
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

fsimpl/erofs: read regular file data from the image FD on FUSE
  pkg/erofs/BUILD
  pkg/erofs/erofs.go
  pkg/sentry/fsimpl/erofs/BUILD
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/erofs/regular_file.go
  runsc/boot/filter/config/config_main.go
Labels: area: bazel, area: filesystem

Add support for custom working directory in Python SandboxExec.
  sandboxexec/sandbox/python/gvisor/sandbox.py
  sandboxexec/sandbox/python/tests/sandbox_test.py
Labels: area: tests

Make the bwrap alias a wrapper around the sandboxexec Go bindings.
  runsc/cmd/alias/bwrap/BUILD
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
  sandboxexec/sandbox/oci.go
  sandboxexec/sandbox/oci_test.go
  sandboxexec/sandbox/sandbox.go
  sandboxexec/sandbox/sandbox_test.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
