Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Fix flakiness in cgroup2 tests
  test/syscalls/linux/cgroup2.cc
Labels: area: tests

Fix Benchmark deprecation warnings
  test/perf/linux/BUILD
  test/perf/linux/mapping_benchmark.cc
  test/perf/linux/send_recv_benchmark.cc
Labels: area: bazel, area: tests

Tines 3B: add to the gVisor users page
  website/assets/logos/tines_logo.svg
  website/users/index.html
Labels: none

Fix MessageHeaderV2 size validation in Mojo
  core
  python:
Labels: none

Try to deflake TestJobControl and exec_test.go tests
  test/e2e/exec_test.go
  test/e2e/integration_test.go
Labels: area: tests

Add driver ABI version registration and support for MMNCCD ioctls
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/version.go
  tools/gpu/drivers/install_driver.go
Labels: area: tooling

Support multi path filesystem checkpoint.
  g3doc/user_guide/fs_snapshot.md
  pkg/sentry/kernel/fscheckpoint.go
  runsc/boot/controller.go
  runsc/boot/fscheckpoint.go
  runsc/cmd/BUILD
  runsc/cmd/fscheckpoint.go
  runsc/container/BUILD
  runsc/container/multi_container_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: docs, area: kernel, area: tests

Add utility files to track BuildKite job assignment and completion.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
Labels: none

Fix `FSContext` refcount leak in `unshare(CLONE_NEWUSER)` error case.
  pkg/sentry/kernel/task_clone.go
Labels: area: kernel

overlayfs: implement POSIX ACLs Implements POSIX ACLs for gVisor's overlayfs.
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/fsimpl/overlay/save_restore.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/posix_acl.go
  test/syscalls/linux/posix_acl.cc
Labels: area: bazel, area: filesystem, area: tests

UDS: Transfer SCM_RIGHTS into enqueued messages.
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/host.go
  pkg/sentry/socket/unix/transport/queue.go
  pkg/sentry/socket/unix/transport/queue_test.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: bazel, area: networking, area: tests

Deflake the SetRlimitRtPrio test on Linux
  test/syscalls/linux/rlimits.cc
Labels: area: tests

Add RDMA sysfs topology construction for gVisor sandboxes
  pkg/rdma/BUILD
  pkg/rdma/collect.go
  pkg/rdma/snapshot.go
  pkg/rdma/snapshot_test.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/rdma.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/fsimpl/sys/sys_integration_test.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/specutils/BUILD
  runsc/specutils/rdma.go
Labels: area: bazel, area: filesystem, area: tests

Fix the checkpoint/restore of shared host backed volumes.
  runsc/boot/restore.go
  runsc/boot/vfs.go
  runsc/container/multi_container_test.go
Labels: area: tests

Github Auto Assigner: Update the assign logic
  .github/reviewer.json
  .github/workflows/auto_assign.js
Labels: none

Add documentation for the runsc bwrap personality.
  g3doc/user_guide/BUILD
  g3doc/user_guide/bwrap.md
  website/BUILD
Labels: area: bazel, area: docs

Tag `systrap.contextQueue` and other structs with `structs.HostLayout`
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg.go
Labels: none

Internal change.
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
Labels: area: tests

Add RDMA sysfs topology construction for gVisor sandboxes
  pkg/rdma/BUILD
  pkg/rdma/collect.go
  pkg/rdma/snapshot.go
  pkg/rdma/snapshot_test.go
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/rdma.go
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/fsimpl/sys/sys_integration_test.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/specutils/BUILD
  runsc/specutils/rdma.go
Labels: area: bazel, area: filesystem, area: tests

runsc: make TPU proxy sysfs bind mounts actually read-only
  runsc/cmd/chroot.go
Labels: none

Nftables: Support flushing ruleset.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_ct.go
  pkg/tcpip/nftables/nft_fib.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_last.go
  pkg/tcpip/nftables/nft_lookup.go
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/nftables/nftables_validation.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
Labels: area: bazel, area: networking, area: tests

runsc/bwrap: Expand namespace flags in bwrap personality
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: tests

Fix build pipeline
  test/perf/linux/send_recv_benchmark.cc
Labels: area: tests

Buildkite: Limit number of Agents a PR can use.
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  tools/buildkite_throttle_concurrency.py
Labels: area: tooling

Fix bugprone-use-after-move warnings in pty.cc
  test/syscalls/linux/BUILD
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: tests

Fix build-from-source instructions to make a `-c opt` build.
  Makefile
  README.md
Labels: area: docs

Internal Change
  test/syscalls/linux/landlock.cc
Labels: area: tests

Internal Change
  pkg/test/dockerutil/dockerutil.go
  test/e2e/integration_test.go
  test/syscalls/linux/landlock.cc
Labels: area: tests

Internal Change
  pkg/test/dockerutil/dockerutil.go
  test/e2e/integration_test.go
  test/syscalls/linux/landlock.cc
Labels: area: tests

erofs: add LRU dentry cache to bound memory usage
  pkg/sentry/fsimpl/erofs/BUILD
  pkg/sentry/fsimpl/erofs/directory.go
  pkg/sentry/fsimpl/erofs/erofs.go
  pkg/sentry/fsimpl/erofs/filesystem.go
  pkg/sentry/fsimpl/erofs/save_restore.go
Labels: area: bazel, area: filesystem

Fix lint warnings in cgroup tests
  test/syscalls/linux/cgroup.cc
Labels: area: tests

Fix CUDA process enumeration race in checkpoint
  pkg/sentry/control/state_cuda.go
Labels: none

Internal change.
  tools/nogo/cli/cli.go
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

SO_PEERCRED: fix race against thread-group reap
  pkg/sentry/kernel/threads.go
  pkg/sentry/socket/control/control.go
  test/syscalls/linux/socket_unix_peercred.cc
Labels: area: networking, area: kernel, area: tests

nvproxy: support exporting GPU memory to a dma-buf fd
  pkg/abi/nvgpu/frontend.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvconf/caps.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/version.go
  runsc/specutils/nvidia.go
Labels: none

Internal change.
  test/util/pty_util.cc
Labels: area: tests

overlayfs: implement POSIX ACLs
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/fsimpl/overlay/save_restore.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/posix_acl.go
  test/syscalls/linux/posix_acl.cc
Labels: area: bazel, area: filesystem, area: tests

Internal Change
  .buildkite/pipeline.yaml
Labels: none

Move sentry (`runsc boot`) to its own `go_binary`.
  runsc/cli/maincli/BUILD
  runsc/cli/maincli/maincli.go
  runsc/cmd/BUILD
  runsc/cmd/capability_test.go
  runsc/cmd/exec.go
  runsc/cmd/gofer.go
  runsc/cmd/run.go
  runsc/cmd/sandboxsetup/BUILD
  runsc/cmd/sandboxsetup/fdmappings.go
  runsc/cmd/sandboxsetup/process.go
  runsc/cmd/sentry/BUILD
  runsc/cmd/sentry/sentry_main.go
  runsc/cmd/sentry/sentrycmd/BUILD
  runsc/cmd/sentry/sentrycmd/boot.go
  runsc/cmd/sentry/sentrycmd/chroot.go
  runsc/cmd/sentry/sentrycmd/chroot_test.go
  runsc/cmd/sentry/sentrycmd/umount_unsafe.go
  runsc/gvisorbinaries/gvisorbinaries.go
  runsc/sandbox/sandbox.go
  tools/deps.bzl
  tools/release.bzl
Labels: area: bazel, area: tests, area: tooling

pgalloc: throttle UpdateUsage() scans in proportion to their cost
  pkg/sentry/pgalloc/pgalloc.go
Labels: none
