Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

loader: Remove spammy log message
  pkg/sentry/loader/loader.go
Labels: none

gofer: Flush lisafs FDs on inode destruction in shared interop mode.
  pkg/sentry/fsimpl/gofer/lisafs_inode.go
Labels: area: filesystem

stateio: tweak AsyncWriter.Finalize precondition
  pkg/sentry/state/stateio/stateio.go
Labels: none

Do not retry on invalid UDP send buffers
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
Labels: area: bazel, area: networking, area: tests

nvproxy: Add support for 580.95.05 driver.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Enable rootfs only snapshot in runsc.
  pkg/test/testutil/testutil.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: tests

Internal change.
  test/syscalls/linux/epoll.cc
  test/syscalls/linux/exec.cc
  test/syscalls/linux/inotify.cc
  test/syscalls/linux/keys.cc
  test/syscalls/linux/kill.cc
  test/syscalls/linux/pause.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/semaphore.cc
  test/syscalls/linux/signalfd.cc
  test/syscalls/linux/unshare.cc
  test/syscalls/linux/wait.cc
Labels: area: tests

Document how to snapshot rootfs tar and start a sandbox with the tar file.
  g3doc/user_guide/BUILD
  g3doc/user_guide/rootfs_snapshot.md
  website/BUILD
Labels: area: bazel, area: docs

Do not close processors during save, but instead close during restore.
  pkg/sentry/kernel/kernel.go
  pkg/tcpip/link/fdbased/processors.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: kernel

state: fix nil dereference when an afterLoad method fails
  pkg/state/decode.go
Labels: none

runsc/cmd: set Statefile.Name() to "statefile"
  runsc/cmd/statefile.go
Labels: none

Fix case when applying upperdir tar snapshot with empty files
  pkg/sentry/fsimpl/tmpfs/tar.go
  runsc/container/container_test.go
  test/cmd/test_app/main.go
Labels: area: filesystem, area: tests

sentry/kernel: unshare atomically and without holding Task.mu unnecessarily
  pkg/sentry/kernel/auth/credentials.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_identity.go
Labels: area: kernel

Add SGLang Docker tests/benchmark
  .buildkite/pipeline.yaml
  Makefile
  images/gpu/sglang/Dockerfile.x86_64
  images/gpu/sglang/client/BUILD
  images/gpu/sglang/client/Dockerfile
  images/gpu/sglang/client/client.go
  test/gpu/BUILD
  test/gpu/sglang/BUILD
  test/gpu/sglang/sglang.go
  test/gpu/sglang_test.go
Labels: area: bazel, area: tests

platform/ptrace: return errors from switchToApp() rather than panicking
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/ptrace/subprocess.go
Labels: platform: ptrace

Internal change.
  pkg/tcpip/link/sharedmem/sharedmem_server_test.go
  pkg/tcpip/tests/integration/istio_test.go
Labels: area: networking, area: tests

Do not close processors during save, but instead close during restore.
  pkg/sentry/kernel/kernel.go
  pkg/tcpip/link/fdbased/processors.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: kernel

embeddedbinary: replace Options.TempDir with automatic memfd fallback
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: tooling

Don't log warnings for incomplete Release requests in FUSE.
  pkg/sentry/fsimpl/fuse/file.go
Labels: area: filesystem

Internal change.
  test/syscalls/linux/epoll.cc
  test/syscalls/linux/exec.cc
  test/syscalls/linux/inotify.cc
  test/syscalls/linux/keys.cc
  test/syscalls/linux/kill.cc
  test/syscalls/linux/pause.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/semaphore.cc
  test/syscalls/linux/signalfd.cc
  test/syscalls/linux/unshare.cc
  test/syscalls/linux/wait.cc
Labels: area: tests

sentry/kernel: unshare atomically and without holding Task.mu unnecessarily
  pkg/sentry/kernel/auth/credentials.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_identity.go
Labels: area: kernel

Internal change.
  test/runtimes/runner/lib/lib.go
Labels: area: tests

Internal change.
  pkg/tcpip/link/sharedmem/sharedmem_server_test.go
  pkg/tcpip/tests/integration/istio_test.go
Labels: area: networking, area: tests

state: fix nil dereference when an afterLoad method fails
  pkg/state/decode.go
Labels: none

Add document for C/R wiht different CPU features.
  g3doc/user_guide/checkpoint_restore.md
Labels: area: docs

bazel: Remove WORKSPACE again
  MODULE.bazel
  WORKSPACE
Labels: dependencies

embeddedbinary: fix ForkExec flake
  tools/embeddedbinary/embeddedbinary_template.go
Labels: area: tooling

runsc/cmd: fix unintended FD closing in gofer
  runsc/cmd/gofer.go
Labels: none

Add checkpointExtra and checkpointOptsExtra.
  runsc/cmd/BUILD
  runsc/cmd/checkpoint.go
  runsc/cmd/checkpoint_impl.go
  runsc/sandbox/sandbox.go
  runsc/sandbox/sandbox_impl.go
Labels: area: bazel

Add SGLang Docker tests/benchmark
  .buildkite/pipeline.yaml
  Makefile
  images/gpu/sglang/Dockerfile.x86_64
  images/gpu/sglang/client/BUILD
  images/gpu/sglang/client/Dockerfile
  images/gpu/sglang/client/client.go
  test/gpu/BUILD
  test/gpu/sglang/BUILD
  test/gpu/sglang/sglang.go
  test/gpu/sglang_test.go
Labels: area: bazel, area: tests

Rework netfilter tests in preparation for running them on Buildkite.
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: tests

Update tmpfs root inode metadata from tar header.
  pkg/sentry/fsimpl/tmpfs/tar.go
Labels: area: filesystem

eventfd: writes must be exactly 8 bytes
  pkg/sentry/fsimpl/eventfd/eventfd.go
  test/syscalls/linux/eventfd.cc
Labels: area: filesystem, area: tests

Fix: Check for errors in FUSE Readlink response.
  pkg/sentry/fsimpl/fuse/inode.go
Labels: area: filesystem

Add SGLang Docker tests/benchmark
  .buildkite/pipeline.yaml
  Makefile
  images/gpu/sglang/Dockerfile.x86_64
  images/gpu/sglang/client/BUILD
  images/gpu/sglang/client/Dockerfile
  images/gpu/sglang/client/client.go
  test/gpu/BUILD
  test/gpu/sglang/BUILD
  test/gpu/sglang/sglang.go
  test/gpu/sglang_test.go
Labels: area: bazel, area: tests

Deflake //pkg/tcpip/stack:bridge_test.
  pkg/tcpip/stack/bridge_test.go
Labels: area: networking, area: tests

Deflake //pkg/tcpip/stack:bridge_test.
  pkg/tcpip/stack/bridge_test.go
Labels: area: networking, area: tests

Run nftable tests on buildkite.
  .buildkite/pipeline.yaml
  Makefile
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
  test/syscalls/linux/socket_netlink_util.h
Labels: area: bazel, area: tests

Docker tests for Triton+TensorRT
  Makefile
  images/gpu/triton/Dockerfile.x86_64
  images/gpu/triton/client/BUILD
  images/gpu/triton/client/Dockerfile
  images/gpu/triton/client/client.go
  images/gpu/triton/tensorrt/Dockerfile.llama-2-7b-chat-hf
  images/gpu/triton/tensorrt/README.md
  test/gpu/BUILD
  test/gpu/triton/BUILD
  test/gpu/triton/triton.go
  test/gpu/triton_test.go
Labels: area: bazel, area: docs, area: tests

pkg/coverage: adopt new coverage interface for kcov
  pkg/coverage/BUILD
  pkg/coverage/coverage.go
Labels: area: bazel
