Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add a simple systemd integ test
  Makefile
  images/systemd-integ/Dockerfile
  test/e2e/BUILD
  test/e2e/systemd_test.go
Labels: area: bazel, area: tests

Add minimal plumbing to serialize RDMA device + sysfs information for ib_write_bw and reconstruct in container. Gate on RDMAProxy config flag.
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/rdma.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/specutils/BUILD
  runsc/specutils/rdma.go
Labels: area: bazel, area: filesystem

Serialize PCI device hierarchy and top-level attribute files per NUMA node
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/numa.go
  pkg/sentry/fsimpl/sys/pci_devices.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
Labels: area: bazel, area: filesystem

Parse class strings into integers for control mechanisms. Skip PCI devices with failed symlink lookups and warn. Update comment describing NCCL PCI device resolution from /sys/class/pci_bus/<bus>.
  pkg/sentry/fsimpl/sys/pci_devices.go
Labels: area: filesystem

Add NCCL/NV vendor-specific sysfs serialization and virtualization.
  pkg/sentry/fsimpl/sys/pci_devices.go
  pkg/sentry/fsimpl/sys/rdma.go
  pkg/sentry/fsimpl/sys/sys.go
Labels: area: filesystem

Choose which netdevs from /sys/class/net/ to mount based on references in InfiniBand sysfs.
  pkg/sentry/fsimpl/sys/rdma.go
  runsc/cmd/chroot.go
Labels: area: filesystem

Mount InfiniBand device ports dir and RDMA netdevs into chroot. Add host files for live host reads.
  pkg/sentry/fsimpl/sys/rdma.go
  runsc/cmd/chroot.go
Labels: area: filesystem

Fix string conversion to parse int on PCI classes.
  pkg/sentry/fsimpl/sys/pci_devices.go
Labels: area: filesystem

Add RDMAProxy core. Register RDMA devices upon boot. Support CPU-staged RDMA.
  pkg/sentry/devices/rdmaproxy/BUILD
  pkg/sentry/devices/rdmaproxy/driver.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl_unsafe.go
  pkg/sentry/devices/rdmaproxy/seccomp_filter.go
  runsc/boot/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_precompiled.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/container/container.go
  runsc/specutils/rdma.go
Labels: area: bazel

Register a uverbs device with the deserialized ABI version.
  pkg/sentry/devices/rdmaproxy/rdmaproxy.go
  runsc/boot/vfs.go
Labels: none

Add UVERBS_METHOD_REG_DMABUF_MR support for dma-buf registration. Translate sandbox dma-buf FDs to host FDs. Track DMABUF MRs.
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
Labels: none

nvproxy: support DMA-BUF export for GPU memory
  pkg/abi/nvgpu/frontend.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
  pkg/sentry/vfs/file_description.go
Labels: area: filesystem

Add support for RDMA netdevs. Create --rdmaproxy-move-netdevs runtime flag to enable moving RDMA netdevs into sandbox netns with snapshotting of interface information.
  pkg/abi/linux/netlink_route.go
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/header/arp.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/BUILD
  runsc/sandbox/rdma_netdev.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: networking

Add attribute IDs for pointers in REG_DMABUF_MR syscall to swap application address with sentry address for lkey and rkey out pointers.
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
Labels: none

Add ConnectX proxy. Interface with RDMAProxy
  pkg/sentry/devices/rdmaproxy/cxproxy/BUILD
  pkg/sentry/devices/rdmaproxy/cxproxy/cxproxy.go
  pkg/sentry/mm/syscalls.go
  runsc/boot/BUILD
  runsc/boot/vfs.go
Labels: area: bazel, area: mm

Support epoll() for /proc/[pid]/mountinfo and /proc/[pid]/mounts
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

Add a CPU save restore test to run during presubmit.
  .buildkite/pipeline.yaml
  Makefile
  test/cpu/BUILD
  test/cpu/sr_test.go
Labels: area: bazel, area: tests

Implemented rdma + irdma abi
  pkg/abi/rdma/BUILD
  pkg/abi/rdma/ib_user_ioctl_cmds.go
  pkg/abi/rdma/ib_user_ioctl_verbs.go
  pkg/abi/rdma/ib_user_mad.go
  pkg/abi/rdma/ib_user_sa.go
  pkg/abi/rdma/ib_user_verbs.go
  pkg/abi/rdma/irdma.go
  pkg/abi/rdma/rdma.go
  pkg/abi/rdma/rdma_user_cm.go
  pkg/abi/rdma/rdma_user_ioctl.go
Labels: area: bazel

Reorder CVE entries and add a new CVE to gVisor track record.
  website/_data/cve-track-record.yml
Labels: none

Fix double close of fds in FDWriter.Close
  pkg/sentry/state/stateio/BUILD
  pkg/sentry/state/stateio/fdwriter.go
  pkg/sentry/state/stateio/fdwriter_test.go
Labels: area: bazel, area: tests

Compatibility test suite: add MariaDB, PostgreSQL, Redis, Valkey
  images/compatibility/mariadb/mariadb/Dockerfile
  images/compatibility/postgresql/postgresql/Dockerfile
  images/compatibility/redis/redis/Dockerfile
  images/compatibility/valkey/valkey/Dockerfile
  test/compatibility/BUILD
  test/compatibility/mariadb/mariadb_test.go
  test/compatibility/postgresql/postgresql_test.go
  test/compatibility/redis/redis_test.go
  test/compatibility/valkey/valkey_test.go
Labels: area: bazel, area: tests

Add gpu sr_tests to smoke tests
  Makefile
Labels: none

fix: donate EROFS submount FDs in goferless mode
  runsc/container/container.go
  runsc/container/container_test.go
Labels: area: tests

runtime-tests: Added network related dockerd(moby) tests.
  Makefile
  images/runtimes/moby/Dockerfile.x86_64
  images/runtimes/moby/run_moby_tests.sh
  test/runtimes/BUILD
  test/runtimes/defs.bzl
  test/runtimes/proctor/lib/BUILD
  test/runtimes/proctor/lib/lib.go
  test/runtimes/proctor/lib/moby.go
  test/runtimes/runner/lib/BUILD
  test/runtimes/runner/lib/lib.go
  test/runtimes/runner/main.go
Labels: area: bazel, area: tests

Add CVE-2026-53359 and CVE-2026-43499 to gVisor CVE track record.
  website/_data/cve-track-record.yml
Labels: none

Add executable inode number to seccheck ExecveBinaryInfo.
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/points/sentry.proto
  test/trace/trace_test.go
Labels: area: kernel, area: tests

Add CUDA GPU coredump support to nvproxy
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Try out gVisor new OSS workflow.
  pkg/hostos/hostos_test.go
  pkg/lisafs/client.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
Labels: area: tests

runtime_in_docker_test: Use `runsc` from data files rather than configured runtime.
  test/e2e/runtime_in_docker_test.go
Labels: area: tests

Try out gVisor new OSS workflow.
  pkg/hostos/hostos_test.go
  pkg/lisafs/client.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
Labels: area: tests

Remove CUDA 12.2 tests from release/continuous pipelines.
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
Labels: none

implement mr registration and page pinning
  pkg/sentry/devices/rdmaproxy/rdma_fd.go
  pkg/sentry/devices/rdmaproxy/rdma_fd_pin.go
  pkg/sentry/devices/rdmaproxy/rdma_fd_unsafe.go
  pkg/sentry/devices/rdmaproxy/rdma_fd_write.go
  pkg/sentry/devices/rdmaproxy/seccomp_filter.go
Labels: none

Add CUDA GPU coredump support to nvproxy
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

add empty /proc/bus/pci file gated on rdmaproxy being enabled.
  pkg/sentry/devices/rdmaproxy/BUILD
  pkg/sentry/devices/rdmaproxy/rdma.go
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/rdmaproxy.go
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/sys/rdma.go
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/loader.go
Labels: area: bazel, area: filesystem

tcp: anchor ACK-derived time measurements to ingress time, not processing time
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/cubic_test.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/tcp_acktiming_test.go
Labels: area: bazel, area: networking, area: tests

runsc/cgroup: discover and populate spec files for subcontainer compat dirs on systemd v2
  runsc/cgroup/cgroup.go
  runsc/cgroup/systemd.go
  runsc/cgroup/systemd_test.go
  runsc/container/container.go
Labels: area: tests

Add application compatibility dashboard to gvisor.dev
  website/BUILD
  website/_data/application-compatibility.yml
  website/_includes/footer-links.html
  website/_includes/header-links.html
  website/application-compatibility.schema.json
  website/application_compatibility/BUILD
  website/application_compatibility/index.html
Labels: area: bazel

website: register fuse user guide doc
  website/BUILD
Labels: area: bazel

website: register fuse user guide doc
  website/BUILD
Labels: area: bazel

feat(cgroup2fs): support extended attributes on cgroup directories
  pkg/sentry/fsimpl/cgroup2fs/BUILD
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/xattr.go
  test/syscalls/linux/cgroup2.cc
Labels: area: bazel, area: filesystem, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
