Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Migrate PacketBuffer to use pkg/buffer
  pkg/buffer/BUILD
  pkg/buffer/buffer.go
  pkg/buffer/buffer_test.go
  pkg/buffer/pool.go
  pkg/buffer/view.go
  pkg/buffer/view_test.go
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/internal/fragmentation/reassembler.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_test.go
Labels: area: bazel, area: networking, area: tests

Fix problem with grouped cgroups
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
Labels: area: tests

Fix problem with grouped cgroups
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
Labels: area: tests

Apply SWS avoidance to ACKs with window updates
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: networking, area: tests

Apply SWS avoidance to ACKs with window updates
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: networking, area: tests

Check filter table when forwarding IP packets
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

Check filter table when forwarding IP packets
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

calibrate defaultOverheadCycles for ARM64
  pkg/sentry/time/BUILD
  pkg/sentry/time/sampler.go
  pkg/sentry/time/sampler_amd64.go
  pkg/sentry/time/sampler_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel

calibrate defaultOverheadCycles for ARM64
  pkg/sentry/time/BUILD
  pkg/sentry/time/sampler.go
  pkg/sentry/time/sampler_amd64.go
  pkg/sentry/time/sampler_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel

Fix cgroup hierarchy registration.
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/kernel/cgroup.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup.cc
  test/util/cgroup_util.cc
  test/util/cgroup_util.h
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Fix cgroup hierarchy registration.
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/kernel/cgroup.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/cgroup.cc
  test/util/cgroup_util.cc
  test/util/cgroup_util.h
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Fix panic on consume in a mixed push/consume case
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_test.go
Labels: area: networking, area: tests

Fix panic on consume in a mixed push/consume case
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_test.go
Labels: area: networking, area: tests

pkg/buffer: Remove dependency to safemem, code no longer used
  pkg/buffer/BUILD
  pkg/buffer/safemem.go
  pkg/buffer/safemem_test.go
Labels: area: bazel, area: tests

pkg/buffer: Remove dependency to safemem, code no longer used
  pkg/buffer/BUILD
  pkg/buffer/safemem.go
  pkg/buffer/safemem_test.go
Labels: area: bazel, area: tests

Don't read forwarding from netstack in sentry
  pkg/sentry/fs/proc/sys_net.go
  pkg/sentry/fs/proc/sys_net_state.go
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/proc/tasks_sys_test.go
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/stack.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: tests

Don't read forwarding from netstack in sentry
  pkg/sentry/fs/proc/sys_net.go
  pkg/sentry/fs/proc/sys_net_state.go
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/proc/tasks_sys_test.go
  pkg/sentry/inet/inet.go
  pkg/sentry/inet/test_stack.go
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/stack.go
  pkg/sentry/socket/netstack/stack.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: tests

Add verity_mmap tests
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_ioctl.cc
  test/syscalls/linux/verity_mmap.cc
  test/util/BUILD
  test/util/verity_util.cc
  test/util/verity_util.h
Labels: area: bazel, area: tests

Add verity_mmap tests
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_ioctl.cc
  test/syscalls/linux/verity_mmap.cc
  test/util/BUILD
  test/util/verity_util.cc
  test/util/verity_util.h
Labels: area: bazel, area: tests

Resolve remaining O_PATH TODOs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/opath.go
  runsc/boot/vfs.go
  test/syscalls/linux/fcntl.cc
  test/syscalls/linux/flock.cc
Labels: area: filesystem, area: kernel, area: tests

Resolve remaining O_PATH TODOs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/opath.go
  runsc/boot/vfs.go
  test/syscalls/linux/fcntl.cc
  test/syscalls/linux/flock.cc
Labels: area: filesystem, area: kernel, area: tests

Add hash15 label for tests.
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Add hash15 label for tests.
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Add new metric for suspicious operations.
  pkg/metric/metric.go
  pkg/sentry/fs/gofer/BUILD
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/watchdog/watchdog.go
Labels: area: bazel, area: filesystem

Add new metric for suspicious operations.
  pkg/metric/metric.go
  pkg/sentry/fs/gofer/BUILD
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/watchdog/watchdog.go
Labels: area: bazel, area: filesystem

Control forwarding per NetworkEndpoint
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/forward_test.go
Labels: area: networking, area: tests

Control forwarding per NetworkEndpoint
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/forward_test.go
Labels: area: networking, area: tests

Validate DAD configs when initializing DAD state
  pkg/tcpip/network/internal/ip/duplicate_address_detection.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Validate DAD configs when initializing DAD state
  pkg/tcpip/network/internal/ip/duplicate_address_detection.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Add stuck tasks and startup stuck tasks to weirdness metric
  pkg/metric/metric.go
  pkg/sentry/watchdog/watchdog.go
Labels: none

Add stuck tasks and startup stuck tasks to weirdness metric
  pkg/metric/metric.go
  pkg/sentry/watchdog/watchdog.go
Labels: none

Rename variables in IP forwarding tests
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Rename variables in IP forwarding tests
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

replace use of atomic with AlignedAtomicInt64
  pkg/tcpip/socketops.go
Labels: area: networking

replace use of atomic with AlignedAtomicInt64
  pkg/tcpip/socketops.go
Labels: area: networking

Handle IPv4 link local addresses in FindRoute
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Make sandbox join the pod cgroup in K8s
  pkg/shim/BUILD
  pkg/shim/service.go
  pkg/shim/service_test.go
  pkg/shim/utils/annotations.go
  pkg/shim/utils/utils.go
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
Labels: area: bazel, area: tests

Make sandbox join the pod cgroup in K8s
  pkg/shim/BUILD
  pkg/shim/service.go
  pkg/shim/service_test.go
  pkg/shim/utils/annotations.go
  pkg/shim/utils/utils.go
  pkg/shim/utils/volumes.go
  pkg/shim/utils/volumes_test.go
Labels: area: bazel, area: tests

Reduce thread count in TCPResetDuringClose.
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: tests

Reduce thread count in TCPResetDuringClose.
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
