Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Apply systemd cgroup I/O resources directly
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
  runsc/cgroup/systemd.go
  runsc/cgroup/systemd_test.go
Labels: area: tests

go_generics: add Go generics support
  tools/go_generics/globals/globals_visitor.go
  tools/go_generics/tests/typeparams/BUILD
  tools/go_generics/tests/typeparams/input.go
  tools/go_generics/tests/typeparams/output.go
Labels: area: bazel, area: tests, area: tooling

checklocks: annotate memory and timer locking
  pkg/ring0/pagetables/pcids.go
  pkg/sentry/fsimpl/cgroup2fs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  pkg/sentry/fsimpl/cgroupfs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/devices.go
  pkg/sentry/fsimpl/cgroupfs/pids.go
  pkg/sentry/ktime/sampled_timer.go
  pkg/sentry/ktime/synthetic_timer.go
  pkg/sentry/mm/address_space.go
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/io.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/metadata.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/procfs.go
  pkg/sentry/mm/save_restore.go
  pkg/sentry/mm/shm.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
  pkg/sentry/usage/memory.go
  pkg/sentry/watchdog/watchdog.go
  runsc/boot/fscheckpoint.go
  runsc/boot/loader.go
Labels: area: filesystem, area: mm, area: tests

Fix checkpoint and restore synchronization
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fscheckpoint.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/kernel/kernel_restore_test.go
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_64k_test.go
  pkg/sentry/pgalloc/pgalloc_test.go
  pkg/sentry/pgalloc/save_restore.go
  runsc/boot/controller.go
  runsc/boot/fscheckpoint.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
Labels: area: bazel, area: kernel, area: tests

Fix LisaFS socket and node lifetimes
  pkg/lisafs/connection_test.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/node.go
  pkg/lisafs/node_test.go
  pkg/lisafs/server.go
  pkg/lisafs/testsuite/testsuite.go
  runsc/fsgofer/BUILD
  runsc/fsgofer/lisafs.go
  runsc/fsgofer/lisafs_test.go
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Expect EPERM from SO_RCVBUFFORCE outside the initial user namespace.
  test/syscalls/linux/socket_generic_test_cases.cc
Labels: area: tests

Unify generic and concrete checkescape analysis
  pkg/metric/metric.go
  tools/checkescape/BUILD
  tools/checkescape/checkescape.go
  tools/checkescape/checkescape_amd64.go
  tools/checkescape/checkescape_arm64.go
  tools/checkescape/checkescape_test.go
  tools/checkescape/test1/BUILD
  tools/checkescape/test1/nosplit.go.in
  tools/checkescape/test1/test1.go
  tools/checkescape/test1/test1_unsafe.go
  tools/checkescape/test2/test2.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, area: tooling

Update C++ dependencies for Bazel 9
  MODULE.bazel
  tools/licensecheck/dependencies.yaml
Labels: area: tooling

Use registry gRPC with Bazel 9 fixes
  MODULE.bazel
  tools/grpc_extra_deps.patch
  tools/licensecheck/dependencies.yaml
Labels: area: tooling

Select test platforms by operating system and CPU
  .bazelrc
  tools/bazeldefs/BUILD
  tools/bazeldefs/defs.bzl
Labels: area: bazel, area: tooling

Use an explicit /tmp mount for Bazel tests
  tools/bazel.mk
Labels: area: tooling

Include SDK headers in Go action inputs
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tooling

Use the selected nm for sysmsg offsets
  pkg/sentry/platform/systrap/sysmsg/BUILD
  pkg/sentry/platform/systrap/sysmsg/gen_offsets_go.sh
Labels: area: bazel

Add a shebang to the goimports launcher
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tooling

Remove unused builder Java and QEMU packages
  images/default/Dockerfile
Labels: none

Build the Go branch source archive with Bazel
  BUILD
  runsc/BUILD
  shim/BUILD
  tools/checklocks/cmd/checklocks/BUILD
  tools/go_branch.sh
  tools/go_export/BUILD
  tools/go_export/main.go
  tools/go_export/main_test.go
  webhook/BUILD
Labels: area: bazel, area: tests, area: tooling

Run actionlint as a declared Bazel test
  BUILD
  MODULE.bazel
  Makefile
  tools/actionlint/BUILD
  tools/licensecheck/dependencies.yaml
  tools/lint.sh
Labels: area: bazel, area: tooling

Propagate failures from source lint tools
  BUILD
  tools/BUILD
  tools/lint.sh
  tools/lint_test.py
Labels: area: bazel, area: tooling

Audit wheels exposed by imported pip hubs
  tools/licensecheck/BUILD
  tools/licensecheck/licensecheck.go
  tools/licensecheck/licensecheck_test.go
  tools/licensecheck/wheels.go
  tools/licensecheck/wheels_test.go
Labels: area: bazel, area: tests, area: tooling

Start Python tools with the declared interpreter
  .bazelrc
Labels: none

Resolve license source refs with Git
  tools/licensecheck/licensecheck.go
  tools/licensecheck/licensecheck_test.go
Labels: area: tests, area: tooling

Materialize outputs consumed by Make
  tools/bazel.mk
Labels: area: tooling

Recognize complete dependency license texts
  MODULE.bazel
  go.mod
  go.sum
  governance/licensing.yaml
  tools/licensecheck/BUILD
  tools/licensecheck/classify.go
  tools/licensecheck/dependencies.yaml
  tools/licensecheck/licensecheck.go
  tools/licensecheck/licensecheck_test.go
  tools/licensecheck/testdata/bsd.txt
  tools/licensecheck/testdata/llvm.txt
  tools/licensecheck/testdata/openssl.txt
Labels: area: bazel, area: tests, area: tooling, dependencies

Inspect the Docker socket only when present
  tools/bazel.mk
Labels: area: tooling

Build plugins with the selected C toolchain
  MODULE.bazel
  external/tools/plugin-stack/BUILD
  external/tools/plugin-stack/dpdk-backtrace.patch
  external/tools/plugin-stack/dpdk-build.patch
  external/tools/plugin-stack/dpdk-musl.patch
  external/tools/plugin-stack/dpdk.BUILD
  external/tools/plugin-stack/plugin-stack.BUILD
  external/tools/plugin-stack/tldk-build.patch
  external/tools/plugin-stack/tldk-musl.patch
  external/tools/plugin-stack/toolchain.bzl
  governance/licensing.yaml
  images/default/Dockerfile
  pkg/sentry/socket/plugin/cgo/BUILD
  pkg/sentry/socket/plugin/cgo/backtrace/BUILD
  pkg/sentry/socket/plugin/cgo/backtrace/backtrace_test.go
  pkg/sentry/socket/plugin/cgo/backtrace/backtrace_unsafe.go
  tools/licensecheck/dependencies.yaml
Labels: area: bazel, area: networking, area: tests, area: tooling

Handle multiple Make build target patterns
  Makefile
  tools/bazel.mk
Labels: area: tooling

Precompile seccomp for the target architecture
  pkg/seccomp/precompiledseccomp/defs.bzl
Labels: area: bazel

Share public syscall test selections
  .bazelrc
  .buildkite/pipeline.yaml
Labels: none

Remove duplicate network checkpoint variants
  Makefile
  test/runner/defs.bzl
  test/runner/main.go
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Add the gVisor release policy and process.
  README.md
  RELEASE.md
Labels: area: docs

checklocks: correct lock-state diagnostics
  tools/checklocks/analysis.go
  tools/checklocks/state.go
  tools/checklocks/test/aliases.go
  tools/checklocks/test/inferred.go
  tools/checklocks/test/methods.go
Labels: area: tests, area: tooling

checklocks: enforce networking state ownership
  pkg/sentry/inet/abstract_socket_namespace.go
  pkg/sentry/inet/namespace.go
  pkg/sentry/socket/unix/transport/connectioned.go
  pkg/sentry/socket/unix/transport/connectioned_state.go
  pkg/sentry/socket/unix/transport/connectionless.go
  pkg/sentry/socket/unix/transport/queue.go
  pkg/sentry/socket/unix/transport/queue_test.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/network/internal/fragmentation/fragmentation.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/test/e2e/forwarder_test.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Skip SetMarkNeedsNetAdminOrRaw if SO_MARK doesn't need capabilities.
  test/syscalls/linux/socket_capability.cc
Labels: area: tests

checklocks: enforce filesystem ownership
  pkg/fdnotifier/fdnotifier.go
  pkg/lisafs/node.go
  pkg/lisafs/node_test.go
  pkg/lisafs/server.go
  pkg/sentry/fsimpl/eventfd/save_restore.go
  pkg/sentry/fsimpl/host/BUILD
  pkg/sentry/fsimpl/host/host_test.go
  pkg/sentry/fsimpl/tmpfs/device_file.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/regular_file_test.go
  pkg/sentry/fsimpl/tmpfs/tar.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_test.go
  pkg/sentry/kernel/fd_table_unsafe.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/pipe/pipe.go
  pkg/sentry/kernel/pipe/pipe_unsafe.go
  pkg/sentry/kernel/pipe/save_restore.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/device.go
  pkg/sentry/vfs/epoll.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/save_restore.go
  pkg/sentry/vfs/vfs.go
  pkg/sentry/vfs/vfs_test.go
  runsc/fsgofer/lisafs.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Propagate lock state through synchronous closures
  tools/checklocks/README.md
  tools/checklocks/analysis.go
  tools/checklocks/checklocks.go
  tools/checklocks/facts.go
  tools/checklocks/state.go
  tools/checklocks/test/branches.go
  tools/checklocks/test/closures.go
  tools/checklocks/test/defer.go
Labels: area: docs, area: tests, area: tooling

netfilter: add iptables MASQUERADE target with strict hook validation and tests
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/masquerade.go
  pkg/sentry/socket/netfilter/masquerade_test.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/nat.go
  pkg/tcpip/tests/integration/iptables_test.go
  test/iptables/BUILD
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

Cover imported private lock contracts
  tools/checklocks/README.md
  tools/checklocks/test/BUILD
  tools/checklocks/test/crosspkg/crosspkg.go
  tools/checklocks/test/private_globals.go
Labels: area: bazel, area: docs, area: tests, area: tooling

checklocks: guard task and IPC state
  pkg/sentry/fsimpl/proc/keys.go
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/proc/yama.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/auth/BUILD
  pkg/sentry/kernel/auth/key_test.go
  pkg/sentry/kernel/futex/BUILD
  pkg/sentry/kernel/futex/futex.go
  pkg/sentry/kernel/ipc_namespace_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/seccheck.go
  pkg/sentry/kernel/semaphore/BUILD
  pkg/sentry/kernel/semaphore/semaphore_test.go
  pkg/sentry/kernel/sessions.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/task_stop.go
  pkg/sentry/kernel/task_test.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/seccheck/config.go
  pkg/sentry/seccheck/execve_hash_cache.go
  pkg/sentry/seccheck/execve_hash_cache_test.go
  pkg/sentry/seccheck/seccheck.go
  pkg/sentry/seccheck/syscall.go
Labels: area: bazel, area: filesystem, area: kernel, area: tests

proc: return ESRCH for /proc/<pid>/stat of a reaped task
  pkg/sentry/fsimpl/proc/task_files.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

checklocks: enforce memory and restore ownership
  pkg/ring0/pagetables/pcids.go
  pkg/sentry/fsimpl/cgroup2fs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
  pkg/sentry/fsimpl/cgroupfs/cpuset.go
  pkg/sentry/fsimpl/cgroupfs/devices.go
  pkg/sentry/fsimpl/cgroupfs/pids.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/async_loader_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/kernel/kernel_restore_test.go
  pkg/sentry/mm/address_space.go
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/aio_context_state.go
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/io.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/procfs.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/mm/vma.go
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc_64k_test.go
  pkg/sentry/pgalloc/pgalloc_test.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/usage/memory.go
  runsc/boot/fscheckpoint.go
  runsc/boot/loader.go
Labels: area: bazel, area: filesystem, area: kernel, area: mm, area: tests
