Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

update the iptables test image to get a newer iptables binary
  images/iptables/Dockerfile
  test/iptables/iptables_util.go
Labels: area: tests

update the iptables test image to get a newer iptables binary
  images/iptables/Dockerfile
  test/iptables/iptables_util.go
Labels: area: tests

Add device gofer connection.
  pkg/devutil/BUILD
  pkg/devutil/context.go
  pkg/devutil/devutil.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_context.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

Add device gofer connection.
  pkg/devutil/BUILD
  pkg/devutil/context.go
  pkg/devutil/devutil.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_context.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

Cache pgalloc.MemoryFile in mm.MemoryManager.
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/save_restore.go
Labels: area: mm

Cache pgalloc.MemoryFile in mm.MemoryManager.
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/save_restore.go
Labels: area: mm

Randomize TCP source port selection
  pkg/tcpip/ports/BUILD
  pkg/tcpip/ports/ports.go
  pkg/tcpip/ports/ports_test.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: bazel, area: networking, area: tests

Randomize TCP source port selection
  pkg/tcpip/ports/BUILD
  pkg/tcpip/ports/ports.go
  pkg/tcpip/ports/ports_test.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: bazel, area: networking, area: tests

test cl: scrape docker custom network rules
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/dnat.go
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/netfilter_test.go
  pkg/sentry/socket/netfilter/netfilter_x_test.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_test.go
  pkg/tcpip/stack/iptables_types.go
  pkg/tcpip/tests/integration/iptables_test.go
  runsc/config/config.go
  runsc/config/flags.go
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

Automated rollback of changelist 581318869
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/save_restore.go
Labels: area: mm

Move GPU device ownership to gofer process.
  pkg/devutil/BUILD
  pkg/devutil/devutil.go
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_unsafe.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/nvidia.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/nvidia.go
Labels: area: bazel

Change IPv6 fragment ID generation algorithm.
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: bazel, area: networking

Change IPv6 fragment ID generation algorithm.
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: bazel, area: networking

Move GPU device ownership to gofer process.
  pkg/devutil/BUILD
  pkg/devutil/devutil.go
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_unsafe.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/nvidia.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/nvidia.go
Labels: area: bazel

Move GPU device ownership to gofer process.
  pkg/devutil/BUILD
  pkg/devutil/devutil.go
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/nvproxy_unsafe.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/nvidia.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/nvidia.go
Labels: area: bazel

tests: don't change malloc for tests
  test/syscalls/linux/BUILD
  tools/bazeldefs/cc.bzl
Labels: area: bazel, area: tests, area: tooling

tests: don't change malloc for tests
  test/syscalls/linux/BUILD
  tools/bazeldefs/cc.bzl
Labels: area: bazel, area: tests, area: tooling

Remove MM.privateRefs.
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/pgalloc/pgalloc.go
Labels: area: bazel, area: mm

Remove MM.privateRefs.
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/pgalloc/pgalloc.go
Labels: area: bazel, area: mm

iptables: return the proper revision number
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/netfilter.go
Labels: area: networking

iptables: return the proper revision number
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/netfilter.go
Labels: area: networking

`bpf` program fragment: Add support for checking possible return values.
  pkg/bpf/program_builder.go
  pkg/bpf/program_builder_test.go
  pkg/seccomp/seccomp.go
Labels: area: tests

`bpf` program fragment: Add support for checking possible return values.
  pkg/bpf/program_builder.go
  pkg/bpf/program_builder_test.go
  pkg/seccomp/seccomp.go
Labels: area: tests

`bpf` program fragment: Add support for checking possible return values.
  pkg/bpf/program_builder.go
  pkg/bpf/program_builder_test.go
  pkg/seccomp/seccomp.go
Labels: area: tests

`seccomp`: Reorder BST to put syscall rules inline with their BST node.
  pkg/seccomp/seccomp.go
Labels: none

`seccomp`: Make `PerArg.String` more human-friendly.
  pkg/seccomp/seccomp_rules.go
Labels: none

`seccomp`: Make `PerArg.String` more human-friendly.
  pkg/seccomp/seccomp_rules.go
Labels: none

`seccomp`: Reorder BST to put syscall rules inline with their BST node.
  pkg/seccomp/seccomp.go
Labels: none

`seccomp`: Reorder BST to put syscall rules inline with their BST node.
  pkg/seccomp/seccomp.go
Labels: none

`seccomp`: Don't check sysno equality if it's already been established.
  pkg/seccomp/seccomp.go
Labels: none

`seccomp`: Don't check sysno equality if it's already been established.
  pkg/seccomp/seccomp.go
Labels: none

netstack: support snat target rev 1 for both IPv4 and IPv6
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

netstack: support snat target rev 1 for both IPv4 and IPv6
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

netstack: support snat revision 2 targets
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

netstack: support snat revision 2 targets
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_ipv6.go
  pkg/sentry/socket/netfilter/snat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

netstack: add iptables DNAT revision 0 support
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/dnat.go
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/targets.go
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

netstack: add iptables DNAT revision 0 support
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/dnat.go
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/targets.go
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

`seccomp.BuildProgram`: Add `ProgramOptions` struct.
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_test.go
  pkg/seccomp/victim/seccomp_test_victim.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/ptrace/subprocess_linux.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/fsgofer/filter/filter.go
  runsc/specutils/seccomp/seccomp.go
  test/secbench/secbench.go
Labels: area: tests, platform: kvm, platform: ptrace

`seccomp.BuildProgram`: Add `ProgramOptions` struct.
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_test.go
  pkg/seccomp/victim/seccomp_test_victim.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/ptrace/subprocess_linux.go
  pkg/sentry/platform/systrap/subprocess_linux.go
  pkg/sentry/platform/systrap/sysmsg_thread.go
  runsc/boot/filter/dumpfilter/dumpfilter.go
  runsc/boot/filter/filter.go
  runsc/fsgofer/filter/filter.go
  runsc/specutils/seccomp/seccomp.go
  test/secbench/secbench.go
Labels: area: tests, platform: kvm, platform: ptrace

netstack: iptables DNAT revision 1 support
  pkg/sentry/socket/netfilter/dnat.go
  pkg/sentry/socket/netfilter/targets.go
Labels: area: networking

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
