Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Avoid use of gohacks.SliceHeader to access pointer to data
  pkg/fdchannel/BUILD
  pkg/fdchannel/fdchannel_unsafe.go
  pkg/metric/metric_unsafe.go
  pkg/sentry/fsimpl/iouringfs/BUILD
  pkg/sentry/fsimpl/iouringfs/iouringfs_unsafe.go
  pkg/sentry/vfs/mount_unsafe.go
  pkg/sync/atomicptrmap/generic_atomicptrmap_unsafe.go
Labels: area: bazel, area: filesystem

Allow to return an error from PullFullState.
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/platform/kvm/context.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/syscalls/linux/sys_signal.go
Labels: area: kernel, platform: kvm, platform: ptrace

Allow to return an error from PullFullState.
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/platform/kvm/context.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/syscalls/linux/sys_signal.go
Labels: area: kernel, platform: kvm, platform: ptrace

Add support for /proc/[pid]/limits
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/limits/limits.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/rlimits.cc
  test/util/proc_util.cc
  test/util/proc_util.h
Labels: area: bazel, area: filesystem, area: tests

Clean up FUSE device methods.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/dev_test.go
Labels: area: filesystem, area: tests

Clean up FUSE device methods.
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/dev_test.go
Labels: area: filesystem, area: tests

Optionally donate a host FD to the mount point in lisafs.
  pkg/lisafs/README.md
  pkg/lisafs/client.go
  pkg/lisafs/communicator.go
  pkg/lisafs/connection_test.go
  pkg/lisafs/handlers.go
  pkg/lisafs/message.go
  pkg/lisafs/server.go
  pkg/lisafs/testsuite/testsuite.go
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/fsgofer/lisafs.go
Labels: area: docs, area: filesystem, area: tests

Optionally donate a host FD to the mount point in lisafs.
  pkg/lisafs/README.md
  pkg/lisafs/client.go
  pkg/lisafs/communicator.go
  pkg/lisafs/connection_test.go
  pkg/lisafs/handlers.go
  pkg/lisafs/message.go
  pkg/lisafs/server.go
  pkg/lisafs/testsuite/testsuite.go
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/fsgofer/lisafs.go
Labels: area: docs, area: filesystem, area: tests

Log seccomp from spec
  runsc/boot/controller.go
  runsc/cmd/boot.go
  runsc/cmd/checkpoint.go
  runsc/cmd/create.go
  runsc/cmd/do.go
  runsc/cmd/gofer.go
  runsc/cmd/restore.go
  runsc/cmd/run.go
  runsc/specutils/specutils.go
  test/runner/main.go
Labels: area: tests

Log seccomp from spec
  runsc/boot/controller.go
  runsc/cmd/boot.go
  runsc/cmd/checkpoint.go
  runsc/cmd/create.go
  runsc/cmd/do.go
  runsc/cmd/gofer.go
  runsc/cmd/restore.go
  runsc/cmd/run.go
  runsc/specutils/specutils.go
  test/runner/main.go
Labels: area: tests

github: update actions/setup-go to newest version
  .github/workflows/go.yml
Labels: none

github: update actions/setup-go to newest version
  .github/workflows/go.yml
Labels: none

Deprecate the original FUSE testing framework.
  test/fuse/BUILD
  test/fuse/README.md
Labels: area: bazel, area: docs, area: tests

Deprecate the original FUSE testing framework.
  test/fuse/BUILD
  test/fuse/README.md
Labels: area: bazel, area: docs, area: tests

Deprecate the original FUSE testing framework.
  test/fuse/BUILD
  test/fuse/README.md
Labels: area: bazel, area: docs, area: tests

github: update actions/checkout to newest version
  .github/workflows/go.yml
Labels: none

github: update actions/checkout to newest version
  .github/workflows/go.yml
Labels: none

Move procid to dynamic facts render
  pkg/procid/BUILD
  pkg/procid/procid.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  tools/nogo/facts/facts.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tooling

Move procid to dynamic facts render
  pkg/procid/BUILD
  pkg/procid/procid.go
  pkg/procid/procid_amd64.s
  pkg/procid/procid_arm64.s
  tools/nogo/facts/facts.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tooling

Replace gohacks.SliceHeader with unsafe.Slice
  pkg/gohacks/BUILD
  pkg/gohacks/gohacks_unsafe.go
  pkg/gohacks/slice_go113_unsafe.go
  pkg/gohacks/slice_go120_unsafe.go
  pkg/hostarch/addr_range_seq_unsafe.go
  pkg/safemem/block_unsafe.go
  pkg/safemem/seq_unsafe.go
Labels: area: bazel

Replace gohacks.SliceHeader with unsafe.Slice
  pkg/gohacks/BUILD
  pkg/gohacks/gohacks_unsafe.go
  pkg/gohacks/slice_go113_unsafe.go
  pkg/gohacks/slice_go120_unsafe.go
  pkg/hostarch/addr_range_seq_unsafe.go
  pkg/safemem/block_unsafe.go
  pkg/safemem/seq_unsafe.go
Labels: area: bazel

Fix flaky creat_test.
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem

Fix flaky creat_test.
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem

Split gofer.dentry.dirMu into two mutexes:
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/fsimpl/gofer/save_restore.go
Labels: area: filesystem, area: tests

Split gofer.dentry.dirMu into two mutexes:
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directory.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/fsimpl/gofer/revalidate.go
  pkg/sentry/fsimpl/gofer/save_restore.go
Labels: area: filesystem, area: tests

Remove broken links.
  tools/go_branch.sh
Labels: area: tooling

Remove broken links.
  tools/go_branch.sh
Labels: area: tooling

`runsc metric-server`: Double-check directory access permission.
  runsc/cmd/metric_server.go
  runsc/container/metric_server_test.go
Labels: area: tests

`runsc metric-server`: Double-check directory access permission.
  runsc/cmd/metric_server.go
  runsc/container/metric_server_test.go
Labels: area: tests

Add dir= prefix in overlay2 flag's medium.
  Makefile
  g3doc/user_guide/filesystem.md
  runsc/cli/main.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/container/shared_volume_test.go
  test/runner/main.go
Labels: area: docs, area: tests

Add dir= prefix in overlay2 flag's medium.
  Makefile
  g3doc/user_guide/filesystem.md
  runsc/cli/main.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/container/shared_volume_test.go
  test/runner/main.go
Labels: area: docs, area: tests

Internal change.
  tools/github/reviver/BUILD
  tools/go_fieldenum/BUILD
  tools/go_generics/BUILD
  tools/go_generics/globals/BUILD
  tools/go_generics/go_merge/BUILD
  tools/go_generics/rules_tests/BUILD
  tools/go_generics/tests/BUILD
  tools/go_generics/tests/all_stmts/BUILD
  tools/go_generics/tests/all_types/BUILD
  tools/go_generics/tests/anon/BUILD
  tools/go_generics/tests/consts/BUILD
  tools/go_generics/tests/imports/BUILD
  tools/go_generics/tests/remove_typedef/BUILD
  tools/go_generics/tests/simple/BUILD
  tools/go_marshal/BUILD
  tools/go_marshal/analysis/BUILD
  tools/go_marshal/gomarshal/BUILD
  tools/go_marshal/test/BUILD
  tools/go_marshal/test/escape/BUILD
  tools/go_marshal/test/external/BUILD
  tools/go_stateify/BUILD
  tools/nogo/BUILD
  tools/nogo/check/BUILD
  tools/nogo/cli/BUILD
Labels: area: bazel, area: tests, area: tooling

Internal change.
  pkg/sentry/devices/memdev/BUILD
  pkg/sentry/devices/ttydev/BUILD
  pkg/sentry/devices/tundev/BUILD
  pkg/sentry/fdimport/BUILD
  pkg/sentry/fsimpl/cgroupfs/BUILD
  pkg/sentry/fsimpl/devpts/BUILD
  pkg/sentry/fsimpl/devtmpfs/BUILD
  pkg/sentry/fsimpl/eventfd/BUILD
  pkg/sentry/fsimpl/ext/BUILD
  pkg/sentry/fsimpl/fuse/BUILD
  pkg/sentry/fsimpl/gofer/BUILD
  pkg/sentry/fsimpl/host/BUILD
  pkg/sentry/fsimpl/iouringfs/BUILD
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/lock/BUILD
  pkg/sentry/fsimpl/mqfs/BUILD
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/pipefs/BUILD
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/signalfd/BUILD
  pkg/sentry/fsimpl/sockfs/BUILD
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/testutil/BUILD
  pkg/sentry/fsimpl/timerfd/BUILD
Labels: area: bazel, area: filesystem

Internal change.
  tools/nogo/config/BUILD
  tools/nogo/facts/BUILD
  tools/nogo/flags/BUILD
  tools/nogo/sanity/BUILD
  tools/parsers/BUILD
  tools/stucktasks/BUILD
  tools/tracereplay/BUILD
  tools/tracereplay/main/BUILD
  tools/xdp/BUILD
  tools/xdp/bpf/BUILD
  tools/yamltest/BUILD
  vdso/BUILD
  webhook/BUILD
  webhook/pkg/cli/BUILD
  webhook/pkg/injector/BUILD
  website/BUILD
  website/blog/BUILD
  website/cmd/server/BUILD
  website/cmd/syscalldocs/BUILD
Labels: area: bazel, area: tooling

Move nmspinning address lookup to dynamic facts render
  pkg/sync/BUILD
  pkg/sync/runtime.go
  pkg/sync/runtime_amd64.go
  pkg/sync/runtime_spinning_amd64.s
  pkg/sync/runtime_spinning_other.s
Labels: arch: x86_64, area: bazel

Move nmspinning address lookup to dynamic facts render
  pkg/sync/BUILD
  pkg/sync/runtime.go
  pkg/sync/runtime_amd64.go
  pkg/sync/runtime_spinning_amd64.s
  pkg/sync/runtime_spinning_other.s
Labels: arch: x86_64, area: bazel

Use unsafe.String/StringData to implement string functions
  pkg/gohacks/BUILD
  pkg/gohacks/gohacks_unsafe.go
  pkg/gohacks/string_go113_unsafe.go
  pkg/gohacks/string_go120_unsafe.go
  pkg/gohacks/string_test.go
Labels: area: bazel, area: tests

Use unsafe.String/StringData to implement string functions
  pkg/gohacks/BUILD
  pkg/gohacks/gohacks_unsafe.go
  pkg/gohacks/string_go113_unsafe.go
  pkg/gohacks/string_go120_unsafe.go
  pkg/gohacks/string_test.go
Labels: area: bazel, area: tests

Add constants to package-level fact
  pkg/ring0/entry_amd64.s
  pkg/ring0/entry_arm64.s
  tools/checkinfo/checkinfo.go
  tools/nogo/facts/facts.go
Labels: arch: arm, arch: x86_64, area: tooling

Add constants to package-level fact
  pkg/ring0/entry_amd64.s
  pkg/ring0/entry_arm64.s
  tools/checkinfo/checkinfo.go
  tools/nogo/facts/facts.go
Labels: arch: arm, arch: x86_64, area: tooling

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
