Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Cap UDP payload size to length informed in UDP header
  pkg/tcpip/header/udp.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Cap UDP payload size to length informed in UDP header
  pkg/tcpip/header/udp.go
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Refactor the Makefile to avoid recursive Make.
  .buildkite/pipeline.yaml
  .gitignore
  Makefile
  images/BUILD
  images/Makefile
  images/default/Dockerfile
  test/packetdrill/BUILD
  test/packetimpact/tests/BUILD
  test/root/BUILD
  tools/bazel.mk
  tools/go_branch.sh
  tools/images.mk
  tools/installers/BUILD
  tools/installers/containerd.sh
  tools/vm/BUILD
  tools/vm/README.md
  tools/vm/build.sh
  tools/vm/defs.bzl
  tools/vm/execute.sh
  tools/vm/test.cc
  tools/vm/ubuntu1604/10_core.sh
  tools/vm/ubuntu1604/15_gcloud.sh
  tools/vm/ubuntu1604/20_bazel.sh
  tools/vm/ubuntu1604/30_docker.sh
  tools/vm/ubuntu1604/40_kokoro.sh
  tools/vm/ubuntu1604/BUILD
  tools/vm/ubuntu1804/BUILD
  tools/vm/zone.sh
Labels: area: bazel, area: docs, area: tests, area: tooling

Refactor the Makefile to avoid recursive Make.
  .buildkite/pipeline.yaml
  .gitignore
  Makefile
  images/BUILD
  images/Makefile
  images/default/Dockerfile
  test/packetdrill/BUILD
  test/packetimpact/tests/BUILD
  test/root/BUILD
  tools/bazel.mk
  tools/go_branch.sh
  tools/images.mk
  tools/installers/BUILD
  tools/installers/containerd.sh
  tools/vm/BUILD
  tools/vm/README.md
  tools/vm/build.sh
  tools/vm/defs.bzl
  tools/vm/execute.sh
  tools/vm/test.cc
  tools/vm/ubuntu1604/10_core.sh
  tools/vm/ubuntu1604/15_gcloud.sh
  tools/vm/ubuntu1604/20_bazel.sh
  tools/vm/ubuntu1604/30_docker.sh
  tools/vm/ubuntu1604/40_kokoro.sh
  tools/vm/ubuntu1604/BUILD
  tools/vm/ubuntu1804/BUILD
  tools/vm/zone.sh
Labels: area: bazel, area: docs, area: tests, area: tooling

Do not perform IGMP/MLD on loopback interfaces
  pkg/tcpip/network/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

Do not perform IGMP/MLD on loopback interfaces
  pkg/tcpip/network/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/multicast_group_test.go
Labels: area: networking, area: tests

[netstack] Make tcpip.Error savable.
  pkg/syserr/netstack.go
  pkg/tcpip/tcpip.go
Labels: area: networking

[netstack] Make tcpip.Error savable.
  pkg/syserr/netstack.go
  pkg/tcpip/tcpip.go
Labels: area: networking

Add tensorflow, ffmpeg, and redis jobs.
  BUILD
  test/benchmarks/database/BUILD
  test/benchmarks/database/database.go
  test/benchmarks/database/redis_test.go
  test/benchmarks/media/BUILD
  test/benchmarks/media/ffmpeg_test.go
  test/benchmarks/media/media.go
  test/benchmarks/ml/BUILD
  test/benchmarks/ml/ml.go
  test/benchmarks/ml/tensorflow_test.go
  test/benchmarks/tools/redis.go
Labels: area: bazel, area: tests

Add tensorflow, ffmpeg, and redis jobs.
  BUILD
  test/benchmarks/database/BUILD
  test/benchmarks/database/database.go
  test/benchmarks/database/redis_test.go
  test/benchmarks/media/BUILD
  test/benchmarks/media/ffmpeg_test.go
  test/benchmarks/media/media.go
  test/benchmarks/ml/BUILD
  test/benchmarks/ml/ml.go
  test/benchmarks/ml/tensorflow_test.go
  test/benchmarks/tools/redis.go
Labels: area: bazel, area: tests

Add //pkg/sync:generic_atomicptrmap.
  nogo.yaml
  pkg/sentry/vfs/mount_unsafe.go
  pkg/sentry/vfs/save_restore.go
  pkg/sync/BUILD
  pkg/sync/atomicptrmaptest/BUILD
  pkg/sync/atomicptrmaptest/atomicptrmap.go
  pkg/sync/atomicptrmaptest/atomicptrmap_test.go
  pkg/sync/generic_atomicptr_unsafe.go
  pkg/sync/generic_atomicptrmap_unsafe.go
  pkg/sync/generic_seqatomic_unsafe.go
  pkg/sync/runtime_unsafe.go
  tools/go_generics/generics.go
Labels: area: bazel, area: filesystem, area: tests, area: tooling

Add //pkg/sync:generic_atomicptrmap.
  nogo.yaml
  pkg/sentry/vfs/mount_unsafe.go
  pkg/sentry/vfs/save_restore.go
  pkg/sync/BUILD
  pkg/sync/atomicptrmaptest/BUILD
  pkg/sync/atomicptrmaptest/atomicptrmap.go
  pkg/sync/atomicptrmaptest/atomicptrmap_test.go
  pkg/sync/generic_atomicptr_unsafe.go
  pkg/sync/generic_atomicptrmap_unsafe.go
  pkg/sync/generic_seqatomic_unsafe.go
  pkg/sync/runtime_unsafe.go
  tools/go_generics/generics.go
Labels: area: bazel, area: filesystem, area: tests, area: tooling

Add network benchmarks jobs
  BUILD
  test/benchmarks/network/BUILD
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/network/network.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
  test/benchmarks/network/static_server.go
  test/benchmarks/tools/iperf.go
Labels: area: bazel, area: tests

Add network benchmarks jobs
  BUILD
  test/benchmarks/network/BUILD
  test/benchmarks/network/httpd_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/network/network.go
  test/benchmarks/network/nginx_test.go
  test/benchmarks/network/node_test.go
  test/benchmarks/network/ruby_test.go
  test/benchmarks/network/static_server.go
  test/benchmarks/tools/iperf.go
Labels: area: bazel, area: tests

Add support for IP_RECVORIGDSTADDR IP option.
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/checker/checker.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.h
  test/syscalls/linux/socket_ipv6_udp_unbound_loopback.cc
Labels: area: bazel, area: hostinet, area: networking, area: kernel, area: tests

Add support for IP_RECVORIGDSTADDR IP option.
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/checker/checker.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_ipv4_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.cc
  test/syscalls/linux/socket_ipv6_udp_unbound.h
  test/syscalls/linux/socket_ipv6_udp_unbound_loopback.cc
Labels: area: bazel, area: hostinet, area: networking, area: kernel, area: tests

Tweak aarch64 support.
  .buildkite/pipeline.yaml
  images/benchmarks/absl/Dockerfile.x86_64
  images/benchmarks/hey/Dockerfile
  images/benchmarks/runsc/Dockerfile.x86_64
  images/default/Dockerfile
  images/runtimes/go1.12/Dockerfile.x86_64
  runsc/cli/main.go
  tools/bazel.mk
  tools/images.mk
Labels: area: tooling

Tweak aarch64 support.
  .buildkite/pipeline.yaml
  images/benchmarks/absl/Dockerfile.x86_64
  images/benchmarks/hey/Dockerfile
  images/benchmarks/runsc/Dockerfile.x86_64
  images/default/Dockerfile
  images/runtimes/go1.12/Dockerfile.x86_64
  runsc/cli/main.go
  tools/bazel.mk
  tools/images.mk
Labels: area: tooling

Arm64 kvm: support cpuid related instructions
  pkg/sentry/platform/kvm/kvm_const_arm64.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, platform: kvm

Add option to exclude pages from navigation
  website/_layouts/docs.html
  website/defs.bzl
Labels: area: bazel

Make semctl IPC_INFO cmd return the index of highest used entry.
  pkg/sentry/kernel/semaphore/semaphore.go
  pkg/sentry/syscalls/linux/sys_sem.go
  test/syscalls/linux/semaphore.cc
Labels: area: kernel, area: tests

Correctly print non-matching layers
  test/packetimpact/testbench/connections.go
Labels: area: tests

Correctly print non-matching layers
  test/packetimpact/testbench/connections.go
Labels: area: tests

Correctly align non-matching layers
  test/packetimpact/testbench/connections.go
Labels: area: tests

Correctly align non-matching layers
  test/packetimpact/testbench/connections.go
Labels: area: tests

Correctly align non-matching layers
  test/packetimpact/testbench/connections.go
Labels: area: tests

Uncomment payload generation
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: tests

Uncomment payload generation
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: tests

Log window size
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: tests

Log window size
  test/packetimpact/tests/tcp_zero_receive_window_test.go
Labels: area: tests

Use specified source address for IGMP/MLD packets
  pkg/tcpip/network/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/nic.go
Labels: area: bazel, area: networking, area: tests

Use specified source address for IGMP/MLD packets
  pkg/tcpip/network/ip/generic_multicast_protocol.go
  pkg/tcpip/network/ip/generic_multicast_protocol_test.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/nic.go
Labels: area: bazel, area: networking, area: tests

Proposal for runtime.DedicateOSThread().
  g3doc/proposals/runtime_dedicate_os_thread.md
Labels: area: docs

Proposal for runtime.DedicateOSThread().
  g3doc/proposals/runtime_dedicate_os_thread.md
Labels: area: docs

Fix typo in go template error messages.
  tools/go_generics/defs.bzl
Labels: area: bazel, area: tooling

Fix typo in go template error messages.
  tools/go_generics/defs.bzl
Labels: area: bazel, area: tooling

Add simple guidelines & instructions for blog contribution
  website/blog/README.md
  website/blog/index.html
Labels: area: docs

Add simple guidelines & instructions for blog contribution
  website/blog/README.md
  website/blog/index.html
Labels: area: docs

Disable host reassembly for fragments.
  pkg/tcpip/link/fdbased/endpoint.go
  runsc/sandbox/network.go
Labels: area: networking

Disable host reassembly for fragments.
  pkg/tcpip/link/fdbased/endpoint.go
  runsc/sandbox/network.go
Labels: area: networking

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
