Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Plumb CgroupNamespace through sentry lifecycle and context
  pkg/sentry/control/lifecycle.go
  pkg/sentry/fsimpl/cgroup2fs/filesystem.go
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_start.go
Labels: area: filesystem, area: kernel

Defer release of slow-to-release FDs via disabled `io_uring` ring.
  pkg/abi/linux/iouring.go
  pkg/pinring/BUILD
  pkg/pinring/pinring.go
  pkg/pinring/pinring_test.go
  pkg/pinring/pinring_unsafe.go
  pkg/sentry/platform/BUILD
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/config.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/cmd/sentry/sentrycmd/boot.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/donation/donation.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: tests, platform: kvm

runsc/specutils: reject host UTS namespaces
  runsc/specutils/specutils.go
  runsc/specutils/specutils_test.go
Labels: area: tests

vfs: stop saving epollInterest.readySeq
  pkg/sentry/vfs/epoll.go
Labels: area: filesystem

vfs: rebuild the epoll ready list on restore instead of saving it
  pkg/sentry/vfs/epoll.go
Labels: area: filesystem

Set clone propagation to MS_PRIVATE upon BindAt failure.
  pkg/sentry/vfs/mount.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

seccheck: Add a test for checkpoint/restore
  runsc/container/trace_test.go
Labels: area: tests

runsc: permit FICLONE in the sandbox seccomp filter
  runsc/boot/filter/config/config_main.go
Labels: none

Add C/R micro-benchmarks: default vs ExternalContent save/load, filestore snapshot variants
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/save_restore_external_bench_test.go
Labels: area: bazel, area: tests

checkpoint: in-window filestore snapshots with runsc-issued artifact manifest
  pkg/sentry/checkpoint/BUILD
  pkg/sentry/checkpoint/filestore_snapshot.go
  pkg/sentry/control/BUILD
  pkg/sentry/control/state.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/filestore_snapshot.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/state/BUILD
  pkg/sentry/state/state.go
  runsc/cmd/checkpoint.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel

pgalloc: verify adopted filestore contents; reset snapshot latch per save window
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc.proto
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/pgalloc/save_restore_external_test.go
Labels: area: tests

Allow cross-node restore with mismatched CPUID FeatureSet behind RUNSC_ALLOW_CPUID_MISMATCH
  pkg/sentry/kernel/kernel.go
  runsc/sandbox/sandbox.go
Labels: area: kernel

Adopt host filestore files on restore; skip private MF page contents on checkpoint
  pkg/safecopy/safecopy_amd64_test.go
  pkg/safecopy/safecopy_arm64_test.go
  pkg/sentry/control/state.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/pgalloc.proto
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/pgalloc/save_restore_external_test.go
  pkg/sentry/state/state.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/checkpoint.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: kernel, area: tests

runsc: verified artifact adoption with clone-on-adopt
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/filestore_snapshot.go
Labels: area: bazel

pgalloc: don't decommit host file after ExternalContent save
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/pgalloc/save_restore_external_test.go
Labels: area: tests

Implement /proc/sys/fs/mount-max.
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/mount.cc
Labels: area: filesystem, area: tests

Handle SECCOMP_RET_KILL_PROCESS in the sentry
  pkg/sentry/kernel/seccomp.go
  pkg/sentry/kernel/task_syscall.go
  test/syscalls/linux/seccomp.cc
Labels: area: kernel, area: tests

runsc: allow readv for direct TAP links
  runsc/boot/filter/config/config_main.go
Labels: none

ring0: clamp address width without LA57
  pkg/ring0/lib_amd64.go
Labels: arch: x86_64

Internal change.
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_splice.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/copy_file_range.cc
Labels: area: bazel, area: kernel, area: tests

checklocks: resolve nested closure captures
  tools/checklocks/state.go
  tools/checklocks/test/closures.go
Labels: area: tests, area: tooling

chore: expose checkescape as a vettool
  BUILD
  tools/checkescape/cmd/BUILD
  tools/checkescape/cmd/README.md
  tools/checkescape/cmd/main.go
  tools/go_branch.sh
Labels: area: bazel, area: docs, area: tooling

checklocks: activate address-state guards
  pkg/tcpip/stack/addressable_endpoint_state.go
Labels: area: networking

checklocks: guard NUD reachability state
  pkg/tcpip/stack/nud.go
Labels: area: networking

checklocks: guard pending packet queues
  pkg/tcpip/stack/pending_packets.go
Labels: area: networking

checklocks: enforce neighbor state ownership
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
Labels: area: networking, area: tests

checklocks: guard networking test helpers
  pkg/tcpip/faketime/faketime.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

checklocks: enforce IPv6 state ownership
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/ndp.go
Labels: area: networking, area: tests

Fix FileDescription use-after-free in portforward Proxy.Close
  runsc/boot/portforward/portforward.go
  runsc/boot/portforward/portforward_fd_rw_test.go
  runsc/boot/portforward/portforward_netstack.go
  runsc/boot/portforward/portforward_netstack_test.go
Labels: area: tests

Implement openat2(2) in gVisor
  pkg/abi/linux/file.go
  pkg/sentry/strace/linux64_amd64.go
  pkg/sentry/strace/linux64_arm64.go
  pkg/sentry/strace/open.go
  pkg/sentry/strace/strace.go
  pkg/sentry/strace/syscalls.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/path.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_inotify.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/syscalls/linux/sys_stat.go
  pkg/sentry/syscalls/linux/sys_xattr.go
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/resolving_path.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/openat2.cc
  test/util/file_descriptor.h
Labels: arch: arm, arch: x86_64, area: bazel, area: filesystem, area: kernel, area: tests

checklocks: drop duplicate NUD precondition
  pkg/tcpip/stack/nud.go
Labels: area: networking

seccheck: Add stateify annotations to configuration structs.
  pkg/sentry/seccheck/BUILD
  pkg/sentry/seccheck/config.go
  pkg/sentry/seccheck/config_test.go
  pkg/sentry/seccheck/seccheck.go
Labels: area: bazel, area: tests

checklocks: enforce ICMP endpoint lock ownership
  pkg/tcpip/transport/icmp/endpoint.go
Labels: area: networking

checklocks: guard user namespace setgroups
  pkg/sentry/kernel/auth/user_namespace.go
Labels: area: kernel

mm: restore file data after partial huge-page MADV_DONTNEED
  pkg/sentry/mm/syscalls.go
  test/syscalls/linux/madvise.cc
Labels: area: mm, area: tests

checklocks: guard pending packet queues
  pkg/tcpip/stack/pending_packets.go
Labels: area: networking

checklocks: enforce UDP receive-state ownership
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
Labels: area: networking

Implement openat2(2) in gVisor
  pkg/abi/linux/file.go
  pkg/sentry/strace/linux64_amd64.go
  pkg/sentry/strace/linux64_arm64.go
  pkg/sentry/strace/open.go
  pkg/sentry/strace/strace.go
  pkg/sentry/strace/syscalls.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/path.go
  pkg/sentry/syscalls/linux/sys_file.go
  pkg/sentry/syscalls/linux/sys_inotify.go
  pkg/sentry/syscalls/linux/sys_mount.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/syscalls/linux/sys_stat.go
  pkg/sentry/syscalls/linux/sys_xattr.go
  pkg/sentry/vfs/dentry.go
  pkg/sentry/vfs/resolving_path.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/openat2.cc
  test/util/file_descriptor.h
Labels: arch: arm, arch: x86_64, area: bazel, area: filesystem, area: kernel, area: tests

checklocks: guard socket option state
  pkg/tcpip/socketops.go
Labels: area: networking

checklocks: guard cgroup CPU accounting
  pkg/sentry/fsimpl/cgroupfs/cpuacct.go
Labels: area: filesystem
