Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Implement faccessat2.
  pkg/abi/linux/file.go
  pkg/sentry/syscalls/linux/vfs2/stat.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
  test/syscalls/linux/access.cc
Labels: area: kernel, area: tests

Implement faccessat2.
  pkg/abi/linux/file.go
  pkg/sentry/syscalls/linux/vfs2/stat.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
  test/syscalls/linux/access.cc
Labels: area: kernel, area: tests

Remove dentry_cache_limit mount option from mqfs.
  pkg/sentry/fsimpl/mqfs/mqfs.go
  pkg/sentry/fsimpl/mqfs/registry.go
Labels: area: filesystem

Remove dentry_cache_limit mount option from mqfs.
  pkg/sentry/fsimpl/mqfs/mqfs.go
  pkg/sentry/fsimpl/mqfs/registry.go
Labels: area: filesystem

Add checklocks annotations for neighbours.
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

Fix cgroupv2 bug that set the wrong iops throttle.
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

Fix cgroupv2 bug that set the wrong iops throttle.
  runsc/cgroup/cgroup_v2.go
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

Reorder cmd groups
  runsc/cli/main.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/cmd/list.go
Labels: none

Reorder cmd groups
  runsc/cli/main.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/cmd/list.go
Labels: none

Fix stale comment on Endpoint.ReadContext.
  pkg/tcpip/link/channel/channel.go
Labels: area: networking

Fix stale comment on Endpoint.ReadContext.
  pkg/tcpip/link/channel/channel.go
Labels: area: networking

Fix stale comment on Endpoint.ReadContext.
  pkg/tcpip/link/channel/channel.go
Labels: area: networking

Remove stale nic.DeliverNetworkPacket comment.
  pkg/tcpip/stack/nic.go
Labels: area: networking

Remove stale nic.DeliverNetworkPacket comment.
  pkg/tcpip/stack/nic.go
Labels: area: networking

fuse: Attempt to fix five data races.
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/dev_test.go
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem, area: tests

fuse: Attempt to fix five data races.
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/connection_control.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/dev_test.go
  pkg/sentry/fsimpl/fuse/fusefs.go
Labels: area: filesystem, area: tests

Fix incorrect behavior for qdisc wakeups.
  pkg/tcpip/link/qdisc/fifo/fifo.go
  pkg/tcpip/link/qdisc/fifo/qdisc_test.go
Labels: area: networking, area: tests

Fix incorrect behavior for qdisc wakeups.
  pkg/tcpip/link/qdisc/fifo/fifo.go
  pkg/tcpip/link/qdisc/fifo/qdisc_test.go
Labels: area: networking, area: tests

Refactor task start and exit from a PID namespace into separate functions.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/kernel/threads_impl.go
  runsc/container/container_test.go
Labels: area: bazel, area: kernel, area: tests

Refactor task start and exit from a PID namespace into separate functions.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/kernel/threads_impl.go
  runsc/container/container_test.go
Labels: area: bazel, area: kernel, area: tests

Hold a reference while calling p9.pathNode.removeWithName() callback.
  pkg/p9/path_tree.go
  pkg/p9/server.go
Labels: none

Hold a reference while calling p9.pathNode.removeWithName() callback.
  pkg/p9/path_tree.go
  pkg/p9/server.go
Labels: none

kvm: sentry executable mappings have to be read-only
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_arm64.go
Labels: arch: arm, platform: kvm

kvm: sentry executable mappings have to be read-only
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_arm64.go
Labels: arch: arm, platform: kvm

Add TOS control message for ICMP & RAW sockets
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/transport/icmp/BUILD
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/icmp_test.go
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/raw_test.go
  pkg/tcpip/transport/testing/context/BUILD
  pkg/tcpip/transport/testing/context/context.go
  pkg/tcpip/transport/testing/context/flow.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/ping_socket.cc
  test/syscalls/linux/raw_socket.cc
Labels: area: bazel, area: networking, area: tests

Add TOS control message for ICMP & RAW sockets
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/transport/icmp/BUILD
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/icmp_test.go
  pkg/tcpip/transport/raw/BUILD
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/raw_test.go
  pkg/tcpip/transport/testing/context/BUILD
  pkg/tcpip/transport/testing/context/context.go
  pkg/tcpip/transport/testing/context/flow.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/ping_socket.cc
  test/syscalls/linux/raw_socket.cc
Labels: area: bazel, area: networking, area: tests

Remove unused parameter in UDP tests instantiation
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Remove unused parameter in UDP tests instantiation
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Enable fuse tests
  test/fuse/BUILD
Labels: area: bazel, area: tests

Run a new fuse server in a new thread
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/create_test.cc
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
Labels: area: bazel, area: tests

Enable fuse tests
  test/fuse/BUILD
Labels: area: bazel, area: tests

Run a new fuse server in a new thread
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/create_test.cc
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
Labels: area: bazel, area: tests

filters: don't allow to create new executable mappings
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_rules.go
  pkg/seccomp/seccomp_test_victim.go
  pkg/sentry/platform/kvm/machine.go
  runsc/boot/filter/filter.go
  runsc/fsgofer/filter/filter.go
Labels: platform: kvm

filters: don't allow to create new executable mappings
  pkg/seccomp/seccomp.go
  pkg/seccomp/seccomp_rules.go
  pkg/seccomp/seccomp_test_victim.go
  pkg/sentry/platform/kvm/machine.go
  runsc/boot/filter/filter.go
  runsc/fsgofer/filter/filter.go
Labels: platform: kvm

Return well-defined error on short payload in FUSE.
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem

Return well-defined error on short payload in FUSE.
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem

Make shared memory file location configurable.
  pkg/tcpip/link/sharedmem/queuepair.go
Labels: area: networking

Make shared memory file location configurable.
  pkg/tcpip/link/sharedmem/queuepair.go
Labels: area: networking

Fuse: `DeviceFD.Read`: Lock `DeviceFD` ahead of other locks.
  pkg/sentry/fsimpl/fuse/dev.go
Labels: area: filesystem

Fuse: `DeviceFD.Read`: Lock `DeviceFD` ahead of other locks.
  pkg/sentry/fsimpl/fuse/dev.go
Labels: area: filesystem
