Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Update bazel packages
  WORKSPACE
Labels: dependencies

Update bazel packages
  WORKSPACE
Labels: dependencies

fix pty_test error by releasing tty received from test
  test/syscalls/linux/BUILD
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: tests

Automated rollback of changelist 373417636
  pkg/crypto/crypto_stdlib.go
Labels: none

Automated rollback of changelist 373417636
  pkg/crypto/crypto_stdlib.go
Labels: none

Add badges for Github actions so it's easier to notice when they are failing.
  .github/workflows/stale.yml
  README.md
Labels: area: docs

Add badges for Github actions so it's easier to notice when they are failing.
  .github/workflows/stale.yml
  README.md
Labels: area: docs

Emit more information on panic
  pkg/tcpip/stack/packet_buffer.go
Labels: area: networking

Emit more information on panic
  pkg/tcpip/stack/packet_buffer.go
Labels: area: networking

[syserror] Add linuxerr package.
  pkg/linuxerr/BUILD
  pkg/linuxerr/linuxerr.go
  pkg/linuxerr/linuxerr_test.go
  pkg/syserror/BUILD
Labels: area: bazel, area: tests

[syserror] Add linuxerr package.
  pkg/linuxerr/BUILD
  pkg/linuxerr/linuxerr.go
  pkg/linuxerr/linuxerr_test.go
  pkg/syserror/BUILD
Labels: area: bazel, area: tests

Delete /cloud/gvisor/sandbox/sentry/gofer/opened_write_execute_file metric
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsmetric/fsmetric.go
Labels: area: filesystem

Delete /cloud/gvisor/sandbox/sentry/gofer/opened_write_execute_file metric
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fsimpl/gofer/regular_file.go
  pkg/sentry/fsimpl/gofer/special_file.go
  pkg/sentry/fsmetric/fsmetric.go
Labels: area: filesystem

Prevent infinite loops from being optimized away.
  test/syscalls/linux/BUILD
  test/syscalls/linux/timers.cc
Labels: area: bazel, area: tests

Prevent infinite loops from being optimized away.
  test/syscalls/linux/BUILD
  test/syscalls/linux/timers.cc
Labels: area: bazel, area: tests

Be explicit about setsid() return values in pty.cc
  test/syscalls/linux/pty.cc
Labels: area: tests

Be explicit about setsid() return values in pty.cc
  test/syscalls/linux/pty.cc
Labels: area: tests

use more explicit netstack dependency restrictions
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

use more explicit netstack dependency restrictions
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

Allow use of IFF_ONE_QUEUE
  pkg/abi/linux/ioctl_tun.go
  pkg/sentry/socket/netstack/tun.go
Labels: area: networking

Allow use of IFF_ONE_QUEUE
  pkg/abi/linux/ioctl_tun.go
  pkg/sentry/socket/netstack/tun.go
Labels: area: networking

Fix nogo analysis.
  tools/checkescape/checkescape.go
Labels: area: tooling

Fix nogo analysis.
  tools/checkescape/checkescape.go
Labels: area: tooling

Send ICMP errors when link address resolution fails
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: bazel, area: networking, area: tests

Send ICMP errors when link address resolution fails
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/testutil/testutil.go
Labels: area: bazel, area: networking, area: tests

Format precondition to match style guide.
  pkg/sentry/kernel/semaphore/semaphore.go
Labels: area: kernel

Format precondition to match style guide.
  pkg/sentry/kernel/semaphore/semaphore.go
Labels: area: kernel

Fix cgroupfs mount racing with unmount.
  pkg/sentry/kernel/cgroup.go
  test/syscalls/linux/cgroup.cc
Labels: area: kernel, area: tests

Fix cgroupfs mount racing with unmount.
  pkg/sentry/kernel/cgroup.go
  test/syscalls/linux/cgroup.cc
Labels: area: kernel, area: tests

Internal change.
  test/syscalls/linux/rseq/BUILD
Labels: area: bazel, area: tests

Suppress log message when there is no error
  runsc/sandbox/sandbox.go
Labels: none

Suppress log message when there is no error
  runsc/sandbox/sandbox.go
Labels: none

Automated rollback of changelist 374319456
  pkg/crypto/crypto_stdlib.go
Labels: none

Automated rollback of changelist 374319456
  pkg/crypto/crypto_stdlib.go
Labels: none

Add protocol state to TCPINFO
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/forwarder.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_info_test.go
  test/packetimpact/tests/tcp_rack_test.go
  test/packetimpact/tests/tcp_retransmits_test.go
  test/packetimpact/tests/tcp_synsent_reset_test.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: bazel, area: networking, area: tests

Add protocol state to TCPINFO
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/forwarder.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_info_test.go
  test/packetimpact/tests/tcp_rack_test.go
  test/packetimpact/tests/tcp_retransmits_test.go
  test/packetimpact/tests/tcp_synsent_reset_test.go
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: bazel, area: networking, area: tests

Add Knative Services tutorial
  g3doc/user_guide/tutorials/BUILD
  g3doc/user_guide/tutorials/knative.md
  website/BUILD
Labels: area: bazel, area: docs

Add Knative Services tutorial
  g3doc/user_guide/tutorials/BUILD
  g3doc/user_guide/tutorials/knative.md
  website/BUILD
Labels: area: bazel, area: docs

Send SIGPIPE for closed pipes.
  pkg/abi/linux/BUILD
  pkg/abi/linux/context.go
  pkg/sentry/kernel/pipe/pipe_util.go
  pkg/sentry/kernel/task_context.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pipe.cc
Labels: area: bazel, area: kernel, area: tests

Send SIGPIPE for closed pipes.
  pkg/abi/linux/BUILD
  pkg/abi/linux/context.go
  pkg/sentry/kernel/pipe/pipe_util.go
  pkg/sentry/kernel/task_context.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/pipe.cc
Labels: area: bazel, area: kernel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
