Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Forward verbose flag to packetimpact tester
  test/packetimpact/runner/dut.go
  test/packetimpact/testbench/testbench.go
Labels: area: tests

Forward verbose flag to packetimpact tester
  test/packetimpact/runner/dut.go
  test/packetimpact/testbench/testbench.go
Labels: area: tests

Honor data and FIN from the ACK completing handshake
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: bazel, area: networking, area: tests

Honor data and FIN from the ACK completing handshake
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  test/packetimpact/testbench/dut.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: bazel, area: networking, area: tests

Use the NIC packets arrived at when filtering
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tests/integration/iptables_test.go
Labels: area: networking, area: tests

Use the NIC packets arrived at when filtering
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tests/integration/iptables_test.go
Labels: area: networking, area: tests

Update dependencies so that the 'go' branch builds.
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Update dependencies so that the 'go' branch builds.
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Implement RENAME_NOREPLACE for all VFS2 filesystem implementations.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/rename.cc
Labels: area: filesystem, area: tests

Implement RENAME_NOREPLACE for all VFS2 filesystem implementations.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  test/syscalls/linux/rename.cc
Labels: area: filesystem, area: tests

cgroupfs: don't add a task in the root cgroup if it is already there.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_cgroup.go
Labels: area: kernel

cgroupfs: don't add a task in the root cgroup if it is already there.
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_cgroup.go
Labels: area: kernel

test: use std::vector instead of allocating memory with calloc
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

test: use std::vector instead of allocating memory with calloc
  test/syscalls/linux/udp_socket.cc
Labels: area: tests

Remove unsupported syscall event for setsockopt(*, SOL_SOCKET, SO_OOBINLINE).
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Remove unsupported syscall event for setsockopt(*, SOL_SOCKET, SO_OOBINLINE).
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Exclusively lock IPv6 EP when modifying addresses
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: networking

Exclusively lock IPv6 EP when modifying addresses
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: networking

apply bitmap for fd_table
  WORKSPACE
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/fd_table_unsafe.go
Labels: area: bazel, area: kernel, dependencies

Update abseil dependency
  WORKSPACE
Labels: dependencies

Update abseil dependency
  WORKSPACE
Labels: dependencies

Add comment on abseil/grpc dependency precedence
  WORKSPACE
Labels: dependencies

Add comment on abseil/grpc dependency precedence
  WORKSPACE
Labels: dependencies

Don't mark issues as stale.
  .github/workflows/issue_reviver.yml
  .github/workflows/stale.yml
  README.md
Labels: area: docs

Don't mark issues as stale.
  .github/workflows/issue_reviver.yml
  .github/workflows/stale.yml
  README.md
Labels: area: docs

Internal only change that does not affect open-source files.
  test/packetimpact/netdevs/BUILD
  test/packetimpact/testbench/BUILD
Labels: area: bazel, area: tests

Avoid fanout group collisions with best effort
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

Avoid fanout group collisions with best effort
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

implement TCSETSF for master/slave tty
  pkg/sentry/fs/tty/line_discipline.go
  pkg/sentry/fs/tty/master.go
  pkg/sentry/fs/tty/queue.go
  pkg/sentry/fs/tty/replica.go
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/devpts/replica.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

Change TODO to NOTE.
  pkg/sentry/fs/gofer/cache_policy.go
Labels: area: filesystem

Change TODO to NOTE.
  pkg/sentry/fs/gofer/cache_policy.go
Labels: area: filesystem

Remove unnecessary TODO bug.
  test/packetimpact/testbench/layers.go
Labels: area: tests

Remove unnecessary TODO bug.
  test/packetimpact/testbench/layers.go
Labels: area: tests

Remove --overlayfs-stale-read flag
  runsc/boot/fs.go
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

Remove --overlayfs-stale-read flag
  runsc/boot/fs.go
  runsc/boot/vfs.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

Add UDP PacketImpact test exception for Fuchsia
  test/packetimpact/tests/generic_dgram_socket_send_recv_test.go
Labels: area: tests

Rename go files that contain "main" function to main.go.
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/runner/BUILD
  test/runner/main.go
  tools/go_generics/BUILD
  tools/go_generics/main.go
Labels: area: bazel, area: tests, area: tooling

Rename go files that contain "main" function to main.go.
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/runner/BUILD
  test/runner/main.go
  tools/go_generics/BUILD
  tools/go_generics/main.go
Labels: area: bazel, area: tests, area: tooling

Skip ItimerTest.DeliversSIGALRMToMainThread on KVM/ptrace.
  test/syscalls/linux/itimer.cc
Labels: area: tests

Decommit huge-page-aligned regions during reclaim under manual zeroing.
  pkg/sentry/pgalloc/pgalloc.go
Labels: none
