Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Update links to GKE Sandbox documentation page.
  g3doc/user_guide/quick_start/kubernetes.md
  g3doc/user_guide/tutorials/knative.md
  g3doc/user_guide/tutorials/kubernetes.md
Labels: area: docs

Address review: verify against Linux, fix build, remove unverified checks
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/capability_checks.cc
Labels: area: filesystem, area: networking, area: tests

fix(shim): support non-CRI callers (BuildKit, ctr) in containerd shim
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/init_test.go
  pkg/shim/v1/runsc/BUILD
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
Labels: area: bazel, area: tests

test cl
  pkg/shim/v1/runsc/service.go
Labels: none

Implement shim manager.
  pkg/shim/v1/BUILD
  pkg/shim/v1/extension/extension.go
  pkg/shim/v1/manager.go
  pkg/shim/v1/runsc/container.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/state.go
  pkg/shim/v1/service.go
Labels: area: bazel

Fix metrics collection failure in network=host mode
  pkg/sentry/socket/hostinet/stack.go
Labels: area: hostinet, area: networking

Add `control-rpc-stop-timeout` flag for control socket
  runsc/boot/controller.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: none

cgroupsv2 supports linux.resources.unified
  runsc/cgroup/cgroup_v2.go
Labels: none

Unified test cases
  runsc/cgroup/cgroup_v2_test.go
Labels: area: tests

Create gcsfuse test image.
  images/fuse/gcs/Dockerfile
  images/fuse/gcs/README.md
  images/fuse/gcs/gcsfuse_test.sh
  images/fuse/gcs/run_test.sh
Labels: area: docs

kvm: re-enable the TestMemLimit
  test/e2e/integration_test.go
Labels: area: tests

Test CL.
  test/root/BUILD
  test/root/crictl_test.go
  test/root/crictl_util.go
Labels: area: bazel, area: tests

Adds missing video encoding NVIDIA ioctl classes
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Avoid dowloading the whole history of containerd for testing.
  .buildkite/pipeline.yaml
  tools/install_containerd.sh
Labels: area: tooling

nvproxy: Remove support for unreachable drivers.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Remove vfio_unsafe.go and use VFIOIrqSet.SizeBytes().
  pkg/abi/linux/BUILD
  pkg/abi/linux/vfio_unsafe.go
  pkg/sentry/devices/tpuproxy/vfio/pci_device_fd.go
Labels: area: bazel

**runsc ps: Add process group ID (PGID) to output**
  pkg/sentry/control/proc.go
  pkg/sentry/control/proc_test.go
  runsc/container/container_test.go
Labels: area: tests

Adds missing video encoding NVIDIA classes
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

poll: Write back only revents to userspace, matching Linux behavior
  pkg/sentry/syscalls/linux/sys_poll.go
  test/syscalls/linux/poll.cc
Labels: area: kernel, area: tests

nvproxy: Add back 580.65.06.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

stack: Separated NAT code from conntrack.
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/conntrack_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/nat.go
Labels: area: bazel, area: networking, area: tests

poll: Write back only revents to userspace, matching Linux behavior
  pkg/sentry/syscalls/linux/sys_poll.go
  test/syscalls/linux/poll.cc
Labels: area: kernel, area: tests

signalfd: Populate ssi_int and ssi_ptr
  pkg/sentry/fsimpl/signalfd/signalfd.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/signalfd.cc
Labels: area: bazel, area: filesystem, area: tests

arch/x86: allow partial PTRACE_GETREGSET NT_PRSTATUS reads
  pkg/sentry/arch/arch_x86.go
  test/syscalls/linux/ptrace.cc
Labels: arch: x86_64, area: kernel, area: tests

vfs: Generate IN_MODIFY on open(O_TRUNC) for existing files
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/inotify.cc
Labels: area: filesystem, area: tests

Internal change.
  examples/seccheck/BUILD
Labels: area: bazel

runsc/fsgofer/filter: add Rules() for composable seccomp filters
  runsc/fsgofer/filter/filter.go
Labels: none

runsc/fsgofer/filter: add Rules() for composable seccomp filters
  runsc/fsgofer/filter/filter.go
Labels: none

runsc kill: add support for killing based on pgid
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/cmd/kill.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  test/cmd/test_app/main.go
Labels: area: tests

runsc/cmd/util: export gofer setup helpers for reuse
  runsc/cmd/boot.go
  runsc/cmd/capability.go
  runsc/cmd/chroot.go
  runsc/cmd/cmd.go
  runsc/cmd/gofer.go
  runsc/cmd/util/BUILD
  runsc/cmd/util/caps.go
  runsc/cmd/util/flags.go
  runsc/cmd/util/fs.go
  runsc/cmd/util/process.go
Labels: area: bazel

Add a new onboarding message to gVisor's dmesg output
  pkg/sentry/kernel/syslog.go
Labels: area: kernel

cgroupfs: remove cgroup from CgroupRegistry on rmdir
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/kernel/cgroup.go
Labels: area: filesystem, area: kernel

Add runsc kill --pgid
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/cmd/kill.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  test/cmd/test_app/main.go
Labels: area: tests

proc: Add /proc/sys/fs/pipe-max-size
  pkg/sentry/fsimpl/proc/BUILD
  pkg/sentry/fsimpl/proc/tasks_sys.go
Labels: area: bazel, area: filesystem

Add riscv toolchain support
  .bazelrc
  tools/bazeldefs/defs.bzl
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: tooling

Use containerd shutdown service to clean up shim when shutdown.
  pkg/shim/v1/BUILD
  pkg/shim/v1/extension/extension.go
  pkg/shim/v1/manager.go
  pkg/shim/v1/runsc/BUILD
  pkg/shim/v1/runsc/container.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/state.go
  pkg/shim/v1/service.go
Labels: area: bazel

runsc/cmd/sandboxsetup: export gofer setup helpers for reuse
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/capability_test.go
  runsc/cmd/chroot.go
  runsc/cmd/cmd.go
  runsc/cmd/gofer.go
  runsc/cmd/gofer_test.go
  runsc/cmd/sandboxsetup/BUILD
  runsc/cmd/sandboxsetup/caps.go
  runsc/cmd/sandboxsetup/flags.go
  runsc/cmd/sandboxsetup/fs.go
  runsc/cmd/sandboxsetup/process.go
Labels: area: bazel, area: tests

pty: Implement TCSBRK and TCFLSH
  pkg/abi/linux/ioctl.go
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/devpts/replica.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests

fix: make RTM_GETLINK return interfaces sorted by index
  pkg/sentry/socket/netlink/route/protocol.go
Labels: area: networking

nvproxy: reject opaque GSP legacy and NV2081_BINAPI control forwarding
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none
