Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

kvm: honor memmap.File.MemoryType()
  pkg/ring0/pagetables/pagetables_aarch64.go
  pkg/ring0/pagetables/pagetables_amd64_test.go
  pkg/ring0/pagetables/pagetables_arm64_test.go
  pkg/ring0/pagetables/pagetables_x86.go
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/kvm/kvm_const_arm64.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, arch: x86_64, area: tests, platform: kvm

Add support for more TPU devices.
  pkg/abi/tpu/tpu.go
  runsc/cmd/util/tpu.go
Labels: none

kvm: unlock OS thread during machine.available.Wait()
  pkg/sentry/platform/kvm/machine.go
Labels: platform: kvm

Handle sighandling.KillItself() return error.
  pkg/sentry/platform/systrap/subprocess.go
Labels: none

Update configuration.md
  g3doc/user_guide/containerd/configuration.md
Labels: area: docs

Move nvproxy.objsMu to rootClient.
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/save_restore.go
  pkg/sentry/devices/nvproxy/save_restore_impl.go
Labels: none

Update "Root Filesystem Overlay" section about default rootfs overlay.
  g3doc/user_guide/filesystem.md
Labels: area: docs

nvproxy: Add support for 570.124.06.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

pgalloc: log async page loading progress and info about awaited loads
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/save_restore.go
Labels: area: bazel

kvm: replace machine.availableCond with futexes
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/config.go
  pkg/sentry/platform/kvm/kvm_test.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm

kvm: remove machine.mu
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/config.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/kvm_test.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/vfs/mount_unsafe.go
  pkg/sync/atomicptrmap/generic_atomicptrmap_unsafe.go
  pkg/sync/runtime_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel, area: filesystem, area: tests, platform: kvm

nvproxy: Add HasStatus.SetStatus and provide failWithStatus() util functions.
  pkg/abi/nvgpu/frontend.go
  pkg/abi/nvgpu/nvgpu.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Improve Documentation on gVisor's inotify Behavior with Shared Volumes
  g3doc/user_guide/containerd/configuration.md
  pkg/abi/nvgpu/frontend.go
  pkg/abi/nvgpu/nvgpu.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: docs

platform/kvm: prioritize less-recently-used vCPUs for stealing
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

Add back 'nvidia-smi' test in gpu-smoke-tests
  test/gpu/smoke_test.go
Labels: area: tests

Internal change.
  pkg/test/dockerutil/container.go
  pkg/test/dockerutil/exec.go
  pkg/test/dockerutil/network.go
  test/benchmarks/base/BUILD
  test/benchmarks/base/usage_test.go
Labels: area: bazel, area: tests

Fix device FD reference leaks and add support for VFIO_GROUP_UNSET_CONTAINER.
  pkg/abi/linux/vfio.go
  pkg/sentry/devices/tpuproxy/seccomp_filter.go
  pkg/sentry/devices/tpuproxy/vfio/pci_device_fd.go
  pkg/sentry/devices/tpuproxy/vfio/tpu_fd.go
  pkg/sentry/devices/tpuproxy/vfio/vfio_fd.go
Labels: none

Switch to moby/sys/capability
  WORKSPACE
  pkg/lisafs/testsuite/BUILD
  pkg/lisafs/testsuite/testsuite.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/capability.go
  runsc/cmd/capability_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/BUILD
  runsc/specutils/namespace.go
  test/root/BUILD
  test/root/main_test.go
  test/root/portforward_test.go
  test/runner/BUILD
  test/runner/main.go
Labels: area: bazel, area: tests, dependencies

pgalloc: avoid unnecessary aplOp allocation in async page loading
  pkg/sentry/pgalloc/save_restore.go
Labels: none

Debug CL, DO NOT SUBMIT
  test/e2e/integration_test.go
  test/image/image_test.go
Labels: area: tests

Use gitbub.com/moby/sys/capability in gVisor.
  WORKSPACE
  go.mod
  go.sum
  pkg/lisafs/testsuite/BUILD
  pkg/lisafs/testsuite/testsuite.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/capability.go
  runsc/cmd/capability_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/BUILD
  runsc/specutils/namespace.go
  test/root/BUILD
  test/root/main_test.go
  test/root/portforward_test.go
  test/runner/BUILD
  test/runner/main.go
Labels: area: bazel, area: tests, dependencies

mm: allow shared anonymous mappings to use huge pages
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsutil/file_range_set.go
Labels: area: filesystem

Add back 'nvidia-smi' test in gpu-smoke-tests
  test/gpu/smoke_test.go
Labels: area: tests

mm: allow shared anonymous mappings to use huge pages
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsutil/file_range_set.go
Labels: area: filesystem

Split container restore process between first and last container.
  runsc/boot/restore.go
Labels: none

Use github.com/moby/sys/capability in gVisor.
  WORKSPACE
  go.mod
  go.sum
  pkg/lisafs/testsuite/BUILD
  pkg/lisafs/testsuite/testsuite.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/capability.go
  runsc/cmd/capability_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/specutils/BUILD
  runsc/specutils/namespace.go
  test/root/BUILD
  test/root/main_test.go
  test/root/portforward_test.go
  test/runner/BUILD
  test/runner/main.go
Labels: area: bazel, area: tests, dependencies

pgalloc: avoid unnecessary aplOp allocation in async page loading
  pkg/sentry/pgalloc/save_restore.go
Labels: none

nvproxy: allow use with KVM platform
  g3doc/user_guide/gpu.md
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/frontend_mmap_unsafe.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/uvm.go
  pkg/sentry/devices/nvproxy/uvm_mmap.go
  pkg/sentry/fsutil/precise_host_file_mapper.go
  pkg/sentry/kernel/task_syscall.go
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/loader.go
Labels: area: bazel, area: docs, area: kernel, platform: kvm, platform: ptrace

Move nvproxy.objsMu to rootClient.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/status.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/object.go
  pkg/sentry/devices/nvproxy/save_restore.go
  pkg/sentry/devices/nvproxy/save_restore_impl.go
Labels: none

runsc/do: add the option to specify a pre-create network namespace
  runsc/cmd/do.go
Labels: none

gofer: Add support for restoring deleted directories.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/lisafs_dentry.go
  pkg/sentry/fsimpl/gofer/save_restore.go
  test/syscalls/linux/unlink.cc
Labels: area: filesystem, area: tests

buildkite: debug internal pipeline failures
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  runsc/cmd/do.go
  runsc/cmd/install.go
  runsc/cmd/install_test.go
Labels: area: tests

tests: don't specify ports for docker containers
  .buildkite/pipeline.yaml
  test/e2e/integration_test.go
  test/image/image_test.go
Labels: area: tests

Fix restore logic in PRead.
  pkg/sentry/devices/tpuproxy/vfio/pci_device_fd.go
Labels: none

Clarify the capabilities for running docker in gVisor are not from hosts.
  g3doc/user_guide/tutorials/docker-in-gvisor.md
Labels: area: docs

Read pages from the main MemoryFile as early as possible during restore
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/kernel_restore.go
  pkg/sentry/state/state.go
  runsc/boot/restore.go
Labels: area: kernel

Protect Task.ptraceSeized with TaskSet mutex and Signal mutex.
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task.go
Labels: area: kernel

Deflake TestUsage.
  runsc/container/container_test.go
Labels: area: tests

Sentry systrap: exit the entire process when one stub process is dead
  pkg/sentry/kernel/task_run.go
Labels: area: kernel

Add gvisor sysctl annotation.
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/specutils.go
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
