Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Implement ioctl with enable verity
  pkg/abi/linux/ioctl.go
  pkg/sentry/fsimpl/verity/BUILD
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: bazel, area: filesystem

Add FUSE write
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/dev.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/read_write.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/write_test.cc
Labels: area: bazel, area: filesystem, area: tests

fuse_read: finish fuse_read basic implementation
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/init.go
  pkg/sentry/fsimpl/fuse/read_write.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/read_test.cc
Labels: area: filesystem, area: tests

Add check for both child and childMerkle ENOENT
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Add check for both child and childMerkle ENOENT
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

[vfs] overlayfs: Fix socket tests.
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/mkdir.cc
  test/syscalls/linux/mknod.cc
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/unlink.cc
Labels: area: filesystem, area: tests

[vfs] overlayfs: Fix socket tests.
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/mkdir.cc
  test/syscalls/linux/mknod.cc
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/unlink.cc
Labels: area: filesystem, area: tests

Implement synthetic mountpoints for kernfs.
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/synthetic_directory.go
Labels: area: bazel, area: filesystem

Implement synthetic mountpoints for kernfs.
  pkg/sentry/fsimpl/kernfs/BUILD
  pkg/sentry/fsimpl/kernfs/filesystem.go
  pkg/sentry/fsimpl/kernfs/synthetic_directory.go
Labels: area: bazel, area: filesystem

Cleanup
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/dhcpv6configurationfromndpra_string.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/addressable_endpoint.go
  pkg/tcpip/stack/forwarder_test.go
  pkg/tcpip/stack/group_addressable_endpoint.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Add a Docker Compose tutorial
  g3doc/user_guide/tutorials/BUILD
  g3doc/user_guide/tutorials/docker-compose.md
  g3doc/user_guide/tutorials/docker.md
  website/BUILD
Labels: area: bazel, area: docs

Add a Docker Compose tutorial
  g3doc/user_guide/tutorials/BUILD
  g3doc/user_guide/tutorials/docker-compose.md
  g3doc/user_guide/tutorials/docker.md
  website/BUILD
Labels: area: bazel, area: docs

Add syntax highlighting to website
  images/jekyll/Dockerfile
  images/jekyll/build.sh
  website/css/main.scss
Labels: none

Add syntax highlighting to website
  images/jekyll/Dockerfile
  images/jekyll/build.sh
  website/css/main.scss
Labels: none

Add fh support for revise attr and fstat(2) test
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/fuse/regular_file.go
  test/fuse/linux/BUILD
  test/fuse/linux/stat_test.cc
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: bazel, area: filesystem, area: tests

Add fuse_fd_util library to include common fuse fd test functions
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_fd_util.cc
  test/fuse/linux/fuse_fd_util.h
Labels: area: bazel, area: tests

Add default attr in fuse_util
  test/fuse/linux/stat_test.cc
  test/util/fuse_util.cc
  test/util/fuse_util.h
Labels: area: tests

Fix formatting for Kubernetes tutorial
  g3doc/user_guide/tutorials/kubernetes.md
Labels: area: docs

Fix formatting for Kubernetes tutorial
  g3doc/user_guide/tutorials/kubernetes.md
Labels: area: docs

Implement FUSE_SETATTR
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/file.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/setstat_test.cc
Labels: area: bazel, area: filesystem, area: tests

github: run actions for feature branches
  .github/workflows/build.yml
  .github/workflows/go.yml
Labels: none

github: run actions for feature branches
  .github/workflows/build.yml
  .github/workflows/go.yml
Labels: none

Don't sched_setaffinity in ptrace platform.
  pkg/sentry/platform/ptrace/BUILD
  pkg/sentry/platform/ptrace/filters.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_linux_unsafe.go
Labels: area: bazel, platform: ptrace

Don't sched_setaffinity in ptrace platform.
  pkg/sentry/platform/ptrace/BUILD
  pkg/sentry/platform/ptrace/filters.go
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_linux_unsafe.go
Labels: area: bazel, platform: ptrace

test cl
  test/syscalls/linux/stat.cc
  test/util/fs_util.cc
  test/util/fs_util.h
Labels: area: tests

github: Don't build the Go branch for feature branches
  .github/workflows/go.yml
Labels: none

github: Don't build the Go branch for feature branches
  .github/workflows/go.yml
Labels: none

Skip socket stress tests on KVM platform.
  test/syscalls/linux/socket_generic_stress.cc
Labels: area: tests

Remove use of channels from p9.connState legacy transport.
  pkg/p9/server.go
Labels: none

Change runtimeoptions proto handling.
  pkg/shim/v2/runtimeoptions/BUILD
  pkg/shim/v2/runtimeoptions/runtimeoptions.go
  pkg/shim/v2/runtimeoptions/runtimeoptions.proto
  pkg/shim/v2/runtimeoptions/runtimeoptions_test.go
Labels: area: bazel, area: tests

Fix tabs in lock-ordering doc.
  pkg/sentry/vfs/vfs.go
Labels: area: filesystem

Make mounts ReadWrite first, then later change to ReadOnly.
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
  pkg/sentry/fsimpl/ext/benchmark/benchmark_test.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/tmpfs/benchmark_test.go
  pkg/sentry/syscalls/linux/vfs2/mount.go
  pkg/sentry/vfs/context.go
  pkg/sentry/vfs/mount.go
  runsc/boot/vfs.go
Labels: area: filesystem, area: kernel, area: tests

Fix parent directory creation in CreateDeviceFile.
  pkg/sentry/fsimpl/devtmpfs/BUILD
  pkg/sentry/fsimpl/devtmpfs/devtmpfs.go
  pkg/sentry/fsimpl/devtmpfs/devtmpfs_test.go
Labels: area: bazel, area: filesystem, area: tests

Internal change.
  pkg/sentry/limits/context.go
  pkg/sentry/vfs/permissions.go
Labels: area: filesystem

Clarify seek behaviour for kernfs.GenericDirectoryFD.
  pkg/sentry/fsimpl/devpts/devpts.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  pkg/sentry/fsimpl/kernfs/fd_impl_util.go
  pkg/sentry/fsimpl/kernfs/inode_impl_util.go
  pkg/sentry/fsimpl/kernfs/kernfs_test.go
  pkg/sentry/fsimpl/proc/filesystem.go
  pkg/sentry/fsimpl/proc/subtasks.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/proc/tasks_sys.go
  pkg/sentry/fsimpl/sys/sys.go
Labels: area: filesystem, area: tests

Only use the NextHeader value of the first IPv6 fragment extension header.
  pkg/tcpip/network/fragmentation/BUILD
  pkg/tcpip/network/fragmentation/fragmentation.go
  pkg/tcpip/network/fragmentation/fragmentation_test.go
  pkg/tcpip/network/fragmentation/reassembler.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: bazel, area: networking, area: tests

Add reference count checking to the fsimpl/host package.
  pkg/sentry/fsimpl/host/BUILD
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/socket.go
Labels: area: bazel, area: filesystem

Use a explicit random src for RandomID.
  pkg/test/testutil/testutil.go
Labels: area: tests

Enable strace+debug in syscall tests
  test/perf/BUILD
  test/runner/defs.bzl
  test/syscalls/BUILD
Labels: area: bazel, area: tests

Fix return for rseq_test.
  test/syscalls/linux/BUILD
  test/syscalls/linux/rseq.cc
  test/syscalls/linux/rseq/rseq.cc
  test/syscalls/linux/rseq/test.h
Labels: area: bazel, area: tests
