Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

[DO NOT SUBMIT] temp cl for buildkite debugging
  Makefile
Labels: none

Add support for STATX_MNT_ID in statx.
  pkg/abi/linux/file.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/stat.cc
Labels: area: bazel, area: filesystem, area: tests

utimensat: Allow AT_EMPTY_PATH
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/utimes.cc
Labels: area: bazel, area: kernel, area: tests

Create PCIe sysfs devices in gVisor
  RDMA_STATUS.md
  TEST.md
  pkg/sentry/fsimpl/sys/BUILD
  pkg/sentry/fsimpl/sys/pci_devices.go
  pkg/sentry/fsimpl/sys/sys.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/restore.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  test_torch.md
Labels: area: bazel, area: filesystem, area: tests

Nftables: Remove the overheads from register ops.
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/nftables/nftinterp.go
  pkg/tcpip/nftables/nftinterp_test.go
Labels: area: networking, area: tests

Resolve PCIe device symlinks
  RUNBOOK.md
  pkg/sentry/fsimpl/sys/pci_devices.go
  pkg/sentry/fsimpl/sys/sys.go
Labels: area: filesystem

fix(shim): return cgroup v2 stats on unified hierarchy
  pkg/shim/v1/runsc/BUILD
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
Labels: area: bazel, area: tests

feat(shim): implement containerd Task.Update for cgroup resize
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/update_test.go
  pkg/shim/v1/runsc/container.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
  pkg/shim/v1/runsccmd/BUILD
  pkg/shim/v1/runsccmd/runsc.go
  pkg/shim/v1/runsccmd/runsc_test.go
  pkg/test/criutil/criutil.go
  test/root/crictl_test.go
Labels: area: bazel, area: tests

runsc: Fix SetUserMappings to handle empty UID/GID mappings in spec.
  runsc/sandbox/sandbox.go
Labels: none

runsc: add warm sentry integration tests.
  runsc/boot/BUILD
  runsc/boot/loader_test.go
  runsc/container/container_test.go
  runsc/sandbox/warm_test.go
Labels: area: bazel, area: tests

runsc: add warm sentry mode for faster restore cycles.
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/restore.go
  runsc/cli/maincli/maincli.go
  runsc/cmd/BUILD
  runsc/cmd/boot.go
  runsc/cmd/reset.go
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
  runsc/sandbox/warm_test.go
Labels: area: bazel, area: tests

tmpfs: Update mtime/ctime on open(O_TRUNC) for zero-length files
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/open.cc
Labels: area: bazel, area: filesystem, area: tests

sysfs: Add block and char subdirectories under /sys/dev
  pkg/sentry/fsimpl/sys/sys.go
  pkg/sentry/fsimpl/sys/sys_integration_test.go
Labels: area: filesystem, area: tests

proc: Add pos and mnt_id fields to /proc/[pid]/fdinfo/[fd]
  pkg/sentry/fsimpl/proc/task_fds.go
  pkg/sentry/fsimpl/proc/tasks_test.go
Labels: area: filesystem, area: tests

Nftables: Remove the overheads from register ops.
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/nftables/nftinterp.go
  pkg/tcpip/nftables/nftinterp_test.go
Labels: area: networking, area: tests

check buildkite-container
  .buildkite/hooks/post-command
  runsc/container/container_test.go
Labels: area: tests

get logs
  .buildkite/hooks/post-command
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: networking, area: tests

Internal Code Change
  examples/seccheck/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/poll.cc
Labels: area: bazel, area: tests

nftables: Fixed bugs.
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: networking, area: tests

tmpfs: Update mtime/ctime on open(O_TRUNC) for zero-length files
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/open.cc
Labels: area: bazel, area: filesystem, area: tests

Deflake TestRootfsEROFS.
  runsc/cmd/gofer.go
  runsc/container/container_test.go
Labels: area: tests

nftables: Fix evaluation order for IP/IP6/Inet.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
Labels: area: bazel, area: networking, area: tests

Exclude test-dns-any.js from Node.js 22.2.0 tests.
  test/runtimes/exclude/nodejs22.2.0.csv
Labels: area: tests

runsc: Fix SetUserMappings to handle empty UID/GID mappings in spec.
  runsc/sandbox/sandbox.go
Labels: none

sentry,runsc: eliminate remaining math/rand usage across codebase
  pkg/lisafs/sample_message.go
  pkg/sentry/kernel/syslog.go
  runsc/cmd/do.go
  runsc/metricserver/metricserver.go
Labels: area: kernel

fixup: correct import ordering for gvisor.dev/gvisor/pkg/rand
  pkg/sentry/inet/abstract_socket_namespace.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/socket/netlink/port/port.go
Labels: area: networking

address review: revert non-security-sensitive changes, fix modulo cast order
  pkg/sentry/kernel/syslog.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  runsc/cmd/do.go
  runsc/metricserver/metricserver.go
Labels: area: kernel

sentry: use cryptographic PRNG for security-sensitive randomization
  pkg/sentry/inet/abstract_socket_namespace.go
  pkg/sentry/mm/syscalls.go
  pkg/sentry/platform/systrap/stub_unsafe.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
  pkg/sentry/socket/netlink/port/port.go
Labels: arch: x86_64, area: networking, area: mm

address review: revert non-security-sensitive changes, fix modulo cast order
  pkg/lisafs/sample_message.go
  pkg/sentry/platform/systrap/usertrap/usertrap_amd64.go
Labels: arch: x86_64

Fix: Next-Hop MTU in ICMPv4 "Fragmentation Needed" Packets
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
Labels: area: networking

feat(netfilter): add raw table and no-op CT target
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/ct_target.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  test/syscalls/linux/iptables.cc
Labels: area: bazel, area: networking, area: tests

feat(shim): implement containerd Task.Update for cgroup resize
  pkg/shim/v1/proc/BUILD
  pkg/shim/v1/proc/init.go
  pkg/shim/v1/proc/update_test.go
  pkg/shim/v1/runsc/container.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
  pkg/shim/v1/runsccmd/BUILD
  pkg/shim/v1/runsccmd/runsc.go
  pkg/shim/v1/runsccmd/runsc_test.go
  pkg/test/criutil/criutil.go
  test/root/crictl_test.go
Labels: area: bazel, area: tests

Add systemd image for testing.
  images/systemd/Dockerfile
  images/systemd/README.md
Labels: area: docs

Deflake TestMemLimit.
  test/e2e/integration_test.go
Labels: area: tests

Internal change.
  test/kubernetes/benchmarks/abslbuild.go
  test/kubernetes/benchmarks/grpc.go
  test/kubernetes/testcluster/objects.go
Labels: area: tests

Internal change.
  test/kubernetes/benchmarks/abslbuild.go
  test/kubernetes/benchmarks/grpc.go
  test/kubernetes/testcluster/objects.go
Labels: area: tests

runsc: support unprivileged user namespace mappings using SysProcAttr
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

vfs: clear temporary notReady lists
  pkg/sentry/vfs/epoll.go
  pkg/sentry/vfs/save_restore.go
Labels: area: filesystem

Add Kata runtime type to `testcluster`.
  test/kubernetes/benchmarks/abslbuild.go
  test/kubernetes/benchmarks/grpc.go
  test/kubernetes/testcluster/objects.go
Labels: area: tests

fix: set next-hop MTU in ICMPv4 Fragmentation Needed message
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
Labels: area: networking

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
