Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add a github workflow that marks issues and PRs as stale.
  .github/workflows/stale.yml
Labels: none

Add a github workflow that marks issues and PRs as stale.
  .github/workflows/stale.yml
Labels: none

Split the ring implementation into its own package.
  pkg/ilist/BUILD
  pkg/ilist/list.go
  pkg/ilist/list_test.go
  pkg/ilist/ring.go
  pkg/ilist/ring_test.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/propagation.go
Labels: area: bazel, area: filesystem, area: tests

Split the ring implementation into its own package.
  pkg/ilist/BUILD
  pkg/ilist/list.go
  pkg/ilist/list_test.go
  pkg/ilist/ring.go
  pkg/ilist/ring_test.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/propagation.go
Labels: area: bazel, area: filesystem, area: tests

Have lgetxattr return ENODATA.
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/permissions.go
  test/syscalls/linux/xattr.cc
Labels: area: filesystem, area: tests

Have lgetxattr return ENODATA.
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/vfs/permissions.go
  test/syscalls/linux/xattr.cc
Labels: area: filesystem, area: tests

Add more justification about why shared mount propagation is not allowed.
  runsc/specutils/fs.go
Labels: none

Add more justification about why shared mount propagation is not allowed.
  runsc/specutils/fs.go
Labels: none

Automated rollback of changelist 536743330
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket_dgram.cc
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: bazel, area: tests

Automated rollback of changelist 536743330
  test/syscalls/linux/BUILD
  test/syscalls/linux/packet_socket_dgram.cc
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: bazel, area: tests

Abstract mount tree cloning into its own mount method.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

Abstract mount tree cloning into its own mount method.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

Let devices cgroup add/remove rules via devices.allow and devices.deny.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

Let devices cgroup add/remove rules via devices.allow and devices.deny.
  pkg/sentry/fsimpl/cgroupfs/devices.go
  test/syscalls/linux/cgroup.cc
Labels: area: filesystem, area: tests

update golang.org/x/net v0.5.0 to 0.7.0
  go.mod
  go.sum
Labels: dependencies

Fix github workflow test.
  .github/workflows/stale.yml
Labels: none

Fix github workflow test.
  .github/workflows/stale.yml
Labels: none

Fix cwd/root update method during namespace cloning.
  pkg/sentry/vfs/namespace.go
Labels: area: filesystem

Fix cwd/root update method during namespace cloning.
  pkg/sentry/vfs/namespace.go
Labels: area: filesystem

Adding Rootfs.FsStats info to runsc events
  runsc/boot/events.go
  runsc/boot/loader.go
Labels: none

`nvproxy`: Add flag to bypass Nvidia driver version check.
  pkg/sentry/devices/nvproxy/nvproxy.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/BUILD
  runsc/container/container.go
Labels: area: bazel

Fix debug builds.
  g3doc/user_guide/debugging.md
  runsc/boot/platforms/BUILD
  runsc/boot/platforms/platforms_debug.go
  test/runner/main.go
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: docs, area: tests, area: tooling

Fix debug builds.
  g3doc/user_guide/debugging.md
  runsc/boot/platforms/BUILD
  runsc/boot/platforms/platforms_debug.go
  test/runner/main.go
  tools/bazeldefs/go.bzl
Labels: area: bazel, area: docs, area: tests, area: tooling

Use GPU buildkite agents appropriately.
  .buildkite/pipeline.yaml
Labels: none

Return user_mss if user_mss is set and socket is unconnected.
  pkg/tcpip/transport/tcp/endpoint.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Return user_mss if user_mss is set and socket is unconnected.
  pkg/tcpip/transport/tcp/endpoint.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Rollback 6ceceae9385c and 206e88db3653.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

Rollback c8d23ad2a4a2 and f36ba560903a.
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
Labels: area: filesystem

codeql experiment
  pkg/sentry/inet/context.go
Labels: none

Add initial CodeQL config for gVisor.
  .github/workflows/codeql.yml
Labels: none

Add initial CodeQL config for gVisor.
  .github/workflows/codeql.yml
Labels: none

Don't build tensorflow image on ARM.
  images/benchmarks/tensorflow/Dockerfile.x86_64
Labels: none

Don't build tensorflow image on ARM.
  images/benchmarks/tensorflow/Dockerfile.x86_64
Labels: none

perf: Remove call to nvidia-container-cli info
  runsc/container/container.go
Labels: none

perf: Remove call to nvidia-container-cli info
  runsc/container/container.go
Labels: none

Increase stale action ops per run.
  .github/workflows/stale.yml
Labels: none

Increase stale action ops per run.
  .github/workflows/stale.yml
Labels: none

cgroupfs: do not return errors from strconv.ParseInt() to write()
  pkg/sentry/fsimpl/cgroupfs/devices.go
Labels: area: filesystem

cgroupfs: do not return errors from strconv.ParseInt() to write()
  pkg/sentry/fsimpl/cgroupfs/devices.go
Labels: area: filesystem

feat: add test for msgqueue
  pkg/abi/linux/msgqueue_test.go
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
