Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Remove flock suppression
  nogo.yaml
Labels: none

Remove flock suppression
  nogo.yaml
Labels: none

perf/getpid: add a case when syscalls are executed via mov $XXX, %eax; syscall
  test/perf/linux/getpid_benchmark.cc
Labels: area: tests

perf/getpid: add a case when syscalls are executed via mov $XXX, %eax; syscall
  test/perf/linux/getpid_benchmark.cc
Labels: area: tests

Add internal staging tags to //runsc and //shim binaries.
  runsc/BUILD
  shim/BUILD
Labels: area: bazel

Add internal staging tags to //runsc and //shim binaries.
  runsc/BUILD
  shim/BUILD
Labels: area: bazel

Clarify platform errors.
  runsc/sandbox/sandbox.go
Labels: none

Clarify platform errors.
  runsc/sandbox/sandbox.go
Labels: none

Join all routers group when forwarding is enabled
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Join all routers group when forwarding is enabled
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Add Children in merkletree generate
  pkg/merkletree/merkletree.go
Labels: none

Add Children in merkletree generate
  pkg/merkletree/merkletree.go
Labels: none

Drop unused escapes information.
  tools/nogo/analyzers.go
  tools/nogo/check/main.go
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Drop unused escapes information.
  tools/nogo/analyzers.go
  tools/nogo/check/main.go
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Do not forward link-local packets
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv4_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/loopback_test.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

Do not forward link-local packets
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/header/ipv4_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/loopback_test.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

[op] Separate out nogo tests into another Makefile target.
  .buildkite/pipeline.yaml
  Makefile
Labels: none

Set parent after child is verified
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Set parent after child is verified
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Set root dentry and hash for verity before verify
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Set root dentry and hash for verity before verify
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Propagate SYN handling error
  pkg/tcpip/transport/tcp/accept.go
Labels: area: networking

Propagate SYN handling error
  pkg/tcpip/transport/tcp/accept.go
Labels: area: networking

Remove duplicate accept queue fullness check
  pkg/tcpip/transport/tcp/accept.go
Labels: area: networking

Remove duplicate accept queue fullness check
  pkg/tcpip/transport/tcp/accept.go
Labels: area: networking

Rename IsV6LinkLocalAddress to IsV6LinkLocalUnicastAddress
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/ipv6_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Rename IsV6LinkLocalAddress to IsV6LinkLocalUnicastAddress
  pkg/tcpip/header/ipv6.go
  pkg/tcpip/header/ipv6_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Move maxListenBacklog check to sentry
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  test/syscalls/linux/accept_bind.cc
Labels: area: networking, area: kernel, area: tests

Move maxListenBacklog check to sentry
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  test/syscalls/linux/accept_bind.cc
Labels: area: networking, area: kernel, area: tests

Return integrity failure only if enabled
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

Return integrity failure only if enabled
  pkg/sentry/fsimpl/verity/filesystem.go
Labels: area: filesystem

iptables: support postrouting hook and SNAT target
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/hook_string.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tcpip.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

iptables: support postrouting hook and SNAT target
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/hook_string.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tcpip.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
Labels: area: bazel, area: networking, area: tests

Add packetimpact tests for ICMPv4 Error message for fragment
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv4_fragment_icmp_error_test.go
  test/packetimpact/tests/ipv6_fragment_icmp_error_test.go
Labels: area: bazel, area: tests

Don't store accepted endpoints in a channel
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

Don't store accepted endpoints in a channel
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

Use the SecureRNG to generate listener nonces
  pkg/tcpip/hash/jenkins/jenkins.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Use the SecureRNG to generate listener nonces
  pkg/tcpip/hash/jenkins/jenkins.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Update and Rename README.md
  README.md
Labels: area: docs

Add /etc/containerd/runsc.toml to conffiles attribute.
  debian/BUILD
Labels: area: bazel

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
