Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix GKE tests
  test/kubernetes/benchmarks/BUILD
  test/kubernetes/benchmarks/openclaw.go
Labels: area: bazel, area: tests

Clean up and modernize gVisor trace tests.
  test/trace/config/config.go
  test/trace/trace_test.go
  test/trace/workload/BUILD
  test/trace/workload/workload.cc
Labels: area: bazel, area: tests

Nftables: Support NAT masquerade.
  images/nftables/Dockerfile
  pkg/abi/linux/nf_tables.go
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/nat.go
  pkg/tcpip/stack/packet_buffer.go
  test/nftables/nftables_test.go
  test/nftables/nftables_util.go
  test/nftables/nftables_validation.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: bazel, area: networking, area: tests

Nftables: Fix and enable syscall-native tests for runc.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_ct.go
  pkg/tcpip/nftables/nft_fib.go
  pkg/tcpip/nftables/nft_lookup.go
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_meta.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload.go
  pkg/tcpip/nftables/nftables_attrs.go
  pkg/tcpip/nftables/nftables_set.go
  pkg/tcpip/nftables/nftables_test.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
Labels: area: networking, area: tests

Fix deadlock in an error handling path
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking, area: tests

Add parallelism for BuildKite integration tests.
  .buildkite/pipeline.yaml
Labels: none

runsc/bwrap: Expand namespace and capability flags in bwrap personality
  runsc/cmd/alias/bwrap/bwrap.go
  runsc/cmd/alias/bwrap/bwrap_integration_test.go
  runsc/cmd/alias/bwrap/bwrap_test.go
  runsc/cmd/alias/bwrap/cli.go
Labels: area: tests

Support multi path filesystem checkpoint.
  g3doc/user_guide/fs_snapshot.md
  pkg/sentry/kernel/fscheckpoint.go
  runsc/boot/controller.go
  runsc/boot/fscheckpoint.go
  runsc/cmd/BUILD
  runsc/cmd/fscheckpoint.go
  runsc/container/BUILD
  runsc/container/multi_container_test.go
  runsc/sandbox/BUILD
  runsc/sandbox/sandbox.go
Labels: area: bazel, area: docs, area: kernel, area: tests

Implement custom TaskService (proto and ttrpc server) in task_server.
  pkg/shim/v1/task_server/BUILD
  pkg/shim/v1/task_server/server.go
  pkg/shim/v1/task_server/server_test.go
  pkg/shim/v1/task_server/task_server.proto
Labels: area: bazel, area: tests

Nftables: Support flushing ruleset.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_ct.go
  pkg/tcpip/nftables/nft_fib.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_last.go
  pkg/tcpip/nftables/nft_lookup.go
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  test/nftables/nftables_validation.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
Labels: area: networking, area: tests

Run docker in gVisor tests and other image tests on ARM64.
  .buildkite/pipeline.yaml
  test/image/image_test.go
Labels: area: tests

nvproxy: add NVIDIA driver 580.95.05 as unsupported
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Support dynamic filesystem mount and unmount via runsc.
  runsc/cli/maincli/maincli.go
  runsc/cmd/BUILD
  runsc/cmd/dynamic_gofer.go
  runsc/cmd/mount.go
  runsc/cmd/sandboxsetup/process.go
  runsc/cmd/umount.go
  runsc/cmd/umount_unsafe.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/fs.go
Labels: area: bazel, area: tests

document and benchmark prewarmed gvisor pool with dynamic mount.
  runsc/cli/maincli/maincli.go
  runsc/cmd/BUILD
  runsc/cmd/dynamic_gofer.go
  runsc/cmd/mount.go
  runsc/cmd/sandboxsetup/process.go
  runsc/cmd/umount.go
  runsc/cmd/umount_unsafe.go
  runsc/container/BUILD
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/container/dynamic_mount_bench_test.go
  runsc/dynamic_mount_experiment.md
  runsc/sandbox/sandbox.go
  runsc/specutils/fs.go
Labels: area: bazel, area: tests

Add best-effort sidecar download functionality in `runsc install`.
  runsc/cmd/BUILD
  runsc/cmd/install.go
  runsc/cmd/install_sidecars.go
  runsc/cmd/install_test.go
  runsc/gvisorbinaries/gvisorbinaries.go
Labels: area: bazel, area: tests

Support dynamic filesystem mount and unmount via runsc.
  runsc/cli/maincli/maincli.go
  runsc/cmd/BUILD
  runsc/cmd/dynamic_gofer.go
  runsc/cmd/mount.go
  runsc/cmd/sandboxsetup/process.go
  runsc/cmd/umount.go
  runsc/cmd/umount_unsafe.go
  runsc/container/container.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
  runsc/specutils/fs.go
Labels: area: bazel, area: tests

NFTables: Support `NFT_MSG_DELSETELEM` and `NFT_MSG_DESTROYSETELEM`.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_ct.go
  pkg/tcpip/nftables/nft_fib.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_last.go
  pkg/tcpip/nftables/nft_lookup.go
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_set.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  test/nftables/nftables_validation.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
  test/syscalls/linux/socket_netlink_netfilter_util.h
Labels: area: networking, area: tests

Emulate cgroup v1 freezer controller.
  pkg/sentry/fsimpl/cgroupfs/BUILD
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/fsimpl/cgroupfs/cgroupfs.go
  pkg/sentry/fsimpl/cgroupfs/freezer.go
  pkg/sentry/kernel/cgroup.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/task_stop.go
  runsc/container/trace_test.go
  test/syscalls/linux/cgroup.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

checklocks: don't flag inherited locks held at return of inline analyses
  tools/checklocks/analysis.go
  tools/checklocks/test/defer.go
Labels: area: tests, area: tooling

Internal change.
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
Labels: area: tests

Support interval sets in nftables
  pkg/tcpip/nftables/nftables_interval_test.go
  pkg/tcpip/nftables/nftables_set.go
  pkg/tcpip/nftables/nftables_types.go
Labels: area: networking, area: tests

Make gofer network namespace configurable
  g3doc/user_guide/filesystem.md
  runsc/config/config.go
  runsc/config/config_test.go
  runsc/config/flags.go
  runsc/container/container.go
Labels: area: docs, area: tests

Support timeout sets in nftables
  pkg/tcpip/nftables/nftables_set.go
  pkg/tcpip/nftables/nftables_timeout_test.go
Labels: area: networking, area: tests

Support meta mark load in nftables
  pkg/tcpip/nftables/nft_meta.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nftables_metamark_test.go
Labels: area: networking, area: tests

Support the redir (REDIRECT) expression in nftables
  pkg/abi/linux/nf_tables.go
  pkg/tcpip/nftables/nft_redir.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_redir_test.go
  pkg/tcpip/nftables/nftables_types.go
Labels: area: networking, area: tests

seccheck: Add execfn to ExecveInfo seccheck point
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/points/sentry.proto
  test/trace/trace_test.go
  test/trace/workload/workload.cc
Labels: area: kernel, area: tests

Update handler for NVB0CC_CTRL_CMD_EXEC_REG_OPS.
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Nftables: Changed function name to correctly reflect the purpose.
  pkg/sentry/socket/netlink/netfilter/protocol.go
  pkg/tcpip/nftables/nft_bitwise.go
  pkg/tcpip/nftables/nft_byteorder.go
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_ct.go
  pkg/tcpip/nftables/nft_fib.go
  pkg/tcpip/nftables/nft_immediate.go
  pkg/tcpip/nftables/nft_last.go
  pkg/tcpip/nftables/nft_lookup.go
  pkg/tcpip/nftables/nft_masq.go
  pkg/tcpip/nftables/nft_metaload.go
  pkg/tcpip/nftables/nft_metaset.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload_load.go
  pkg/tcpip/nftables/nft_payload_set.go
  pkg/tcpip/nftables/nft_ranged.go
  pkg/tcpip/nftables/nft_route.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_types.go
  test/nftables/nftables_validation.go
  test/syscalls/linux/socket_netlink_netfilter.cc
  test/syscalls/linux/socket_netlink_netfilter_util.cc
Labels: area: networking, area: tests

cgroup2: Support the nsdelegate mount option
  pkg/sentry/fsimpl/cgroup2fs/base_files.go
  pkg/sentry/fsimpl/cgroup2fs/cgroup.go
  pkg/sentry/fsimpl/cgroup2fs/controllers.go
  pkg/sentry/fsimpl/cgroup2fs/event.go
  pkg/sentry/fsimpl/cgroup2fs/filesystem.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/kernel/cgroup2.go
  pkg/sentry/kernel/task_start.go
  test/syscalls/linux/cgroup2.cc
Labels: area: filesystem, area: kernel, area: tests

seccheck: Add an LRU cache for execve binary SHA-256 and SHA-1 hashes.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/file_hash.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/BUILD
  pkg/sentry/seccheck/config.go
  pkg/sentry/seccheck/config_test.go
  pkg/sentry/seccheck/execve_hash_cache.go
  pkg/sentry/seccheck/execve_hash_cache_test.go
  pkg/sentry/seccheck/metadata.go
  pkg/sentry/seccheck/points/sentry.proto
  pkg/sentry/seccheck/seccheck.go
  test/trace/trace_test.go
Labels: area: bazel, area: kernel, area: tests

Fix deadlock in an error handling path
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking, area: tests

Add binary size and nlink to exec security check points.
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/points/sentry.proto
Labels: area: kernel

Internal change.
  runsc/sandbox/network.go
Labels: none

Enforce release matching in sidecar binaries.
  runsc/checkpointgofer/BUILD
  runsc/checkpointgofer/main.go
  runsc/cli/BUILD
  runsc/cli/cli.go
  runsc/cli/maincli/maincli.go
  runsc/cmd/install.go
  runsc/cmd/install_sidecars.go
  runsc/cmd/install_test.go
  runsc/cmd/metricserver/BUILD
  runsc/cmd/metricserver/metricserver_main.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/gvisorbinaries/BUILD
  runsc/gvisorbinaries/gvisorbinaries.go
Labels: area: bazel, area: tests

Add Landlock syscall tests
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/landlock.cc
Labels: area: bazel, area: tests

UDS: Transfer SCM_RIGHTS into enqueued messages.
  pkg/sentry/socket/control/control.go
  pkg/sentry/socket/unix/transport/BUILD
  pkg/sentry/socket/unix/transport/host.go
  pkg/sentry/socket/unix/transport/queue.go
  pkg/sentry/socket/unix/transport/queue_test.go
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: bazel, area: networking, area: tests

seccheck: add binary_in_memfd to ExecveInfo
  pkg/sentry/fsimpl/tmpfs/regular_file.go
  pkg/sentry/kernel/task_exec.go
  pkg/sentry/seccheck/points/sentry.proto
  test/trace/trace_test.go
  test/trace/workload/workload.cc
Labels: area: filesystem, area: kernel, area: tests

Update gVisor installation instructions for sidecar binaries.
  BUILD
  README.md
  debian/BUILD
  g3doc/user_guide/install.md
  tools/BUILD
  tools/bazel.mk
  tools/release.bzl
Labels: area: bazel, area: docs, area: tooling

landlock: define Landlock UAPI locally in test
  test/syscalls/linux/landlock.cc
Labels: area: tests

Add Landlock syscall tests.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/landlock.cc
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
