Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Deprecate --vfs2 flag and always enable by default
  runsc/boot/fs_test.go
  runsc/cli/main.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Deprecate --vfs2 flag and always enable by default
  runsc/boot/fs_test.go
  runsc/cli/main.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: area: tests

Add version handshake before communication is stablished
  examples/seccheck/server.cc
  pkg/sentry/seccheck/checkers/remote/BUILD
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/checkers/remote/test/BUILD
  pkg/sentry/seccheck/checkers/remote/test/server.go
  pkg/sentry/seccheck/checkers/remote/wire/BUILD
  pkg/sentry/seccheck/checkers/remote/wire/wire.go
  pkg/sentry/seccheck/checkers/remote/wire/wire_test.go
  pkg/sentry/seccheck/points/common.proto
Labels: area: bazel, area: tests

Add version handshake before communication is stablished
  examples/seccheck/server.cc
  pkg/sentry/seccheck/checkers/remote/BUILD
  pkg/sentry/seccheck/checkers/remote/remote.go
  pkg/sentry/seccheck/checkers/remote/remote_test.go
  pkg/sentry/seccheck/checkers/remote/test/BUILD
  pkg/sentry/seccheck/checkers/remote/test/server.go
  pkg/sentry/seccheck/checkers/remote/wire/BUILD
  pkg/sentry/seccheck/checkers/remote/wire/wire.go
  pkg/sentry/seccheck/checkers/remote/wire/wire_test.go
  pkg/sentry/seccheck/points/common.proto
Labels: area: bazel, area: tests

Track packets dropped by full device TX queue
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_stats.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/datagram_test.go
Labels: area: networking, area: tests

Track packets dropped by full device TX queue
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_stats.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/datagram_test.go
Labels: area: networking, area: tests

Fix regression in KVM due to metric in machine.Get().
  pkg/sentry/platform/kvm/machine.go
Labels: platform: kvm

Fix regression in KVM due to metric in machine.Get().
  pkg/sentry/platform/kvm/machine.go
Labels: platform: kvm

Add debug.SetTraceback for runsc-gofer
  runsc/cmd/gofer.go
Labels: none

Add debug.SetTraceback for runsc-gofer
  runsc/cmd/gofer.go
Labels: none

buildkite: require kvm for kvm_tests
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Labels: none

buildkite: don't run docker tests on COS
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Labels: none

buildkite: don't run docker tests on COS
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Labels: none

buildkite: require kvm for Benchmarks smoke test
  .buildkite/pipeline.yaml
Labels: none

buildkite: require kvm for Benchmarks smoke test
  .buildkite/pipeline.yaml
Labels: none

mm: use lockdep mutexes
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/procfs.go
  pkg/sentry/mm/syscalls.go
Labels: area: bazel, area: mm

mm: use lockdep mutexes
  pkg/sentry/mm/BUILD
  pkg/sentry/mm/aio_context.go
  pkg/sentry/mm/debug.go
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/mm.go
  pkg/sentry/mm/procfs.go
  pkg/sentry/mm/syscalls.go
Labels: area: bazel, area: mm

Constrain containerd 1.4 to cgroup v1.
  .buildkite/pipeline.yaml
Labels: none

buildkite: run "Release tests" on amd64
  .buildkite/pipeline.yaml
Labels: none

buildkite: run "Release tests" on amd64
  .buildkite/pipeline.yaml
Labels: none

Automated rollback of changelist 359350716
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
Labels: area: filesystem

Automated rollback of changelist 359350716
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
Labels: area: filesystem

Simplify codebase.
  pkg/cpuid/cpuid_test.go
  pkg/sentry/fs/lock/lock_test.go
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/kernel/cgroup.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/platform/platform.go
  pkg/sync/locking/lockdep.go
  pkg/tcpip/header/checksum_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/tests/integration/loopback_test.go
  pkg/trie/trie_test.go
  tools/checklinkname/known.go
  tools/nogo/check/check.go
  tools/nogo/config/config_test.go
Labels: area: filesystem, area: networking, area: kernel, area: tests, area: tooling

Simplify codebase.
  pkg/cpuid/cpuid_test.go
  pkg/sentry/fs/lock/lock_test.go
  pkg/sentry/fsimpl/cgroupfs/base.go
  pkg/sentry/kernel/cgroup.go
  pkg/sentry/kernel/task_cgroup.go
  pkg/sentry/platform/platform.go
  pkg/sync/locking/lockdep.go
  pkg/tcpip/header/checksum_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/tests/integration/loopback_test.go
  pkg/trie/trie_test.go
  tools/checklinkname/known.go
  tools/nogo/check/check.go
  tools/nogo/config/config_test.go
Labels: area: filesystem, area: networking, area: kernel, area: tests, area: tooling

Use testutil.MustParse4/6 instead of net.ParseIP in tcpip test utils.
  pkg/tcpip/tests/utils/BUILD
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

Use testutil.MustParse4/6 instead of net.ParseIP in tcpip test utils.
  pkg/tcpip/tests/utils/BUILD
  pkg/tcpip/tests/utils/utils.go
Labels: area: bazel, area: networking, area: tests

Update containerd to v1.4.12
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Update containerd to v1.4.12
  WORKSPACE
  go.mod
  go.sum
Labels: dependencies

Fix typo in comment
  pkg/tcpip/network/internal/multicast/route_table.go
Labels: area: networking

Fix typo in comment
  pkg/tcpip/network/internal/multicast/route_table.go
Labels: area: networking

Don't clobber /etc/docker/config.json on debian updates.
  debian/postinst.sh
  runsc/cmd/BUILD
  runsc/cmd/install.go
  runsc/cmd/install_test.go
Labels: area: bazel, area: tests

Don't clobber /etc/docker/config.json on debian updates.
  debian/postinst.sh
  runsc/cmd/BUILD
  runsc/cmd/install.go
  runsc/cmd/install_test.go
Labels: area: bazel, area: tests

Add rsync to required packages.
  .buildkite/hooks/pre-command
Labels: none

Add rsync to required packages.
  .buildkite/hooks/pre-command
Labels: none

Add `all_benchmarks` fileset containing all benchmark binaries.
  test/perf/linux/BUILD
Labels: area: bazel, area: tests

Add `all_benchmarks` fileset containing all benchmark binaries.
  test/perf/linux/BUILD
Labels: area: bazel, area: tests

Port sentry control Cat method to VFS2.
  pkg/sentry/control/BUILD
  pkg/sentry/control/fs.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Port sentry control Cat method to VFS2.
  pkg/sentry/control/BUILD
  pkg/sentry/control/fs.go
  runsc/container/container_test.go
Labels: area: bazel, area: tests

Cache each thread group's TID within their own namespace.
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/processes.cc
Labels: area: bazel, area: kernel, area: tests

Cache each thread group's TID within their own namespace.
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/threads.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/processes.cc
Labels: area: bazel, area: kernel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
