Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Document how to handle build failures from go-marshal verbosity.
  tools/go_marshal/README.md
Labels: area: docs, area: tooling

Fix tcp_test listen backlog expectation
  pkg/tcpip/transport/tcp/tcp_test.go
Labels: area: networking, area: tests

Fix tcp_test listen backlog expectation
  pkg/tcpip/transport/tcp/tcp_test.go
Labels: area: networking, area: tests

[perf] Fix profiling in benchmarking jobs.
  pkg/test/dockerutil/profile.go
Labels: area: tests

[perf] Fix profiling in benchmarking jobs.
  pkg/test/dockerutil/profile.go
Labels: area: tests

Fix a race in reading last seen ICMP error during handshake
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_connect_icmp_error_test.go
Labels: area: bazel, area: networking, area: tests

Fix a race in reading last seen ICMP error during handshake
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/tcp_connect_icmp_error_test.go
Labels: area: bazel, area: networking, area: tests

Don't cleanup NDP state when enabling forwarding
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Don't cleanup NDP state when enabling forwarding
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Internal change
  tools/deps.bzl
  tools/go_marshal/BUILD
Labels: area: bazel, area: tooling

Internal change
  tools/deps.bzl
  tools/go_marshal/BUILD
Labels: area: bazel, area: tooling

Internal change
  BUILD
Labels: area: bazel

Send ICMP errors when the network is unreachable
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/internal/ip/BUILD
  pkg/tcpip/network/internal/ip/errors.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

Send ICMP errors when the network is unreachable
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/internal/ip/BUILD
  pkg/tcpip/network/internal/ip/errors.go
  pkg/tcpip/network/internal/ip/stats.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

Allow handling RAs when forwarding is enabled
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Allow handling RAs when forwarding is enabled
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Automated rollback of changelist 361661726
  test/perf/BUILD
  test/runner/gtest/gtest.go
  test/runner/runner.go
Labels: area: bazel, area: tests

Automated rollback of changelist 361661726
  test/perf/BUILD
  test/runner/gtest/gtest.go
  test/runner/runner.go
Labels: area: bazel, area: tests

Fixes to runsc cgroups
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/root/cgroup_test.go
Labels: area: tests

Fixes to runsc cgroups
  runsc/cgroup/cgroup.go
  runsc/cgroup/cgroup_test.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/root/cgroup_test.go
Labels: area: tests

internal import of Go cloud client libraries
  tools/bigquery/BUILD
Labels: area: bazel, area: tooling

internal import of Go cloud client libraries
  tools/bigquery/BUILD
Labels: area: bazel, area: tooling

kvm: add the switchToUser helper marked with go:nosplit
  pkg/ring0/kernel_amd64.go
  pkg/ring0/kernel_arm64.go
  pkg/sentry/platform/kvm/context.go
  pkg/sentry/platform/kvm/kvm_amd64_test.go
  pkg/sentry/platform/kvm/kvm_test.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, arch: x86_64, area: tests, platform: kvm

Solicit routers as long as RAs are handled
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Solicit routers as long as RAs are handled
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/ndp_test.go
Labels: area: networking, area: tests

Fix alignment issue with 64-bit atomics on 32 bit machines
  pkg/tcpip/BUILD
  pkg/tcpip/aligned.go
  pkg/tcpip/aligned_unsafe.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking

Fix alignment issue with 64-bit atomics on 32 bit machines
  pkg/tcpip/BUILD
  pkg/tcpip/aligned.go
  pkg/tcpip/aligned_unsafe.go
  pkg/tcpip/socketops.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking

Added more comments
  pkg/atomicbitops/aligned_32bit_unsafe.go
Labels: none

Moved to atomicbitops and renamed files
  pkg/atomicbitops/BUILD
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
  pkg/tcpip/BUILD
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking

Added comments
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
Labels: none

Moved to atomicbitops and renamed files
  pkg/atomicbitops/BUILD
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
  pkg/tcpip/BUILD
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking

Added more comments
  pkg/atomicbitops/aligned_32bit_unsafe.go
Labels: none

mark types as saveable
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
Labels: none

mark types as saveable
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
Labels: none

Added comments
  pkg/atomicbitops/aligned_32bit_unsafe.go
  pkg/atomicbitops/aligned_64bit.go
Labels: none

fix rebase error
  pkg/tcpip/tcpip.go
Labels: area: networking

fix rebase error
  pkg/tcpip/tcpip.go
Labels: area: networking

fix build constraints
  pkg/atomicbitops/aligned_64bit.go
  tools/bazeldefs/tags.bzl
Labels: area: bazel, area: tooling

fix build constraints
  pkg/atomicbitops/aligned_64bit.go
  tools/bazeldefs/tags.bzl
Labels: area: bazel, area: tooling

Implement /proc/cmdline
  pkg/sentry/fsimpl/proc/tasks.go
  pkg/sentry/fsimpl/proc/tasks_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests
