Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Replace `Task.ptraceTracer` with `atomic.Pointer`.
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

Replace `Task.ptraceTracer` with `atomic.Pointer`.
  pkg/sentry/kernel/ptrace.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
Labels: area: kernel

Don't XSAVE PKRU state.
  pkg/ring0/entry_amd64.s
  pkg/ring0/lib_amd64.go
  pkg/sentry/arch/fpu/fpu_amd64.s
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
Labels: arch: x86_64, area: kernel

Don't XSAVE PKRU state.
  pkg/ring0/entry_amd64.s
  pkg/ring0/lib_amd64.go
  pkg/sentry/arch/fpu/fpu_amd64.s
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_offsets.h
Labels: arch: x86_64, area: kernel

Add custom HTTP client for interacting with `ollama`.
  Makefile
  images/gpu/ollama/client/BUILD
  images/gpu/ollama/client/Dockerfile
  images/gpu/ollama/client/client.go
  test/gpu/ollama/ollama.go
Labels: area: bazel, area: tests

Add custom HTTP client for interacting with `ollama`.
  Makefile
  images/gpu/ollama/client/BUILD
  images/gpu/ollama/client/Dockerfile
  images/gpu/ollama/client/client.go
  test/gpu/ollama/ollama.go
Labels: area: bazel, area: tests

netstack: don't allocate in a hot path to get IP addresses
  pkg/tcpip/transport/tcp/segment.go
Labels: area: networking

Implement Getxattr for directfs and lisafs.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/syscalls/linux/sys_xattr.go
  runsc/boot/filter/config/config_main.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/filter/filter.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem, area: kernel

Implement Getxattr for directfs and lisafs.
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/syscalls/linux/sys_xattr.go
  runsc/boot/filter/config/config_main.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/filter/filter.go
  runsc/fsgofer/lisafs.go
Labels: area: filesystem, area: kernel

`ollama` library: Use streaming mode when prompting.
  test/gpu/ollama/BUILD
  test/gpu/ollama/ollama.go
Labels: area: bazel, area: tests

`ollama` library: Use streaming mode when prompting.
  test/gpu/ollama/BUILD
  test/gpu/ollama/ollama.go
Labels: area: bazel, area: tests

Convert atomic.Value usages
  pkg/log/log.go
  pkg/sentry/kernel/seccomp.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sync/seqatomic/seqatomic_test.go
  pkg/sync/seqcount.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: kernel, area: tests

Fix counting in compressio.Writer.Write().
  pkg/compressio/compressio.go
Labels: none

Fix counting in compressio.Writer.Write().
  pkg/compressio/compressio.go
Labels: none

`ollama` library: Add more metrics.
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

`ollama` library: Add more metrics.
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

Deflake cpuacct cgroup test.
  test/syscalls/linux/cgroup.cc
  test/util/cgroup_util.cc
Labels: area: tests

Deflake cpuacct cgroup test.
  test/syscalls/linux/cgroup.cc
  test/util/cgroup_util.cc
Labels: area: tests

Add list of users to the gvisor website.
  website/BUILD
  website/_includes/header-links.html
  website/_sass/style.scss
  website/assets/logos/logo_goog.png
  website/users/BUILD
  website/users/index.html
Labels: area: bazel

Add list of users to the gvisor website.
  website/BUILD
  website/_includes/header-links.html
  website/_sass/style.scss
  website/assets/logos/logo_goog.png
  website/users/BUILD
  website/users/index.html
Labels: area: bazel

Update go_github from v52 to v56
  WORKSPACE
  go.mod
  go.sum
  tools/github/BUILD
  tools/github/reviver/BUILD
Labels: area: bazel, area: tooling, dependencies

Update go_github from v52 to v56
  WORKSPACE
  go.mod
  go.sum
  tools/github/BUILD
  tools/github/reviver/BUILD
Labels: area: bazel, area: tooling, dependencies

Update ollama to version 0.1.26.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/bench/Dockerfile
  test/gpu/ollama/ollama.go
Labels: area: tests

Update ollama to version 0.1.26.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/bench/Dockerfile
  test/gpu/ollama/ollama.go
Labels: area: tests

Ignore `gpu/ollama/bench` image in BuildKite pipeline.
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  images/README.md
  tools/images.mk
Labels: area: docs, area: tooling

Ignore `gpu/ollama/bench` image in BuildKite pipeline.
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  images/README.md
  tools/images.mk
Labels: area: docs, area: tooling

Refactor `ollama` to distinguish loading models and prompting as separate.
  images/gpu/ollama/bench/Dockerfile
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

Refactor `ollama` to distinguish loading models and prompting as separate.
  images/gpu/ollama/bench/Dockerfile
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: tests

`ollama` test: Add image processing capability test.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/bench/Dockerfile
  test/gpu/BUILD
  test/gpu/gvisor.png
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: bazel, area: tests

`ollama` test: Add image processing capability test.
  images/gpu/ollama/Dockerfile
  images/gpu/ollama/bench/Dockerfile
  test/gpu/BUILD
  test/gpu/gvisor.png
  test/gpu/ollama/ollama.go
  test/gpu/textgen_test.go
Labels: area: bazel, area: tests

Internal change.
  test/util/fs_util.h
Labels: area: tests

Internal change.
  test/util/fs_util.h
Labels: area: tests

Add VFIO device for VFIO container.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/device.go
  pkg/sentry/devices/tpuproxy/vfio.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/specutils/BUILD
  runsc/specutils/specutils.go
Labels: area: bazel

Add VFIO device for VFIO container.
  pkg/sentry/devices/tpuproxy/BUILD
  pkg/sentry/devices/tpuproxy/device.go
  pkg/sentry/devices/tpuproxy/vfio.go
  runsc/boot/vfs.go
  runsc/cmd/BUILD
  runsc/cmd/gofer.go
  runsc/specutils/BUILD
  runsc/specutils/specutils.go
Labels: area: bazel

Improve TCPFinWait2Test syscall test
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_inet_loopback_isolated.cc
Labels: area: bazel, area: tests

Improve TCPFinWait2Test syscall test
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_inet_loopback_isolated.cc
Labels: area: bazel, area: tests

Convert atomic.Value to atomic.Pointer[T]
  pkg/log/log.go
  pkg/sentry/kernel/rseq.go
  pkg/sentry/kernel/seccomp.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_log.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sync/seqatomic/seqatomic_test.go
Labels: area: kernel, area: tests

Convert atomic.Value to atomic.Pointer[T]
  pkg/log/log.go
  pkg/sentry/kernel/rseq.go
  pkg/sentry/kernel/seccomp.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_log.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sync/seqatomic/seqatomic_test.go
Labels: area: kernel, area: tests

kernel/pipe: trigger EPOLLERR on a write end if all readers has been closed
  pkg/sentry/kernel/pipe/vfs.go
  test/syscalls/linux/epoll.cc
Labels: area: kernel, area: tests

kernel/pipe: trigger EPOLLERR on a write end if all readers has been closed
  pkg/sentry/kernel/pipe/vfs.go
  test/syscalls/linux/epoll.cc
Labels: area: kernel, area: tests
