Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Allow binding to multicast
  pkg/tcpip/stack/stack.go
  test/syscalls/linux/socket_ip_udp_generic.cc
Labels: area: networking, area: tests

Report correct pointer value for "bad next header" ICMP error
  pkg/tcpip/header/ipv6_extension_headers.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  test/packetimpact/runner/defs.bzl
Labels: area: bazel, area: networking, area: tests

Report correct pointer value for "bad next header" ICMP error
  pkg/tcpip/header/ipv6_extension_headers.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  test/packetimpact/runner/defs.bzl
Labels: area: bazel, area: networking, area: tests

Correctly lock when removing neighbor entries
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
Labels: area: networking, area: tests

Correctly lock when removing neighbor entries
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
Labels: area: networking, area: tests

Invoke address resolution upon subsequent traffic to Failed neighbor
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

arm64 test: add exceptions related test cases
  test/syscalls/linux/BUILD
  test/syscalls/linux/exceptions.cc
Labels: area: bazel, area: tests

arm64 test: add exceptions related test cases
  test/syscalls/linux/BUILD
  test/syscalls/linux/exceptions.cc
Labels: area: bazel, area: tests

arm64 kvm: add more handling of el0_exceptions
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, platform: kvm

arm64 kvm: add more handling of el0_exceptions
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, platform: kvm

[2/3] Support isolated containers for parallel packetimpact tests
  test/packetimpact/runner/BUILD
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/dut.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/udp_recv_mcast_bcast_test.go
Labels: area: bazel, area: tests

[2/3] Support isolated containers for parallel packetimpact tests
  test/packetimpact/runner/BUILD
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/dut.go
  test/packetimpact/testbench/BUILD
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/udp_recv_mcast_bcast_test.go
Labels: area: bazel, area: tests

[3/3] Support isolated containers for parallel packetimpact tests
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/dut.go
  test/packetimpact/tests/ipv6_fragment_icmp_error_test.go
Labels: area: bazel, area: tests

[3/3] Support isolated containers for parallel packetimpact tests
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/dut.go
  test/packetimpact/tests/ipv6_fragment_icmp_error_test.go
Labels: area: bazel, area: tests

Make stack.Route safe to access concurrently
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Make stack.Route safe to access concurrently
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/qdisc/fifo/endpoint.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Support listener-side MLDv1
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/icmpv6.go
  pkg/tcpip/header/mld.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tcpip.go
  test/packetimpact/testbench/layers.go
Labels: area: bazel, area: networking, area: tests

Support listener-side MLDv1
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/icmpv6.go
  pkg/tcpip/header/mld.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/igmp_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/mld_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/tcpip.go
  test/packetimpact/testbench/layers.go
Labels: area: bazel, area: networking, area: tests

[netstack] Add SOL_IP and SOL_IPV6 options to SocketOptions.
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

[netstack] Add SOL_IP and SOL_IPV6 options to SocketOptions.
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

[netstack] Add SOL_TCP options to SocketOptions.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

[netstack] Add SOL_TCP options to SocketOptions.
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/transport/unix.go
  pkg/tcpip/socketops.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

[1/4] Key endpoints to their respective nicID
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

[2/4] Track network endpoints in the ipv4 protocol
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Don't add a temporary address to send DAD/RS packets
  pkg/tcpip/network/ipv6/ndp.go
Labels: area: networking

Don't add a temporary address to send DAD/RS packets
  pkg/tcpip/network/ipv6/ndp.go
Labels: area: networking

DO NOT SUBMIT
  test/packetimpact/runner/dut.go
Labels: area: tests

Ensure containerd is used from installed location.
  pkg/test/criutil/criutil.go
  tools/installers/containerd.sh
Labels: area: tests, area: tooling

Ensure containerd is used from installed location.
  pkg/test/criutil/criutil.go
  tools/installers/containerd.sh
Labels: area: tests, area: tooling

Perform IGMP/MLD when the NIC is enabled/disabled
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state_test.go
Labels: area: networking, area: tests

Perform IGMP/MLD when the NIC is enabled/disabled
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/multicast_group_test.go
  pkg/tcpip/stack/addressable_endpoint_state.go
  pkg/tcpip/stack/addressable_endpoint_state_test.go
Labels: area: networking, area: tests

Do not os.Exit() from test/benchmarks/harness.Harness.Init with no args.
  test/benchmarks/harness/harness.go
Labels: area: tests

Do not os.Exit() from test/benchmarks/harness.Harness.Init with no args.
  test/benchmarks/harness/harness.go
Labels: area: tests

Internal change.
  pkg/crypto/BUILD
  pkg/crypto/crypto.go
Labels: area: bazel

Add more fragment reassembly tests
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Add more fragment reassembly tests
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Change stack/route.Stats() to return pointer to stats.
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

Fix deadlock in UDP handleControlPacket path.
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

Fix deadlock in UDP handleControlPacket path.
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
  test/syscalls/linux/udp_socket.cc
Labels: area: networking, area: tests

Do not start a ContainerExec twice
  pkg/test/dockerutil/exec.go
Labels: area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
