Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Clean-up netstack metrics descriptions
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Clean-up netstack metrics descriptions
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

Add aggregated NIC stats
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_stats.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tcpip_test.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Add aggregated NIC stats
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/nic_stats.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tcpip_test.go
  pkg/tcpip/transport/tcp/dispatcher.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: bazel, area: networking, area: tests

Enable parallelization for generic socket PacketImpact test
  pkg/tcpip/socketops.go
  pkg/tcpip/transport/icmp/BUILD
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/icmp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  test/packetimpact/runner/defs.bzl
  test/packetimpact/testbench/connections.go
  test/packetimpact/testbench/layers.go
  test/packetimpact/testbench/layers_test.go
  test/packetimpact/testbench/rawsockets.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/generic_dgram_socket_send_recv_test.go
  test/packetimpact/tests/icmpv6_param_problem_test.go
  test/packetimpact/tests/udp_send_recv_dgram_test.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/ping_socket.cc
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/socket_test_util.h
Labels: area: bazel, area: networking, area: tests

Prevent infinite loops from being optimized away.
  test/syscalls/linux/BUILD
  test/syscalls/linux/concurrency.cc
Labels: area: bazel, area: tests

Prevent infinite loops from being optimized away.
  test/syscalls/linux/BUILD
  test/syscalls/linux/concurrency.cc
Labels: area: bazel, area: tests

Make many tests build with NDK.
  test/syscalls/linux/BUILD
  test/syscalls/linux/epoll.cc
  test/syscalls/linux/exec_state_workload.cc
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/lseek.cc
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/read.cc
  test/syscalls/linux/socket_bind_to_device_util.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
Labels: area: bazel, area: tests

Make many tests build with NDK.
  test/syscalls/linux/BUILD
  test/syscalls/linux/epoll.cc
  test/syscalls/linux/exec_state_workload.cc
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/lseek.cc
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/read.cc
  test/syscalls/linux/socket_bind_to_device_util.cc
  test/syscalls/linux/socket_ipv6_udp_unbound_external_networking.cc
Labels: area: bazel, area: tests

Remove detritus
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ndp_options.go
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/timer_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

Remove detritus
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ndp_options.go
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/timer_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/dual_stack_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
Labels: area: networking, area: tests

arm64 kvm:use TLBI with "Inner Shareable" instead of IPI operation
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/kvm/address_space_amd64.go
  pkg/sentry/platform/kvm/address_space_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

arm64 kvm:use TLBI with "Inner Shareable" instead of IPI operation
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/address_space.go
  pkg/sentry/platform/kvm/address_space_amd64.go
  pkg/sentry/platform/kvm/address_space_arm64.go
Labels: arch: arm, arch: x86_64, area: bazel, platform: kvm

Remove unused pkg/tcpip/time.s dummy assembly file
  pkg/tcpip/time.s
Labels: area: networking

Remove unused pkg/tcpip/time.s dummy assembly file
  pkg/tcpip/time.s
Labels: area: networking

Handle errors
  pkg/tcpip/network/internal/fragmentation/fragmentation_test.go
Labels: area: networking, area: tests

Handle errors
  pkg/tcpip/network/internal/fragmentation/fragmentation_test.go
Labels: area: networking, area: tests

Fix misspellings.
  pkg/sentry/kernel/semaphore/semaphore.go
Labels: area: kernel

Fix misspellings.
  pkg/sentry/kernel/semaphore/semaphore.go
Labels: area: kernel

Standardize import alias
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Standardize import alias
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Move RunImmediatelyScheduledJobs to faketime
  pkg/tcpip/faketime/faketime.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

Move RunImmediatelyScheduledJobs to faketime
  pkg/tcpip/faketime/faketime.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection_test.go
  pkg/tcpip/network/internal/testutil/BUILD
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

Add ICMPv6.Pointer for Parameter Problem messages
  test/packetimpact/testbench/layers.go
  test/packetimpact/testbench/layers_test.go
  test/packetimpact/tests/icmpv6_param_problem_test.go
  test/packetimpact/tests/ipv6_unknown_options_action_test.go
  test/packetimpact/tests/tcp_connect_icmp_error_test.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
Labels: area: tests

Use embedded mutex pattern
  pkg/tcpip/stack/nud.go
Labels: area: networking

Use embedded mutex pattern
  pkg/tcpip/stack/nud.go
Labels: area: networking

Expect POLLRDHUP on Fuchsia
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Expect POLLRDHUP on Fuchsia
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Use the stack RNG
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/nud_test.go
Labels: area: networking, area: tests

Use the stack RNG
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/nud.go
  pkg/tcpip/stack/nud_test.go
Labels: area: networking, area: tests

Use opaque types to represent time
  pkg/sentry/kernel/kernel.go
  pkg/tcpip/faketime/faketime.go
  pkg/tcpip/faketime/faketime_test.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/internal/fragmentation/fragmentation.go
  pkg/tcpip/network/internal/fragmentation/reassembler.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stdclock.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/timer_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/endpoint_state.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
Labels: area: networking, area: kernel, area: tests

Use opaque types to represent time
  pkg/sentry/kernel/kernel.go
  pkg/tcpip/faketime/faketime.go
  pkg/tcpip/faketime/faketime_test.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/internal/fragmentation/fragmentation.go
  pkg/tcpip/network/internal/fragmentation/reassembler.go
  pkg/tcpip/network/internal/ip/generic_multicast_protocol.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
  pkg/tcpip/stack/nud_test.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stdclock.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/timer_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/icmp/endpoint_state.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/packet/endpoint_state.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/raw/endpoint_state.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/endpoint_state.go
Labels: area: networking, area: kernel, area: tests

setgid directories for VFS1 tmpfs, overlayfs, and goferfs
  pkg/sentry/fs/attr.go
  pkg/sentry/fs/dev/dev.go
  pkg/sentry/fs/fsutil/host_mappable.go
  pkg/sentry/fs/fsutil/inode_cached.go
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fs/gofer/inode.go
  pkg/sentry/fs/gofer/path.go
  pkg/sentry/fs/tmpfs/fs.go
  pkg/sentry/fs/tmpfs/inode_file.go
  pkg/sentry/fs/tmpfs/tmpfs.go
  pkg/sentry/fs/user/user_test.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/setgid.cc
Labels: area: filesystem, area: kernel, area: tests

setgid directories for VFS1 tmpfs, overlayfs, and goferfs
  pkg/sentry/fs/attr.go
  pkg/sentry/fs/dev/dev.go
  pkg/sentry/fs/fsutil/host_mappable.go
  pkg/sentry/fs/fsutil/inode_cached.go
  pkg/sentry/fs/gofer/file.go
  pkg/sentry/fs/gofer/inode.go
  pkg/sentry/fs/gofer/path.go
  pkg/sentry/fs/tmpfs/fs.go
  pkg/sentry/fs/tmpfs/inode_file.go
  pkg/sentry/fs/tmpfs/tmpfs.go
  pkg/sentry/fs/user/user_test.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/syscalls/linux/sys_file.go
  test/syscalls/linux/setgid.cc
Labels: area: filesystem, area: kernel, area: tests

Enable verity after mount in verity_mount test
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_mount.cc
Labels: area: bazel, area: tests

Enable verity after mount in verity_mount test
  test/syscalls/linux/BUILD
  test/syscalls/linux/verity_mount.cc
Labels: area: bazel, area: tests

Use specific fmt verbs (avoid %v)
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Use specific fmt verbs (avoid %v)
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Initialize Kernel.Timekeeper before network NS
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel

Initialize Kernel.Timekeeper before network NS
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel
