Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Tune TCP syscall test
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Add `wrk2` Docker image for benchmarks.
  images/benchmarks/wrk2/Dockerfile.x86_64
Labels: none

Add `wrk2` Docker image for benchmarks.
  images/benchmarks/wrk2/Dockerfile.x86_64
Labels: none

test: see which s/r tests are broken
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

hostinet: Disallow writes to AF_PACKET sockets.
  pkg/sentry/socket/hostinet/socket.go
Labels: area: hostinet, area: networking

hostinet: Disallow writes to AF_PACKET sockets.
  pkg/sentry/socket/hostinet/socket.go
Labels: area: hostinet, area: networking

netstack: don't limit buffer size during S/R
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

netstack: don't limit buffer size during S/R
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

save/restore: don't check for empty waiter.Queue
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

save/restore: don't check for empty waiter.Queue
  pkg/tcpip/transport/tcp/endpoint_state.go
Labels: area: networking

Remove soft fail flag for port-forward tests.
  .buildkite/pipeline.yaml
Labels: none

Remove soft fail flag for port-forward tests.
  .buildkite/pipeline.yaml
Labels: none

testing: move test to other tests of same fixture
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

testing: move test to other tests of same fixture
  test/syscalls/linux/tcp_socket.cc
Labels: area: tests

Benchmarks: Make `wrk2` image cross-platform.
  images/benchmarks/wrk2/Dockerfile
Labels: none

systrap: decrease priority of stub threads
  pkg/sentry/platform/systrap/filters.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/systrap.go
Labels: none

systrap: decrease priority of stub threads
  pkg/sentry/platform/systrap/filters.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/systrap.go
Labels: none

systrap: poll all contexts from one goroutine
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
Labels: area: bazel

systrap: poll all contexts from one goroutine
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
Labels: area: bazel

systrap: limit a number of stub thread by a number of awake contexts
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: none

systrap: limit a number of stub thread by a number of awake contexts
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: none

Refactor mount annotations code base.
  pkg/shim/utils/volumes.go
  runsc/boot/loader.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
Labels: area: tests

Refactor mount annotations code base.
  pkg/shim/utils/volumes.go
  runsc/boot/loader.go
  runsc/boot/mount_hints.go
  runsc/boot/mount_hints_test.go
  runsc/boot/vfs.go
  runsc/boot/vfs_test.go
Labels: area: tests

systrap: disable the fast path in stub threads when it isn't effective
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: area: bazel

systrap: disable the fast path in stub threads when it isn't effective
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: area: bazel

systrap: disable the fast path in stub threads when it isn't effective
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/systrap.go
Labels: area: bazel

Fix overlay filestore ordering while assigning to VFS overlay mounts.
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
  runsc/specutils/fs.go
Labels: area: bazel, area: tests

Fix overlay filestore ordering while assigning to VFS overlay mounts.
  runsc/boot/BUILD
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/overlay.go
  runsc/boot/overlay_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
  runsc/specutils/fs.go
Labels: area: bazel, area: tests

Avoid duplicate --attached flag when re-exec-ing boot process.
  runsc/cmd/boot.go
Labels: none

Avoid duplicate --attached flag when re-exec-ing boot process.
  runsc/cmd/boot.go
Labels: none

Nvidia driver proxy proposal
  g3doc/proposals/nvidia_driver_proxy.md
Labels: area: docs

Nvidia driver proxy proposal
  g3doc/proposals/nvidia_driver_proxy.md
Labels: area: docs

Add a test for double RX on socket with ETH_P_ALL
  test/syscalls/linux/packet_socket.cc
Labels: area: tests

Add a test for double RX on socket with ETH_P_ALL
  test/syscalls/linux/packet_socket.cc
Labels: area: tests

Automated rollback of changelist 528888908
  .buildkite/pipeline.yaml
Labels: none

Automated rollback of changelist 528888908
  .buildkite/pipeline.yaml
Labels: none

Add a test for sending a short frame
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: tests

Use tcpip.NICID when get/set-ing GRO timeout
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/stack/stack.go
Labels: area: networking

Use tcpip.NICID when get/set-ing GRO timeout
  pkg/sentry/socket/netstack/stack.go
  pkg/tcpip/stack/stack.go
Labels: area: networking

systrap: queue_get_context has to detect cases when a ring buffer is recycled
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
