Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Systrap is now the default gVisor platform. Update platform documentation.
  g3doc/architecture_guide/platforms.md
  g3doc/user_guide/platforms.md
Labels: area: docs

Systrap is now the default gVisor platform. Update platform documentation.
  g3doc/architecture_guide/platforms.md
  g3doc/user_guide/platforms.md
Labels: area: docs

Systrap is now the default gVisor platform. Update platform documentation.
  g3doc/architecture_guide/platforms.md
  g3doc/user_guide/platforms.md
Labels: area: docs

Use write(2) host syscall to perform writes on disk-backed MemoryFiles.
  pkg/sentry/fsimpl/tmpfs/BUILD
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: bazel, area: filesystem

Use write(2) host syscall to perform writes on disk-backed MemoryFiles.
  pkg/sentry/fsimpl/tmpfs/BUILD
  pkg/sentry/fsimpl/tmpfs/regular_file.go
Labels: area: bazel, area: filesystem

Update bazel packages
  WORKSPACE
Labels: dependencies

netstack: remove finished TODO
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: tests

netstack: remove finished TODO
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: tests

netstack: remove finished TODO
  test/packetimpact/tests/tcp_syncookie_test.go
Labels: area: tests

Enforce --host-fifo flag in directfs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
Labels: area: filesystem

Enforce --host-fifo flag in directfs.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
Labels: area: filesystem

Implement PR_{S,G}ET_CHILD_SUBREAPER.
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  pkg/sentry/syscalls/linux/sys_signal.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/cmd/test_app/zombies.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/prctl.cc
  test/util/test_util_runfiles.cc
Labels: area: bazel, area: kernel, area: tests

Implement PR_{S,G}ET_CHILD_SUBREAPER.
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  pkg/sentry/syscalls/linux/sys_signal.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/cmd/test_app/zombies.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/prctl.cc
  test/util/test_util_runfiles.cc
Labels: area: bazel, area: kernel, area: tests

Implement PR_{S,G}ET_CHILD_SUBREAPER.
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
  pkg/sentry/kernel/threads.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  pkg/sentry/syscalls/linux/sys_signal.go
  test/cmd/test_app/BUILD
  test/cmd/test_app/main.go
  test/cmd/test_app/zombies.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/prctl.cc
  test/util/test_util_runfiles.cc
Labels: area: bazel, area: kernel, area: tests

Impose default tmpfs size limits correctly.
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/sandbox/sandbox.go
Labels: area: filesystem, area: kernel

Impose default tmpfs size limits correctly.
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/sandbox/sandbox.go
Labels: area: filesystem, area: kernel

Impose default tmpfs size limits correctly.
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/sandbox/sandbox.go
Labels: area: filesystem, area: kernel

Deflake tcp test TestMaxRTO
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

Deflake tcp test TestMaxRTO
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

Deflake tcp test TestMaxRTO
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

pkg/tcpip/transport/tcp: add statistics for dropped connections
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/forwarder_test.go
Labels: area: bazel, area: networking, area: tests

pkg/tcpip/transport/tcp: add statistics for dropped connections
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/forwarder_test.go
Labels: area: bazel, area: networking, area: tests

Do not hold metadataMu on gofer O_DIRECT read path.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

Do not hold metadataMu on gofer O_DIRECT read path.
  pkg/sentry/fsimpl/gofer/regular_file.go
Labels: area: filesystem

gvisor.dev homepage: Minor fixes.
  website/_sass/style.scss
  website/assets/images/gvisor-helmet-universe.png
  website/assets/images/gvisor-high-level-arch.png
  website/index.md
Labels: none

gvisor.dev homepage: Minor fixes.
  website/_sass/style.scss
  website/assets/images/gvisor-helmet-universe.png
  website/assets/images/gvisor-high-level-arch.png
  website/index.md
Labels: none

kernfs: Don't try to cache anonymous inodes.
  pkg/sentry/fsimpl/kernfs/kernfs.go
Labels: area: filesystem

kernfs: Don't try to cache anonymous inodes.
  pkg/sentry/fsimpl/kernfs/kernfs.go
Labels: area: filesystem

Update host redirect handling for gvisor.dev
  Makefile
  website/cmd/server/main.go
Labels: none

Update host redirect handling for gvisor.dev
  Makefile
  website/cmd/server/main.go
Labels: none

Remove panic in ConsumeCoverageData() when no coverage is observed.
  pkg/coverage/coverage.go
Labels: none

Remove panic in ConsumeCoverageData() when no coverage is observed.
  pkg/coverage/coverage.go
Labels: none

Pass NV2080_CTRL_CMD_MC_SERVICE_INTERRUPTS through nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none

Pass NV2080_CTRL_CMD_MC_SERVICE_INTERRUPTS through nvproxy.
  pkg/abi/nvgpu/ctrl.go
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none

Increment/decrement memory accounted per cgroup.
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/usage/BUILD
  pkg/sentry/usage/memory.go
Labels: area: bazel

Increment/decrement memory accounted per cgroup.
  pkg/sentry/fsutil/frame_ref_set.go
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/pgalloc/save_restore.go
  pkg/sentry/usage/BUILD
  pkg/sentry/usage/memory.go
Labels: area: bazel

Allow walking on FIFO and UDS in lisafs.
  runsc/fsgofer/lisafs.go
  test/e2e/BUILD
  test/e2e/integration_test.go
Labels: area: bazel, area: tests

Allow walking on FIFO and UDS in lisafs.
  runsc/fsgofer/lisafs.go
  test/e2e/BUILD
  test/e2e/integration_test.go
Labels: area: bazel, area: tests

Add accel and gasket ABI definitions.
  pkg/abi/gasket/BUILD
  pkg/abi/gasket/gasket.go
  pkg/abi/linux/dev.go
Labels: area: bazel

Add accel and gasket ABI definitions.
  pkg/abi/gasket/BUILD
  pkg/abi/gasket/gasket.go
  pkg/abi/linux/dev.go
Labels: area: bazel

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
