Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

tcp_benchmark: allow packet sniffing/logging
  test/benchmarks/tcp/BUILD
  test/benchmarks/tcp/tcp_benchmark.sh
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: bazel, area: tests

Add fuse dimension to perf microbenchmarks.
  test/runner/fuse/BUILD
  test/runner/fuse/fuse.go
Labels: area: bazel, area: tests

Add fuse dimension to perf microbenchmarks.
  test/runner/fuse/BUILD
  test/runner/fuse/fuse.go
Labels: area: bazel, area: tests

Add runsc flags --nvproxy and --nvproxy-docker.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/BUILD
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/hook.go
  runsc/specutils/BUILD
  runsc/specutils/nvidia.go
Labels: area: bazel, area: tests, platform: kvm, platform: ptrace

Add runsc flags --nvproxy and --nvproxy-docker.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/platform.go
  pkg/sentry/platform/ptrace/ptrace.go
  pkg/sentry/platform/systrap/systrap.go
  runsc/boot/BUILD
  runsc/boot/filter/BUILD
  runsc/boot/filter/filter.go
  runsc/boot/loader.go
  runsc/boot/loader_test.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container.go
  runsc/container/hook.go
  runsc/specutils/BUILD
  runsc/specutils/nvidia.go
Labels: area: bazel, area: tests, platform: kvm, platform: ptrace

netstack: receive queue coaslescing
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/segment_queue.go
Labels: area: networking

Added warning regarding SELinux with the debugging runtime to documentation
  g3doc/user_guide/quick_start/docker.md
Labels: area: docs

Added warning regarding SELinux with the debugging runtime to documentation
  g3doc/user_guide/quick_start/docker.md
Labels: area: docs

Add FIONREAD to host file description
  images/basic/integrationtest/host_fd.c
  pkg/sentry/fsimpl/host/tty.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

Add FIONREAD to host file description
  images/basic/integrationtest/host_fd.c
  pkg/sentry/fsimpl/host/tty.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

netstack: remove mutex from standard clock
  pkg/tcpip/stdclock.go
  pkg/tcpip/stdclock_state.go
Labels: area: networking

netstack: remove mutex from standard clock
  pkg/tcpip/stdclock.go
  pkg/tcpip/stdclock_state.go
Labels: area: networking

don't use atomic operations to initialize refcounts
  pkg/refs/refs_template.go
Labels: none

don't use atomic operations to initialize refcounts
  pkg/refs/refs_template.go
Labels: none

Limit stringified bytes to address length
  pkg/tcpip/tcpip.go
Labels: area: networking

Limit stringified bytes to address length
  pkg/tcpip/tcpip.go
Labels: area: networking

refcounting: start at zero
  pkg/refs/refs_template.go
  pkg/tcpip/tcpip.go
Labels: area: networking

Introduce AddressMask.Equals
  pkg/tcpip/tcpip.go
Labels: area: networking

Introduce AddressMask.Equals
  pkg/tcpip/tcpip.go
Labels: area: networking

Remove dependency on linux packages in netstack.
  pkg/context/BUILD
  pkg/context/context.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

Remove dependency on linux packages in netstack.
  pkg/context/BUILD
  pkg/context/context.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking

Don't hold link address in tcpip.Address
  pkg/sentry/socket/socket.go
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/sample/tun_tcp_connect/main.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/packet/endpoint.go
Labels: area: networking, area: tests

Don't hold link address in tcpip.Address
  pkg/sentry/socket/socket.go
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/sample/tun_tcp_connect/main.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/packet/endpoint.go
Labels: area: networking, area: tests

Fix tcp test flake.
  pkg/tcpip/transport/tcp/test/e2e/tcp_rack_test.go
Labels: area: networking, area: tests

Fix tcp test flake.
  pkg/tcpip/transport/tcp/test/e2e/tcp_rack_test.go
Labels: area: networking, area: tests

netstack: remove unnecessary Inc/DecRef pair in the write path
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

netstack: remove unnecessary Inc/DecRef pair in the write path
  pkg/tcpip/transport/tcp/endpoint.go
Labels: area: networking

Add a test for receiving UDP packet with src port 0
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/udp_raw_socket.cc
  test/syscalls/linux/udp_socket.cc
  test/util/socket_util.cc
  test/util/socket_util.h
Labels: area: bazel, area: tests

Add a test for receiving UDP packet with src port 0
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/udp_raw_socket.cc
  test/syscalls/linux/udp_socket.cc
  test/util/socket_util.cc
  test/util/socket_util.h
Labels: area: bazel, area: tests

netstack: use bytes.Equal in GRO
  pkg/tcpip/stack/gro.go
Labels: area: networking

netstack: use bytes.Equal in GRO
  pkg/tcpip/stack/gro.go
Labels: area: networking

Set minimum value for RTT in TCP.
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

Set minimum value for RTT in TCP.
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

sharedmem: mark as GSO-compatible
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/sharedmem/sharedmem.go
Labels: area: networking

sharedmem: mark as GSO-compatible
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/sharedmem/sharedmem.go
Labels: area: networking

Check that the sandbox process does not have open directory FDs.
  runsc/cmd/boot.go
Labels: none

Check that the sandbox process does not have open directory FDs.
  runsc/cmd/boot.go
Labels: none

rename bufferv2 to buffer
  .buildkite/pipeline.yaml
  pkg/buffer/BUILD
  pkg/buffer/buffer.go
  pkg/buffer/buffer_state.go
  pkg/buffer/buffer_test.go
  pkg/buffer/chunk.go
  pkg/buffer/view.go
  pkg/buffer/view_test.go
  pkg/buffer/view_unsafe.go
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking, area: tests

rename bufferv2 to buffer
  .buildkite/pipeline.yaml
  pkg/buffer/BUILD
  pkg/buffer/buffer.go
  pkg/buffer/buffer_state.go
  pkg/buffer/buffer_test.go
  pkg/buffer/chunk.go
  pkg/buffer/view.go
  pkg/buffer/view_test.go
  pkg/buffer/view_unsafe.go
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/tcpip/BUILD
Labels: area: bazel, area: networking, area: tests

`atomicbitops`: Add atomic `float64`.
  pkg/atomicbitops/BUILD
  pkg/atomicbitops/atomicbitops_float64.go
  pkg/atomicbitops/atomicbitops_test.go
Labels: area: bazel, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
