Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Fix inconsistencies with nvproxy ioctl structs compared to the Nvidia driver.
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/frontend_unsafe.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Implement RegisterSet & RegisterData and redefine Verdict for later use.
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: bazel, area: networking, area: tests

Add nvproxy test to verify struct definitions using nvidia differ tool.
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
  pkg/sentry/devices/nvproxy/version.go
  tools/nvidia_driver_differ/driver_ast_parser.cc
  tools/nvidia_driver_differ/driver_ast_parser_test.go
  tools/nvidia_driver_differ/parser/json_definitions.go
  tools/nvidia_driver_differ/run_differ.go
  tools/nvidia_driver_differ/test_struct.cc
Labels: area: bazel, area: tests, area: tooling

Remove error message about `max_user_namespaces`.
  runsc/specutils/namespace.go
Labels: none

Check the alloc params struct has the correct size when handling simple params.
  pkg/sentry/devices/nvproxy/frontend.go
Labels: none

Internal change.
  tools/checkconst/checkconst.go
Labels: area: tooling

procfs: add cache size x86 cpuinfo field
  pkg/cpuid/cpuid_amd64.go
  test/syscalls/linux/proc.cc
Labels: arch: x86_64, area: tests

Internal change.
  tools/nogo/check/check.go
  tools/nogo/cli/cli.go
Labels: area: tooling

Run the Tensorflow examples as part of Tensorflow image build process.
  images/benchmarks/tensorflow/Dockerfile.x86_64
Labels: none

fuse: check write() length correctness
  pkg/sentry/fsimpl/fuse/dev.go
  test/syscalls/linux/fuse.cc
Labels: area: filesystem, area: tests

fuse: handle bad response errors
  pkg/errors/linuxerr/linuxerr.go
  pkg/sentry/fsimpl/fuse/request_response.go
Labels: area: filesystem

Have driver_ast_parser report the size of structs and types.
  tools/nvidia_driver_differ/driver_ast_parser.cc
  tools/nvidia_driver_differ/driver_ast_parser_test.go
  tools/nvidia_driver_differ/parser/json_definitions.go
  tools/nvidia_driver_differ/run_differ.go
  tools/nvidia_driver_differ/test_struct.cc
Labels: area: tests, area: tooling

Implement the Comparison operation (parsing, interpretation, evaluation).
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftinterp.go
  pkg/tcpip/nftables/nftinterp_test.go
Labels: area: bazel, area: networking, area: tests

Implement complete logic for packet evaluation from hook to operation level.
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: networking, area: tests

Have driver_ast_parser track if a record is a union type.
  tools/nvidia_driver_differ/driver_ast_parser.cc
  tools/nvidia_driver_differ/driver_ast_parser_test.go
  tools/nvidia_driver_differ/parser/json_definitions.go
Labels: area: tests, area: tooling

Have driver_ast_parser report offset of record fields.
  tools/nvidia_driver_differ/driver_ast_parser.cc
  tools/nvidia_driver_differ/driver_ast_parser_test.go
  tools/nvidia_driver_differ/parser/json_definitions.go
Labels: area: tests, area: tooling

FUSE: Only block with a task if it is the task goroutine.
  pkg/sentry/fsimpl/fuse/connection.go
  pkg/sentry/fsimpl/fuse/inode.go
Labels: area: filesystem

Implement Immediate operation and test evaluation from top level.
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: networking, area: tests

Implement base rule interpreter structure & Immediate operation interpretation.
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nftinterp.go
  pkg/tcpip/nftables/nftinterp_test.go
Labels: area: bazel, area: networking, area: tests

Mark netstack as save and use it only in tests
  pkg/sentry/inet/namespace.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/socket/netstack/save_restore.go
  pkg/sentry/socket/netstack/stack.go
  pkg/sentry/state/state.go
  pkg/tcpip/stack/tcp.go
  runsc/boot/loader.go
  runsc/boot/restore.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: networking, area: kernel

Disable file handle sharing for FUSE filesystems
  runsc/cmd/gofer.go
Labels: none

Add a panic that prints information about the sender before calling splitSeg.
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

Fix Sandbox.ControlSocketPath if the rootDir path has changed.
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: none

Fix Sandbox.ControlSocketPath if the rootDir path has changed.
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: none

Fix strace logging for AF_UNIX sockets.
  pkg/sentry/socket/socket.go
  pkg/sentry/socket/unix/unix.go
  pkg/sentry/strace/BUILD
  pkg/sentry/strace/socket.go
Labels: area: bazel, area: networking

Mark structs as savable in netstack.
  pkg/tcpip/link/veth/veth.go
  pkg/tcpip/stack/nic.go
Labels: area: networking

Implement `personality(2)` for no-op personality bits.
  pkg/abi/linux/BUILD
  pkg/abi/linux/personality.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_personality.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/personality.cc
Labels: area: bazel, area: kernel, area: tests

Add nvproxy test to verify struct definitions using nvidia differ tool.
  pkg/sentry/devices/nvproxy/BUILD
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
  pkg/sentry/devices/nvproxy/version.go
Labels: area: bazel, area: tests

Add SignalProcess control method.
  pkg/sentry/control/proc.go
Labels: none

Update docker in gVisor document.
  g3doc/user_guide/tutorials/docker-in-gke-sandbox.md
  g3doc/user_guide/tutorials/docker-in-gvisor.md
Labels: area: docs

Deprecate some NVIDIA Driver versions and add current COS "Default Drivers"
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Automated rollback of changelist 662683381
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Add netfilter payload expression constants for nftables support.
  pkg/abi/linux/nf_tables.go
Labels: none

Update nvproxy parity tests to run in parallel.
  pkg/sentry/devices/nvproxy/nvproxy_driver_parity_test.go
Labels: area: tests

Fix typo
  runsc/boot/restore.go
Labels: none

Implement Loop Checking for Jump & Goto operations with minor rule restructure.
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftinterp.go
Labels: area: networking, area: tests

Update FAQ to reflect that ARM64 is fully supported.
  g3doc/user_guide/FAQ.md
Labels: area: docs

[POC] platform/kvm: rewriting bluepill() without signal handler trampolining
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/kvm_test.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sigframe/BUILD
  pkg/sigframe/sigframe_amd64.go
  pkg/sigframe/sigframe_amd64.s
  pkg/sigframe/sigframe_amd64_test.go
  pkg/sigframe/sigframe_amd64_test.s
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: kvm

Implement Comparison operation (parsing, interpretation, evaluation, tests).
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftinterp.go
  pkg/tcpip/nftables/nftinterp_test.go
Labels: area: networking, area: tests

noop upon IP_PMTUDISC_INTERFACE and IP_PMTUDISC_OMIT
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
