Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Resolve known link address on route creation
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Resolve known link address on route creation
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/neighbor_cache.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
Labels: area: networking, area: tests

Fix deadlock on restore
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/sandbox/sandbox.go
Labels: none

Update RestoreContainer to mirror StartContainer
  runsc/container/container.go
  runsc/sandbox/sandbox.go
Labels: none

Do not use a stack-wide queue of pending packets
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
Labels: area: networking

Do not use a stack-wide queue of pending packets
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/stack.go
Labels: area: networking

Require NIC ID or address for mcast sockopts
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Drop stack.Route.NICID
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/udp/endpoint.go
Labels: area: networking, area: tests

Fix Goroutine access violation in tasks_test.
  pkg/sentry/control/proc.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_run.go
  pkg/sentry/kernel/task_start.go
  runsc/boot/loader.go
Labels: area: filesystem, area: kernel, area: tests

[infra] Attempt to fix Kokoro image workflow.
  images/basic/fsstress/Dockerfile
Labels: none

[infra] Attempt to fix Kokoro image workflow.
  images/basic/fsstress/Dockerfile
Labels: none

Drop CheckLocalAddress from LinkAddressCache
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/registration.go
Labels: area: networking, area: tests

Drop CheckLocalAddress from LinkAddressCache
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/registration.go
Labels: area: networking, area: tests

Ensure that IP{V6}_RECVORIGDSTADDR yields the post-NAT address and port.
  test/iptables/BUILD
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: tests

Ensure that IP{V6}_RECVORIGDSTADDR yields the post-NAT address and port.
  test/iptables/BUILD
  test/iptables/iptables_test.go
  test/iptables/nat.go
Labels: area: bazel, area: tests

Per NIC NetworkEndpoint statistics
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ip/BUILD
  pkg/tcpip/network/ip/stats.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/stats.go
  pkg/tcpip/network/ipv4/stats_test.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/network/testutil/BUILD
  pkg/tcpip/network/testutil/testutil.go
  pkg/tcpip/network/testutil/testutil_unsafe.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

Per NIC NetworkEndpoint statistics
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ip/BUILD
  pkg/tcpip/network/ip/stats.go
  pkg/tcpip/network/ipv4/BUILD
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/igmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/stats.go
  pkg/tcpip/network/ipv4/stats_test.go
  pkg/tcpip/network/ipv6/BUILD
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
  pkg/tcpip/network/ipv6/mld.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/network/ipv6/stats.go
  pkg/tcpip/network/testutil/BUILD
  pkg/tcpip/network/testutil/testutil.go
  pkg/tcpip/network/testutil/testutil_unsafe.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/nic_test.go
  pkg/tcpip/stack/pending_packets.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

platform/ptrace: workaround a kernel ptrace issue on ARM64
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_amd64.go
  pkg/sentry/platform/ptrace/subprocess_arm64.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/sigreturn_amd64.cc
  test/syscalls/linux/sigreturn_arm64.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: ptrace

platform/ptrace: workaround a kernel ptrace issue on ARM64
  pkg/sentry/platform/ptrace/subprocess.go
  pkg/sentry/platform/ptrace/subprocess_amd64.go
  pkg/sentry/platform/ptrace/subprocess_arm64.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/sigreturn_amd64.cc
  test/syscalls/linux/sigreturn_arm64.cc
Labels: arch: arm, arch: x86_64, area: bazel, area: tests, platform: ptrace

Do not have a stack-wide linkAddressCache
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Do not have a stack-wide linkAddressCache
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/linkaddrcache.go
  pkg/tcpip/stack/linkaddrcache_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/stack.go
Labels: area: networking, area: tests

Internal change.
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/tmpfs/filesystem.go
  pkg/sentry/syscalls/linux/vfs2/fd.go
  pkg/sentry/vfs/BUILD
  pkg/sentry/vfs/opath.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/fallocate.cc
  test/syscalls/linux/fchdir.cc
  test/syscalls/linux/fcntl.cc
  test/syscalls/linux/ioctl.cc
  test/syscalls/linux/link.cc
  test/syscalls/linux/mmap.cc
  test/syscalls/linux/opath.cc
  test/syscalls/linux/open.cc
  test/syscalls/linux/pread64.cc
  test/syscalls/linux/preadv.cc
  test/syscalls/linux/preadv2.cc
  test/syscalls/linux/pwrite64.cc
  test/syscalls/linux/pwritev2.cc
  test/syscalls/linux/read.cc
  test/syscalls/linux/readv.cc
  test/syscalls/linux/stat.cc
  test/syscalls/linux/statfs.cc
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/sync.cc
  test/syscalls/linux/truncate.cc
  test/syscalls/linux/write.cc
  test/syscalls/linux/xattr.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Internal change.
  pkg/sentry/socket/netstack/netstack.go
Labels: area: networking

rewrite diff check to match example in cmp.Diff docs
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

rewrite diff check to match example in cmp.Diff docs
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/stack/neighbor_cache_test.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

Change the way the IP options report problems
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Change the way the IP options report problems
  pkg/tcpip/checker/checker.go
  pkg/tcpip/header/ipv4.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Remove string allocation from strings.Repeat() in /proc/[pid]/maps.
  pkg/sentry/mm/procfs.go
Labels: area: mm

Remove string allocation from strings.Repeat() in /proc/[pid]/maps.
  pkg/sentry/mm/procfs.go
Labels: area: mm

Fix refcount increments in gofer.filesystem.Sync.
  pkg/sentry/fsimpl/gofer/filesystem.go
Labels: area: filesystem

Fix refcount increments in gofer.filesystem.Sync.
  pkg/sentry/fsimpl/gofer/filesystem.go
Labels: area: filesystem

Move Lock/UnlockPOSIX into LockFD util.
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/ext/directory.go
  pkg/sentry/fsimpl/ext/regular_file.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/fsimpl/kernfs/fd_impl_util.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/tmpfs/regular_file_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/pipe/BUILD
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/socket_vfs2.go
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/socket_vfs2.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/unix_vfs2.go
  pkg/sentry/syscalls/linux/vfs2/fd.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/lock.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: kernel, area: tests

Move Lock/UnlockPOSIX into LockFD util.
  pkg/sentry/fsimpl/devpts/master.go
  pkg/sentry/fsimpl/devpts/replica.go
  pkg/sentry/fsimpl/ext/directory.go
  pkg/sentry/fsimpl/ext/regular_file.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/host/host.go
  pkg/sentry/fsimpl/host/tty.go
  pkg/sentry/fsimpl/kernfs/dynamic_bytes_file.go
  pkg/sentry/fsimpl/kernfs/fd_impl_util.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/tmpfs/regular_file_test.go
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
  pkg/sentry/fsimpl/verity/verity.go
  pkg/sentry/kernel/fd_table.go
  pkg/sentry/kernel/pipe/BUILD
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/socket/hostinet/BUILD
  pkg/sentry/socket/hostinet/socket_vfs2.go
  pkg/sentry/socket/netlink/BUILD
  pkg/sentry/socket/netlink/socket_vfs2.go
  pkg/sentry/socket/netstack/BUILD
  pkg/sentry/socket/netstack/netstack_vfs2.go
  pkg/sentry/socket/unix/unix_vfs2.go
  pkg/sentry/syscalls/linux/vfs2/fd.go
  pkg/sentry/vfs/file_description.go
  pkg/sentry/vfs/file_description_impl_util.go
  pkg/sentry/vfs/lock.go
Labels: area: bazel, area: filesystem, area: hostinet, area: networking, area: kernel, area: tests

Fix typo boundry -> boundary.
  test/syscalls/linux/socket_unix_cmsg.cc
Labels: area: tests

Fix typo boundry -> boundary.
  test/syscalls/linux/socket_unix_cmsg.cc
Labels: area: tests

Don't use task goroutine context in fsimpl tests.
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/verity/verity_test.go
Labels: area: filesystem, area: tests

Don't use task goroutine context in fsimpl tests.
  pkg/sentry/fsimpl/proc/tasks_test.go
  pkg/sentry/fsimpl/verity/verity_test.go
Labels: area: filesystem, area: tests

Remove unimplemented message for SO_LINGER
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netstack/netstack.go
Labels: area: hostinet, area: networking

Remove unimplemented message for SO_LINGER
  pkg/sentry/socket/hostinet/socket.go
  pkg/sentry/socket/netstack/netstack.go
Labels: area: hostinet, area: networking

Add syscall docs back to menu
  website/cmd/syscalldocs/main.go
Labels: none
