Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Various website fixes
  g3doc/user_guide/FAQ.md
  g3doc/user_guide/containerd/quick_start.md
  website/blog/2020-09-18-containing-a-real-vulnerability.md
Labels: area: docs

Disable strace+debug when explicitly requested
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Disable strace+debug when explicitly requested
  test/runner/defs.bzl
Labels: area: bazel, area: tests

Fix shm reference leak.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
Labels: area: bazel, area: kernel

Fix shm reference leak.
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/context.go
  pkg/sentry/kernel/ipc_namespace.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/shm/BUILD
  pkg/sentry/kernel/shm/shm.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
Labels: area: bazel, area: kernel

Fix SCM Rights reference leaks.
  pkg/sentry/socket/unix/unix.go
  pkg/sentry/socket/unix/unix_vfs2.go
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
Labels: area: networking, area: kernel

Fix SCM Rights reference leaks.
  pkg/sentry/socket/unix/unix.go
  pkg/sentry/socket/unix/unix_vfs2.go
  pkg/sentry/syscalls/linux/sys_socket.go
  pkg/sentry/syscalls/linux/vfs2/socket.go
Labels: area: networking, area: kernel

Add more configuration for running k8s e2e tests
  test/kubernetes/env-node
  test/kubernetes/image-config.yaml
  test/kubernetes/runsc-node-e2e-init.sh
Labels: area: tests

Find route before sending NA response
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
Labels: area: bazel, area: networking, area: tests

Find route before sending NA response
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/route.go
  pkg/tcpip/stack/stack_test.go
Labels: area: bazel, area: networking, area: tests

splice should not block if it moved some data
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/netstack.go
  pkg/sentry/syscalls/linux/sys_splice.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
  test/syscalls/linux/socket_netlink_route.cc
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: networking, area: kernel, area: tests

Internal change.
  pkg/sentry/kernel/kernel.go
Labels: area: kernel

arm64: the ASID offset of TTBR register is 48
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
Labels: arch: arm, platform: kvm

arm64: the ASID offset of TTBR register is 48
  pkg/sentry/platform/ring0/pagetables/pagetables_arm64.go
Labels: arch: arm, platform: kvm

Refactor compareFragments to follow Go style
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Refactor compareFragments to follow Go style
  pkg/tcpip/network/ipv4/ipv4_test.go
Labels: area: networking, area: tests

Change verity isEnable to be a member of dentry
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Change verity isEnable to be a member of dentry
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Process NAs without target link-layer addresses
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

Process NAs without target link-layer addresses
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/neighbor_entry.go
  pkg/tcpip/stack/neighbor_entry_test.go
Labels: area: networking, area: tests

Syncing packetimpact tests in different directories
  test/packetimpact/README.md
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
Labels: area: bazel, area: docs, area: tests

Syncing packetimpact tests in different directories
  test/packetimpact/README.md
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
Labels: area: bazel, area: docs, area: tests

Add easier-to-use docker_image target.
  Makefile
  images/defs.bzl
  website/BUILD
  website/import.sh
Labels: area: bazel

Add easier-to-use docker_image target.
  Makefile
  images/defs.bzl
  website/BUILD
  website/import.sh
Labels: area: bazel

`runsc do` fallback to internal network on failure
  runsc/cmd/do.go
Labels: none

`runsc do` fallback to internal network on failure
  runsc/cmd/do.go
Labels: none

sockets: ignore io.EOF from view.ReadAt
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
  test/syscalls/linux/socket_netlink_route.cc
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: networking, area: tests

sockets: ignore io.EOF from view.ReadAt
  pkg/sentry/socket/netlink/socket.go
  pkg/sentry/socket/netstack/netstack.go
  test/syscalls/linux/socket_ip_tcp_generic.cc
  test/syscalls/linux/socket_netlink_route.cc
  test/syscalls/linux/socket_netlink_util.cc
  test/syscalls/linux/socket_netlink_util.h
Labels: area: networking, area: tests

Cache errors when processing stdlib with nogo.
  tools/nogo/nogo.go
Labels: area: tooling

Cache errors when processing stdlib with nogo.
  tools/nogo/nogo.go
Labels: area: tooling

Enable IPv6 WriteHeaderIncludedPacket
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

Enable IPv6 WriteHeaderIncludedPacket
  pkg/tcpip/checker/checker.go
  pkg/tcpip/network/BUILD
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/tcpip.go
Labels: area: bazel, area: networking, area: tests

Refactor nogo to better support ARM.
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
  tools/nogo/BUILD
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Refactor nogo to better support ARM.
  tools/bazeldefs/defs.bzl
  tools/defs.bzl
  tools/nogo/BUILD
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Enable IPv4 fragmentation for every code path.
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Enable IPv4 fragmentation for every code path.
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/network/ipv6/ipv6_test.go
Labels: area: networking, area: tests

Make IPv4 check the IP header checksum
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
Labels: area: networking, area: tests

Make IPv4 check the IP header checksum
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/tests/integration/multicast_broadcast_test.go
Labels: area: networking, area: tests

Don't include link header when forwarding packets
  pkg/tcpip/link/ethernet/BUILD
  pkg/tcpip/link/ethernet/ethernet.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

Don't include link header when forwarding packets
  pkg/tcpip/link/ethernet/BUILD
  pkg/tcpip/link/ethernet/ethernet.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/tests/integration/BUILD
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
Labels: area: bazel, area: networking, area: tests

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
