Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Log task goroutine IDs in the sentry watchdog.
  pkg/sentry/kernel/task_run.go
  pkg/sentry/watchdog/watchdog.go
Labels: area: kernel

Log task goroutine IDs in the sentry watchdog.
  pkg/sentry/kernel/task_run.go
  pkg/sentry/watchdog/watchdog.go
Labels: area: kernel

arm64 kvm: add support for speculation barrier instruction (SB)
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, platform: kvm

Fix labels on issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Fix labels on issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Add new shim debug options to docs
  g3doc/user_guide/containerd/configuration.md
Labels: area: docs

Add new shim debug options to docs
  g3doc/user_guide/containerd/configuration.md
Labels: area: docs

Automated rollback of changelist 340274194
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

Automated rollback of changelist 340274194
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/timer.go
Labels: area: networking, area: tests

test presubmits
  pkg/tcpip/network/ipv4/ipv4.go
  test/packetimpact/tests/ipv4_fragment_reassembly_test.go
  test/packetimpact/tests/ipv6_fragment_reassembly_test.go
Labels: area: networking, area: tests

Automated rollback of changelist 342312166
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/reno_recovery.go
  pkg/tcpip/transport/tcp/sack_recovery.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: bazel, area: networking

Automated rollback of changelist 342312166
  pkg/tcpip/transport/tcp/BUILD
  pkg/tcpip/transport/tcp/reno_recovery.go
  pkg/tcpip/transport/tcp/sack_recovery.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: bazel, area: networking

Clean up fragmentation.Process
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/fragmentation/BUILD
  pkg/tcpip/network/fragmentation/fragmentation.go
  pkg/tcpip/network/fragmentation/fragmentation_test.go
  pkg/tcpip/network/fragmentation/reassembler.go
  pkg/tcpip/network/fragmentation/reassembler_test.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: bazel, area: networking, area: tests

Clean up fragmentation.Process
  pkg/tcpip/header/parse/parse.go
  pkg/tcpip/network/fragmentation/BUILD
  pkg/tcpip/network/fragmentation/fragmentation.go
  pkg/tcpip/network/fragmentation/fragmentation_test.go
  pkg/tcpip/network/fragmentation/reassembler.go
  pkg/tcpip/network/fragmentation/reassembler_test.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/ipv6.go
Labels: area: bazel, area: networking, area: tests

Add packetimpact tests for ICMPv6 Error message for fragment
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv6_fragment_icmp_error_test.go
Labels: area: bazel, area: tests

Add packetimpact tests for ICMPv6 Error message for fragment
  test/packetimpact/runner/defs.bzl
  test/packetimpact/tests/BUILD
  test/packetimpact/tests/ipv6_fragment_icmp_error_test.go
Labels: area: bazel, area: tests

Remove ARP address workaround
  pkg/sentry/devices/tundev/BUILD
  pkg/sentry/devices/tundev/tundev.go
  pkg/sentry/fs/dev/BUILD
  pkg/sentry/fs/dev/net_tun.go
  pkg/tcpip/link/tun/device.go
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  runsc/boot/network.go
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: bazel, area: filesystem, area: networking, area: tests

Remove ARP address workaround
  pkg/sentry/devices/tundev/BUILD
  pkg/sentry/devices/tundev/tundev.go
  pkg/sentry/fs/dev/BUILD
  pkg/sentry/fs/dev/net_tun.go
  pkg/tcpip/link/tun/device.go
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/network/ip_test.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ndp_test.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/tests/integration/forward_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  runsc/boot/network.go
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: bazel, area: filesystem, area: networking, area: tests

Allow RLIMIT_RSS to be set
  pkg/sentry/syscalls/linux/sys_rlimit.go
Labels: area: kernel

Allow RLIMIT_RSS to be set
  pkg/sentry/syscalls/linux/sys_rlimit.go
Labels: area: kernel

ARM64 kvm: force a flush on Tlb when SwitchToUser
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: platform: kvm

Reset watchdog timer between sendfile() iterations.
  pkg/sentry/kernel/task_block.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/syscalls/linux/vfs2/splice.go
  test/syscalls/linux/sendfile.cc
Labels: area: kernel, area: tests

Reset watchdog timer between sendfile() iterations.
  pkg/sentry/kernel/task_block.go
  pkg/sentry/kernel/task_sched.go
  pkg/sentry/kernel/task_signals.go
  pkg/sentry/syscalls/linux/vfs2/splice.go
  test/syscalls/linux/sendfile.cc
Labels: area: kernel, area: tests

Minor flipcall refactoring.
  pkg/flipcall/ctrl_futex.go
  pkg/flipcall/flipcall_unsafe.go
  pkg/flipcall/futex_linux.go
Labels: none

Minor flipcall refactoring.
  pkg/flipcall/ctrl_futex.go
  pkg/flipcall/flipcall_unsafe.go
  pkg/flipcall/futex_linux.go
Labels: none

arm64 kvm: add the processing functions for all el0/el1 exceptions
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, platform: kvm

arm64 kvm: add the processing functions for all el0/el1 exceptions
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, platform: kvm

DONT SUBMIT
  test/packetimpact/testbench/dut.go
  test/packetimpact/testbench/testbench.go
Labels: area: tests

arm64 kvm: optimize all fpsimd related code
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.s
Labels: arch: arm, platform: kvm

arm64 kvm: optimize all fpsimd related code
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.s
Labels: arch: arm, platform: kvm

Fix SO_ERROR behavior for TCP in gVisor.
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/adapters/gonet/BUILD
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: bazel, area: networking, area: tests

Fix SO_ERROR behavior for TCP in gVisor.
  pkg/sentry/socket/netstack/netstack.go
  pkg/tcpip/adapters/gonet/BUILD
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/tcp_socket.cc
Labels: area: bazel, area: networking, area: tests

Fix possible deadlock in UDP.Write().
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Fix possible deadlock in UDP.Write().
  pkg/tcpip/transport/udp/BUILD
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/udp_test.go
  test/syscalls/linux/udp_socket.cc
Labels: area: bazel, area: networking, area: tests

Skip IPv6 packetimpact and iptables tests when IPv6 isn't configured
  Makefile
  pkg/test/dockerutil/dockerutil.go
  test/iptables/iptables_test.go
  test/packetimpact/tests/icmpv6_param_problem_test.go
  test/packetimpact/tests/ipv6_fragment_reassembly_test.go
  test/packetimpact/tests/ipv6_unknown_options_action_test.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
  test/packetimpact/tests/udp_discard_mcast_source_addr_test.go
  test/packetimpact/tests/udp_send_recv_dgram_test.go
Labels: area: tests

Internal Change
  Makefile
  pkg/test/dockerutil/container.go
  script.sh
  test/benchmarks/base/base.go
  test/benchmarks/base/startup_test.go
  test/benchmarks/harness/harness.go
  test/benchmarks/harness/util.go
  tools/parsers/parser_main.go
Labels: area: tests, area: tooling

Add consistent precondition formatting for verity
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Add consistent precondition formatting for verity
  pkg/sentry/fsimpl/verity/filesystem.go
  pkg/sentry/fsimpl/verity/verity.go
Labels: area: filesystem

Fix locking in kernfs.Dentry.DecRef().
  pkg/sentry/fsimpl/kernfs/kernfs.go
Labels: area: filesystem

Add per-sniffer instance log prefix
  pkg/tcpip/link/sniffer/sniffer.go
Labels: area: networking
