Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Remove stale sha256 pin from google_root_pem.
  MODULE.bazel
Labels: none

Internal change.
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
Labels: arch: arm, arch: x86_64, area: kernel

Internal change.
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  test/trace/trace_test.go
  test/trace/workload/workload.cc
Labels: arch: arm, arch: x86_64, area: kernel, area: tests

Internal change.
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
Labels: arch: arm, arch: x86_64, area: kernel

Internal change.
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  test/trace/trace_test.go
  test/trace/workload/workload.cc
Labels: arch: arm, arch: x86_64, area: kernel, area: tests

Internal change.
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
Labels: area: kernel

Internal change.
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  test/trace/trace_test.go
  test/trace/workload/workload.cc
Labels: arch: arm, arch: x86_64, area: kernel, area: tests

Fix SIGWINCH delivery on PTY window size change (TIOCSWINSZ)
  pkg/abi/linux/tty.go
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/host/tty.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/host_pty.cc
  test/syscalls/linux/pty.cc
Labels: area: bazel, area: filesystem, area: tests

runsc: Auto-enable systemd cgroup handling for systemd paths
  runsc/container/container.go
Labels: none

Internal change.
  webhook/BUILD
Labels: area: bazel

New mount API: implement fsopen(2), fsconfig(2), fsmount(2), move_mount(2).
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/fsconfigfd/BUILD
  pkg/sentry/fsimpl/fsconfigfd/fsconfigfd.go
  pkg/sentry/fsimpl/mountfd/BUILD
  pkg/sentry/fsimpl/mountfd/mountfd.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/mount_fd.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

gso
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/packet_buffer.go
Labels: area: networking

Implement open_tree(2)
  pkg/abi/linux/file.go
  pkg/sentry/fsimpl/mountfd/mountfd.go
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_mount_fd.go
  pkg/sentry/vfs/mount.go
  pkg/sentry/vfs/namespace.go
  pkg/sentry/vfs/propagation.go
  pkg/sentry/vfs/vfs.go
  test/syscalls/linux/mount_fd.cc
Labels: area: filesystem, area: kernel, area: tests

Remove references to config stack
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/icmp_rate_limit.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/nftables_types.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/save_restore.go
  pkg/tcpip/stack/stack.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: area: bazel, area: networking

Implement personality(2) for no-op personality bits.
  pkg/abi/linux/BUILD
  pkg/abi/linux/personality.go
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/syscalls/linux/BUILD
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/sys_personality.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/personality.cc
Labels: area: bazel, area: kernel, area: tests

Automated rollback of changelist 928766376
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/internal/ip/duplicate_address_detection.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/icmp_rate_limit.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/nftables_types.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/save_restore.go
  pkg/tcpip/stack/stack.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/restore.go
Labels: area: bazel, area: networking

nvproxy: don't pass privileged driver caps to nvidia-container-cli
  pkg/sentry/devices/nvproxy/nvconf/BUILD
  pkg/sentry/devices/nvproxy/nvconf/caps.go
  pkg/sentry/devices/nvproxy/nvconf/caps_test.go
Labels: area: bazel, area: tests

tcp: anchor ACK-derived time measurements to ingress time, not processing time
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/cubic_test.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/tcp_acktiming_test.go
Labels: area: bazel, area: networking, area: tests

Implement ambient capabilities.
  pkg/abi/linux/prctl.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/kernel/auth/capability_set.go
  pkg/sentry/kernel/auth/capability_set_test.go
  pkg/sentry/kernel/auth/credentials.go
  pkg/sentry/kernel/task_identity.go
  pkg/sentry/syscalls/linux/sys_prctl.go
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/capabilities.cc
  test/util/linux_capability_util.h
Labels: area: bazel, area: filesystem, area: kernel, area: tests

nvproxy: translate pOsEvent FD for NV_MEMORY_MULTICAST_FABRIC allocations
  pkg/abi/nvgpu/classes.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvproxy.go
  pkg/sentry/devices/nvproxy/version.go
Labels: none

Support live migration of TCP connections during s/r.
  pkg/tcpip/stack/stack.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/test/e2e/BUILD
  pkg/tcpip/transport/tcp/test/e2e/tcp_migration_test.go
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: bazel, area: networking, area: tests

Nftables: Added support for NAT.
  pkg/tcpip/BUILD
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nftables.go
  pkg/tcpip/nftables/nftables_test.go
  pkg/tcpip/nftables/nftables_types.go
  pkg/tcpip/stack/conntrack.go
  pkg/tcpip/stack/conntrack_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/nat.go
  pkg/tcpip/stack/nftables_types.go
  pkg/tcpip/stack/packet_buffer.go
  test/nftables/BUILD
  test/nftables/filter_input.go
  test/nftables/nftables.go
  test/nftables/nftables_test.go
  test/nftables/nftables_validation.go
Labels: area: bazel, area: networking, area: tests

Add unit tests for msgqueue.
  pkg/abi/linux/BUILD
  pkg/abi/linux/msgqueue_test.go
Labels: area: bazel, area: tests

Add unit tests for msgqueue.
  pkg/abi/linux/BUILD
  pkg/abi/linux/msgqueue_test.go
Labels: area: bazel, area: tests

Add option to run cuda-checkpoint sequentially.
  pkg/sentry/control/state.go
  pkg/sentry/control/state_cuda.go
  pkg/sentry/state/state.go
  runsc/cmd/checkpoint.go
  runsc/sandbox/sandbox.go
Labels: none

feat: Add CRI-O compatibility for containerd-shim-runsc-v1
  g3doc/user_guide/containerd/BUILD
  g3doc/user_guide/containerd/crio.md
  pkg/shim/v1/manager.go
  pkg/shim/v1/manager_test.go
  pkg/shim/v1/runsc/service.go
  pkg/shim/v1/runsc/service_test.go
Labels: area: bazel, area: docs, area: tests

docs: clarify GPU CDI hooks and nvidia-container-runtime modes
  g3doc/user_guide/gpu.md
Labels: area: docs

nftables: skip NAT rules whose family does not match the packet's family
  pkg/tcpip/nftables/nft_nat.go
Labels: area: networking

Add support for ambient capabilities in runsc.
  runsc/cmd/exec_test.go
  runsc/cmd/spec.go
  runsc/specutils/specutils.go
Labels: area: tests

Enhance timeline logging during restore.
  pkg/sentry/control/state_cuda.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/controller.go
  runsc/boot/restore.go
Labels: area: kernel

Nftables: Added attribute array validator.
  pkg/tcpip/nftables/BUILD
  pkg/tcpip/nftables/nft_comparison.go
  pkg/tcpip/nftables/nft_counter.go
  pkg/tcpip/nftables/nft_meta.go
  pkg/tcpip/nftables/nft_nat.go
  pkg/tcpip/nftables/nft_payload.go
  pkg/tcpip/nftables/nftables_attrs.go
  pkg/tcpip/nftables/nftables_test.go
Labels: area: bazel, area: networking, area: tests

tmpfs: ignore noswap option
  pkg/sentry/fsimpl/tmpfs/tmpfs.go
Labels: area: filesystem

netstack: add ICMP echo forwarder reply API
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4_test.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/transport/icmp/BUILD
  pkg/tcpip/transport/icmp/forwarder.go
Labels: area: bazel, area: networking, area: tests

tcp: transition to FIN_WAIT1 when FIN is queued
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/test/e2e/tcp_test.go
Labels: area: networking, area: tests

Implement /proc/sys/kernel/random/uuid
  pkg/sentry/fsimpl/proc/tasks_sys.go
  test/syscalls/linux/proc.cc
Labels: area: filesystem, area: tests

Internal change.
  pkg/state/encode.go
Labels: none

Cache SO_PASSCRED on host endpoint init.
  pkg/sentry/socket/unix/transport/host.go
  pkg/sentry/socket/unix/transport/host_unsafe.go
Labels: area: networking

Add annotation to force emptyDir volumes to be shared bind mounts.
  g3doc/user_guide/containerd/configuration.md
  pkg/shim/v1/utils/volumes.go
  pkg/shim/v1/utils/volumes_test.go
Labels: area: docs, area: tests

Add RDMAProxy core. Register RDMA devices upon boot. Support CPU-staged RDMA.
  pkg/sentry/devices/rdmaproxy/BUILD
  pkg/sentry/devices/rdmaproxy/driver.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl.go
  pkg/sentry/devices/rdmaproxy/rdmaproxy_ioctl_unsafe.go
  pkg/sentry/devices/rdmaproxy/seccomp_filter.go
  runsc/boot/BUILD
  runsc/boot/filter/config/BUILD
  runsc/boot/filter/config/config.go
  runsc/boot/filter/config/config_precompiled.go
  runsc/boot/loader.go
  runsc/boot/vfs.go
  runsc/cmd/boot.go
  runsc/cmd/chroot.go
  runsc/cmd/sandboxsetup/gofer_mount.go
  runsc/container/container.go
  runsc/specutils/rdma.go
Labels: area: bazel

Add ability to set path to fscheckpoint
  pkg/sentry/kernel/fscheckpoint.go
  runsc/boot/controller.go
  runsc/boot/fscheckpoint.go
  runsc/cmd/fscheckpoint.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
  test/cmd/test_app/main.go
Labels: area: kernel, area: tests
