Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

Use POSIX interval timers in flock test.
  test/syscalls/linux/BUILD
  test/syscalls/linux/flock.cc
  test/syscalls/linux/timers.cc
  test/util/save_util_linux.cc
  test/util/timer_util.cc
  test/util/timer_util.h
Labels: area: bazel, area: tests

Use POSIX interval timers in flock test.
  test/syscalls/linux/BUILD
  test/syscalls/linux/flock.cc
  test/syscalls/linux/timers.cc
  test/util/save_util_linux.cc
  test/util/timer_util.cc
  test/util/timer_util.h
Labels: area: bazel, area: tests

Refactor shared starlark files.
  tools/bazeldefs/cc.bzl
  tools/bazeldefs/defs.bzl
  tools/bazeldefs/go.bzl
  tools/bazeldefs/pkg.bzl
  tools/defs.bzl
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

Refactor shared starlark files.
  tools/bazeldefs/cc.bzl
  tools/bazeldefs/defs.bzl
  tools/bazeldefs/go.bzl
  tools/bazeldefs/pkg.bzl
  tools/defs.bzl
  tools/nogo/defs.bzl
Labels: area: bazel, area: tooling

arm64 kvm: handle exception from accessing undefined instruction
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, platform: kvm

arm64 kvm: handle exception from accessing undefined instruction
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, platform: kvm

pgalloc: Do not hold MemoryFile.mu while calling mincore.
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/syscalls/linux/sys_sysinfo.go
  pkg/sentry/usage/memory.go
Labels: area: bazel, area: kernel

pgalloc: Do not hold MemoryFile.mu while calling mincore.
  pkg/sentry/pgalloc/BUILD
  pkg/sentry/pgalloc/pgalloc.go
  pkg/sentry/syscalls/linux/sys_sysinfo.go
  pkg/sentry/usage/memory.go
Labels: area: bazel, area: kernel

splice: return EINVAL is len is negative
  pkg/sentry/syscalls/linux/vfs2/splice.go
Labels: area: kernel

splice: return EINVAL is len is negative
  pkg/sentry/syscalls/linux/vfs2/splice.go
Labels: area: kernel

[vfs2] Fix fork reference leaks.
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
Labels: area: bazel, area: filesystem, area: kernel

[vfs2] Fix fork reference leaks.
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
Labels: area: bazel, area: filesystem, area: kernel

[vfs2] Fix overlay reference leak.
  pkg/sentry/fsimpl/testutil/kernel.go
  pkg/sentry/kernel/BUILD
  pkg/sentry/kernel/kernel.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_exit.go
  pkg/sentry/kernel/task_start.go
  pkg/sentry/kernel/thread_group.go
Labels: area: bazel, area: filesystem, area: kernel

Fixes to cgroups
  runsc/cgroup/cgroup.go
  runsc/container/container.go
  runsc/container/container_test.go
Labels: area: tests

Fixes to cgroups
  runsc/cgroup/cgroup.go
  runsc/container/container.go
  runsc/container/container_test.go
Labels: area: tests

Remove now unused remote3 configurations.
  .bazelrc
Labels: none

Remove now unused remote3 configurations.
  .bazelrc
Labels: none

Fix runsc tests on VFS2 overlay.
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/syscalls/linux/vfs2/fd.go
  runsc/boot/vfs.go
  test/syscalls/linux/mknod.cc
  test/syscalls/linux/pipe.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Fix runsc tests on VFS2 overlay.
  pkg/sentry/fsimpl/overlay/BUILD
  pkg/sentry/fsimpl/overlay/copy_up.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/overlay/regular_file.go
  pkg/sentry/kernel/pipe/vfs.go
  pkg/sentry/syscalls/linux/vfs2/fd.go
  runsc/boot/vfs.go
  test/syscalls/linux/mknod.cc
  test/syscalls/linux/pipe.cc
Labels: area: bazel, area: filesystem, area: kernel, area: tests

Fix reference counting on kcov mappings.
  pkg/sentry/fsimpl/sys/kcov.go
  pkg/sentry/kernel/kcov.go
  pkg/sentry/kernel/kcov_unsafe.go
Labels: area: filesystem, area: kernel

Fix reference counting on kcov mappings.
  pkg/sentry/fsimpl/sys/kcov.go
  pkg/sentry/kernel/kcov.go
  pkg/sentry/kernel/kcov_unsafe.go
Labels: area: filesystem, area: kernel

loader/elf: validate file offset
  pkg/sentry/loader/elf.go
Labels: none

loader/elf: validate file offset
  pkg/sentry/loader/elf.go
Labels: none

ARM64 KVM: bad regs.Sp return SIGSEGV
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: platform: kvm

ARM64 KVM: bad regs.Sp return SIGSEGV
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: platform: kvm

Add /dev to mandatory mounts test
  runsc/boot/loader_test.go
Labels: area: tests

Add /dev to mandatory mounts test
  runsc/boot/loader_test.go
Labels: area: tests

Fix nogo tests.
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/transport/raw/endpoint_state.go
Labels: area: networking, area: tests

Fix nogo tests.
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/transport/raw/endpoint_state.go
Labels: area: networking, area: tests

Fix locking in AddressableEndpointState
  pkg/tcpip/stack/addressable_endpoint_state.go
Labels: area: networking

Fix locking in AddressableEndpointState
  pkg/tcpip/stack/addressable_endpoint_state.go
Labels: area: networking

[runtime tests] Update exclude files.
  test/runtimes/exclude/nodejs12.4.0.csv
Labels: area: tests

[runtime tests] Update exclude files.
  test/runtimes/exclude/nodejs12.4.0.csv
Labels: area: tests

Fix nogo test in //pkg/tcpip/...
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/link/sharedmem/pipe/pipe_test.go
  pkg/tcpip/transport/tcp/sack_scoreboard.go
  tools/nogo/config.go
Labels: area: networking, area: tests, area: tooling

Fix nogo test in //pkg/tcpip/...
  pkg/tcpip/adapters/gonet/gonet_test.go
  pkg/tcpip/link/sharedmem/pipe/pipe_test.go
  pkg/tcpip/transport/tcp/sack_scoreboard.go
  tools/nogo/config.go
Labels: area: networking, area: tests, area: tooling

Fix errors when the tagging GitHub releases
  tools/tag_release.sh
Labels: area: tooling

Fix errors when the tagging GitHub releases
  tools/tag_release.sh
Labels: area: tooling

Do not even try forcing cgroups in tests
  runsc/container/container.go
Labels: none

Do not even try forcing cgroups in tests
  runsc/container/container.go
Labels: none

test/runtime: set the NOFILE soft rlimit to 32K
  test/runtimes/exclude/python3.7.3.csv
  test/runtimes/proctor/main.go
Labels: area: tests
