Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Add gcore to list of supported tools
  g3doc/user_guide/compatibility.md
Labels: area: docs

netstack: don't ACK SYNs in TIME-WAIT
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/rcv.go
Labels: area: networking

netstack: don't ACK SYNs in TIME-WAIT
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/rcv.go
Labels: area: networking

Use fake clocks in NDP tests
  pkg/tcpip/header/ndp_options.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/ndp_test.go
Labels: area: bazel, area: networking, area: tests

Use fake clocks in NDP tests
  pkg/tcpip/header/ndp_options.go
  pkg/tcpip/network/ipv6/ndp.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/ndp_test.go
Labels: area: bazel, area: networking, area: tests

Improve stopped container handling
  pkg/shim/BUILD
  pkg/shim/debug.go
  pkg/shim/proc/deleted_state.go
  pkg/shim/proc/exec.go
  pkg/shim/proc/exec_state.go
  pkg/shim/proc/init.go
  pkg/shim/proc/init_state.go
  pkg/shim/proc/proc.go
  pkg/shim/runsc/runsc.go
  pkg/shim/service.go
Labels: area: bazel

Improve stopped container handling
  pkg/shim/BUILD
  pkg/shim/debug.go
  pkg/shim/proc/deleted_state.go
  pkg/shim/proc/exec.go
  pkg/shim/proc/exec_state.go
  pkg/shim/proc/init.go
  pkg/shim/proc/init_state.go
  pkg/shim/proc/proc.go
  pkg/shim/runsc/runsc.go
  pkg/shim/service.go
Labels: area: bazel

Disconnect call-chain between sighandler() and bluepill().
  pkg/sentry/platform/kvm/bluepill_amd64.s
Labels: arch: x86_64, platform: kvm

Disconnect call-chain between sighandler() and bluepill().
  pkg/sentry/platform/kvm/bluepill_amd64.s
Labels: arch: x86_64, platform: kvm

clean up tcpdump TODOs
  g3doc/user_guide/compatibility.md
  pkg/sentry/socket/socket.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: docs, area: networking, area: tests

clean up tcpdump TODOs
  g3doc/user_guide/compatibility.md
  pkg/sentry/socket/socket.go
  pkg/tcpip/transport/packet/endpoint.go
  test/syscalls/linux/packet_socket.cc
  test/syscalls/linux/packet_socket_raw.cc
Labels: area: docs, area: networking, area: tests

Trigger poll/epoll events on zero-length hostinet sendmsg
  pkg/sentry/socket/hostinet/socket.go
  test/syscalls/linux/udp_socket.cc
Labels: area: hostinet, area: networking, area: tests

Trigger poll/epoll events on zero-length hostinet sendmsg
  pkg/sentry/socket/hostinet/socket.go
  test/syscalls/linux/udp_socket.cc
Labels: area: hostinet, area: networking, area: tests

runsc: don't kill sandbox, let it stop properly
  pkg/control/server/server.go
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/sandbox/sandbox.go
Labels: none

runsc: don't kill sandbox, let it stop properly
  pkg/control/server/server.go
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/sandbox/sandbox.go
Labels: none

Remove timeouts
  test/packetimpact/testbench/dut.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/generic_dgram_socket_send_recv_test.go
  test/packetimpact/tests/tcp_connect_icmp_error_test.go
  test/packetimpact/tests/tcp_linger_test.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
  test/packetimpact/tests/tcp_queue_send_recv_in_syn_sent_test.go
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
Labels: area: tests

Remove timeouts
  test/packetimpact/testbench/dut.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/generic_dgram_socket_send_recv_test.go
  test/packetimpact/tests/tcp_connect_icmp_error_test.go
  test/packetimpact/tests/tcp_linger_test.go
  test/packetimpact/tests/tcp_network_unreachable_test.go
  test/packetimpact/tests/tcp_queue_send_recv_in_syn_sent_test.go
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
Labels: area: tests

runsc: don't kill sandbox, let it stop properly
  pkg/control/server/server.go
  pkg/urpc/urpc.go
  runsc/boot/controller.go
  runsc/boot/loader.go
  runsc/sandbox/sandbox.go
Labels: none

`socket_inet_loopback`: Split off tests that need isolation in their own file.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/socket_inet_loopback_isolated.cc
  test/syscalls/linux/socket_inet_loopback_nogotsan.cc
  test/syscalls/linux/socket_inet_loopback_test_params.h
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/socket_test_util.h
Labels: area: bazel, area: tests

`socket_inet_loopback`: Split off tests that need isolation in their own file.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_inet_loopback.cc
  test/syscalls/linux/socket_inet_loopback_isolated.cc
  test/syscalls/linux/socket_inet_loopback_nogotsan.cc
  test/syscalls/linux/socket_inet_loopback_test_params.h
  test/syscalls/linux/socket_test_util.cc
  test/syscalls/linux/socket_test_util.h
Labels: area: bazel, area: tests

netstack: further deflake tcp_test
  pkg/tcpip/transport/tcp/tcp_test.go
Labels: area: networking, area: tests

netstack: further deflake tcp_test
  pkg/tcpip/transport/tcp/tcp_test.go
Labels: area: networking, area: tests

Internal change.
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/rawfile/rawfile_unsafe.go
Labels: area: networking

Wake up Writers when tcp socket is shutdown for writes.
  pkg/tcpip/transport/tcp/endpoint.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Wake up Writers when tcp socket is shutdown for writes.
  pkg/tcpip/transport/tcp/endpoint.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Allow opening of STDIO for non-root users
  pkg/sentry/fsimpl/host/host.go
Labels: area: filesystem

Ensure shim propagates errors over gRPC correctly
  pkg/shim/BUILD
  pkg/shim/errors.go
  pkg/shim/errors_test.go
  pkg/shim/service.go
Labels: area: bazel, area: tests

Ensure shim propagates errors over gRPC correctly
  pkg/shim/BUILD
  pkg/shim/errors.go
  pkg/shim/errors_test.go
  pkg/shim/service.go
Labels: area: bazel, area: tests

Do not attempt to kill stopped exec processes
  pkg/shim/proc/exec_state.go
Labels: none

Do not attempt to kill stopped exec processes
  pkg/shim/proc/exec_state.go
Labels: none

Fix PR_SET_PTRACER applicability to non-leader threads.
  pkg/sentry/kernel/ptrace.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ptrace.cc
  test/util/posix_error.h
Labels: area: bazel, area: kernel, area: tests

Fix PR_SET_PTRACER applicability to non-leader threads.
  pkg/sentry/kernel/ptrace.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/ptrace.cc
  test/util/posix_error.h
Labels: area: bazel, area: kernel, area: tests

Move flipcall.packetWindowMmap to memutil.
  pkg/flipcall/BUILD
  pkg/flipcall/flipcall.go
  pkg/flipcall/packet_window.go
  pkg/memutil/BUILD
  pkg/memutil/memfd_linux_unsafe.go
  pkg/memutil/memutil.go
  pkg/memutil/mmap.go
Labels: area: bazel

Move flipcall.packetWindowMmap to memutil.
  pkg/flipcall/BUILD
  pkg/flipcall/flipcall.go
  pkg/flipcall/packet_window.go
  pkg/memutil/BUILD
  pkg/memutil/memfd_linux_unsafe.go
  pkg/memutil/memutil.go
  pkg/memutil/mmap.go
Labels: area: bazel

Use memutil.MapFile for the memory accounting page.
  nogo.yaml
  pkg/sentry/usage/memory.go
  pkg/sentry/usage/memory_unsafe.go
Labels: none

Use memutil.MapFile for the memory accounting page.
  nogo.yaml
  pkg/sentry/usage/memory.go
  pkg/sentry/usage/memory_unsafe.go
Labels: none

CreateProcessGroup has to check whether a target process stil exists or not
  pkg/sentry/kernel/sessions.go
Labels: area: kernel

CreateProcessGroup has to check whether a target process stil exists or not
  pkg/sentry/kernel/sessions.go
Labels: area: kernel

Delete sentry metrics /watchdog/{stuck_startup_detected, stuck_tasks_detected}
  pkg/sentry/watchdog/watchdog.go
Labels: none

Delete sentry metrics /watchdog/{stuck_startup_detected, stuck_tasks_detected}
  pkg/sentry/watchdog/watchdog.go
Labels: none

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
