Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"

tcp_benchmark: make it easy to switch to iperf3
  test/benchmarks/tcp/tcp_benchmark.sh
Labels: area: tests

tcp_benchmark: make it easy to switch to iperf3
  test/benchmarks/tcp/tcp_benchmark.sh
Labels: area: tests

netstack: change PacketBufferPtr back to *PacketBuffer
  nogo.yaml
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/qdisc/fifo/packet_buffer_circular_list.go
  pkg/tcpip/link/qdisc/fifo/qdisc_test.go
  pkg/tcpip/network/internal/fragmentation/fragmentation.go
  pkg/tcpip/network/internal/fragmentation/fragmentation_test.go
  pkg/tcpip/network/internal/fragmentation/reassembler.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/gro.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_list.go
  pkg/tcpip/stack/packet_buffer_unsafe.go
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
Labels: area: bazel, area: networking, area: tests

netstack: change PacketBufferPtr back to *PacketBuffer
  nogo.yaml
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/qdisc/fifo/packet_buffer_circular_list.go
  pkg/tcpip/link/qdisc/fifo/qdisc_test.go
  pkg/tcpip/network/internal/fragmentation/fragmentation.go
  pkg/tcpip/network/internal/fragmentation/fragmentation_test.go
  pkg/tcpip/network/internal/fragmentation/reassembler.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/gro.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_list.go
  pkg/tcpip/stack/packet_buffer_unsafe.go
  pkg/tcpip/transport/internal/network/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
Labels: area: bazel, area: networking, area: tests

Don't hold baseEndpoint.mu when calling receiver.Recv.
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Don't hold baseEndpoint.mu when calling receiver.Recv.
  pkg/sentry/socket/unix/transport/unix.go
Labels: area: networking

Internal change
  pkg/cpuid/BUILD
  pkg/metric/BUILD
Labels: area: bazel

Internal change
  pkg/cpuid/BUILD
  pkg/metric/BUILD
Labels: area: bazel

systrap: don't wake up each thread separately
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/context_queue_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

systrap: don't wake up each thread separately
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/context_queue_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

systrap: don't wake up each thread separately
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/context_queue_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
Labels: arch: arm, arch: x86_64, area: bazel

test: run runtime tests on the systrap platform
  Makefile
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/context_queue.go
  pkg/sentry/platform/systrap/context_queue_unsafe.go
  pkg/sentry/platform/systrap/subprocess.go
  pkg/sentry/platform/systrap/sysmsg/sighandler_amd64.c
  pkg/sentry/platform/systrap/sysmsg/sighandler_arm64.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  pkg/sentry/platform/systrap/sysmsg/sysmsg_lib.c
  pkg/sentry/platform/systrap/sysmsg/sysmsg_unsafe.go
Labels: arch: arm, arch: x86_64, area: bazel

netstack: replace slice-based PacketBufferList with linked list
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/loopback/loopback.go
  pkg/tcpip/link/muxed/injectable.go
  pkg/tcpip/link/packetsocket/packetsocket.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/link/qdisc/fifo/BUILD
  pkg/tcpip/link/qdisc/fifo/fifo.go
  pkg/tcpip/link/qdisc/fifo/packet_buffer_circular_list.go
  pkg/tcpip/link/sharedmem/sharedmem.go
  pkg/tcpip/link/sharedmem/sharedmem_server.go
  pkg/tcpip/link/sniffer/sniffer.go
  pkg/tcpip/link/xdp/endpoint.go
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_list.go
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/datagram_test.go
Labels: area: bazel, area: networking, area: tests

netstack: replace slice-based PacketBufferList with linked list
  pkg/tcpip/link/channel/channel.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/loopback/loopback.go
  pkg/tcpip/link/muxed/injectable.go
  pkg/tcpip/link/packetsocket/packetsocket.go
  pkg/tcpip/link/pipe/pipe.go
  pkg/tcpip/link/qdisc/fifo/BUILD
  pkg/tcpip/link/qdisc/fifo/fifo.go
  pkg/tcpip/link/qdisc/fifo/packet_buffer_circular_list.go
  pkg/tcpip/link/sharedmem/sharedmem.go
  pkg/tcpip/link/sharedmem/sharedmem_server.go
  pkg/tcpip/link/sniffer/sniffer.go
  pkg/tcpip/link/xdp/endpoint.go
  pkg/tcpip/network/internal/testutil/testutil.go
  pkg/tcpip/stack/BUILD
  pkg/tcpip/stack/forwarding_test.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/packet_buffer_list.go
  pkg/tcpip/tests/integration/iptables_test.go
  pkg/tcpip/tests/integration/link_resolution_test.go
  pkg/tcpip/transport/datagram_test.go
Labels: area: bazel, area: networking, area: tests

fix: Update pipeline.yaml
  .buildkite/pipeline.yaml
Labels: none

Fix go_marshal array-of-structs bug.
  tools/go_marshal/gomarshal/generator_interfaces.go
Labels: area: tooling

Fix go_marshal array-of-structs bug.
  tools/go_marshal/gomarshal/generator_interfaces.go
Labels: area: tooling

Make rootfs overlay blog more preview freindly.
  website/blog/2023-05-08-rootfs-overlay.md
Labels: none

Make rootfs overlay blog more preview freindly.
  website/blog/2023-05-08-rootfs-overlay.md
Labels: none

Allow sandbox PID namespace to be used
  runsc/boot/loader.go
  runsc/cmd/create.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Allow sandbox PID namespace to be used
  runsc/boot/loader.go
  runsc/cmd/create.go
  runsc/container/multi_container_test.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Fix parsing error w/ RubyDev benchmark.
  test/benchmarks/fs/BUILD
  test/benchmarks/fs/rubydev_test.go
  test/benchmarks/tools/parser_util.go
Labels: area: bazel, area: tests

Fix parsing error w/ RubyDev benchmark.
  test/benchmarks/fs/BUILD
  test/benchmarks/fs/rubydev_test.go
  test/benchmarks/tools/parser_util.go
Labels: area: bazel, area: tests

Test that readlink for /proc/self/fd/<n> can escape chroot
  test/syscalls/linux/chroot.cc
Labels: area: tests

Test that readlink for /proc/self/fd/<n> can escape chroot
  test/syscalls/linux/chroot.cc
Labels: area: tests

Internal change.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Internal change.
  test/syscalls/linux/inotify.cc
Labels: area: tests

Add directfs support for Docker/k8s/Podman rootless containers.
  .buildkite/pipeline.yaml
  runsc/container/container.go
  test/podman/run.sh
Labels: area: tests

Add directfs support for Docker/k8s/Podman rootless containers.
  .buildkite/pipeline.yaml
  runsc/container/container.go
  test/podman/run.sh
Labels: area: tests

Drop capabilities when they are not needed
  runsc/cmd/cmd.go
  runsc/sandbox/sandbox.go
Labels: none

Drop capabilities when they are not needed
  runsc/cmd/cmd.go
  runsc/sandbox/sandbox.go
Labels: none

Remove soft_fail on portforward tests.
  .buildkite/pipeline.yaml
Labels: none

Remove soft_fail on portforward tests.
  .buildkite/pipeline.yaml
Labels: none

systrap: don't call Goyield() if the race detector is enabled
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_norace.go
  pkg/sentry/platform/systrap/shared_context_race.go
Labels: area: bazel

systrap: don't call Goyield() if the race detector is enabled
  pkg/sentry/platform/systrap/BUILD
  pkg/sentry/platform/systrap/shared_context.go
  pkg/sentry/platform/systrap/shared_context_norace.go
  pkg/sentry/platform/systrap/shared_context_race.go
Labels: area: bazel

Add rootless support for directfs and hostinet.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
  runsc/specutils/namespace.go
Labels: none

Add rootless support for directfs and hostinet.
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/container/container.go
  runsc/sandbox/sandbox.go
  runsc/specutils/namespace.go
Labels: none

Update packages
  WORKSPACE
  images/default/Dockerfile
  pkg/sentry/platform/systrap/sysmsg/sysmsg.h
  tools/rules_go_sdk.patch
Labels: area: tooling, dependencies

add .idea ignore
  .gitignore
Labels: none

[pty] Return enqueued data and then EIO if the replica is closed
  pkg/sentry/fsimpl/devpts/line_discipline.go
  pkg/sentry/fsimpl/devpts/queue.go
  pkg/sentry/fsimpl/devpts/replica.go
  test/syscalls/linux/pty.cc
Labels: area: filesystem, area: tests
