Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

BuildKite: Install runtime using `STAGED_BINARIES`, clean it up properly.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  Makefile
Labels: none

BuildKite: Install runtime using `STAGED_BINARIES`, clean it up properly.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
Labels: none

BuildKite: Install runtime using `STAGED_BINARIES`, clean it up properly.
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
Labels: none

Internal test
  .buildkite/pipeline.yaml
  Makefile
  runsc/cgroup/cgroup.go
  test/root/cgroup_test.go
  test/root/chroot_test.go
  tools/bazel.mk
  tools/install_containerd.sh
Labels: area: tests, area: tooling

Add nil receiver and io methods to bufferv2.
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
Labels: area: tests

Add nil receiver and io methods to bufferv2.
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
Labels: area: tests

Make `root_test` and containerd tests work on BuildKite on COS.
  Makefile
  runsc/cgroup/cgroup.go
  test/root/cgroup_test.go
  test/root/chroot_test.go
  tools/bazel.mk
  tools/install_containerd.sh
Labels: area: tests, area: tooling

Make `root_test` and containerd tests work on BuildKite on COS.
  Makefile
  runsc/cgroup/cgroup.go
  test/root/cgroup_test.go
  test/root/chroot_test.go
  tools/bazel.mk
  tools/install_containerd.sh
Labels: area: tests, area: tooling

Make `root_test` and containerd tests work on BuildKite on COS.
  Makefile
  runsc/cgroup/cgroup.go
  test/root/cgroup_test.go
  test/root/chroot_test.go
  tools/bazel.mk
  tools/install_containerd.sh
Labels: area: tests, area: tooling

Add Points to some syscalls
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
Labels: arch: arm, arch: x86_64, area: kernel

Add Points to some syscalls
  examples/seccheck/server.cc
  pkg/sentry/seccheck/metadata_amd64.go
  pkg/sentry/seccheck/metadata_arm64.go
  pkg/sentry/seccheck/points/common.proto
  pkg/sentry/seccheck/points/syscall.proto
  pkg/sentry/syscalls/linux/linux64.go
  pkg/sentry/syscalls/linux/points.go
  pkg/sentry/syscalls/linux/vfs2/vfs2.go
Labels: arch: arm, arch: x86_64, area: kernel

Create configuration flags to control buffer pooling.
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_state.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: bazel, area: tests

Create configuration flags to control buffer pooling.
  pkg/bufferv2/BUILD
  pkg/bufferv2/buffer.go
  pkg/bufferv2/buffer_state.go
  pkg/bufferv2/buffer_test.go
  pkg/bufferv2/chunk.go
  pkg/bufferv2/view.go
  pkg/bufferv2/view_test.go
  pkg/bufferv2/view_unsafe.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/config/config.go
  runsc/config/flags.go
Labels: area: bazel, area: tests

Limit the number of open files per sandbox
  Makefile
  pkg/test/dockerutil/container.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/sandbox.go
  test/e2e/integration_test.go
Labels: area: tests

Limit the number of open files per sandbox
  Makefile
  pkg/test/dockerutil/container.go
  runsc/cmd/boot.go
  runsc/cmd/gofer.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/sandbox.go
  test/e2e/integration_test.go
Labels: area: tests

Create kythe pipeline in BuildKite.
  .buildkite/pipeline.yaml
  .buildkite/release.yaml
  .gitignore
  Makefile
  tools/bazel.mk
Labels: area: tooling

gVisor Makefile: Add `--cgroupns=host` only when supported by Docker.
  tools/bazel.mk
Labels: area: tooling

gVisor Makefile: Add `--cgroupns=host` only when supported by Docker.
  tools/bazel.mk
Labels: area: tooling

factor out gofer dirent cache
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

factor out gofer dirent cache
  pkg/sentry/fsimpl/gofer/filesystem.go
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/gofer/gofer_test.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

make gofer directory cache size configurable
  Makefile
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  test/e2e/BUILD
  test/e2e/integration_runtime_test.go
  test/e2e/integration_test.go
Labels: area: bazel, area: filesystem, area: tests

make gofer directory cache size configurable
  Makefile
  pkg/sentry/fsimpl/gofer/gofer.go
  runsc/boot/vfs.go
  runsc/config/config.go
  runsc/config/flags.go
  test/e2e/BUILD
  test/e2e/integration_runtime_test.go
  test/e2e/integration_test.go
Labels: area: bazel, area: filesystem, area: tests

fix copyright date
  test/e2e/integration_runtime_test.go
Labels: area: tests

fix copyright date
  test/e2e/integration_runtime_test.go
Labels: area: tests

platform/kvm: allow KVM_{G,S}ET_REGS in seccomp filters
  pkg/sentry/platform/kvm/filters.go
Labels: platform: kvm

platform/kvm: allow KVM_{G,S}ET_REGS in seccomp filters
  pkg/sentry/platform/kvm/filters.go
Labels: platform: kvm

Limit the lisafs buffer that are printed with strace.
  pkg/lisafs/message.go
Labels: none

Limit the lisafs buffer that are printed with strace.
  pkg/lisafs/message.go
Labels: none

Limit the lisafs buffer that are printed with strace.
  pkg/lisafs/message.go
Labels: none

rename GSO: hardware->host and software->gVisor
  .buildkite/pipeline.yaml
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  runsc/boot/network.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: networking, area: tests

rename GSO: hardware->host and software->gVisor
  .buildkite/pipeline.yaml
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/link/fdbased/packet_dispatchers.go
  pkg/tcpip/stack/registration.go
  pkg/tcpip/stack/route.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  runsc/boot/network.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/sandbox/network.go
  test/benchmarks/tcp/tcp_proxy.go
Labels: area: networking, area: tests

fdbased: error is specifically tcpip.Error
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

fdbased: error is specifically tcpip.Error
  pkg/tcpip/link/fdbased/endpoint.go
Labels: area: networking

LISAFS client file read must return io.EOF when appropriate.
  pkg/lisafs/client_file.go
  test/syscalls/linux/sendfile.cc
Labels: area: tests

LISAFS client file read must return io.EOF when appropriate.
  pkg/lisafs/client_file.go
  test/syscalls/linux/sendfile.cc
Labels: area: tests

Update rules_go
  WORKSPACE
Labels: dependencies

Update go to 1.18.3
  WORKSPACE
  tools/go_types_memoize.patch
Labels: area: tooling, dependencies

Update go to 1.18.3
  WORKSPACE
  tools/go_types_memoize.patch
Labels: area: tooling, dependencies

Update bazel-skylib
  WORKSPACE
Labels: dependencies

Update bazel-gazelle
  WORKSPACE
Labels: dependencies

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
