Repository google/gvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: arch: arm, arch: x86_64, area: bazel, area: docs, area: filesystem, area: hostinet, area: networking, area: kernel, area: mm, area: tests, area: tooling, dependencies, platform: kvm, platform: ptrace

Assert TCP_INFO size before checking content
  test/syscalls/linux/socket_ip_tcp_generic.cc
Labels: area: tests

Attempt to proactively fix Go permissions.
  .buildkite/hooks/pre-command
Labels: none

Fix udp_send_recv_dgram packetimpact test
  test/packetimpact/tests/udp_send_recv_dgram_test.go
Labels: area: tests

Remove go_tool_library references.
  WORKSPACE
  tools/bazel_gazelle_generate.patch
  tools/bazel_gazelle_noise.patch
  tools/checkescape/BUILD
  tools/checkunsafe/BUILD
  tools/nogo/BUILD
  tools/nogo/defs.bzl
  tools/rules_go_symbols.patch
  tools/rules_go_visibility.patch
Labels: area: bazel, area: tooling, dependencies

Remove go_tool_library references.
  WORKSPACE
  tools/bazel_gazelle_generate.patch
  tools/bazel_gazelle_noise.patch
  tools/checkescape/BUILD
  tools/checkunsafe/BUILD
  tools/nogo/BUILD
  tools/nogo/defs.bzl
  tools/rules_go_symbols.patch
  tools/rules_go_visibility.patch
Labels: area: bazel, area: tooling, dependencies

Add support for rate limiting out of window ACKs.
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_options.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/packetimpact/tests/tcp_outside_the_window_test.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Add support for rate limiting out of window ACKs.
  pkg/tcpip/stack/stack.go
  pkg/tcpip/stack/stack_options.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/endpoint_state.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_test.go
  test/packetimpact/tests/tcp_outside_the_window_test.go
  test/syscalls/linux/tcp_socket.cc
Labels: area: networking, area: tests

Drop gazelle target from the Makefile.
  Makefile
Labels: none

Drop gazelle target from the Makefile.
  Makefile
Labels: none

Add ETIMEDOUT to partial result list
  pkg/sentry/syscalls/linux/error.go
Labels: area: kernel

Add ETIMEDOUT to partial result list
  pkg/sentry/syscalls/linux/error.go
Labels: area: kernel

Stub out basic `runsc events --stat` CPU functionality
  pkg/sentry/control/proc.go
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/cgroup/cgroup.go
  runsc/cmd/events.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Stub out basic `runsc events --stat` CPU functionality
  pkg/sentry/control/proc.go
  runsc/boot/events.go
  runsc/boot/loader.go
  runsc/cgroup/cgroup.go
  runsc/cmd/events.go
  runsc/container/container.go
  runsc/container/multi_container_test.go
  runsc/container/state_file.go
  runsc/sandbox/sandbox.go
Labels: area: tests

Rename HandleNDupAcks in TCP.
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

Rename HandleNDupAcks in TCP.
  pkg/tcpip/transport/tcp/cubic.go
  pkg/tcpip/transport/tcp/rack.go
  pkg/tcpip/transport/tcp/reno.go
  pkg/tcpip/transport/tcp/snd.go
Labels: area: networking

Add CPUSet for runsc mitigate.
  runsc/mitigate/cpu.go
  runsc/mitigate/cpu_test.go
Labels: area: tests

Add CPUSet for runsc mitigate.
  runsc/mitigate/cpu.go
  runsc/mitigate/cpu_test.go
Labels: area: tests

Remove call to Notify from pipe.VFSPipeFD.CopyOutFrom.
  pkg/sentry/kernel/pipe/vfs.go
Labels: area: kernel

Remove call to Notify from pipe.VFSPipeFD.CopyOutFrom.
  pkg/sentry/kernel/pipe/vfs.go
Labels: area: kernel

Update go-tools to 2020.2.1
  WORKSPACE
  go.mod
  go.sum
  images/default/Dockerfile
  nogo.yaml
  tools/bazel.mk
  tools/github/BUILD
  tools/github/nogo/BUILD
  tools/github/reviver/BUILD
  tools/go_branch.sh
  tools/rules_go_symbols.patch
Labels: area: bazel, area: tooling, dependencies

Update go-tools to 2020.2.1
  WORKSPACE
  go.mod
  go.sum
  images/default/Dockerfile
  nogo.yaml
  tools/bazel.mk
  tools/github/BUILD
  tools/github/nogo/BUILD
  tools/github/reviver/BUILD
  tools/go_branch.sh
  tools/rules_go_symbols.patch
Labels: area: bazel, area: tooling, dependencies

Allow flaky tests to run in Fuchsia
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Make ubuntutest image x86 only.
  images/basic/integrationtest/Dockerfile.x86_64
Labels: none

Make ubuntutest image x86 only.
  images/basic/integrationtest/Dockerfile.x86_64
Labels: none

arm64 kvm:implement basic lazy save and restore for FPSIMD registers
  pkg/ring0/defs_arm64.go
  pkg/ring0/entry_arm64.s
  pkg/ring0/kernel_arm64.go
  pkg/ring0/lib_arm64.go
  pkg/ring0/offsets_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, platform: kvm

arm64 kvm:implement basic lazy save and restore for FPSIMD registers
  pkg/ring0/defs_arm64.go
  pkg/ring0/entry_arm64.s
  pkg/ring0/kernel_arm64.go
  pkg/ring0/lib_arm64.go
  pkg/ring0/offsets_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: arch: arm, platform: kvm

Add basic Codespaces configuration.
  .bazelignore
  .devcontainer.json
  .vscode/tasks.json
Labels: none

Add a function to enable RACK in tests.
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: networking, area: tests

Add a function to enable RACK in tests.
  pkg/tcpip/transport/tcp/snd.go
  pkg/tcpip/transport/tcp/tcp_rack_test.go
Labels: area: networking, area: tests

Remove gazelle noise patch
  WORKSPACE
  tools/bazel_gazelle_noise.patch
Labels: area: tooling, dependencies

Remove gazelle noise patch
  WORKSPACE
  tools/bazel_gazelle_noise.patch
Labels: area: tooling, dependencies

Compile-time constants are constexpr
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

Compile-time constants are constexpr
  test/syscalls/linux/socket_inet_loopback.cc
Labels: area: tests

[vfs] Make sticky bit check consistent with Linux.
  images/basic/integrationtest/test_sticky.c
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/directory.go
  pkg/sentry/vfs/permissions.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

[vfs] Make sticky bit check consistent with Linux.
  images/basic/integrationtest/test_sticky.c
  pkg/sentry/fsimpl/gofer/gofer.go
  pkg/sentry/fsimpl/overlay/filesystem.go
  pkg/sentry/fsimpl/overlay/overlay.go
  pkg/sentry/fsimpl/tmpfs/directory.go
  pkg/sentry/vfs/permissions.go
  test/e2e/integration_test.go
Labels: area: filesystem, area: tests

[infra] Do not recompile integration test executables each time.
  images/basic/integrationtest/Dockerfile.x86_64
  test/e2e/integration_test.go
Labels: area: tests

[infra] Do not recompile integration test executables each time.
  images/basic/integrationtest/Dockerfile.x86_64
  test/e2e/integration_test.go
Labels: area: tests

Fix flaky packetimpact test
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: tests

Fix flaky packetimpact test
  test/packetimpact/tests/tcp_rack_test.go
Labels: area: tests

images: Rework syzkaller documentation.
  images/syzkaller/Dockerfile
  images/syzkaller/README.md
Labels: area: docs

.github/labeler.yml:

"arch: arm":
  - "**/*_arm64.*"
  - "**/*_aarch64.*"
"arch: x86_64":
  - "**/*_amd64.*"
  - "**/*_x86.*"
"area: bazel":
  - "**/BUILD"
  - "**/*.bzl"
"area: docs":
  - "**/g3doc/**"
  - "**/README.md"
"area: filesystem":
  - "pkg/sentry/fs/**"
  - "pkg/sentry/vfs/**"
  - "pkg/sentry/fsimpl/**"
"area: hostinet":
  - "pkg/sentry/socket/hostinet/**"
"area: networking":
  - "pkg/tcpip/**"
  - "pkg/sentry/socket/**"
"area: kernel":
  - "pkg/sentry/arch/**"
  - "pkg/sentry/kernel/**"
  - "pkg/sentry/syscalls/**"
"area: mm":
  - "pkg/sentry/mm/**"
"area: tests":
  - "**/tests/**"
  - "**/*_test.go"
  - "**/test/**"
"area: tooling":
  - "tools/**"
"dependencies":
  - "WORKSPACE"
  - "go.mod"
  - "go.sum"
"platform: kvm":
  - "pkg/sentry/platform/kvm/**"
  - "pkg/sentry/platform/ring0/**"
"platform: ptrace":
  - "pkg/sentry/platform/ptrace/**"
