Repository google/gvisor, pull requests merged in 2019-09, with the labels that each got.

#782 Remove duplicated file in pkg/tcpip/link/rawfile.
  pkg/tcpip/link/rawfile/BUILD
  pkg/tcpip/link/rawfile/blockingpoll_unsafe.go
Labels: cla: yes, kokoro:run, ok-to-test, ready to pull, size/M

#809 Fix build when no tags are present
  scripts/build.sh
Labels: cla: yes, ready to pull, size/XS

#824 Fix repository build scripts
  scripts/build.sh
  scripts/common_bazel.sh
  scripts/release.sh
  tools/make_repository.sh
Labels: cla: yes, ready to pull, size/M

#876 Enable pkg/sentry/hostcpu support on arm64.
  pkg/sentry/hostcpu/BUILD
  pkg/sentry/hostcpu/getcpu_arm64.s
Labels: cla: yes, ok-to-test, ready to pull, size/S

#812 Change syscall.Dup2 to syscall.Dup3
  runsc/main.go
Labels: cla: yes, ready to pull, size/XS

#863 tty: fix sending SIGTTOU on tty write
  pkg/sentry/fs/host/tty.go
Labels: cla: yes, ok-to-test, ready to pull, size/S

#864 fix set hostname
  pkg/sentry/syscalls/linux/sys_utsname.go
  test/syscalls/linux/uname.cc
Labels: cla: yes, ready to pull, size/S

#882 Accelerate byte lookup in string with `bytealg/indexbyte`
  pkg/sentry/usermem/usermem.go
Labels: cla: yes, ok-to-test, ready to pull, size/XS
