Repository google/gvisor, pull requests merged in 2019-10, with the labels that each got.

#917 runsc: add the clone flag of cgroup namespace
  runsc/specutils/namespace.go
Labels: cla: yes, ok-to-test, ready to pull

#865 Implement /proc/net/tcp6
  pkg/sentry/fs/proc/net.go
  test/syscalls/linux/ip_socket_test_util.cc
  test/syscalls/linux/ip_socket_test_util.h
  test/syscalls/linux/proc_net_tcp.cc
Labels: cla: yes, ready to pull, size/L

#757 Enable pkg/bits support on arm64.
  pkg/bits/BUILD
  pkg/bits/uint64_arch.go
  pkg/bits/uint64_arch_arm64_asm.s
  pkg/bits/uint64_arch_generic.go
Labels: cla: yes, ready to pull, size/M

#811 enable kvm/testutil to support arm64
  pkg/sentry/platform/kvm/testutil/BUILD
  pkg/sentry/platform/kvm/testutil/testutil.go
  pkg/sentry/platform/kvm/testutil/testutil_amd64.go
  pkg/sentry/platform/kvm/testutil/testutil_arm64.go
  pkg/sentry/platform/kvm/testutil/testutil_arm64.s
Labels: cla: yes, ready to pull, size/L

#909 Enable pkg/atomicbitops support on arm64.
  pkg/atomicbitops/BUILD
  pkg/atomicbitops/atomic_bitops.go
  pkg/atomicbitops/atomic_bitops_arm64.s
  pkg/atomicbitops/atomic_bitops_common.go
Labels: cla: yes, ready to pull

#997 Set base to root
  runsc/cmd/gofer.go
Labels: cla: yes, ready to pull

#1046 Add runsc OCI annotations to support CRI-O
  runsc/container/container.go
  runsc/specutils/BUILD
  runsc/specutils/cri.go
  runsc/specutils/specutils.go
Labels: cla: yes, ok-to-test, ready to pull

#1070 slight changes to pkg/abi
  pkg/abi/linux/BUILD
  pkg/abi/linux/file.go
  pkg/abi/linux/file_amd64.go
  pkg/abi/linux/file_arm64.go
Labels: cla: yes, ready to pull

#1087 Cast the Stat_t.Nlink to uint64 on arm64.
  pkg/p9/p9.go
  runsc/fsgofer/fsgofer.go
Labels: area: filesystem, cla: yes, cleanup, ready to pull

#1058 remove duplicated period
  runsc/boot/controller.go
Labels: cla: yes, ready to pull
