Repository google/gvisor, pull requests merged in 2019-07, with the labels that each got.

#493 sentry/kernel: add syslog message
  pkg/sentry/kernel/syslog.go
Labels: cla: yes, kokoro:run, ready to pull

#375 Fix use of "2 ^ 30".
  runsc/boot/loader.go
Labels: cla: yes, kokoro:run, ready to pull

#282 Return ENOENT when reading /proc/{pid}/task of an exited process
  pkg/sentry/fs/proc/task.go
  test/syscalls/linux/proc.cc
Labels: cla: yes, ready to pull

#350 Adding missing title in contributing.md
  CONTRIBUTING.md
Labels: cla: yes, kokoro:run, ready to pull

#474 Fix deadloop in proc subtask list
  pkg/sentry/fs/proc/task.go
Labels: cla: yes, ready to pull

#355 Skip tid allocation which is used by process group
  pkg/sentry/kernel/task_start.go
Labels: cla: yes, ready to pull

#504 go_generics: handle anonymous fields with renamed types.
  tools/go_generics/defs.bzl
  tools/go_generics/generics.go
  tools/go_generics/generics_tests/anon/input.go
  tools/go_generics/generics_tests/anon/opts.txt
  tools/go_generics/generics_tests/anon/output/output.go
  tools/go_generics/globals/globals_visitor.go
Labels: cla: yes, ready to pull

#571 Add ARM64 support to pkg/sentry/loader
  pkg/sentry/arch/arch.go
  pkg/sentry/loader/elf.go
Labels: cla: yes, ready to pull

#452 Use different pidns among different containers
  pkg/sentry/control/proc.go
  pkg/sentry/kernel/kernel.go
  runsc/boot/fs.go
  runsc/boot/loader.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
Labels: cla: yes, kokoro:forcerun, ready to pull

#607 Combine multiple epoll events copies
  pkg/sentry/syscalls/linux/sys_epoll.go
Labels: cla: yes, ready to pull
