Repository google/gvisor, pull requests merged in 2020-03, with the labels that each got.

#1885 pcids.go isn't arch-specific
  pkg/sentry/platform/ring0/pagetables/BUILD
  pkg/sentry/platform/ring0/pagetables/pcids.go
Labels: cla: yes, ready to pull

#2039 Update golang.org/x/sys
  WORKSPACE
  go.mod
  go.sum
Labels: cla: yes, ready to pull

#2043 code clean: minor changes to compatible with ubuntu18.04
  test/syscalls/linux/bad.cc
  test/syscalls/linux/seccomp.cc
Labels: cla: yes, ready to pull

#2008 skip vsyscall test cases on Arm64
  test/syscalls/linux/time.cc
  test/syscalls/linux/vsyscall.cc
Labels: cla: yes, ready to pull

#2009 passed the syscall test case 'clock_getres' on Arm64 platform
  vdso/vdso.cc
Labels: cla: yes, ready to pull

#2054 test/runner: use proper filters for test cases and benchmarks
  test/runner/gtest/gtest.go
  test/syscalls/linux/tuntap_hostinet.cc
Labels: cla: yes, priority: p0, ready to pull

#2036 Fix syscall test build error on arm64.
  test/syscalls/linux/BUILD
Labels: cla: yes, ready to pull

#1951 Add profiling option for debug
  pkg/sentry/control/pprof.go
  runsc/boot/controller.go
  runsc/cmd/debug.go
  runsc/sandbox/sandbox.go
Labels: cla: yes, ready to pull

#2069 WORKSPACE: bump rules_python to include reproducibility fix
  WORKSPACE
Labels: cla: yes, ready to pull

#1946 Enable bluepill dieTrampoline operation on arm64.
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
Labels: cla: yes, ready to pull

#1963 Code Clean: Move arch independent codes to common file in kvm pkg.
  pkg/sentry/platform/kvm/kvm.go
  pkg/sentry/platform/kvm/kvm_amd64.go
  pkg/sentry/platform/kvm/kvm_arm64.go
Labels: cla: yes, ready to pull

#2108 iptables: ready tests to be enabled in kokoro
  scripts/iptables_tests.sh
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
Labels: cla: yes, ready to pull

#1943 iptables: filter by IP address (and range)
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/tcpip/iptables/iptables.go
  pkg/tcpip/iptables/types.go
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
Labels: cla: yes, ready to pull

#2061 passed the syscall test case 'alarm' on Arm64 platform
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/syscalls_arm64.go
Labels: arch: arm, cla: yes, ready to pull

#2187 iptables: deflake DropTCP*Port tests
  test/iptables/filter_input.go
  test/iptables/iptables_util.go
Labels: cla: yes, ready to pull

#2151 Enable syscall seccomp test on arm64.
  test/syscalls/linux/seccomp.cc
Labels: arch: arm, cla: yes, ready to pull

#2238 Enable nogo analyzers.
  BUILD
  tools/BUILD
  tools/go_marshal/gomarshal/generator.go
  tools/nogo.js
  tools/nogo.json
Labels: cla: yes, ready to pull

#1986 Prepare the vcpu environment for sentry on Arm64
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, cla: yes, ready to pull

#2177 Enable syscall sysret_test on arm64.
  test/syscalls/linux/BUILD
  test/syscalls/linux/sysret.cc
Labels: arch: arm, cla: yes, ready to pull

#2254 iptable: fix tests timeouts
  scripts/iptables_tests.sh
Labels: cla: yes, ready to pull

#2130 Support owner matching for iptables.
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_test.go
  pkg/sentry/kernel/task.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/owner_matcher.go
  pkg/sentry/socket/netstack/provider.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/tcpip.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/packet/endpoint.go
  pkg/tcpip/transport/raw/endpoint.go
  pkg/tcpip/transport/tcp/accept.go
  pkg/tcpip/transport/tcp/connect.go
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/forwarder.go
  pkg/tcpip/transport/tcp/protocol.go
  pkg/tcpip/transport/udp/endpoint.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
Labels: cla: yes, ready to pull

#2265 Add nogo exemption for machine_arm64_unsafe.go
  tools/nogo.json
Labels: cla: yes, ready to pull
