Repository google/gvisor, pull requests merged in 2020-04, with the labels that each got.

#2253 Fix nogo errors.
  pkg/eventchannel/event_test.go
  pkg/log/glog.go
  pkg/log/json.go
  pkg/log/json_k8s.go
  pkg/log/log.go
  pkg/log/log_test.go
  pkg/segment/test/segment_test.go
  pkg/sentry/contexttest/contexttest.go
  pkg/sentry/fs/fdpipe/pipe_test.go
  pkg/sentry/fs/host/socket_test.go
  pkg/sentry/fs/proc/sys_net.go
  pkg/sentry/fsimpl/proc/task_net.go
  pkg/sentry/fsimpl/tmpfs/stat_test.go
  pkg/sentry/kernel/syscalls.go
  pkg/sentry/kernel/syscalls_state.go
  pkg/sentry/kernel/task_context.go
  pkg/sentry/kernel/time/time.go
  pkg/state/state.go
  pkg/tcpip/header/eth_test.go
  pkg/tcpip/header/ndp_test.go
  pkg/tcpip/link/fdbased/endpoint.go
  pkg/tcpip/network/arp/arp_test.go
  pkg/tcpip/stack/ndp_test.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/tcpip_test.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/tcp/testing/context/context.go
  pkg/tcpip/transport/udp/udp_test.go
  runsc/boot/compat.go
  runsc/container/test_app/test_app.go
  runsc/main.go
  test/root/cgroup_test.go
  test/runtimes/blacklist_test.go
  test/runtimes/runner.go
  tools/go_stateify/main.go
  tools/nogo.json
Labels: cla: yes, ready to pull

#2321 remove nogo exemption for machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/kvm_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/BUILD
  pkg/sentry/platform/ring0/lib_arm64.go
  pkg/sentry/platform/ring0/lib_arm64_unsafe.go
  tools/nogo.json
Labels: cla: yes, ready to pull

#2289 Cleanup for syscall tests on arm64.
  test/syscalls/linux/getrandom.cc
  test/syscalls/linux/lseek.cc
  test/syscalls/linux/mlock.cc
  test/syscalls/linux/mmap.cc
Labels: cla: yes, ready to pull

#2288 Enable syscall fork_test on arm64.
  test/syscalls/linux/fork.cc
Labels: cla: yes, ready to pull

#2168 Enable syscall ptrace test on arm64.
  pkg/sentry/arch/arch.go
  pkg/sentry/arch/syscalls_amd64.go
  pkg/sentry/arch/syscalls_arm64.go
  pkg/sentry/kernel/task_syscall.go
  test/syscalls/linux/ptrace.cc
Labels: cla: yes, ready to pull

#2375 Enable exec_binary syscall test on Arm64
  test/syscalls/linux/BUILD
  test/syscalls/linux/exec_binary.cc
Labels: cla: yes, ready to pull

#1978 Arm64 signal#1: add arch-specific feature into mm
  pkg/sentry/mm/lifecycle.go
  pkg/sentry/mm/metadata.go
  pkg/sentry/mm/mm.go
Labels: arch: arm, cla: yes, ready to pull

#2235 Move pagetables.limitPCID to arch-specific file.
  pkg/sentry/platform/ring0/pagetables/BUILD
  pkg/sentry/platform/ring0/pagetables/pcids.go
  pkg/sentry/platform/ring0/pagetables/pcids_aarch64.go
  pkg/sentry/platform/ring0/pagetables/pcids_aarch64.s
  pkg/sentry/platform/ring0/pagetables/pcids_x86.go
Labels: cla: yes, ready to pull

#2060 Enable rseq syscall test on arm64.
  test/syscalls/linux/rseq/BUILD
  test/syscalls/linux/rseq/critical_amd64.S
  test/syscalls/linux/rseq/critical_arm64.S
  test/syscalls/linux/rseq/start_amd64.S
  test/syscalls/linux/rseq/start_arm64.S
  test/syscalls/linux/rseq/syscalls.h
  test/syscalls/linux/rseq/uapi.h
Labels: cla: yes, ready to pull

#2313 Remove View.First() and View.RemoveFirst()
  pkg/sentry/socket/netfilter/tcp_matcher.go
  pkg/sentry/socket/netfilter/udp_matcher.go
  pkg/tcpip/buffer/view.go
  pkg/tcpip/buffer/view_test.go
  pkg/tcpip/link/loopback/loopback.go
  pkg/tcpip/link/sharedmem/sharedmem_test.go
  pkg/tcpip/link/sniffer/sniffer.go
  pkg/tcpip/network/arp/arp.go
  pkg/tcpip/network/ipv4/icmp.go
  pkg/tcpip/network/ipv4/ipv4.go
  pkg/tcpip/network/ipv6/icmp.go
  pkg/tcpip/network/ipv6/icmp_test.go
  pkg/tcpip/network/ipv6/ipv6.go
  pkg/tcpip/stack/forwarder_test.go
  pkg/tcpip/stack/iptables.go
  pkg/tcpip/stack/iptables_targets.go
  pkg/tcpip/stack/nic.go
  pkg/tcpip/stack/packet_buffer.go
  pkg/tcpip/stack/stack_test.go
  pkg/tcpip/stack/transport_test.go
  pkg/tcpip/transport/icmp/endpoint.go
  pkg/tcpip/transport/tcp/segment.go
  pkg/tcpip/transport/tcp/tcp_test.go
  pkg/tcpip/transport/udp/endpoint.go
  pkg/tcpip/transport/udp/protocol.go
Labels: cla: yes, ready to pull

#1818 Arm64 signal#2: VDSO support for signal
  pkg/sentry/loader/loader.go
  pkg/sentry/loader/vdso.go
  vdso/syscalls.h
  vdso/vdso.cc
  vdso/vdso_amd64.lds
Labels: arch: arm, cla: yes, ready to pull

#1819 Arm64 signal#3: signal support in arch module
  pkg/sentry/arch/signal_arm64.go
  pkg/sentry/kernel/task_signals.go
Labels: arch: arm, cla: yes, ready to pull

#2509 benchmarks: use absolute bazel target
  benchmarks/README.md
Labels: area: docs, area: performance, cla: yes, ready to pull, type: cleanup

#1707 Lazy-fpsimd supporting #2: add Arm64-fpsimd support to KVM module
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/kvm_const_arm64.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/defs_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
Labels: arch: arm, cla: yes, ready to pull

#2557 fix typo
  runsc/container/container.go
Labels: cla: yes, ready to pull

#2544 runsc: extend do network cleanup
  runsc/cmd/do.go
  runsc/main.go
Labels: cla: yes, ready to pull

#2558 container: use sighandling package
  runsc/container/BUILD
  runsc/container/container.go
Labels: cla: yes, ready to pull

#2487 Make mount type optional for bind mounts
  runsc/boot/fs.go
  runsc/container/container_test.go
  runsc/container/multi_container_test.go
  runsc/specutils/specutils.go
Labels: cla: yes, ready to pull
