Repository google/gvisor, pull requests merged in 2020-01, with the labels that each got.

#1273 Prepare the vcpu environment for a container application on Arm64
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: cla: yes, ready to pull

#1423 Enable pkg/sentry/strace support on arm64.
  pkg/sentry/strace/BUILD
  pkg/sentry/strace/linux64_amd64.go
  pkg/sentry/strace/linux64_arm64.go
  pkg/sentry/strace/syscalls.go
Labels: cla: yes, ready to pull

#1494 #1398 - treat receive buffer smaller than MTU as zero window
  pkg/tcpip/transport/tcp/endpoint.go
  pkg/tcpip/transport/tcp/rcv.go
  pkg/tcpip/transport/tcp/tcp_test.go
Labels: cla: yes, ready to pull

#1540 Avoid panic when c.PCIDs is nil
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_arm64.go
Labels: cla: yes, platform: kvm, ready to pull

#1272 passed the kvm test case of "TestKernelFault" on Arm64 platform
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: cla: yes, ready to pull

#1459 Add test/util/save_util_linux.cc:MaybeSave to support arm64
  test/util/save_util_linux.cc
Labels: cla: yes, ready to pull

#1546 enable //test/syscalls:proc_test support on Arm64
  test/syscalls/linux/proc.cc
Labels: cla: yes, ready to pull

#1274 passed the kvm test case of "TestApplicationSyscall" on Arm64 platform
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, cla: yes, ready to pull

#1275 passed the kvm test case of "TestApplicationFault" on Arm64 platform
  pkg/sentry/platform/ring0/entry_arm64.s
Labels: arch: arm, cla: yes, ready to pull

#1492 netstack: minor fix typo in "if err" handler
  pkg/tcpip/sample/tun_tcp_connect/main.go
  pkg/tcpip/sample/tun_tcp_echo/main.go
Labels: cla: yes, ready to pull

#1505 Make some of the fcntl flags arch specific..
  pkg/abi/linux/file.go
  pkg/abi/linux/file_amd64.go
  pkg/abi/linux/file_arm64.go
Labels: cla: yes, ready to pull

#1609 Enable uname syscall support on arm64.
  pkg/sentry/syscalls/linux/sys_utsname.go
Labels: arch: arm, cla: yes, ready to pull

#1631 gonet PacketConn.RemoteAddr() incorrectly returns *net.TCPAddr, shouldd be *net.UDPAddr
  pkg/tcpip/adapters/gonet/gonet.go
Labels: area: networking, cla: yes, ready to pull

#1629 Enable fault() syscall test on arm64.
  test/syscalls/linux/fault.cc
Labels: arch: arm, area: compatibility, cla: yes, ready to pull

#1676 Expose gonet.NewPacketConn, for parity with gonet.NewConn API
  pkg/tcpip/adapters/gonet/gonet.go
Labels: cla: yes, ready to pull

#1561 Hold taskset.mu when getting tty
  pkg/sentry/kernel/tty.go
Labels: area: kernel, cla: yes, ready to pull

#1288 supporting sError in guest kernel on Arm64
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/offsets_arm64.go
Labels: arch: arm, cla: yes, ready to pull

#1630 Unify the kOLargeFile definition in syscall tests.
  test/syscalls/linux/fcntl.cc
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/proc.cc
  test/util/fs_util.h
Labels: arch: arm, area: tests, cla: yes, ready to pull

#1471 Enable build of test/syscall tests on arm64.
  test/syscalls/linux/BUILD
  test/syscalls/linux/bad.cc
  test/syscalls/linux/chroot.cc
  test/syscalls/linux/fork.cc
  test/syscalls/linux/getdents.cc
  test/syscalls/linux/preadv2.cc
  test/syscalls/linux/proc.cc
  test/syscalls/linux/pwritev2.cc
  test/syscalls/linux/seccomp.cc
  test/syscalls/linux/stat.cc
  test/util/signal_util.h
  test/util/test_util.cc
Labels: arch: arm, cla: yes, ready to pull
