Repository google/gvisor, pull requests merged in 2020-12, with the labels that each got.

#4932 arm64 test: add exceptions related test cases
  test/syscalls/linux/BUILD
  test/syscalls/linux/exceptions.cc
Labels: cla: yes, ready to pull

#4874 ARM64 kvm: apply PCALIGN for exception vector alignment
  pkg/sentry/platform/ring0/BUILD
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/lib_arm64.go
  pkg/sentry/platform/ring0/lib_arm64_unsafe.go
Labels: cla: yes, ready to pull

#4908 arm64 kvm: add to ext_dabt injection support
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/kvm_arm64.go
  pkg/sentry/platform/kvm/kvm_const.go
Labels: cla: yes, ready to pull

#4722 ARM64: follow nogo rules add function description
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
Labels: cla: yes, kokoro:run, ready to pull

#4880 arm64 tlb: add support for tlbi-vale1ls/tlbi-aside1ls
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.go
  pkg/sentry/platform/ring0/lib_arm64.s
Labels: cla: yes, kokoro:forcerun, kokoro:run, ready to pull

#5166 Resolve compiler warnings
  test/syscalls/linux/pipe.cc
  test/syscalls/linux/proc_net.cc
  test/syscalls/linux/proc_net_unix.cc
  test/syscalls/linux/proc_pid_uid_gid_map.cc
  test/syscalls/linux/semaphore.cc
  test/syscalls/linux/socket.cc
  test/syscalls/linux/socket_bind_to_device_distribution.cc
  test/syscalls/linux/socket_ip_udp_generic.cc
  test/syscalls/linux/socket_ipv4_udp_unbound_netlink.cc
  test/syscalls/linux/tuntap.cc
Labels: cla: yes, ready to pull
