Repository google/gvisor, pull requests merged in 2020-08, with the labels that each got.

#3469 fuse: Fix MountFuseFilesystem tests failing
  test/syscalls/linux/mount.cc
Labels: cla: yes, ready to pull

#3460 AARCH64: fix variable name collision with register name
  pkg/syncevent/waiter_amd64.s
  pkg/syncevent/waiter_arm64.s
  pkg/syncevent/waiter_asm_unsafe.go
  pkg/syncevent/waiter_noasm_unsafe.go
Labels: cla: yes, ready to pull

#3320 fuse: add FUSE integration test framework
  scripts/fuse_tests.sh
  test/fuse/BUILD
  test/fuse/README.md
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/runner/defs.bzl
Labels: cla: yes, ready to pull

#3502 fuse: Fix FUSE integration test failed with ECONNREFUSED
  test/fuse/linux/fuse_base.cc
Labels: cla: yes, ready to pull

#3511 Enable "make packetimpact-tests" to work.
  Makefile
  test/packetimpact/runner/defs.bzl
  test/packetimpact/runner/packetimpact_test.go
  test/packetimpact/testbench/testbench.go
  test/packetimpact/tests/tcp_reordering_test.go
  tools/bazel.mk
Labels: cla: yes, ready to pull

#3069 supporting sError injection step 2 on Arm64
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/aarch64.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
Labels: cla: yes

#3520 Add stub implementation to marshallable interface
  tools/go_marshal/marshal/BUILD
  tools/go_marshal/marshal/marshal_impl_util.go
Labels: cla: yes, ready to pull

#3250 fuse: implement the FUSE_GETATTR command
  pkg/abi/linux/fuse.go
  pkg/sentry/fsimpl/fuse/fusefs.go
  test/fuse/BUILD
  test/fuse/linux/BUILD
  test/fuse/linux/fuse_base.cc
  test/fuse/linux/fuse_base.h
  test/fuse/linux/stat_test.cc
  test/runner/defs.bzl
Labels: cla: yes, ready to pull

#3605 Running hello-world on Thunderx2 with kvm
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/arch_arm64.go
  pkg/sentry/platform/kvm/kvm_const_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
  pkg/sentry/platform/ring0/pagetables/pagetables_aarch64.go
Labels: cla: yes, ready to pull

#3476 AARCH64: enable seccomp test on arm64
  pkg/seccomp/BUILD
  pkg/seccomp/seccomp_test.go
  pkg/seccomp/seccomp_test_victim.go
  pkg/seccomp/seccomp_test_victim_amd64.go
  pkg/seccomp/seccomp_test_victim_arm64.go
Labels: cla: yes, ready to pull

#3375 Speed up iptables tests
  pkg/test/testutil/testutil.go
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
  test/iptables/nat.go
  test/iptables/runner/main.go
Labels: cla: yes, ready to pull

#3717 [deb package] use "systemctl is-active" instead of "systemctl status"
  debian/postinst.sh
Labels: cla: yes, ready to pull

#3742 Device major number greater than 2 digits in /proc/self/maps on N1
  pkg/sentry/platform/kvm/virtual_map.go
Labels: arch: arm, cla: yes, ready to pull

#3077 Beef up write syscall tests
  test/syscalls/linux/symlink.cc
  test/syscalls/linux/write.cc
Labels: cla: yes, ready to pull
