Repository google/gvisor, pull requests merged in 2020-02, with the labels that each got.

#1453 Enable pkg/cpuid support on arm64.
  pkg/cpuid/BUILD
  pkg/cpuid/cpuid.go
  pkg/cpuid/cpuid_arm64.go
  pkg/cpuid/cpuid_arm64_test.go
  pkg/cpuid/cpuid_parse_x86_test.go
  pkg/cpuid/cpuid_x86.go
  pkg/cpuid/cpuid_x86_test.go
Labels: arch: arm, cla: yes, ready to pull

#1791 iptables: user chains
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/tcpip/iptables/iptables.go
  pkg/tcpip/iptables/targets.go
  pkg/tcpip/iptables/types.go
  test/iptables/filter_input.go
  test/iptables/iptables_test.go
Labels: cla: yes, ready to pull

#1850 iptables: jump
  pkg/abi/linux/netfilter.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netfilter/targets.go
  pkg/tcpip/iptables/iptables.go
  pkg/tcpip/iptables/targets.go
  pkg/tcpip/iptables/types.go
  test/iptables/filter_input.go
  test/iptables/iptables_test.go
  test/iptables/iptables_util.go
Labels: cla: yes, ready to pull

#1896 Fix mis-named comment.
  pkg/tcpip/stack/registration.go
Labels: cla: yes

#1911 Force downloading new version of org_golang_x_sys.
  WORKSPACE
Labels: cla: yes

#1886 arm64: add a travis build ci
  .travis.yml
  Dockerfile
  Makefile
  test/syscalls/linux/32bit.cc
  test/syscalls/linux/rseq/uapi.h
  test/syscalls/linux/udp_socket_test_cases.cc
Labels: cla: yes

#1816 Add definition of arch.ARMTrapFlag.
  pkg/sentry/arch/arch_aarch64.go
Labels: arch: arm, cla: yes, ready to pull

#1271 passed the kvm test case of "TestKernelSyscall" on Arm64 platform
  pkg/sentry/platform/ring0/entry_arm64.s
  pkg/sentry/platform/ring0/kernel_arm64.go
Labels: arch: arm, cla: yes, ready to pull

#1912 Code Clean:Move getUserRegisters into dieArchSetup() and other small …
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
Labels: cla: yes

#1706 Lazy-fpsimd supporting#1: add Arm64-fpsimd support to arch module
  pkg/sentry/arch/arch_aarch64.go
  pkg/sentry/arch/arch_arm64.go
  pkg/sentry/arch/signal_arm64.go
Labels: arch: arm, cla: yes

#1827 Add ability to execute go.mod in gopath context.
  CONTRIBUTING.md
  WORKSPACE
  go.mod
  go.sum
  tools/go_mod.sh
Labels: cla: yes, ready to pull

#1929 Define CPUIDInstruction for arm64
  pkg/sentry/arch/arch_arm64.go
  pkg/sentry/kernel/task_run.go
Labels: cla: yes, ready to pull
