Repository google/gvisor, pull requests merged in 2021-09, with the labels that each got.

#6516 fix: typo spelling grammar
  test/packetimpact/README.md
  test/packetimpact/tests/udp_icmp_error_propagation_test.go
Labels: cla: yes, ready to pull

#6581 runsc: allow rootless mode for runsc run
  runsc/cmd/run.go
Labels: cla: yes, ready to pull

#6579 runsc: add global profile collection flags
  pkg/sentry/control/pprof.go
  pkg/sentry/kernel/task_log.go
  runsc/boot/BUILD
  runsc/boot/loader.go
  runsc/boot/profile.go
  runsc/cmd/boot.go
  runsc/cmd/debug.go
  runsc/config/config.go
  runsc/config/flags.go
  runsc/container/container_test.go
  runsc/sandbox/sandbox.go
Labels: cla: yes, ready to pull

#6182 Fix frame pointer is clobbered before saving vet issue on BP register
  pkg/atomicbitops/atomicbitops_amd64.s
Labels: cla: yes, ready to pull, kokoro:run

#6617 Deprecating apt-key
  g3doc/user_guide/install.md
Labels: cla: yes, ready to pull

#6573 kvm: use seccomp to trap mmap syscalls to map new regions to the guest
  pkg/ring0/pagetables/pagetables.go
  pkg/sentry/platform/kvm/BUILD
  pkg/sentry/platform/kvm/bluepill.go
  pkg/sentry/platform/kvm/bluepill_amd64.s
  pkg/sentry/platform/kvm/bluepill_arm64.s
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/kvm_safecopy_test.go
  pkg/sentry/platform/kvm/machine.go
  pkg/sentry/platform/kvm/machine_amd64.go
  pkg/sentry/platform/kvm/machine_amd64_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64.go
  pkg/sentry/platform/kvm/machine_arm64_unsafe.go
  pkg/sentry/platform/kvm/machine_unsafe.go
  pkg/sentry/platform/kvm/physical_map.go
  pkg/sentry/platform/kvm/testutil/testutil_arm64.go
  pkg/sentry/platform/kvm/testutil/testutil_arm64.s
  pkg/sync/atomicptr/generic_atomicptr_unsafe.go
Labels: cla: yes, platform: kvm, ready to pull, arch: arm, arch: x86_64, area: platform

#6647 kernel: allow to access Task.netns without taking Task.mu
  pkg/sentry/inet/BUILD
  pkg/sentry/kernel/task.go
  pkg/sentry/kernel/task_clone.go
  pkg/sentry/kernel/task_net.go
  pkg/sentry/kernel/task_start.go
Labels: cla: yes, ready to pull

#6570 Run proc's static-file tests in a container.
  test/syscalls/BUILD
  test/syscalls/linux/BUILD
  test/syscalls/linux/proc.cc
  test/syscalls/linux/proc_isolated.cc
Labels: cla: yes, ready to pull
