Repository google/gvisor, pull requests merged in 2022-09, with the labels that each got.

#7943 Fixes to TTOU handling in TIOCSPGRP
  pkg/sentry/kernel/thread_group.go
  test/syscalls/linux/pty.cc
Labels: ready to pull, kokoro:run

#7370 kvm: add a few sanity checks on vmexit-s
  pkg/ring0/defs_amd64.go
  pkg/ring0/defs_arm64.go
  pkg/ring0/entry_amd64.s
  pkg/sentry/platform/kvm/bluepill_amd64.go
  pkg/sentry/platform/kvm/bluepill_arm64.go
  pkg/sentry/platform/kvm/bluepill_unsafe.go
  pkg/sentry/platform/kvm/machine_arm64.go
Labels: platform: kvm, ready to pull

#7942 images.mk: make sort result stable to generate the same image tag
  tools/images.mk
Labels: ready to pull, kokoro:run

#7915 support set or get tcpsockopt TCP_MAXSEG, TCP_CONGESTION for hostnetwork.
  pkg/sentry/socket/hostinet/socket.go
  runsc/boot/filter/config.go
Labels: ready to pull

#7947 Truncate the output buffer to outLen size when getsockopt with TCP_INFO.
  pkg/sentry/socket/hostinet/socket.go
Labels: ready to pull

#7975 vdso: support more flags for clock_gettime() vdso interface
  vdso/vdso.cc
Labels: ready to pull

#7972 Replace bitset with stdlib math/big
  WORKSPACE
  go.mod
  go.sum
  runsc/cgroup/BUILD
  runsc/cgroup/cgroup_v2.go
Labels: ready to pull

#7985 Update seccheck README for typos
  pkg/sentry/seccheck/README.md
Labels: ready to pull

#7976 procfs: support /proc/[pid]/root file
  pkg/sentry/fs/proc/task.go
  pkg/sentry/fsimpl/proc/task.go
  pkg/sentry/fsimpl/proc/task_files.go
  pkg/sentry/fsimpl/proc/tasks_test.go
  test/syscalls/linux/proc.cc
Labels: ready to pull, kokoro:run, kokoro:forcerun

#7989 benchmarks: add and fix some benchmarks
  images/benchmarks/hackbench/Dockerfile
  images/benchmarks/syscallbench/Dockerfile
  images/benchmarks/syscallbench/syscallbench.c
  test/benchmarks/base/BUILD
  test/benchmarks/base/hackbench_test.go
  test/benchmarks/base/sysbench_test.go
  test/benchmarks/base/syscallbench_test.go
  test/benchmarks/fs/fio_test.go
  test/benchmarks/network/iperf_test.go
  test/benchmarks/tools/BUILD
  test/benchmarks/tools/hackbench.go
  test/benchmarks/tools/iperf.go
Labels: ready to pull
