Repository google/gvisor, pull requests merged in 2025-01, with the labels that each got.

#11291 Add a new RPC `ConnectWithCreds` to allow gofer to connect to a unix domain socket with application's credentials
  images/basic/integrationtest/Dockerfile
  pkg/lisafs/client_file.go
  pkg/lisafs/fd.go
  pkg/lisafs/handlers.go
  pkg/lisafs/message.go
  pkg/sentry/fsimpl/gofer/dentry_impl.go
  pkg/sentry/fsimpl/gofer/directfs_dentry.go
  pkg/sentry/kernel/auth/context.go
  runsc/cmd/gofer.go
  runsc/fsgofer/filter/config.go
  runsc/fsgofer/lisafs.go
  test/e2e/integration_runtime_test.go
Labels: ready to pull

#11321 Add `ffmpeg` support in nvproxy
  images/benchmarks/ffmpeg/Dockerfile
  pkg/abi/nvgpu/classes.go
  pkg/abi/nvgpu/ctrl.go
  pkg/abi/nvgpu/uvm.go
  pkg/sentry/devices/nvproxy/frontend.go
  pkg/sentry/devices/nvproxy/nvconf/caps.go
  pkg/sentry/devices/nvproxy/seccomp_filters.go
  pkg/sentry/devices/nvproxy/version.go
  test/gpu/ffmpeg_test.go
Labels: ready to pull

#11351 Add video and graphics capability for `gpu-all-tests` target
  Makefile
Labels: ready to pull

#11376 Clarify -cgroupfs
  runsc/config/flags.go
Labels: ready to pull

#11377 Update platforms.md
  g3doc/architecture_guide/platforms.md
Labels: ready to pull

#11298 netfilter: Support multiport matching (-m multiport)
  pkg/abi/linux/netfilter.go
  pkg/abi/linux/netfilter_test.go
  pkg/sentry/socket/netfilter/BUILD
  pkg/sentry/socket/netfilter/extensions.go
  pkg/sentry/socket/netfilter/multiport_matcher.go
  pkg/sentry/socket/netfilter/multiport_matcher_v1.go
  pkg/sentry/socket/netfilter/netfilter.go
  pkg/sentry/socket/netstack/netstack.go
  test/iptables/filter_input.go
  test/iptables/filter_output.go
  test/iptables/iptables_test.go
Labels: area: networking, ready to pull

#11392 ring0: set PhysicalAddressBits only when uninitialized
  pkg/ring0/lib_amd64.go
Labels: ready to pull

#11360 Adjust memfd offset allocation direction properly
  pkg/sentry/mm/mm_test.go
  pkg/sentry/mm/pma.go
  pkg/sentry/mm/vma.go
Labels: ready to pull, area: mm

#11358 Fix EXEC permission of the volume mount when calling mmap with PROT_EXEC
  pkg/sentry/syscalls/linux/sys_mmap.go
  test/syscalls/linux/BUILD
  test/syscalls/linux/mount.cc
Labels: ready to pull
